#slider1{
    width: 200px;
    height: 300px;
    background-color: green; 
    display: inline-block;
}

#slider2{
    width: 300px;
    height: 250px;
    background-color: blue; 
    display: inline-block;
}

#slider3{
    width: 220px;
    height: 280px;
    background-color: red; 
    display: inline-block;
}


.slider-container{
    background-color: pink; 
    overflow: hidden;
    position: relative;    
    width: 100%;
    height: 100%;    
}

.slider-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
}

.slider-container ul li{ 
    float: left;
    display: block;
    height: 100%;
}

.slider-container__navigation--right{
    position: absolute;
    top: 50%;
    right:0px;
    margin-top: -15px;
    background: url(../images/navigation.png) 0px 47px;
    width:27px; height: 46px;    
    cursor: pointer;
    opacity: 0.5;
}

.slider-container__navigation--right:hover{
    opacity: 1;
}

.slider-container__navigation--left{
    position: absolute;
    top: 50%;
    left:0px;
    margin-top: -15px;
    background: url(../images/navigation.png) 0px 0px;
    width:27px; height: 46px;    
    cursor: pointer;
    opacity: 0.5;
}

.slider-container__navigation--left:hover{
    opacity: 1;
}