.red-button {
  font-weight: bold;
  display: inline-block;
  box-sizing: content-box;
  border: 2px solid #ff4e50;
  background-color: #ff4e50;
  color: white;
  border-radius: 25px;
  line-height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  cursor: pointer;
}

.red-button--inversed {
  font-weight: bold;
  display: inline-block;
  box-sizing: content-box;
  border: 2px solid #ff4e50;
  color: #ff4e50;
  border-radius: 25px;
  line-height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  cursor: pointer;
}

footer {
  border-top: 4px solid #ff4e50;
  padding-top: 35px;
  padding-bottom: 35px;
}
footer .footer-container:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
footer .footer-container .footer__block {
  float: left;
  padding-left: 45px;
  padding-right: 45px;
}
footer .footer-container .footer__block .footer-company-tittle {
  color: #ff4e50;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
}
footer .footer-container .footer__block .footer-company-logo {
  color: #cccccc;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
}
footer .footer-container .footer__block .footer-company-logo-text {
  display: inline-block;
  text-align: center;
}
footer .footer-container .footer__block .footer-company-logo-text .logo-link {
  color: #ff4e50;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 16px;
  margin-top: 0px;
}
footer .footer-container .footer__block .footer-company-logo-text .logo-link-extra {
  color: #ff4e50;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 9px;
  margin: 0;
  padding: 0;
}
footer .footer-container .footer__block h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
}
footer .footer-container .footer__block a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  margin-top: 5px;
  color: black;
  cursor: pointer;
}
footer .footer-container .footer__block:first-of-type {
  padding-left: 0px;
}
footer .footer-container .footer__block:last-of-type {
  float: right;
  padding-right: 0px;
}

@media screen and (max-width: 768px) {
  footer .footer-container .footer__block:first-of-type {
    padding-top: 0px;
  }

  footer .footer-container .footer__block {
    text-align: center;
    float: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
  }

  footer .footer-container .footer__block:last-of-type {
    float: none;
  }

  footer .footer-container .footer__block .footer-company-logo {
    text-align: center;
  }

  footer .footer-container .footer__block a {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  footer .footer-container .footer__block .footer-company-logo-text .logo-link {
    padding: 0;
  }
}
