body{
    font-size: 10px;
}

p{
    font-family: Arial;
    font-size: 2em;
    line-height: 1.5;
}

h1{
    font-family: Georgia;
    font-size: 4em;
    text-align: right;
    font-family: 'Indie Flower', cursive;
}

span{
    font-size: 2em;
    font-family: 'Indie Flower', cursive;
}