.instance{
    padding-bottom: 5px;
    padding-top: 5px;  
}

.instance-container{
  display: flex;
}


.instance-nav{
  cursor: pointer;
}

.nav{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    line-height: 14px;
}

.indicator{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px; 
}

.opened{
  color: red;
}

.closed{
  color: #3b8805;
}

.title{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    display: inline-block;

    height: 14px;
    line-height: 14px;   

    padding-left: 3px;
    padding-right: 3px;    
}

.node{
  display: block;
  line-height: 20px;
  padding-left: 40px;
}

.hide{
  display: none;
}


.border-start{
  margin-left: 8px;
  margin-top: 7px;
  border-top: 2px solid black;
  width: 7px;
  border-right: 2px solid black;  
}

.border-middle{
  margin-left: 8px;
  width: 7px;
  border-right: 2px solid black;  
}

.border-end{
  margin-left: 8px;
  margin-bottom: 7px;
  border-bottom: 2px solid black;
  width: 7px;
  border-right: 2px solid black;  
}




/*styles for left vertical scroll bar*/
div.main {
  padding: 8px;
  height:220px;
  direction: ltr;

    flex-direction: column;
    /*display: flex;*/
    padding: 8px;
    height: 220px;
    direction: ltr;
    /* align-items: flex-end; */  
    
}
.scroll {
  width: 162px;
  unicode-bidi:bidi-override;
  direction: rtl;
  overflow: scroll;
  overflow-x: hidden!important;
}
.inside {
    
}
/*styles for left vertical scroll bar*/