h1, h2{
    text-align:center;
}

.row{
    background-color:black;
}

.col-md-3{
    background-color:lightpink;
    color: black;
    border: 1px solid yellow;
}

.col-md-1{
    background-color:darkgreen;
    color: white;
    border: 1px solid yellow;
}

.col-md-8{
    background-color:darkblue;
    color: white;
    border: 1px solid yellow;
}

.col-md-4{
    background-color:darkslategray;
    color: white;
    border: 1px solid yellow;
}

.col-md-6{
    background-color:darkmagenta;
    color: white;
    border: 1px solid yellow;
}

.col-xs-6{
    background-color:darkcyan;
    color: white;
    border: 1px solid yellow;
}