.wrapper{

}

.header{
  height: 100px;
  background-color: green;
}

.box{
  float: left;
  width: 29%;
  margin: 20px 2%;
  
  background-color: pink;
  border: 20px solid red;
  box-sizing: border-box;
}

#myid {margin: 30px;}

a:link, a:visited {color: yellow;}

.div00  {
    height:50px;
    width:50px;
    background-color: rgba(255, 0, 0, 0.25);
}

/*sdfsdf*/

.div01 {
    height:50px;
    width:50px;
    background-color: rgb(255, 0, 0);
    opacity: 0.25;
}

ul li::first-letter {font-size: 200%;}



@media (max-width: 1024px){
  .box{
    width: 46%;
  }
}

@media (max-width: 768px){
  .box{
    width: 96%;
  }
}

.footer{
  height: 100px;
  background-color: blue;
}

.container{
  position: relative;
  overflow: hidden;
}
