.m1-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.m1-page-content {
    flex: 1;
    margin-top: 80px;
}

.m1-container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.m1-nav {
    display: flex;
    background: #2e3cbf;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 99999;
    border: none;
    top: 0;
    right: 0;
    left: 0;
}

.m1-nav > .m1-container {
    display: flex;
    align-items: center;
    width: 90%;
}

.m1-top-menu-container {
    width: 100%;
}

.m1-nav .m1-top-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.m1-nav .m1-top-menu .m1-menu-items--left {
    margin-left: 140px;
    flex: 1;
    display: flex;
}

.m1-menu-item {
    display: inline-block;
    color: white;
    font-size: 17px;
    line-height: 30px;
    transition: all .2s ease;
    cursor: pointer;
    margin: 0 30px;
    border-bottom: 2px solid #2e3cbf;
    text-decoration: none;
}

.m1-menu-item:hover {
    border-bottom: 2px solid white;
}

.m1-menu-item--active{
    border-bottom: 2px solid white;
}