h1{
    color: #222834;
    text-transform: uppercase;
    font-size: 18px;
    margin: 15px 0;    
}

/* status links */
.m1-status-links{
    font-size: 16px;
    margin: 30px 0;
    color: var(--base-color-dark);
}

.m1-status-links a{
    color: var(--base-color-dark);
    text-decoration: none;
}

.m1-status-links a:hover{
    text-decoration: underline;
}

a.m1-status-links__current-link{
    color: var(--base-color);
}

a.m1-status-links__current-link:hover{
    text-decoration: none;
    cursor: initial;
}
/* status links */


/* search form */
.m1-search-form-container{
    display: flex;
    align-items: center;
    margin: 40px 0;
    justify-content: space-between;
    position: relative;
}

.m1-search-form{
    flex: 1;
    display: flex;
    align-items: center;
}

.m1-search-form-container .m1-search-form{
    margin-right: 60px;
    max-width: 580px;
}

.m1-icon--search{
    width: 32px;
    height: 36px;
    background-image: url(../img/search.svg);   
}

.m1-columns-selector{
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    background: white;
    padding: 25px;
    z-index: 2;
    box-shadow: 0px 3px 9px 0px rgba(105, 109, 112, 0.41);
    border: 1px solid var(--base-color);
    border-radius: 3px;    

    display: flex;
    flex-wrap: wrap;    

    color: #212934;
}

.m1-selector-box-item{
    padding: 5px 10px;
    margin: 5px 0;   
    min-width: 148px; 
    max-width: 148px;
}

.m1-export-data-buttons{
    position: absolute;
    top: 98px;   
}

.m1-export-data-buttons .m1-button{
    font-size: 14px;
    height: 25px;
    min-width: 65px;
    padding: 0 10px;
    box-shadow: none;
}
/* search form */


/* checkbox */
.m1-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: var(--cell-font-size);
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 100;
}

.m1-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #eaeeef;
    border-radius: 3px;
}

.m1-checkbox .m1-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.m1-checkbox input:checked ~ .m1-checkmark:after {
    display: block;
}

.m1-checkbox:hover input ~ .m1-checkmark {
    background-color: #ededed;
}

.m1-checkbox input:checked ~ .m1-checkmark {
    background-color: var(--base-color);;
}

.m1-checkbox input:checked ~ .m1-checkbox__text {
    color: var(--base-color);
}

.m1-checkbox input {
    position: absolute;
    cursor: pointer;
    display: none;
}
/* checkbox */


/* buttons and inputs */
.m1-input, 
.m1-button,
.m1-select,
textarea {
    padding: 0 12px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    height: 46px;
    color: #232a34;
    outline: none;
}

.m1-input:disabled, 
.m1-button:disabled,
.m1-select:disabled,
textarea:disabled{
    background: #f3f6ff;
    color: var(--base-color);
}

textarea{
    border: 1px solid #e1e5ee;
    line-height: initial;
    width: 100%;
    padding: 12px;  
    box-sizing: border-box;
}

.m1-select {
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    box-sizing: border-box;    
    outline: none;
    border: 1px solid #e1e5ee;
    line-height: initial;
    padding-right: 26px;
    width: 100%;
}

.m1-input {
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e1e5ee;
    line-height: initial;
    width: 100%;
}

.m1-search-form .m1-input-container{
    flex: 1;
    margin: 0 15px;
    position: relative;
}

.m1-button--close{
    position: absolute;
    right: 8px;
    top: calc(50% - 10px);
    border: none;
    border-radius: 50%;
    outline: none;
    user-select: none;
    cursor: pointer;

    width: 18px;
    height: 18px;
    background-color: var(--base-color);
    background-image: url(../img/icon_white_plus.png);  
    
    transform: rotate(45deg);
}

.m1-button--close:hover{
    background-color: var(--base-color-dark);
}

.m1-button--narrow{
    height: 30px;
}

.m1-search-form .m1-input{    
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid var(--base-color);
    color: var(--base-color);
    width: 100%;
    padding-right: 30px;
}

.m1-button {
    padding: 0 20px; 
    background: transparent;
    outline: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    transition: all 0.2s ease;
    min-width: 140px;
}

.m1-button--long{
    min-width: 250px;
}

.m1-button--dark{
    background: var(--base-color);
    color: white;
    border-color: var(--base-color);
    box-shadow: 0px 3px 9px 0px rgba(105, 109, 112, 0.41);
}

.m1-button--dark:hover{
    background: var(--base-color-dark);
    border-color: var(--base-color-dark);
}

.m1-button--danger{
    background-color: #fa006c;
    color: white;
    border-color: #fa006c;
}

.m1-button--danger:hover{
    background-color: #e60164;
    box-shadow: 0px 0px 9px 0px rgba(136, 38, 80, 0.54);
}

.m1-button--light{
    background: #f7f7ff;
    color: var(--base-color);
    border-color: #f7f7ff;
}

.m1-button--light:hover{
    background: #e9e9f0;
    border-color: #e9e9f0;
}


.m1-icon--plus,
.m1-icon--arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m1-icon--plus:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/icon_plus.png);
}

.m1-icon--arrow-down:before {
    content: "";
    margin-right: 10px;
    display: inline-block;

    width: 0;
    height: 0;
    border-top: 4px solid #ffffff;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;    
}

.m1-button--opened .m1-icon--arrow-down:before {
    transform: rotate(180deg);
}


.m1-buttons-container .m1-button {
    margin-right: 20px;
}

.m1-buttons-container .m1-button:last-of-type {
    margin-right: 0;
}
/* buttons and inputs */


/* tables */
.m1-table-container{
    max-width: 1280px;
    overflow-x: auto;   
    padding: 10px 0;
    margin: 30px 0;
    padding-bottom: 90px;
    position: relative;
}

.m1-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e9eef2;
    margin-bottom: 20px;
    position: relative;
}

.m1-table th{
    text-align: left;
    padding: 13px 15px;
}

.m1-table td .m1-cell-content{
    padding: 7px 15px;
    text-align: left;
}

.m1-table th{
    color: #6e7096;
    font-size: 14px;
    border: 1px solid #e9eef2;
    white-space: nowrap;
    line-height: 20px;
}

.m1-cell-content.m1-cell-content-with-checkbox > span{
    line-height: 20px;
    padding-left: 30px;
}

.m1-table td .m1-cell-content.m1-cell-content-with-image{
    padding: 2px 15px;
    text-align: center;
    position: relative;
}

.m1-table td .m1-cell-content.m1-cell-content-with-image > img{
    height: 22px;
}

.m1-image-preview{
    position: absolute;
    display: none;
    top: -60px;
    right: -200px;    
    width: 200px;
    height: 200px;
    background: white;
    z-index: 1;
    box-shadow: 0px 3px 9px 0px rgba(105, 109, 112, 0.41);
    border: 1px solid var(--base-color);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}

.m1-table td .m1-cell-content.m1-cell-content-with-image:hover .m1-image-preview{
    display: block;
}

.m1-cell-content-with-image .m1-image-preview > img{
    height: 100%;
}

.m1-table thead.m1-thead--sortable th{
    position: relative;
    cursor: pointer;
    padding-right: 25px;
}

.m1-table thead.m1-thead--sortable th:after {
    position: absolute;
    right: 10px;
    top: calc(50% - 2px);
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: 4px solid #6e7096;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;
}

.m1-table thead.m1-thead--sortable th.m1-th-selected{
    color: var(--base-color);
}
.m1-table thead.m1-thead--sortable th.m1-th-selected:after{
    border-top: 4px solid var(--base-color);
}

.m1-table thead.m1-thead--sortable th.m1-th-sortedZA:after{
    transform: rotate(180deg);
}

.m1-table td{
    color: #212934;
    font-size: var(--cell-font-size);
    border-left: 1px solid #e9eef2;
    border-right: 1px solid #e9eef2;
}

.m1-table td a{
    color: #212934;
    text-decoration: none;    
}

.m1-table tbody tr:hover{
    background: #f7f7ff;
}

.m1-table tbody tr:hover td,
.m1-table tbody tr:hover td a{
    color: var(--base-color);
}

.m1-table td{
    position: relative;
}

.m1-table td .m1-cell-content.m1-cell-with-buttons{
    padding-right: 70px
}

.m1-td-buttons-container{
    display: none;
    top: calc(50% - 13px);
    right: 7px;
    position: absolute;
}

.m1-table tbody .m1-cell-content:hover .m1-td-buttons-container{
    display: block;
}

.m1-td-copy,
.m1-td-edit,
.m1-td-delete,
.m1-td-add {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px solid var(--base-color);
    background-color: white;
}

.m1-td-copy{
    background-image: url(../img/copy.svg);    
}

.m1-td-edit{
    background-image: url(../img/edit.svg);    
}

.m1-td-delete{
    background-image: url(../img/delete_3.svg);    
}

.m1-td-add{
    background-image: url(../img/add.svg);    
}

.m1-flash-message{
    position: absolute;
    right: -11px;
    top: -25px;
    z-index: 1;
    line-height: 19px;
    background: #eaeaf5;
    color: var(--base-color);
    padding: 1px 5px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 1px rgba(105, 109, 112, 0.41); 
    opacity: 0;
}

td .m1-cell-content{
    position: relative;
    padding: 15px 25px;    
}

td .m1-cell-content:last-of-type{
    margin-bottom: 0;
}


.m1-tooplip{
    display: none;
    position: absolute;
    right: -4px;
    top: -23px;
    line-height: 19px;
    background: var(--base-color);
    color: white;
    padding: 0 5px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 1px rgba(105, 109, 112, 0.41);
    opacity: 0.8;
}

.m1-tooplip-container:hover .m1-tooplip{
    display: block;    
}

.m1-td-copy .m1-tooplip{
    right: -6px;    
}

.m1-td-delete .m1-tooplip{
    right: -11px;    
}
/* tables */


/* edit form */
.m1-align-right{
    text-align: right;
}

.m1-edit-form{
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 15px 0;
    padding-bottom: 25px;
    margin-bottom: 45px;  
    word-spacing: 23px;  
}

.m1-input-container{
    display: inline-block;
    width: 215px;
    margin: 10px 0;
}

.m1-label{
    display: block;
    color: #212934;
    font-size: 14px;
    margin-bottom: 5px; 
    word-spacing: initial;   
}


.m1-custom-select {
    position: relative;
}

.m1-custom-select:after {
    position: absolute;
    right: 10px;
    top: calc(50% - 2px);
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: 4px solid #2e3bbb;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;
}

.m1-edit-form-container{
    max-width: 700px;
}

.m1-input-container--condition{
    max-width: 130px;
}

.m1-input-container--cost,
.m1-input-container--msrp{
    max-width: 150px;
}

.m1-input-container--sale-type{
    max-width: 140px;
}

.m1-input-container--cost-code{
    max-width: 190px;
}

.m1-input-container--date{
    max-width: 140px;
}

.m1-input-container--ppr{
    max-width: 100px;
}

.m1-input-container--description{
    width: 100%;
}

.m1-input-container textarea{
    resize: none;
    height: 128px;  
}

.m1-input-container--images{
    width: 100%;
    margin-bottom: 0;
}

.m1-input-container--size{
    max-width: 130px;
}

.m1-input-container--source{
    min-width: 456px;
}

.m1-input-container--weight{
    max-width: 130px;
}

.m1-input--image{
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;   
    padding: 0;
    margin-bottom: 23px;
    margin-right: 23px;
}


.m1-input--image:last-of-type{
    margin-right: 0;
}

.m1-input--image:hover .m1-image-button--delete{
    display: block;
}


.m1-input--image.m1-input--image-disabled{
    background: #f3f6ff;
}

.m1-input--image.m1-input--image-disabled:hover .m1-image-button--delete{
    display: none;
}

.m1-image-button{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;    
}

.m1-image-button--delete{
    display: none;
    background-color: #fa006c;
    background-image: url(../img/icon_wite_plus_14px.png);
    background-repeat: no-repeat;  
    background-position: center;  
    transform: rotate(45deg);
}

.m1-image-button--delete:hover{
    background-color: #e60164;
    box-shadow: 0px 0px 9px 0px rgba(136, 38, 80, 0.54);
}


.m1-image-button--add{
    display: block;
    background-color: #d5daf0;
    background-image: url(../img/icon_wite_plus_14px.png);
    background-repeat: no-repeat;  
    background-position: center;  
}

.m1-image-button--add:hover{
    background-color: var(--base-color-dark);
    box-shadow: 0px 0px 9px 0px rgba(105, 109, 112, 0.41);
}


.m1-input--image > img{
    width: auto;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    border-radius: 5px;
}

.m1-input--add-new-image{
    border: 1px dashed #e1e5ee;
}

.m1-input--add-new-image input{
    display: none;
}

.m1-input-images-container{
    display: flex;
    flex-wrap: wrap;    
}

.m1-form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
/* edit form */


/* update status selector */
.m1-update-status-selector{
    position: absolute; 
    bottom: 98px;
}

.m1-update-status-selector__button{
    margin-right: 8px;
}

.m1-update-status-selector__button:last-of-type{
    margin-right: 0;
}

.m1-update-status-selector__button input {
    display: none;
}

.m1-update-status-selector__button > span{
    height: 46px;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #212934;
    border: 1px solid #eaeeef;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px 12px;
    cursor: pointer;
}

.m1-update-status-selector__button > span:hover{
    background-color: #ededed;
}

.m1-update-status-selector__button input:checked + span {
    background: var(--base-color-dark);
    border-color: var(--base-color-dark);
    color: white;
}
/* update status selector */

.m1-td-buttons-container.m1-td-buttons-container--menu{
    display: block;
    top: calc(50% - 10px);
    right: 0px;
}

.m1-menu-button{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-position: center;
    border-radius: 50%;    
    background-image: url(../img/menu.svg);
}

/* .m1-menu-button:hover .m1-menu-button__menu{
    display: block;
} */

.m1-menu-button.m1-menu-button--opened .m1-menu-button__menu{
    display: block;
}

.m1-menu-button__menu{
    display: none;
    position: absolute;
    background: white;
    z-index: 10;
    left: -83px;
    width:85px;
    top: -8px;    
    border-radius: 5px;
    box-shadow: 0px 5px 14px 2px rgba(105, 109, 112, 0.2);  
    color: #212934;  
    overflow: hidden;
}

.m1-table tbody tr:hover td .m1-menu-button__menu {
    color: #212934;
}

.m1-menu-button__menu__element{
    padding: 10px 15px;
}

.m1-menu-button__menu__element:hover{
    background: var(--base-color);
    color: white;
}

.m1-menu-button__menu__element--danger{
    color: #f7006e;
}

.m1-menu-button__menu__element--danger:hover{
    background: #f7006e;
    color: white;
}

.m1-cell-content .m1-input{
    height: 30px;
    padding: 0 7px;
    font-size: 14px;
    margin: 0 -6px;
    width: calc(100% + 12px);    
}

.m1-column--qty{
    width:70px;
}

.m1-column--unit-price{
    width:130px;
}

.m1-open-position > td:nth-of-type(1),
.m1-open-position > td:nth-of-type(3),
.m1-open-position > td:nth-of-type(4){
    color: #f7006e;
}

.m1-open-position:hover > td:nth-of-type(1),
.m1-open-position:hover > td:nth-of-type(3),
.m1-open-position:hover > td:nth-of-type(4){
    color: #f7006e;
}


/* info block */
.m1-info-block{
    background: #f7f7ff;
    padding: 40px 60px;
    border-radius: 7px;
    margin-bottom: 30px;
}

.m1-activities-and-notes-container{
    max-width: 720px;
}

.m1-input-container--note{
    width: 100%;
}


.m1-input-container--note .m1-input{
    color: var(--base-color);
    padding-right: 50px;
}

.m1-input-container--note{
    position: relative;
}

.m1-input-container--note:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 18px;
    right: 13px;
    top: calc(50% - 10px);
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../img/enter_icon.png);
}

.m1-activities-and-notes{
    margin-top: 35px;
}

.m1-switch__controls{
    display: flex;
    padding: 0 23px;
}

.m1-switch-control__element{
    line-height: 33px;
    margin-right: 20px;
    padding: 0 5px;
    color: #212934;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.m1-switch-control__element--active{
    border-bottom: 3px solid var(--base-color);
    color: var(--base-color);
}

.m1-switch___content-block{
    margin-top: 24px;
    background: white;
    padding: 20px 25px;
    border-radius: 7px;
    position: relative;    
}

.m1-switch__buttons-container{
    position: absolute;
    top: 12px;
    right: 6px;
    font-size: 14px;
}

.m1-switch___content-time{
    color: #6d7294;
    font-size: 12px;    
}

.m1-switch___content-block{
    color: #212934;
}

.m1-switch___content-block:before {
    position: absolute;
    content: '';
    border-style: solid;
    top: 18px;
    left: -7px;
    border-width: 7px 7px 7px 0;
    border-color: transparent white transparent transparent;
}

.m1-blocks-linking{
    position: absolute;
    top: -12px;
    left: -26px;
    bottom: -12px;
    width: 13px;    
}

.m1-blocks-linking__center{
    width: 13px;
    height: 13px;
    background: white;
    top: 31px;
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #d5daf2;    
}

.m1-blocks-linking__up{
    width: 1px;
    top: 0;
    height: 23px;
    left: 6px;
    position: absolute;
    margin: auto;
    background: #d5daf2;    
}

.m1-blocks-linking__down{
    width: 1px;
    top: 52px;
    bottom: 0;
    left: 6px;
    position: absolute;
    margin: auto;
    background: #d5daf2;    
}

.m1-switch___content-block:first-of-type{
    margin-top: 12px;
}

.m1-switch___content-block:first-of-type .m1-blocks-linking .m1-blocks-linking__up{
    display: none;
}

.m1-switch___content-block:last-of-type .m1-blocks-linking .m1-blocks-linking__down{
    display: none;
}

.m1-switch___activity-header{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
}

.m1-switch___activity-type{
    color: #f7006e;
    font-weight: 500;
    font-size: 20px;
}

.m1-switch___activity-total{
    color: #6d7294;
    font-size: 14px;    
}

.m1-switch___activity-total span{
    color: #212934;
    font-size: 20px;    
}

.m1-activity-item__image img{
    height: 60px;
}

.m1-activity-item__image{
    margin-right: 10px;
}

.m1-switch___activity-item{
    display: flex;
    align-items: center;
    border: 1px solid #e9eef2;
    padding: 20px 15px;
    border-radius: 7px;
    margin: 15px 0;
}

.m1-activity-item__info{
    flex: 1;
}

.m1-activity-item__id{
    color: #212934;
    font-size: 20px;    
}

.m1-activity-item__description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6d7294;
    font-size: 14px;
    margin-top: 11px;    
}

.m1-activity-item__description-price{
    display: flex;
    width: 150px;
}

.m1-activity-item__description-price > div:first-of-type{
    width: 50px;
}

.m1-activity-item__description-price > div:last-of-type{
    color: #212934;
    flex: 1;
    text-align: right;
}
/* info block */


.m1-blue-text{
    color: var(--base-color);
}

.m1-title-and-button{
    display: flex;
    align-items: center;
    margin-top: 40px;    
}

.m1-title-and-button h1{
    margin-right: 10px;
    margin-top: 18px;
}

.m1-memo-blocks{
    display: flex;
    margin-bottom: 20px;
}

.m1-memo-blocks > div{
    margin-right: 30px;
}

.m1-memo-blocks > div:last-of-type{
    margin-right: 0;
}

.m1-memo-blocks .m1-input-container textarea {
    height: 175px;
    font-size: 14px;
    color: #858585;
}

.m1-input-container--has-dropdown textarea{
    padding-top: 45px;
}

.m1-input-container--has-dropdown{
    position: relative;
}

.m1-input-container--has-dropdown .m1-custom-select{
    position: absolute;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 22px;   
}

.m1-input-container--has-dropdown .m1-custom-select .m1-select{
    border: none;
}

.m1-input-container--company{
    min-width: 290px;
}