/* search form */
.m1-form-container{
    display: flex;
    align-items: center;
}

.m1-form{
    margin: 40px 0;
    flex: 1;
    display: flex;
    align-items: center;
}

.m1-form-container .m1-form{
    margin-right: 60px;
}

.m1-icon--search{
    width: 32px;
    height: 36px;
    background-image: url(../img/icon_search.png);   
}
/* search form */


/* buttons and inputs */
.m1-input, 
.m1-button{
    padding: 0 14px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    height: 50px;
}

.m1-input {
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e1e5ee;
    line-height: initial;
}

.m1-form .m1-input-container{
    flex: 1;
    margin: 0 15px;
    position: relative;
}

.m1-button--close{
    position: absolute;
    right: 8px;
    top: 15px;
    border: none;
    border-radius: 50%;
    outline: none;
    user-select: none;
    cursor: pointer;

    width: 18px;
    height: 18px;
    background-image: url(../img/icon_blue_plus.png);  
    
    transform: rotate(45deg);
}

.m1-form .m1-input{    
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #2e3cbf;
    color: #2e3cbf;
    width: 100%;
    padding-right: 30px;
}

.m1-button {
    background: transparent;
    outline: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    transition: all 0.2s ease;
    min-width: 136px;
}

.m1-button--long{
    min-width: 250px;
}

.m1-button--dark{
    background: #2e3cbf;
    color: white;
    border-color: #2e3cbf;
}

.m1-button--dark:hover{
    background: #2733a4;
    border-color: #2733a4;
}

.m1-button--light{
    background: #f7f7ff;
    color: #2f3cbc;
    border-color: #f7f7ff;
}

.m1-button--light:hover{
    background: #e9e9f0;
    border-color: #e9e9f0;
}


.m1-icon--plus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m1-icon--plus:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/icon_plus.png);
}
/* buttons and inputs */


/* tables */