/* search form */
.m1-form{
    margin: 40px 0;    
}


/* buttons and inputs */
.m1-input, 
.m1-button{
    padding: 12px 14px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    height: 50px;
}

.m1-input {
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e1e5ee;
    line-height: initial;
}

.m1-button {
    background: transparent;
    outline: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    transition: all 0.2s ease;
    min-width: 136px;
}

/* solid */

/* transparent */

/* buttons and inputs */


/* tables */