body{
    background: #1c2542;
    color: #fdfdff;

    display: flex;
    min-height: 100vh;
    flex-direction: column;    
}

.text-green{
    color: #02fa9a;
}

.text-blue{
    color: #117694;
}

a:hover, a:visited, a:active, a:link {
    color: #fdfdff;
    text-decoration: none;
}

nav {
    z-index: 99999;

    padding-top: 30px;
    padding-bottom: 20px;
    position: fixed;
    top: 0px;
    left: 0;
    display: block;
    width: 100%;
    background-color: #1c2542;

    background: linear-gradient(to bottom, #1c2542 0%,#1c2542 80%,rgba(28, 37, 66, 0.0) 100%); 
}

.nav-wrap{
    box-sizing: border-box;
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    position: relative; 

    display: flex;
    justify-content: space-between;       
}

.kode-logo img{
    height: 35px;
}

.nav-items{
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

.nav-items a{
    color: #117694;

    font-size: 13px;
    font-weight: bold;
    line-height: 24px;

    display: inline-block;
    transition: all .3s ease;
    cursor: pointer;
    margin-right: 18px;
    margin-left: 18px;
    border-bottom: 2px solid #1c2542;    

    border-bottom: 2px solid rgba(28, 37, 66, 0.0);    
}

.nav-items a:hover {
    border-bottom: 2px solid #02fa9a;
    color: #fdfdff;
}

.dropdown-menu{
    position: relative;
    padding-right: 15px;    
}

.dropdown-menu:after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    font-size: 10px;
    font-weight: normal;    
}

header{
    padding-top: 72px;
}

.header-logo{
    height: 415px;
    background: url(../img/globe.png) no-repeat center;
    background-size: 1480px;
}

.social-icons{
    padding: 0 16px;
    margin-top: 5px;
    margin-bottom: 5px; 
    text-align: center;    
}

.social-icon{
    display: inline-block;
    margin: 2px 5px;    

    background-image: url('../img/social_icons.png');
    background-repeat: no-repeat;        

    width: 22px;
    height: 22px;
    background-image: url('../img/social_icons.png');
    background-size: 1800%;

    transition: all .2s ease;
}

.social-icon--twitter{  
    background-position: 0% 0;
}

.social-icon--twitter:hover{  
    background-position: 0% 97%;
}

.social-icon--medium{  
    background-position: 10% 0;
}

.social-icon--medium:hover{  
    background-position: 10% 97%;
}

.social-icon--reddit{  
    background-position: 20% 0;
}

.social-icon--reddit:hover{  
    background-position: 20% 97%;
}

.social-icon--git{  
    background-position: 30% 0;
}

.social-icon--git:hover{  
    background-position: 30% 97%;
}

.social-icon--youtube{  
    background-position: 40% 0;
}

.social-icon--youtube:hover{  
    background-position: 40% 97%;
}

.social-icon--facebook{  
    background-position: 50% 0;
}

.social-icon--facebook:hover{  
    background-position: 50% 97%;
}

.social-icon--discord{  
    background-position: 60% 0;
}

.social-icon--discord:hover{  
    background-position: 60% 97%;
}

.social-icon--instagram{  
    background-position: 70% 0;
}

.social-icon--instagram:hover{  
    background-position: 70% 97%;
}

.social-icon--telegram{  
    background-position: 80% 0;
}

.social-icon--telegram:hover{  
    background-position: 80% 97%;
}


.social-icon--slack{  
    background-position: 90% 0;
}

.social-icon--slack:hover{  
    background-position: 90% 97%;
}

.social-icon--w{  
    background-position: 100% 0;
}

.social-icon--w:hover{  
    background-position: 100% 97%;
}

.header-description{
    padding: 0 16px;
    margin: 19px auto;
    text-align: center;
    font-size: 29px;
    line-height: 38px;
    font-weight: bold;
    width: 525px;
}

.header-green-line-wrapper{
    max-width: 1px;
    margin: 0 auto;
    margin-top: 39px;
    margin-bottom: 0px;    
}

.header-green-line{
    border-left: 1px solid #02fa9a;
    height: 17px;
}

main{
    flex: 1;
}

.blue-line-wrapper{
    max-width: 1px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blue-line{
    border-left: 1px solid #28345c;
    height: 137px;
}

.video-container{
    margin: 19px auto;
    text-align: center;
    width: 692px;
    height: 389px;

    background: linear-gradient(rgba(20,55,113,.5), rgba(20,55,113,.5)), url(../img/video_thumbnail.png) no-repeat center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container > iframe{
    display: none;
    width: 100%;
    height: 100%;
}

.loading-indicator-container{
    background: rgba(24, 107, 138, 0.32);
    border-radius: 50%;
    width: 170px;
    height: 170px;    
    display: flex;
    align-items: center;
    justify-content: center;    
    box-sizing: border-box;    
}

.loading-indicator{
    border: 8px solid rgba(47, 208, 125, 0.39);
    border-radius: 50%;
    border-top: 8px solid rgb(47, 208, 125);
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    box-sizing: border-box;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.play-button{
    display: none;
    width: 170px;
    height: 170px;
    background: url(../img/play.png) no-repeat center;
    background-size: 170px;
    box-sizing: border-box; 
    cursor: pointer;

    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;    
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.visit-qencode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    margin: 44px auto;
    margin-bottom: 30px;
    text-align: center;
    width: 674px;
    border: 1px solid #28345c;
    box-sizing: border-box;
}

.visit-qencode > span{
    width: 360px;
    text-align: left;
    font-size: 19px;
    line-height: 28px;
    font-weight: bold;
}

a.qencode-button{
    background: #35fa90;
    color: #1e2541;
    width: 244px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    font-size: 14px;    
}

.qencode-button > img{
    width: 100px;  
    margin-left: 10px;  
}

.description{
    padding: 0 24px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box; 
}

.description--narrow{
    width: 700px;
}

.description--wide{
    width: 860px;
}

.kode-paragraph{
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 30px;
}

.kode-h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 26px;
    margin-top: 26px;
}


.copyright{
    padding: 0 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;  
}
