body{
    background: #1c2542;
    color: #fdfdff;

    display: flex;
    min-height: 100vh;
    flex-direction: column;    
}

.text-green{
    color: #02fa9a;
}

.text-blue{
    color: #117694;
}

a:hover, a:visited, a:active, a:link {
    color: #fdfdff;
    text-decoration: none;
}

nav {
    z-index: 99999;

    padding-top: 30px;
    padding-bottom: 20px;
    position: fixed;
    top: 0px;
    left: 0;
    display: block;
    width: 100%;
    background-color: #1c2542;

    background: linear-gradient(to bottom, #1c2542 0%,#1c2542 80%,rgba(28, 37, 66, 0.0) 100%); 
}

.nav-wrap{
    box-sizing: border-box;
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    position: relative; 

    display: flex;
    justify-content: space-between;       
}

.kode-logo img{
    height: 35px;
}

.nav-items{
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

.nav-items a{
    color: #117694;

    font-size: 13px;
    font-weight: bold;
    line-height: 24px;

    display: inline-block;
    transition: all .3s ease;
    cursor: pointer;
    margin-right: 18px;
    margin-left: 18px;
    border-bottom: 2px solid #1c2542;    

    border-bottom: 2px solid rgba(28, 37, 66, 0.0);    
}

.nav-items a:hover {
    border-bottom: 2px solid #02fa9a;
    color: #fdfdff;
}

.dropdown-menu{
    position: relative;
    padding-right: 15px;    
}

.dropdown-menu:after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    font-size: 10px;
    font-weight: normal;    
}

header{
    padding-top: 72px;
}

.header-logo{
    height: 415px;
    background: url(../img/globe.png) no-repeat center;
    background-size: 1480px;
}

.social-icons{
    padding: 0 16px;
    margin-top: 5px;
    margin-bottom: 5px; 
    text-align: center;    
}

.social-icon{
    display: inline-block;
    margin: 2px 5px;    

    width: 22px;
    height: 22px;
    background-image: url('../img/social_icons.png');
    background-size: 1800%;

    transition: all .2s ease;
}

.social-icon--twitter{  
    background-position: 0% 0;
}

.social-icon--twitter:hover{  
    background-position: 0% 97%;
}

.social-icon--medium{  
    background-position: 10% 0;
}

.social-icon--medium:hover{  
    background-position: 10% 97%;
}

.social-icon--reddit{  
    background-position: 20% 0;
}

.social-icon--reddit:hover{  
    background-position: 20% 97%;
}

.social-icon--git{  
    background-position: 30% 0;
}

.social-icon--git:hover{  
    background-position: 30% 97%;
}

.social-icon--youtube{  
    background-position: 40% 0;
}

.social-icon--youtube:hover{  
    background-position: 40% 97%;
}

.social-icon--facebook{  
    background-position: 50% 0;
}

.social-icon--facebook:hover{  
    background-position: 50% 97%;
}

.social-icon--discord{  
    background-position: 60% 0;
}

.social-icon--discord:hover{  
    background-position: 60% 97%;
}

.social-icon--instagram{  
    background-position: 70% 0;
}

.social-icon--instagram:hover{  
    background-position: 70% 97%;
}

.social-icon--telegram{  
    background-position: 80% 0;
}

.social-icon--telegram:hover{  
    background-position: 80% 97%;
}


.social-icon--slack{  
    background-position: 90% 0;
}

.social-icon--slack:hover{  
    background-position: 90% 97%;
}

.social-icon--w{  
    background-position: 100% 0;
}

.social-icon--w:hover{  
    background-position: 100% 97%;
}

.header-description{
    padding: 0 16px;
    margin: 19px auto;
    text-align: center;
    font-size: 29px;
    line-height: 38px;
    font-weight: bold;
    width: 525px;
}

.header-green-line-wrapper{
    max-width: 1px;
    margin: 0 auto;
    margin-top: 39px;
    margin-bottom: 0px;    
}

.header-green-line{
    border-left: 1px solid #02fa9a;
    height: 17px;
}

main{
    flex: 1;
}

.blue-line-wrapper{
    max-width: 1px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blue-line{
    border-left: 1px solid #28345c;
    height: 137px;
}

.video-container{
    margin: 19px auto;
    text-align: center;
    width: 692px;
    height: 389px;

    background: linear-gradient(rgba(20,55,113,.5), rgba(20,55,113,.5)), url(../img/video_thumbnail.png) no-repeat center;
    background-size: cover; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container > iframe{
    display: none;
    width: 100%;
    height: 100%;
}

.loading-indicator-container{
    background: rgba(24, 107, 138, 0.32);
    border-radius: 50%;
    width: 170px;
    height: 170px;    
    display: flex;
    align-items: center;
    justify-content: center;    
    box-sizing: border-box;    
}

.loading-indicator{
    border: 8px solid rgba(47, 208, 125, 0.39);
    border-radius: 50%;
    border-top: 8px solid rgb(47, 208, 125);
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    box-sizing: border-box;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.play-button{
    display: none;
    width: 170px;
    height: 170px;
    background: url(../img/play.png) no-repeat center;
    background-size: 170px;
    box-sizing: border-box; 
    cursor: pointer;

    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;    
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.visit-qencode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    margin: 44px auto;
    margin-bottom: 30px;
    text-align: center;
    width: 674px;
    border: 1px solid #28345c;
    box-sizing: border-box;
}

.visit-qencode > span{
    width: 360px;
    text-align: left;
    font-size: 19px;
    line-height: 28px;
    font-weight: bold;
}

a.kode-button{
    background: #35fa90;
    color: #1e2541;
    width: 244px;
    height: 44px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    font-size: 14px;    
}

.kode-button > img{
    width: 100px;  
    margin-left: 10px;  
}

.description{
    padding: 0 24px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box; 
}

.description--narrow{
    width: 700px;
}

.description--wide{
    width: 860px;
}

.kode-paragraph{
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 30px;
}

.kode-h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 26px;
    margin-top: 26px;
}

.more-info{
    width: 890px;
    padding: 0 24px;
    margin: 0 auto;
    margin-bottom: 21px;
    text-align: center;
    box-sizing: border-box;    
    display: flex;
    justify-content: space-between;    
}

.more-info__details{
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.more-info.more-info--4columns{
    width: 956px;
}

.more-info--4columns > .more-info__details{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: baseline;   
}

.details-image{
    width: 210px;
    height: 240px;    

    background-image: url(../img/sprites.png);
    background-size: 730%;
}

.more-info--4columns .details-image{
    width: 101px;
    height: 122px;
}

.details-image--problem-1{  
    background-position: 41.5% 23%;
}

.details-image--problem-2{  
    background-position: 59.8% 23%;
}

.details-image--problem-3{  
    background-position: 94.5% 24%;
}

.details-image--solution-1 {
    background-position: 76.7% 23.5%;
    background-size: 790%;
}

.details-image--solution-2 {
    background-position: 59% 36.5%;
    background-size: 830%;
}

.details-image--solution-3 {
    background-position: 77.3% 36.5%;
    background-size: 830%;
}

.details-image--why-kode-1 {
    background-position: 108.6% 31%;
    background-size: 1506%;
}

.details-image--why-kode-2 {
    background-position: 116.1% 31%;
    background-size: 1506%;
}

.details-image--why-kode-3 {
    background-position: 124.9% 31%;
    background-size: 1506%;
}

.details-image--why-kode-4 {
    background-position: 134% 31%;
    background-size: 1506%;
}

.details-text{
    text-align: left;
    width: 223px;   
}

.more-info--4columns .details-text {
    width: 180px;
}

.kode-h2{
    font-size: 20px;
    margin-bottom: 14px;
    margin-top: 18px;
}

.tabs-block{
    margin-top: 48px;
}

.tab {
    display: flex;
    border-bottom: 1px solid #28345c;
    box-sizing: border-box;
}

.tabs-container{
    padding: 0 24px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;    
}

.tablinks {
    line-height: 47px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
    font-size: 19px;
    font-weight: 600;
    border-bottom: 2px solid #1c2542;
    padding-right: 5px;
    padding-left: 5px;
}

.tablinks--active {
    border-bottom: 2px solid #02fa9a;
}

.tablinks + .tablinks {
    margin-left: 85px;
}

.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;

    padding: 0 24px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;

    width: 850px;
    margin-top: 52px;
    margin-bottom: 24px;
}

.tabcontent--active {
    display: flex;
}

.tabcontent > div{
    display: flex;
    justify-content: space-between;
    width: 100%;    
    align-items: baseline;
}

.tab-card{
    background: #233052;
    border-radius: 6px;
    padding: 22px 28px;
    text-align: left;
    box-sizing: border-box;    
}

.tab-card h3{
    margin: 0;
    font-size: 10px;
}

.tab-card ul {
    margin: 0;
    margin-top: 13px;
    padding-left: 28px;
    list-style-type: none;
    font-size: 15px;
    line-height: 28px;
}

.tab-card li {
    position: relative;
}

.tab-card li::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: -24px;
    top: 9px;
    height: 6px;
    width: 10px;
    border-bottom: 2px solid #6ec656;
    border-left: 2px solid #6ec656;
    transform: rotate(-49deg);
}

.tab-card--formats-tab1{
    width: 276px;
}

.tab-card--formats-tab2{
    width: 457px;
}

.subscribe-container{
    margin: 0px auto;
    margin-bottom: 51px;
    width: 743px;
    height: 168px;
    box-sizing: border-box;  

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;    

    position: relative;
}

.k-logo{
    position: absolute;

    width: 105px;
    height: 60px;
    top: 0px;
    left: 0;

    background-image: url(../img/sprites.png);
    background-size: 1456%;
    background-position: 19.5% 39.8%;
}

.subscribe-form{
    z-index: 1;
    width: 659px;
    padding: 23px 28px;
    padding-top: 17px;
    box-sizing: border-box;
    background: #233052;
    border-radius: 24px;
}

.subscribe-form > div{
    display: flex;
}

.subscribe-form input{
    height: 44px;
    margin: 0;
    padding: 0;
    border: 0;    
    flex-grow: 1;
    background: #1c2542;

    padding: 12px 23px;
    box-sizing: border-box;
    font-size: 15px;
    color: white;

    outline: 0;    
}

.subscribe-form a.kode-button{
    width: 198px;
    margin-left: 9px;    
}

.subscribe-form h3{
    margin: 0;
    font-size: 19px;
    margin-bottom: 20px;    
}


.whitepaper-and-info{
    width: 522px;
    margin: 43px auto;
    box-sizing: border-box;
    display: flex;    
    align-items: center;
}

.download-container{
    display: flex;
    align-items: center;
    width: 352px;
    height: 102px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 34px;
    border: 1px solid #28345c; 
}

.whitepaper-icon{
    height: 71px;
    width: 51px;
    background-image: url(../img/sprites.png);
    background-size: 3008%;
    background-position: 2.2% 39.8%;
}

.download-container a.kode-button{
    width: 197px;
    font-size: 12px;    
}

.more-links{
    margin-left: 32px;    
}

.more-links ul{
    margin: 0;
    padding-left: 21px;
    list-style-type: none;
    font-size: 15px;
    line-height: 28px;  
}

.more-links li {
    position: relative;
}

.more-links li::before {
    content: "\f0da";
    font-family: "FontAwesome";

    color: #02fa9a;

    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: -18px;
    font-size: 15px;
}

.gallery{
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;    
    display: flex;
    justify-content: center;  
    position: relative;  

    height: 290px;

    align-items: center;
}

.gallery-blocks-container{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 0;  

    height: 290px;

    transition: all 0.8s ease 0s;    
}

/*background: linear-gradient(rgba(20,55,113,.5), rgba(20,55,113,.5)), url(../img/video_thumbnail.png) no-repeat center;*/
/*background-size: cover;      */
.gallery__central-block{
    width: 516px;
    height: 290px;
    margin: 0 22.5px;
    background-size: cover; 
    transition: all 0.8s ease 0s;

    display: flex;
    align-items: center;
    justify-content: center;    
}


.gallery-video{
    z-index: 5;
}

.gallery-video > iframe{
    width: 516px;
    height: 290px;
    display: none;
}

.gallery-video > .play-button{
    width: 120px;
    height: 120px;
    background-size: 120px;    
}

.gallery-video > .loading-indicator-container{
    width: 86px;
    height: 86px;
    background-size: 86px;    
}

.gallery-video > .loading-indicator-container > .loading-indicator {
    border: 2.5px solid rgba(47, 208, 125, 0.39);
    border-top: 2.5px solid rgb(47, 208, 125);
    width: 70px;
    height: 70px;
}

/*background: linear-gradient(rgba(20,55,113,.5), rgba(20,55,113,.5)), url(../img/video_thumbnail.png) no-repeat center;*/
/*background-size: cover;*/
.gallery__side-block{
    margin: 0 22.5px;
    width: 340px;
    height: 220px;  
    background-size: cover; 
    transition: all 0.8s ease 0s;
}

.filter-block{
    position: absolute;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.filter-delimiter{
    width: 520px;
    height: 100%;    
}

.filter{
    flex-grow: 1;   
    height: 100%; 
    z-index: 1;  
}

.filter--left{
    background: linear-gradient(to right, #1c2542 , rgba(28, 37, 66, 0));    
}

.filter--right{
    background: linear-gradient(to left, #1c2542 , rgba(28, 37, 66, 0));    
}

.navigation-button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.navigation-block{
    position: absolute;
    width: 920px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    z-index: 2;  
}

.navigation-button--back{
    background-image: url(../img/sprites.png);
    background-size: 3008%;
    background-position: 9.3% 45.6%;
}

.navigation-button--forward{
    background-image: url(../img/sprites.png);
    background-size: 3008%;
    background-position: 12.5% 45.6%;
}


.member-photo{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    align-self: flex-start;    
    margin-top: 16px;
    margin-bottom: 6px;    
}

.more-info--team .more-info__details {
    width: 24%;
    padding-left: 32px;
}

.more-info--team{
    margin-bottom: 45px;    
}

.title-with-link{
    display: flex;
    align-items: center;    
    margin-top: 23px;
    margin-bottom: 3px;    
}

.title-with-link a{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 7px;
    margin-bottom: 1px;
    background-image: url(../img/sprites.png);
    background-size: 7744%;
    background-position: 16.5% 45.7%;
}

.more-info--team .kode-h2 {
    font-size: 16px;
    margin: 0;
}


.more-info--team .details-text {
    width: 100%;
}

.position-title{
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 17px;
    margin-top: 8px;
    margin-bottom: 10px;    
}

.more-info--team ul{
    margin: 0;
    padding-left: 9px;
    list-style-type: none;
    font-size: 12px;
    line-height: 22px;
}

.more-info--team li {
    position: relative;
}

.more-info--team li::before {
    content: "-";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: -8px;
    font-size: 12px;
}

.more-info--team-advisors{
    justify-content: flex-start;
    margin-top: 39px;    
}

.more-info--team-advisors .more-info__details {
    width: 28%;
}

.more-info--team-advisors .more-info__details:last-of-type {
    padding-left: 77px;
}

.more-info--token-terms{
    width: 685px;    
    margin-bottom: 45px;
}

.more-info--token-terms .more-info__details {
    width: 40%;
    align-items: flex-start;
}

.more-info--token-terms ul{
    margin: 0;
    margin-top: 32px;
    padding-left: 0;
    list-style-type: none;
    font-size: 15px;
    line-height: 28px;    
    text-align: left;
}

.details-image--token-1 {
    background-position: 41.7% 51.5%;
    background-size: 706%;
}

.details-image--token-2 {
    background-position: 65.7% 51.5%;
    background-size: 706%;
}

.copyright{
    padding: 0 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;  
}
