@font-face {
   font-family: GraphikRegular;
   src: url(../fonts/Graphik/Graphik-Regular.otf);
}

body {
    font-family: GraphikRegular, sans-serif;
}

.container {
    padding-left: 15.7%;
    padding-right: 15.7%;
}

nav{
    display: flex;
    background: white;
    align-items: center;
    height: 5.2vw;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;    
    z-index: 99999;
    border-bottom: 1px solid #e6e6e6;
}

nav .top-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;    
}


nav .logo img{
    width: 10vw;
    border-style: none;
    padding-top: 0.8vw;  
}

nav .top-menu .menu-items--left{
    margin-left: 2vw; 
}

nav .top-menu .menu-items--right{
    margin-right: 1vw; 
}

.top-menu a{
    display: inline-block;
    font-size: 1vw;
    
    line-height: 4.9vw;
    transition: border .3s ease;
    cursor: pointer;
    margin-right: 1vw;
    margin-left: 1vw;
    border-bottom: 2px solid white;
}

.top-menu a:hover{
    border-bottom: 2px solid #43c086;
}

.top-menu a:hover, .top-menu a:visited, .top-menu a:active, .top-menu a:link {
    color: #333e5c;
    text-decoration: none;
}

.top-menu a i{
    margin-right: 0.4vw;
}

.button-default {
    background-color: white;
    border-color: #41c186;
    outline: none;

    display: inline-block;
    padding: 0.5vw 1.1vw;
    margin-bottom: 0;
    font-size: 1vw;

    line-height: 1.4vw;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border: 1px solid #43c086;
    border-radius: 4px;
}

/*----------------------------------------------------------*/

header{
    padding-top: 5.2vw;    
    height: 39vw;

    background: url(../img/hero_pic.png), #f8f8f8;
    background-repeat: no-repeat;
    background-size: 40vw;
    background-position: 72% 100%;  
}

header .header-message{
    margin-top: 6.6vw;
    width: 50%;    
}

header .header-message > span{
    font-size: 3vw;
    font-weight: 600; 
}

header .header-message > p{
    font-size: 1.4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    line-height: 1.9vw;   
    color: #6d6f6e; 
}

header .header-message .button-and-text{
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    margin-top: 2vw;    
    display: flex;
    align-items: center;
}

header .header-message .button-and-text > span{
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.1vw;
}

.button-solid {
    background: #41c186;
    color: white;
    font-size: 1.4vw;
    font-weight: 600;
    padding: 0.8vw 3vw;
}

/*----------------------------------------------------------*/

.text-gray{
    color: #373d5d;
}

.text-light-gray{
    color: #9a9a9a;    
}

.text-inactive-gray{
    color: #bdbec0;
}

.text-blue{
    color: #316fea;
}

.text-green{
    color: #44c285;
}

.q-link{
    text-decoration: none; 
}
/*----------------------------------------------------------*/

main{
    padding-bottom: 4vw;
}

.card{
    display: flex;
    align-items: center;
    height: 34vw;    
}

.card:nth-of-type(even){
    background:#f8f8f8;
    flex-direction: row-reverse;
}

.card:nth-of-type(even) > div:nth-of-type(even) {
    padding-left: 5vw;
    padding-right: 1vw;
    box-sizing: border-box;
}

.card > div{
    width: 50%;
    box-sizing: border-box;
}

.card > div:nth-of-type(even){
    padding-left: 1vw;
    padding-right: 5vw;
    box-sizing: border-box;
}


.card .image--price{
    width: 22vw;    
    padding-left: 2.7vw;
    padding-top: 2vw;
}

.card .image--api{
    width: 29vw;
    padding-left: 1.9vw;
    padding-top: 0;    
}

.card h2{
    margin: 0;
    font-size: 1.9vw;    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eeeeee;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

/*----------------------------------------------------------*/
.get-started{
    margin-top: 3.4vw;
    margin-bottom: 3.4vw;
}

.get-started h3{
    margin: 0;
    font-size: 1.77vw;    
}

.get-started p{
    margin: 0;
    margin-top: 0.5vw;
    font-size: 1.1vw;
    line-height: 1.6vw;    
}

.get-started .button-solid{
    padding: 0.8vw 1.7vw;
}

.get-started-message{
    background: #f8f8f8;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;   
    display: flex;
    align-items: center;   
    justify-content: space-between; 
}

.get-started-message > div:first-of-type{
    width: 60%;
}

/*----------------------------------------------------------*/
.contact h1{
    margin: 0;
    margin-top: 4vw;
    margin-bottom: 2vw;    
    font-size: 3vw;
    font-weight: 600;
    text-align: center;     
}

.contact > div{
    padding-left: 4vw;
    padding-right: 4vw;
    display: flex;    
    justify-content: space-between;
}

.contact > div > div{
    width: 47%;
    box-sizing: border-box;
}

.icon-and-text > img, .icon-and-text > span{
    vertical-align: middle;
}

.icon-and-text > img{
    width: 1.2vw;
}

.contact form{
    margin-top: 1.3vw;    
}

input[type=text], input[type=password], input[type=tel], textarea {
    width: 100%;
    padding: 0.9vw 1.5vw;
    margin: 0.5vw 0;
    display: inline-block;
    border-radius: 0.5vw;
    box-sizing: border-box;
    outline: none;
    border: 0.2vw solid #e6e6e6;
    font-size: 1vw;
}

.input-container {
    margin-top: 0.7vw;
    font-size: 1.1vw;
    margin-bottom: 1vw;
}

.input-container textarea{
    height: 10vw;    
    resize: none;
    outline: none;    
}

/*----------------------------------------------------------*/

.q-paragraph{
    font-size: 1.1vw;
    line-height: 1.6vw;    
}

.long-button{
    font-size: 1vw;
    width: 14.2vw;
    padding: 0.6vw 3vw;    
}

/*----------------------------------------------------------*/

footer{
    border-top: 1px solid #e6e6e6;   
    padding-top: 2.2vw; 
}

.small-logo img{
    width: 2.3vw;    
}

.logo-and-menu{
    display: flex;
    justify-content: space-between;
    padding-right: 4vw;    
}

.footer-menu{
    display: flex;    
}

.footer-menu > div{
    display: flex;    
}

.footer-menu__block {
    padding-left: 7vw;
}

.footer-menu__block a {
    display: block;
    text-decoration: none;
    font-size: 1vw;
    line-height: 2vw;
}

.footer-menu__block h3{
    margin: 0;
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 600;
}

.copyright-and-socials{
    font-size: 0.94vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-and-socials i{
    font-size: 1.1vw;
    margin-left: 1vw;
}

.copyright-and-socials a:hover{
    color: #316fea;;
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/

@media screen and (max-width: 960px){
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }

    nav {
        height: 7.2vw;;
    }

    nav .logo img {
        width: 13vw;;
        padding-top: 1.3vw;
    }    

    .top-menu a {
        font-size: 1.6vw;
        line-height: 6.9vw;
        margin-right: 1.4vw;
        margin-left: 1.4vw;
    }    

    .button-default {
        padding: 0.9vw 1.6vw;
        font-size: 1.6vw;
        line-height: 1.6vw;
    }

    header .header-message > span {
        font-size: 5vw;
    }    

    header .header-message > p {
        font-size: 2vw;
        line-height: 2.6vw;
    }    

    header .header-message .button-and-text > span {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        font-size: 1.6vw;
    }    

    header {
        padding-top: 7vw;
        height: 51vw;
        background-size: 53vw;
        background-position: 90% 100%;
    }    

    header .header-message {
        margin-top: 8.6vw;
    }    

    .card h2 {
        font-size: 3.3vw;
    }    

    .q-paragraph {
        line-height: 3.4vw;
        font-size: 1.8vw;
    }    

    .card {
        height: 54vw;
    }    

    .card .image--price {
        width: 36vw;
    }    

    .card .image--api {
        width: 44vw;
    }    

    .get-started p {
        margin-top: 0.8vw;
        line-height: 2.4vw;
        font-size: 1.8vw;
    }    

    .get-started h3 {
        font-size: 3vw;
    }    

    .get-started-message {
        padding-top: 2.8vw;
        padding-bottom: 2.8vw;;
    }    

    .button-solid {
        font-size: 2vw;
        padding: 1.3vw 3vw;
    }    

    .long-button {
        font-size: 1.6vw;
        width: 19vw;
    }    

    .get-started .button-solid {
        padding: 1.3vw 3vw;
    }   

    .contact h1 {
        margin-top: 5vw;
        margin-bottom: 3vw;
        font-size: 4vw;
    }     

    .icon-and-text > img {
        width: 2.3vw;
    }    

    .contact form {
        margin-top: 2.6vw;
    }    

    .input-container {
        font-size: 1.5vw;
    }    

    input[type=text], input[type=password], input[type=tel], textarea {
        border-width: 0.3vw;
        padding: 1.2vw;
        padding-left: 2.1vw;
        border-radius: 1vw;
        font-size: 1.6vw;
        margin: 1vw 0;
    }    

    .input-container textarea {
        height: 17vw;
    }    

    hr {
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
    }    

    .small-logo img {
        width: 3.1vw;
    }    

    footer {
        padding-top: 3.2vw;
    }    

    .footer-menu__block h3 {
        margin-bottom: 1.2vw;
        font-size: 1.5vw;
    }    

    .footer-menu__block a {
        font-size: 1.4vw;
        line-height: 2.5vw;
    }    

    .footer-menu__block {
        padding-left: 8vw;
    }    

    .copyright-and-socials {
        font-size: 1.3vw;
        padding-top: 2vw;
        padding-bottom: 4vw;
    }    

    .copyright-and-socials i {
        font-size: 1.8vw;
        margin-left: 2vw;
    }    

}

/*----------------------------------------------------------*/