
.q5-text-gray {
    color: #373d5d;
}

.q5-help-block {
    display: flex;
}

.q5-sidebar-menu {
    top: 0;
    background: white;
    height: 100%;
}

.q5-help-center-title {
    font-size: 13px;
    margin-top: 33px;
    margin-bottom: 20px;
    font-weight: 600;
}

.q5-sidebar-menu__links > .q-link {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    display: block;
}

.q5-sidebar-menu__submenu > .q5-sidebar-menu__selected-link {
    border-color: #316fea;
}

.q5-sidebar-menu__submenu {
    margin-bottom: 20px;
}

.q5-sidebar-menu__selected-link {
    color: #316fea;
    font-weight: 600;
}

.q5-sidebar-menu__submenu > .q-link {
    display: block;

    padding-left: 19px;
    box-sizing: border-box;
    border-left: 3px solid #e7e8ec;


    font-size: 15px;
    line-height: 29px;
}

.q5-sidebar-menu__submenu > .q5-sidebar-menu__selected-link {
    border-color: #316fea;
}

.q5-help-center-section-title {
    font-size: 26px;
    margin: 0;
}

.q5-help-content h2 {
    font-size: 18px;
    margin-top: 33px;
    margin-bottom: 20px;
    font-weight: 600;
}

.q5-help-content p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;    
}

.q5-help-content ol li, .q5-help-ordered-list-item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.q5-help-ordered-list-item {
    position: relative;
}

.q5-help-ordered-list-item__number {
    position: absolute;
    left: -30px;
    min-width: 25px;
    text-align: right;
}

.q5-help-content ol, .q5-help-ordered-list {
    font-size: 16px;
    line-height: 24px;
    padding-left: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.q5-help-message {
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-left: -17px;
    padding: 6px 17px;
    border-radius: 6px;
    margin-top: 4px;
}

.q5-step {
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    transition: 0.3s;


    font-size: 15px;
    line-height: 51px;
    padding-left: 53px;
}

.q5-step--next {
    background: url(../img/go.png);
    background-repeat: no-repeat;    
    background-size: 29px;
    background-position: 14px;
}

.q5-step--next:hover {
    background: url(../img/go_over.png);
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: 14px;
}

.q5-step--back {
    background: url(../img/go_back.png);
    background-repeat: no-repeat;    
    background-size: 29px;
    background-position: 14px;
}

.q5-step--back:hover {
    background: url(../img/go_back_over.png);
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: 14px;
}

.q5-title-btn {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;    
}

.q5-title-btn__back {
    background: url(../img/go_back.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.q5-title-btn__back:hover {
    background: url(../img/go_back_over.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.q5-title-btn__next:hover {
    background: url(../img/go_over.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.q5-title-btn__next {
    background: url(../img/go.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.q5-title-btn + .q5-title-btn {
    margin-left: 10px;
}

.q5-input-and-button > button {
    min-width: 100px;
}

.q5-button-default {
    background-color: white;
    border-color: #41c186;
    outline: none;
    display: inline-block;
    padding: 0.5vw 1.1vw;
    margin-bottom: 0;
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #43c086;
    border-radius: 4px;
    transition: all 0.2s ease;

    padding: 8px 20px;
    font-size: 16px;
    line-height: 20px;
    border-width: 1px;
}

.q5-input-and-button > input {

    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e6e6e6;    

    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-right: 15px;
}

.q5-help-content .q5-help-ordered-list-item__title-block h2 {
    font-size: 18px;
    margin-top: 20px;
}



.q5-sidebar-container {
    width: 29%;
    max-width: 220px;
    min-width: 120px;

    box-sizing: border-box;
    transition: all .4s ease;    
}

.q5-help-content {
    width: 100%;
    padding-bottom: 40px;

    box-sizing: border-box;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;    
}

.q5-help-block:before {
    position: fixed;
    display: inline-block;
    height: 1px;
    content: "";
    background: #e6e6e6;
    left: 0;
    right: 0;
}

.q5-sidebar-menu > section {
    padding-right: 10px;
}

.q5-search-block {
    margin-top: 33px;

    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;    
}

.q5-content-container {
    padding: 0 25px;

    box-sizing: border-box;    
}

.q5-title-with-nav {
    margin: 20px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.q5-help-button {
    border-radius: 8px;
    padding: 3px 9px;
    white-space: nowrap;

    font-weight: 600;
    border: 1px solid #e6e6e6;    
}

.q5-help-ordered-list-item__title-block {
    margin-left: -18px;
    margin-bottom: 10px;
}

.q5-help-next-steps > h2 {
    margin: 0;
}

.q5-help-next-steps {
    padding-top: 25px;
    padding-bottom: 25px;
}


.q5-title-with-nav__buttons {
    display: flex;
}

.q5-help-content-header {
    border-bottom: 1px solid #e6e6e6;
}

.q5-steps-block {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    font-weight: 600;
}



.q5-text-green {
    color: #44c285;
}

.q5-text-white {
    color: white;
}

.q5-text-blue {
    color: #316fea;
}

.q5-green-background {
    background: #41c186;
}

.q5-light-grey {
    background: #f8f8f8;
}

.q5-light-yellow {
    background: #fffaa8;
}

.q5-white {
    background: white;
}

.q-link {
    text-decoration: none;
}
