.q6-card.q6-card--per-title img {
    width: 100%;
    max-width: 570px;
    height: auto;
}

.q6-card.q6-card--per-title > div:first-of-type {
    margin-right: 10%;
}

@media screen and (max-width: 1024px){
    .q6-card.q6-card--per-title > div:first-of-type {
        margin-right: 0;
        margin-bottom: 3%;
    }
}
