
.q6-per-title-compare-videos__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;

    border-radius: 15px;
    box-shadow: 0px 3px 15px -5px rgb(150 195 229);
    overflow: hidden;    
}

.players-container{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    /* width: 576px; */
    /* width: 70%; */
    /* width: 1154px; */
    /* height: 324px; */
    width: 100%;
    /* height: 458px; */
    background-color: black;    
    overflow: hidden;     
    
    margin: 0 auto;
}

.players-controls{
    position: absolute;
    top: calc(50% - 21px);
    z-index: 999;
}

.players-controls #play-btn{
    width: 150px;
    height: 42px;
    background-color: white;
    padding: 0 17px;
    border-radius: 20px;
    box-sizing: border-box;
    color: #366fe0;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    font-size: 17px;
    border: none;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;    
}

.players-controls #play-btn:after{
    content: '';
    display: inline-block;
    box-sizing: border-box;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    
    border-left: 10px solid #366fe0;    
    margin-left: 10px;
}


.players-controls.hidden{
    display: none;
}

/* .slider{
    position: absolute;
    width: 15px;
    height: 52px;
    background-color: #d4d4d4;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 0 12px rgb(51 51 51 / 50%);
    z-index: 50;
    cursor: grab;    
} */

.slider{
    position: absolute;
    width: 33px;
    height: 42px;
    z-index: 50;
    cursor: grab;
    background-image: url(../img/players/slider.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider:after {
    top: 100%;
}        

.slider:before, .slider:after {
    bottom: 48%;
    left: 45%;
    margin-bottom: 20px;
    box-shadow: 0 3px 0 #fff, 0px 0 12px rgb(51 51 51 / 50%);
    content: " ";
    display: block;
    background: #d4d4d4;
    position: absolute;
    z-index: 30;
    box-shadow: 0 0 12px rgb(51 51 51 / 50%);
    width: 2px;
    height: 800px;
}        


.players-container .player{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;     
    overflow: hidden;       
}

.players-container .player:last-of-type{
    z-index: 0;
}

.players-container .player:first-of-type{
    /* border-right: 2px solid red;             */
}

.players-container .player video{
    /* width: 576px;
    height: 324px;             */
}

.player-poster{
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 2;

    background-image: url(../img/players/poster.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;        

    display: flex;
    align-items: center;
    justify-content: center;
}

.player-poster .video-load-progress{
    flex: 1;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #000000;
    font-size: 28px;
    font-weight: 500;
}

.player-video-quality{
    top: 24px;
    position: absolute;
    

    background-color: white;    
    border-radius: 7px;
    box-shadow: 0 0 12px rgb(51 51 51 / 50%);

    width: 262px;
    height: 67px;

    left: 320px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 13px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;

    font-weight: 600;    

    white-space: nowrap;
}

.player-video-quality > div:first-of-type{
    border-right: 1px solid #efefef;
    padding-right: 10px;    
}

.player-video-quality > div:last-of-type{
    text-align: right;
}

.player-video-quality > div:last-of-type > div:first-of-type{
    font-size: 19px;
}

.player-poster__header .player-video-quality:last-of-type > div:last-of-type > div:first-of-type,
.players-container .player:last-of-type .player-video-quality:last-of-type > div:last-of-type > div:first-of-type{
    color: #316fea;
}

.player-poster__header{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
}

.player-poster__header .player-video-quality:last-of-type,
.players-container .player:last-of-type .player-video-quality{
    left: initial;
    /* right: calc(20vw); */ 
    right: 320px;
}



.player-logo{
    width: 78px;
    height: 16px;

    background-image: url(../img/logo.svg);

    background-repeat: no-repeat;
    background-position: center;  

    height: 24px;
}

.players-loading{
    position: absolute;
    top: calc(50% - 21px);
    
    height: 42px;
    background-color: white;
    padding: 0 17px;
    border-radius: 20px;
    box-sizing: border-box;
    color: #366fe0;

    font-size: 17px;
    border: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;   

    box-shadow: 0 0 12px rgb(51 51 51 / 50%);
    
    z-index: 100;
}

.players-loading .q6-loading-spinner{
    margin-right: 10px;
}

.players-loading.hidden{
    display: none;
}

.video-load-progress.hidden{
    display: none;
}

@media screen and (max-width: 1425px){
    .player-video-quality{
        left: calc(19vw);
    }

    .player-poster__header .player-video-quality:last-of-type,
    .players-container .player:last-of-type .player-video-quality{
        right: calc(19vw);
    }    
}

@media screen and (max-width: 1200px){
    .player-video-quality{
        left: calc(13vw);
    }

    .player-poster__header .player-video-quality:last-of-type,
    .players-container .player:last-of-type .player-video-quality{
        right: calc(13vw);
    }    
}

@media screen and (max-width: 845px){
    .player-video-quality {
        left: calc(4vw);
    }

    .player-poster__header .player-video-quality:last-of-type, .players-container .player:last-of-type .player-video-quality {
        right: calc(4vw);
    }    
}

@media screen and (max-width: 670px){
    .player-video-quality > div > div:last-of-type{
        display: none;
    }

    .player-video-quality{
        width: 195px;
        height: 41px;
    }

    .player-video-quality > div:first-of-type {
        border-right: none;
        padding-right: 0;
    }    
}

@media screen and (max-width: 520px){
    .player-video-quality {
        font-size: 13px;
    }

    .player-video-quality > div:last-of-type > div:first-of-type {
        font-size: 15px;
    }
    
    .player-logo {
        width: 66px;
    }    

    .player-video-quality {
        width: 160px;
        height: 31px;
        font-size: 15px;
        padding: 0 7px;
    }    
}


/* @media screen and (max-width: 560px){
    .player-video-quality{
        left: calc(20vw);
        width: 18vw;
        height: calc(22vw * 0.27);
    }

    .players-container .player:last-of-type .player-video-quality{
        right: calc(20vw);
    }    
} */