.q6-contact-block.q6-contact-block--streaming{
    margin: 0;
    background-color: transparent;
    padding-top: 50px;
}

.q6-promo-block.q6-promo-block--streaming .q6-button{
    line-height: 36px;
    height: 36px;
    font-size: 16px;
    min-width: 180px;
}

.q6-promo-block.q6-promo-block--streaming p {
    color: #565656;
    font-size: 16px;
    margin-top: 0px;
}

.q6-promo-block.q6-promo-block--streaming {
    background: #F5F7FF;
    padding: 32px 0px;
}

.q6-contact-block.q6-contact-block--streaming h2 {
    text-align: left;
    color: #383838;
    font-size: 36px;
    font-weight: 700;
}


.q6-card.q6-card--streaming h2 {
    color: #171717;
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
}

.q6-card.q6-card--streaming p {
    font-size: 16px;
    line-height: 26px;
    color: #383838;
    font-weight: 400;
}

.q6-card.q6-card--streaming img {
    width: 100%;
    max-width: 590px;
    height: auto;
}

.q6-card.q6-card--streaming > div:first-of-type {
    margin-right: 5%;
}

.q6-card.q6-card--streaming img.q6-streaming-logo{
    max-width: 98px;
    margin: 10px 15px;
}

.q6-card.q6-card--streaming img.q6-streaming-logo.q6-streaming-logo--youtube{
    max-width: 93px;
}

.q6-card.q6-card--streaming img.q6-streaming-logo.q6-streaming-logo--twitch{
    max-width: 78px;
}

.q6-card.q6-card--streaming img.q6-streaming-logo.q6-streaming-logo--facebook{
    max-width: 98px;
}

.q6-card.q6-card--streaming img.q6-streaming-logo.q6-streaming-logo--rtmp{
    max-width: 56px;
}

.q6-streaming-logos-container{
    margin: 10px -15px;
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
}

.q6-card.q6-card--streaming.q6-card--one-column > div:first-of-type {
    margin-right: 0;
    width: 100%;
}

.q6-streaming-calc{
    display: flex;
}

.q6-streaming-calc > div{
    flex: 1;
}

.q6-streaming-calc > div + div{
    margin-left: 34px;
}

.q6-streaming-calc h3 {
    color: #363940;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin: 15px 0;
}

.q6-streaming-calc__box{
    border: 1px solid #DADADA;
    border-radius: 12px;    
}

.q6-streaming-calc__row .q6-input{
    max-width: 150px;
}

input[type=text].q6-input__field{
    color: #316FEA;
    padding: 9px 14px;
    font-size: 16px;
}

.q6-streaming-calc__row{
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin: 15px 0;
}

.q6-streaming-calc__row > div:first-of-type{
    flex: 1;
    margin-right: 15px;
}

.q6-streaming-calc__slider-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #192B4D;
}

.q6-streaming-calc__slider-footer{
    display: flex;
    justify-content: space-between;    

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #C2C5CB;    
}

.q6-streaming-calc__slider-body .q6-progress-slider-container {
    margin-bottom: 0;
}

.q6-streaming-calc__slider-body .q6-progress-slider {
    height: 2px;
}

.q6-streaming-calc__slider-body .q6-progress-slider-progress {
    height: 3px;
    top: 12px;
}

.q6-streaming-calc__row input[type=text]:disabled.q6-input__field {
    background-color: transparent;
}


.q6-streaming-calc__slider-body .q6-progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/round_slider.svg);
  }
  
.q6-streaming-calc__slider-body .q6-progress-slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/round_slider.svg);
}