.q6-card.q6-card--per-title img {
    width: 100%;
    max-width: 570px;
    height: auto;
}

.q6-card.q6-card--per-title > div:first-of-type {
    margin-right: 10%;
}

.q6-per-title-benefits-container{
    background: #f5f7ff;
    padding: 40px 0px;
    margin: 80px 0;
    text-align: center;
}

.q6-per-title-benefits-container h2{
    text-align: center;
}

.q6-promo-block.q6-promo-block-per-title {
    padding: 40px 0px;
    background: #f5f7ff;
}

.q6-promo-block.q6-promo-block-per-title .q6-promo-block__content{
    flex-direction: column;
    text-align: center;
    background: #f5f7ff;
}

.q6-promo-block.q6-promo-block-per-title .q6-promo-block__content > div:first-of-type {
    margin-right: 0;
}

.q6-promo-block.q6-promo-block-per-title .q6-promo-block__content > div:nth-of-type(2) {
    margin-right: 0;
}

.q6-per-title-benefits-container p,
.q6-promo-block.q6-promo-block-per-title  p {
    color: #7e7e7e;
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    text-align: center;
}

.q6-per-title-benefits-container a {
    text-decoration: none;
    font-weight: 500;
}

.q6-per-title-benefits__list{
    padding: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.q6-per-title-benefits__card{
    display: flex;
    align-items: center;
    margin: 10px;
    
    margin: 5px 10px;

    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    padding-top: 70px;
    margin-bottom: 20px;
}

.q6-per-title-benefits__card > div:first-of-type{
    box-sizing: border-box;
    position: absolute;
    top: -10px;
    border-radius: 50%;
    background: #f5f7ff;
    padding: 8px;
    box-sizing: border-box;
    width: 110px;
    min-width: 110px;
    height: 110px;
}

.q6-per-title-benefits__card .q6-per-title-benefits__icon{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 3px 15px -5px rgb(105 109 112 / 21%);
}

.q6-per-title-benefits__card > div:last-of-type{
    background-color: white;
    width: 218px;
    min-width: 218px;
    height: 129px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 15px -5px rgb(105 109 112 / 21%);

    font-size: 25px;
    font-weight: 600;
    padding: 15px 45px;
    padding-top: 40px;    
}

.q6-per-title-benefits__icon{
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.q6-per-title-benefits__icon--playback{
    background-image: url(../img/per-title/per_title_improve.svg);
}

.q6-per-title-benefits__icon--quality{
    background-image: url(../img/per-title/per_title_boost.svg);
}

.q6-per-title-benefits__icon--download{
    background-image: url(../img/per-title/per_title_downoad.svg);
    background-size: 35%;
}

.q6-per-title-benefits__icon--delivery{
    background-image: url(../img/per-title/delivery.svg);
}

.q6-per-title-benefits__icon--storage{
    background-image: url(../img/per-title/per_title_storage.svg);
    background-size: 60%;
}

@media screen and (max-width: 1024px){
    .q6-card.q6-card--per-title > div:first-of-type {
        margin-right: 0;
        margin-bottom: 3%;
    }
}
