@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


h1{
    color: #383838;
    font-family: "proxima-nova";
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
    margin: 35px 0;
 }

 h2{
    color: #383838;
    font-family: "proxima-nova";
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;    
    margin: 10px 0; 
 }

h3{
    color: #383838;
    font-family: "proxima-nova";
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;  
    margin: 8px 0;  
}

h4{
    color: #383838;
    font-family: "proxima-nova";
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin: 5px 0;    
}

p {
    color: #4b4b4b;
    font-size: 17px;
    line-height: 25px;
    margin: 15px 0;
}

.q6-input {
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
}

input[type=text].q6-input__field, 
input[type=tel].q6-input__field, 
input[type=password].q6-input__field,
textarea {
    width: 100%;
    padding: 12px 14px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e1e5ee;
    line-height: initial;

    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 18px;

    border-radius: 6px;
    color: #171717; 
}

.q6-button--shadow {
    box-shadow: 0px 3px 13px 1px rgba(105, 109, 112, 0.41);
}

.q6-button.q6-white-text.q6-blue-background:hover{
    background-color: #265cc5;
    border-color: #265cc5;
}

.q6-button.q6-white-background.q6-blue-border.q6-blue-text:hover {
    background-color: #3270e9;
    color: white;
}

.q6-button--close-window{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    min-width: 0;
    border: none;
    background-color: #e9effd;
    background-image: url(../img/blue_plus_icon.png);
    background-size: 14px 14px;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(45deg);    
}
.q6-button--close-window:hover {
    background-color: #d8e7ff;
}

.q6-button.q6-white-text.q6-blue-background:disabled,
.q6-button.q6-white-text.q6-blue-background:disabled:hover {
    background: #858c92;
    cursor: not-allowed;
    border-color: #858c92    
}


.q6-input__label {
    color: #171717;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "proxima-nova", sans-serif;
    margin: 4px 0;
}

.q6-input.q6-input--password{
    position: relative;
}

.q6-pass-eye-button{
    position: absolute;
    width: 25px;
    height: 14px;
    right: 15px;
    bottom: 17px;
    cursor: pointer;
    background-image: url(../img/pass_eye.png);
    background-repeat: no-repeat;  
}

.q6-input.q6-input--password .q6-input__field{
    padding-right: 45px;
}

.q6-anchor-link{
    position: absolute;
    top: -90px;
}


.q6-select {
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    margin: 0!important;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    padding: 12px 14px;
    padding-right: 20px;
    line-height: initial;

    color: #171717;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 26px;
    border-radius: 6px;
    border-color: #e1e5ee;    
}

.q6-custom-select {
    position: relative;
}

.q6-custom-select:after {
    position: absolute;
    right: 10px;
    top: calc(50% - 3px);
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: 5px solid #17172b;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
}

/********************* FEATURES  ***********************/
.q6-feature-item{
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.q6-feature-item p{
    margin: 0;
}

.q6-feature-item__icon{
    background-image: url(../img/features_icons.png);
    background-repeat: no-repeat;
    margin-right: 15px;
    width: 29px;
    height: 26px;
    min-width: 29px;
}

.q6-feature-item__icon--pay{
    background-image: url(../img/pricing/cards_p.svg); 
    background-size: 25px 26px;
    background-position: center;
}

.q6-feature-item__icon--speed{
    background-image: url(../img/pricing/video_p.svg); 
    background-size: 23px 24px;
    background-position: center;  
}

.q6-feature-item__icon--shield{
    background-image: url(../img/pricing/shield_p.svg);
    background-size: 21px 22px;
    background-position: center;
}

.q6-feature-item__icon--support{
    background-image: url(../img/pricing/24_p.svg);
    background-size: 25px 25px;
    background-position: center;
}

.q6-feature-item__icon--gift{
    background-position: 0px -3px;
}

.q6-feature-item__icon--manager{
    background-position: -184px -2px;
}

.q6-feature-item__icon--api{
    background-position: -30px 0px;
}

.q6-feature-item__icon--price{
    background-position: -216px -2px;
}
/********************* FEATURES  ***********************/

/********************* PRICING   ***********************/
.q6-promo-saving-links{
    color: #4b4b4b;
    font-size: 16px;
    line-height: 25px;    
}

.q6-promo-saving-links > div{
    margin-right: 15px;
    cursor: pointer;
    display: inline-flex;
    color: #9da3af;
}

.q6-promo-saving-links > div:last-of-type{
    margin-right: 0;
}

.q6-question-icon{
    width: 16px;
    min-width: 16px;
    height: 16px;
    background-image: url(../img/pricing/question_p.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-top: 3px;
}

.q6-dollar-icon{
    width: 16px;
    min-width: 16px;
    height: 16px;
    background-image: url(../img/pricing/price_p.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-top: 3px;
}
/********************* PRICING   ***********************/


/********************* STRIPE    ***********************/
.StripeElement {
    width: 100%;

    padding: 12px 14px;
    padding-right: 26px;
    
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    line-height: initial;
    color: #171717;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #e1e5ee;

    height: 48px;
}

.StripeElement:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 14px;
    right: 10px;
    bottom: 24px;
    top: initial;
    background-image: url(../img/lock_icon.png);
    background-size: 12px 14px;
    background-repeat: no-repeat;
}
/********************* STRIPE    ***********************/

/********************* SECURED INPUT  ******************/
.q6-input.q6-lock-icon {
    position: relative;
}

.q6-lock-icon:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 14px;
    right: 10px;
    bottom: 18px;
    background-image: url(../img/lock_icon.png);
    background-size: 12px 14px;
    background-repeat: no-repeat;
}

.q6-input.q6-lock-icon input[type=text].q6-input__field{
    padding-right: 25px;
}
/********************* SECURED INPUT  ******************/

@media screen and (max-width: 1024px){

    h1 {
        margin: 25px 0;
    }    

    h2 {
        margin: 15px 0;
    }    

    h3 {
        margin: 5px 0;
    }    
}

@media screen and (max-width: 780px){
    h1 {
        font-size: 38px;
        line-height: 50px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 480px){
    h1, h2 {
        font-size: 30px;
        line-height: 40px;
        margin: 10px 0;
    }

    h3 {
        font-size: 25px;
        line-height: 25px;
    }      
}