.q6-pricing-table-section{
    background: #f7f8fa;
    position: relative;
}

.q6-pricing-table-container{
    display: flex;
    padding: 40px 0;
}

.q6-pricing-table-container > div:first-of-type{
    flex: 1;
    margin-right: 5%;
}

.q6-pricing__average{
    display: flex;
    align-items: center;
}

.q6-pricing__average p{
    color: #366fe2;
}

.q6-pricing__average p:first-of-type{
    margin-right: 20px;
    font-size: 48px;
    font-weight: 500;
    line-height: 50px;    
}

.q6-pricing-table{
    border-spacing: 0 2px;
    text-align: right;
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 500;
}

.q6-pricing-table td, 
.q6-pricing-table th {
    padding: 20px;
    background: white;
}

.q6-pricing-table tr td:first-of-type{
    text-align: left;
    font-weight: normal;
}

.q6-pricing-table-container > div{
    position: relative;
}

.q6-pricing-table__close-button {
    position: absolute;
    right: 0;
    top: 12px;
    height: 28px;
    width: 28px;
    /* background: #9fa3af; */
    border: none;
    border-radius: 50%;
    color: #fffbe2;
    font-size: 18px;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    padding-top: 1px;
    padding-right: 1px;    

    background-image: url(../img/pricing/close_p.svg);
    background-size: 28px 28px;
    background-position: center;    
}

.q6-pricing-table__close-button:hover{
    opacity: 0.8;
}

.q6-pricing-box{
    display: flex;
    margin-bottom: 50px;
    padding: 22px 30px;
    border: 1px solid #e1e5ee;
    border-radius: 8px;
}

.q6-pricing-box__saving{
    display: flex;
    border-right: 1px solid #e1e5ee;
    padding-right: 60px;
    margin-right: 45px;
}


.q6-pricing-box__saving > div:first-of-type{
    width: 110px;
    transform: scaleX(-1);    
    margin-right: 20px;
}

.q6-pricing-box__saving > div:nth-of-type(2){
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.q6-pricing-box__saving > div:nth-of-type(2) p{
    margin: 8px 0;
}

.q6-pricing-box__saving > div:nth-of-type(2) p:first-of-type{
    color: #868686;
}

.q6-pricing-box__features{
    padding: 5px 15px;
    min-width: 385px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.q6-pricing-box__feature-items{
    display: flex;
}

.q6-pricing-box__feature-items > div{
    margin-right: 25px;
}

.q6-pricing-box__feature-items > div:last-of-type{
    margin-right: 0;
}

p.q6-pricing-box__start-rate{
    color: #316fea;
    font-size: 20px;
}

.q6-pricing-box__start-rate > span{
    font-size: 46px;
    font-weight: 500;
    margin-right: 10px;
}



.q6-calc-and-table-container{
    display: flex;
}

.q6-calc-and-table-container > div{
    flex: 1;
}

.q6-calc-and-table-container > div:first-of-type{
    margin-right: 75px;
}

.q6-calc-block-container{
    background: #f7f8fa;
    padding: 30px 35px;
    border-radius: 8px;    
}

.q6-calc-and-table-container h4 {
    color: #383838;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    margin: 10px 0;
    color: #171717;
}

p.q6-calc-block__message{
    font-size: 15px;
    line-height: 20px;
    color: #898c93;
    margin: 0;    
    margin-bottom: 30px;
}

.q6-calc-block{
    background: white;
    border-radius: 8px;    
}

.q6-calc-block > div{
    padding: 20px 30px;
    display: flex;
}

.q6-calc-block__input{
    border-bottom: 1px solid #e6e8eb;
}

.q6-calc-block > div > div:first-of-type{
    flex: 1;
}

.q6-calc-block > div > div:last-of-type{
    margin-left: 30px;
    min-width: 158px;
}

.q6-calc-block__input .q6-input.q6-input__label--with-switch {
    margin: 18px 0;
}

.q6-calc-block__input .q6-switch {
    display: flex;
    align-items: center;
    width: 40px;
    min-width: 40px;
    height: 14px;
    margin: 0;
}

.q6-calc-block__input .q6-switch__slider:before {
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: -2px;
}

.q6-calc-block__input p{
    color: #7e7e7e;
    font-size: 15px;
    line-height: 20px;    
}

.q6-input__multiple-checkboxes{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;    
}

.q6-input__multiple-checkboxes .q6-checkbox {
    font-weight: 500;
    padding-left: 20px;
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #e1e5ee;
    border-top:none;
    box-sizing: border-box;
}

.q6-input__multiple-checkboxes .q6-checkbox:first-of-type{
    border-top: 1px solid #e1e5ee;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.q6-input__multiple-checkboxes .q6-checkbox:last-of-type{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.q6-input__multiple-checkboxes .q6-checkmark{
    position: relative;
    margin-right: 20px;
}

.q6-calc-block input[type=text].q6-input__field{
    padding: 9px 14px;
    font-weight: 500;
    font-size: 16px;
}

.q6-calc-block .q6-select{
    padding: 9px 14px;
    font-weight: 500;
    font-size: 16px;
}

@media screen and (max-width: 1024px){
    .q6-pricing-table-container {
        flex-direction: column;
    }

    .q6-pricing-table {
        width: 100%;
    }    

    .q6-pricing-box {
        flex-direction: column;
    }    

    .q6-pricing-box__feature-items {
        flex-direction: column;
    }    

    .q6-pricing-box__saving {
        margin-right: 0;
        padding: 0;
        border: 0;
    }    

    .q6-pricing-box__features {
        min-width: 0;
        padding: 15px 0;
    }    

    .q6-pricing-table__close-button {
        top: 17px;
    }    

}

@media screen and (max-width: 630px){
    .q6-pricing-table td, .q6-pricing-table th {
        padding: 15px 10px;
        font-size: 14px;
    } 
}

@media screen and (max-width: 480px){
    h1, h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 25px;
        line-height: 25px;
    }    

    .q6-pricing-box__saving {
        flex-direction: column;
    }    

    .q6-pricing-table__close-button {
        top: 16px;
    }    

    .q6-pricing-table td, .q6-pricing-table th {
        padding: 11px 6px;
        font-size: 12px;
    }    
}