.q6-nav-title{
    font-size: 24px;
    font-weight: 700;
    color: #383838;
    margin-left: 35px;    
}

.q6-main.q6-page-content.q6-page-content--status{
    background: #f7f8fa;
}

.q6-footer.q6-footer--server-status .q6-footer-menu > div > .q6-footer-menu__block {
    margin-right: 20px;
}

.q6-footer.q6-footer--server-status .q6-footer-menu > div > .q6-footer-menu__block:last-of-type {
    margin-right: 0;
}


.q6-server-status-container h2{
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

.q6-server-status{
    border-radius: 15px;
    background-color: white;
    margin: 35px 0;
    width: fit-content;
}


.q6-server-status__green{
    display: flex;
    align-items: center;
    color: #5b697a;
    font-size: 18px;
    font-weight: 500;
}

.q6-server-status__green img{
    margin-right: 15px;
}

.q6-server-status__green span{
    color: #2cb960;
}

.q6-server-status__header{
    padding: 20px 60px;
}

.q6-server-status__footer{
    padding: 10px 60px;
}


.q6-server-status__header{
    border-bottom: 1px solid #e7ebf4;
}

.q6-server-status__body > div{
    border-bottom: 1px solid #e7ebf4;
    padding: 25px 60px;
    position: relative;
}

.q6-server-status__line{
    display: flex;
    flex-wrap: wrap;
}


.q6-server-status__bar{
    width: 4px;
    min-width: 4px;
    height: 28px;
    margin: 0 2px;
    background-color: #2cb960;
    border-radius: 20px;
    cursor: pointer;
    transition: all .05s ease-in-out; 
}

.q6-server-status__bar.q6-server-status__bar--degraded{
    background-color: #f0a100;
}

.q6-server-status__bar.q6-server-status__bar--down{
    background-color: #f6556f;
}

.q6-server-status__block:hover .q6-server-status__bar{
    transform: scaleY(1.9);
}


.q6-server-status__block{
    position: relative;
    margin: 10px 0;
    margin-bottom: 0;
}

.q6-server-status__block:hover .q6-server-status__tooltip{
    display: block;
}

.q6-server-status__tooltip{
    display: none;
    position: absolute;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    background-color: #496488;
    color: white;
    border-radius: 7px;
    white-space: nowrap;
    width: 170px;
    top: -85px;
    left: -84px;
    box-sizing: border-box;
}

.q6-server-status__tooltip:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: calc(50% - 3px);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #496488;
}

.q6-server-status__tooltip > div:last-of-type{
    font-weight: 700;
}

.q6-server-status__info{
    color: #5b697a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.q6-server-status__info > div:last-of-type{
    color: #a2a3a9;
}

.q6-server-status__container{
    display: table;
}

.q6-server-footer-status--uptime,
.q6-server-footer-status--degraded,
.q6-server-footer-status--downtime{
    margin: 10px 0;
    margin-right: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.q6-server-footer-status--uptime{
    color: #2cb960;
}

.q6-server-footer-status--degraded{
    color: #f0a100;
}

.q6-server-footer-status--downtime{
    color: #f6556f;
}

.q6-server-status__footer{
    display: flex;
    flex-wrap: wrap;    
}

.q6-server-status__footer > .q6-server-footer-status--uptime:before,
.q6-server-status__footer > .q6-server-footer-status--degraded:before,
.q6-server-status__footer > .q6-server-footer-status--downtime:before   {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}

.q6-server-status__footer > .q6-server-footer-status--uptime:before{
    background-color: #2cb960;
}

.q6-server-status__footer > .q6-server-footer-status--degraded:before{
    background-color: #f0a100;
}

.q6-server-status__footer > .q6-server-footer-status--downtime:before{
    background-color: #f6556f;
}

@media screen and (max-width: 1024px){
    .q6-footer.q6-footer--server-status .q6-footer-menu > div > .q6-footer-menu__block {
        margin-right: 0;
    }
}

@media screen and (max-width: 480px){
    .q6-server-status__info {
        flex-direction: column;
        align-items: flex-start;
    }
}

