.q6-formats-and-codecs-box {
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 40px 40px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
}

.q6-formats-and-codecs-box > div {
    min-width: 140px;
    max-width: 190px;
    flex: 1;
    margin-right: 60px;
}

.q6-formats-and-codecs-box > div:last-of-type {
    flex: initial;
    margin-right: 0;
}


.q6-checklist.q6-checklist--formats{
    min-width: 360px;    
}

.q6-checklist.q6-checklist--storage{    
    min-width: 210px;
}

.q6-checklist.q6-checklist--formats > div{
    display: flex;
}

.q6-checklist.q6-checklist--formats > div > div{
    flex:1;
    margin-right: 20px;
}

.q6-checklist.q6-checklist--formats > div > div:last-of-type{
    margin-right: 0;
    min-width: 195px;
}


.q6-formats-features-container{
    background: #f7f8fa;
}

.q6-formats-features{
    padding: 45px 30px;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
}

.q6-formats-features__list{
    display: flex;
    flex-wrap: wrap;
    flex: 1;    
}

.q6-formats-features__list .q6-features-icon-container {
    margin-right: 20px;
}

.q6-formats-features__list .q6-features-box__block {
    min-width: 230px;
}

@media screen and (max-width: 1024px){
    .q6-formats-features {
        flex-direction: column;
    }
}

@media screen and (max-width: 780px){
    .q6-formats-and-codecs-box {
        padding: 35px 30px;
        padding-bottom: 15px;
    }    
    .q6-formats-and-codecs-box > div {
        margin-right: 40px;
    }    
    .q6-formats-features {
        padding: 15px 20px;
    }    
}

@media screen and (max-width: 480px){
    .q6-formats-and-codecs-box {
        padding: 0;
        border: 0;
    }      
    .q6-formats-and-codecs-box > div {
        margin-right: 0;
        flex: initial;
        min-width: 100%;
    }        
    .q6-formats-features {
        padding: 0;
        border: 0;
    }  
    .q6-checklist.q6-checklist--formats {
        min-width: 100%;
    }    
    .q6-checklist.q6-checklist--formats > div {
        flex-direction: column;
    }    
    .q6-checklist.q6-checklist--formats > div > div {
        margin-right: 0;
    }    
}