.q6-dbo-box{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 25px 35px;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;    
}

.q6-dbo-box > div{
    flex: 1;
    margin-right: 5%;
}

.q6-dbo-box > div:last-of-type{
    margin-right: 0;
}

.q6-dbo-box__block{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 5px 0;    
}

.q6-dbo-text__title{
    color: #383838;
    font-weight: 600;
    font-size: 20px;    
}

.q6-dbo-icon{
    height: 65px;
    width: 58px;
    min-width: 58px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 25px;
}

.q6-dbo-box__block-title{
    color: #7c7c7c;
    text-transform: uppercase;
    font-size: 14px;
    margin: 15px 0;
}

.q6-dbo-icon--clock{
    background-image: url(../img/dbo/icons/clock.svg);
}

.q6-dbo-icon--hd{
    background-image: url(../img/dbo/icons/hd.svg);
}

.q6-dbo-icon--cost{
    background-image: url(../img/dbo/icons/cost.svg);
}

.q6-dbo-icon--money{
    background-image: url(../img/dbo/icons/money.svg);
}

.q6-button--alert{
    background-color: #ff6161;
    border-color: #ff6161;    
}

.q6-button--alert:hover{
    background-color: #ef5555;
    border-color: #ef5555;    
}

.q6-file-processing__error-buttons .q6-button{
    min-width: 143px;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 14px;
}

.q6-file-processing__error-buttons .q6-button:last-of-type{
    margin-right: 0;
}

p.q6-file-upload-status__error-text{
    color: #787878;
    font-size: 15px;
    margin: 13px 0;
    line-height: 18px;  
}

.q6-button.q6-button--close-alert{
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    margin-right: 7px;
    min-width: 0;
    border-radius: 50px;
    background-color: #ff6161;
    border:none;
    background-image: url(../img/no.svg);
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: center;    
}

.q6-button.q6-button--close-alert:hover{
    background-color: #ef5555;    
}

.q6-file-upload-status__error-type{
    display: flex;
    align-items: center;    
    color: #ff6161;
    font-weight: 500;
}

.q6-file-processing__error-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}


.q6-file-processing__contact-form p{
    color: #787878;
    font-size: 15px;
    margin: 13px 0;
    line-height: 18px;    
}

.q6-file-processing__contact-form img{
    max-width: 90px;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    margin-bottom: 25px;    
}

.q6-support__title{
    color: #4f4f4f;
    font-size: 23px;
    font-weight: 600;    
    text-align: center;
    margin: 5px 0;
}

.q6-error-contact-form__block .q6-input__label label {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 14px;
}

.q6-error-contact-form__block input[type=text].q6-input__field{
    padding: 9px 14px;
    font-weight: 500;
    font-size: 16px;
    min-width: 300px;
}

.q6-error-contact-form__block .q6-input-and-buttons--inline .q6-input {
    margin-right: 15px;
    margin-bottom: 10px;
}

.q6-error-contact-form__block .q6-input-and-buttons--inline .q6-input:last-of-type {
    margin-right: 0;
}

.q6-error-contact-form__block textarea{
    resize: none;
    height: 100px;
    padding: 9px 14px;
    font-weight: 500;
    font-size: 16px;    
}

.q6-error-contact-form__buttons{
    text-align: right;
    margin-top: 10px;
}

.q6-error-contact-form__buttons .q6-button{
    background-color: #3270eb;
    padding: 0 22px;
    line-height: 40px;
    border: none;
    min-width: 140px;
    font-weight: 500;
    font-size: 16px;    
    font-size: 14px;
    font-weight: 400;    
}

.q6-error-contact-form__buttons .q6-button {
    margin-right: 10px;
}

.q6-error-contact-form__buttons .q6-button:last-of-type {
    margin-right: 0;
}


.q6-error-contact-form__buttons .q6-button:hover{
    background-color: #265cc5;
}

.q6-error-contact-form__buttons .q6-button.q6-button--cancel{
    background-color: #edeff3;
    color: #818080;
}

.q6-error-contact-form__buttons .q6-button.q6-button--cancel:hover{
    background-color: #e0e0e0;
}

@media screen and (max-width: 1024px){
    .q6-file-processing__error-buttons .q6-button {
        width: initial;
    }

    .q6-error-contact-form__buttons .q6-button {
        width: initial;
    }    
}

@media screen and (max-width: 815px){
    .q6-error-contact-form__block .q6-input-and-buttons--inline .q6-input {
        width: 100%;
        margin-right: 0;
    }

    .q6-error-contact-form__block input[type=text].q6-input__field {
        min-width: 0;
    }    
}


@media screen and (max-width: 768px){
    .q6-dbo-box {
        flex-direction: column;
    }

    .q6-dbo-box > div {
        margin-right: 0;
    } 
}

@media screen and (max-width: 480px){
    .q6-dbo-box {
        padding: 0;
        border: 0;
        margin-top: 15px;
    }    

    .q6-dbo-text__title {
        font-size: 18px;
    }        

    .q6-dbo-icon {
        margin-right: 15px;
    }       

    .q6-file-processing__error-buttons .q6-button,
    .q6-error-contact-form__buttons .q6-button {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }    

    .q6-file-processing__error-buttons .q6-button:last-of-type,
    .q6-error-contact-form__buttons .q6-button:last-of-type {
        margin-bottom: 0;
    }       

    .q6-file-processing__error-buttons {
        flex-direction: column;
    }    


}