.q6-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.q6-body {
    font-family: GraphikRegular, sans-serif;
}

.q6-main {
    padding-bottom: 0;
    padding-top: 80px;
}

.q6-page-content{
    flex: 1;
}

.q6-nav {
    display: flex;
    background: white;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 99999;
    border:none;
    top: 0;
    right: 0;
    left: 0;
}

.q6-nav > .q6-container{
    display: flex;
    align-items: center;
    width: 90%;
}

.q6-nav .q6-logo img {
    width: 131px;
    border-style: none;
    padding-top: 0;
}

.q6-nav .q6-top-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.q6-nav .q6-top-menu .q6-menu-items--left {
    margin-left: 20px;
    flex: 1;
    display: flex;
    justify-content: center;    
}


.q6-top-menu a:hover, .q6-top-menu a:visited, .q6-top-menu a:active, .q6-top-menu a:link{
    color: #323548;
    text-decoration: none;
}

.q6-top-menu a {
    display: inline-block;
    font-size: 16px;
    line-height: 78px;
    transition: border .3s ease;
    cursor: pointer;
    margin-right: 2vw;
    margin-left: 2vw;
    border-bottom: 2px solid white;
}

.q6-top-menu a:hover {
    border-bottom: 2px solid #43c086;
}

.q6-nav .q6-button{
    font-size: 16px;
    border: 1px solid;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    padding: 0;
    min-width: 128px;
    line-height: 38px;    
}

.q6-nav .q6-button:hover{
    background: #265cc5;
}


.q6-header {
    height: initial;
    background: none;
}

.q6-footer{
    padding-top: 70px;
    padding-bottom: 20px;    
    border: none;    
}

.q6-logo-and-menu {
    display: flex;
    justify-content: space-between;
}

.q6-small-logo img {
    height: 44px;
}

.q6-footer-menu {
    display: flex;
}

.q6-footer-menu > div {
    display: flex;
    margin-right: 7vw;    
}


.q6-footer-menu > div:last-of-type {
    margin-right: 0;    
}

.q6-footer-menu > div > .q6-footer-menu__block {
    margin-right: 7vw;    
}

.q6-footer-menu > div > .q6-footer-menu__block:last-of-type {
    margin-right: 0;    
}

.q6-footer-menu__block a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    color: #6d6f6e;
}

.q6-footer-menu__block a:hover {
    color: #4a4a4a;
    text-decoration: underline;
}

.q6-footer-menu__block h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    font-family: GraphikMedium;
}

.q6-mobile-menu {
    position: absolute;
    right: 0;
    z-index: -1;
    display: none;
    max-height: 0;
    top: 70px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    flex-direction: column;
    width: 100%;    
}

.q6-mobile-menu > a {
    padding: 0 20px;
    font-size: 16px;
    line-height: 60px;
    height: 60px;
    border-bottom: 2px solid #e4e4e4;
    transition: border .2s ease;
    background: white;
    color: #323548;
}

.q6-mobile-menu > a strong{
    font-family: GraphikMedium;
    font-weight: normal;
}

.q6-mobile-menu a:hover, 
.q6-mobile-menu a:visited, 
.q6-mobile-menu a:active, 
.q6-mobile-menu a:link {
    color: #323548;
    text-decoration: none;
}    

.q6-mobile-menu a:hover {
    border-bottom: 2px solid #43c086;
}    

.q6-hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eeeeee;
    margin: 25px 0;
}

.q6-copyright-and-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #6d6f6e;
}

.q6-social-icons__footer > a {
    font-size: 16px;
    margin-left: 13px;
    color: #bdbec0;
}

.q6-social-icons__footer > a:first-of-type {
    margin-left: 0;
}

.q6-social-icons__footer > a:hover {
    color: #a3a3a3;
}

@media screen and (max-width: 320px){
    .q6-mobile-menu{
        display: none;
    } 
}

@media screen and (max-width: 1024px){
    .hamburger {
        display: inline-block;
        padding-right: 0;
    }
}

@media screen and (max-width: 1024px){

    .q6-nav > .q6-container {
        justify-content: space-between;
    }

    .q6-nav .q6-top-menu {
        display: none;
    } 

    .q6-mobile-menu{
        display: flex;
    }

    .q6-logo-and-menu {
        flex-direction: column;
    }    

    .q6-footer-menu {
        margin-top: 40px;
    }    

    .q6-footer-menu > div {
        flex-direction: column;
        margin-right: 7vw;
        width: 50%;        
    }    

    .q6-footer-menu > div > .q6-footer-menu__block {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .q6-footer-menu > div > .q6-footer-menu__block:last-of-type {
        margin-bottom: 0;
    }    

}
