.q6-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.q6-body {
    font-family: GraphikRegular, sans-serif;
}

.q6-main {
    padding-bottom: 0;
}

.q6-no-header{
    padding-top: 70px;
}

.q6-page-content{
    flex: 1;
}

.q6-nav {
    display: flex;
    background: white;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 99999;
    border:none;
    top: 0;
    right: 0;
    left: 0;
}

.q6-nav .q6-logo img {
    width: 131px;
    border-style: none;
    padding-top: 0;
}

.q6-nav .q6-top-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.q6-nav .q6-top-menu .q6-menu-items--left {
    margin-left: 20px;
    flex: 1;
    display: flex;
    justify-content: center;    
}


.q6-top-menu a:hover, .q6-top-menu a:visited, .q6-top-menu a:active, .q6-top-menu a:link{
    color: #323548;
    text-decoration: none;
}

.q6-top-menu a {
    display: inline-block;
    font-size: 14px;
    line-height: 67px;
    transition: border .3s ease;
    cursor: pointer;
    margin-right: 2vw;
    margin-left: 2vw;
    border-bottom: 2px solid white;
}

.q6-top-menu a:hover {
    border-bottom: 2px solid #43c086;
}

.q6-nav .q6-button{
    font-size: 14px;
    padding: 13px 18px;
    padding-bottom: 11px;
    border: 1px solid;
}

.q6-nav .q6-button:hover{
    background: white;
    color: #3270eb;
}


.q6-header {
    height: initial;
    background: none;
}

.q6-footer{
    padding-top: 70px;
    border: none;    
}

@media screen and (max-width: 780px){
    .q6-nav .q6-top-menu {
        display: none;
    }
}
