.q6-features-box{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 25px 35px;
    margin-top: 30px;
    margin-bottom: 70px;  
    display: flex;
    flex-wrap: wrap;    
}

.q6-features-formats{
    background: #f7f8fa;
    border-radius: 8px;
    padding: 30px 50px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
}

.q6-features-formats__list{
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

.q6-features-formats__list > div{
    margin-right: 30px;
    min-width: 200px;
}

.q6-features-formats__list > div:last-of-type{
    margin-right: 0;
}


.q6-features-how-it-works{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 30px 15px;
    margin-bottom: 45px;
    display: flex;   
}

.q6-features-how-it-works__block{
    flex: 1;
    margin-right: 3vw;
}

.q6-features-how-it-works__block:last-of-type{
    margin-right: 0;
}

.q6-features-how-it-works__block h5 {
    color: #383838;
    font-family: "proxima-nova";
    font-size: 18px;
    line-height: 19px;
    font-weight: 600;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;    
    margin-bottom: 30px;
}

.q6-features-how-it-works .q6-features-icon {
    width: 72px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.q6-features-icon--link {
    background-image: url(../img/features/link.svg);
}

.q6-features-icon--upload {
    background-image: url(../img/features/upload.svg);
}

.q6-features-icon--api {
    background-image: url(../img/features/api.svg);
}

.q6-features-icon--ui {
    background-image: url(../img/features/ui.svg);
}

.q6-features-icon--storage {
    background-image: url(../img/features/storage.svg);
}

.q6-features-storage-logo {
    background-image: url(../img/features/storage_logo.svg);
    max-width: 170px;
    width: 13vw;
    height: 105px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;  
    margin-top: 15px;  
}


.q6-features-icon.q6-features-icon--device {
    max-width: 199px;
    width: 15vw;
    height: 89px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/features/device.svg);
}

.q6-features-icon--encoding {
    background-image: url(../img/features/encoding.svg);
}

.q6-features-how-it-works__details{
    display: flex;
    flex-direction: column;
    align-items: center;  

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
    
    height: 80%;
    justify-content: center;    

    box-sizing: border-box;  
}



.q6-features-how-it-works__details--source-videos {
    background-image: url(../img/features/b1.svg);  
    padding: 0 30px;
    width: 15vw;  
    max-width: 206px;  
    margin: 0 auto;
}

.q6-features-how-it-works__details--qencode-cloud {
    background-image: url(../img/features/b2.svg);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    width: 23vw; 
    max-width: 300px;
    margin: 0 auto;    
}

.q6-features-how-it-works__details--qencode-cloud > div {
    height: 100%;
    justify-content: center;
}

.q6-features-how-it-works__details--qencode-cloud .q6-green-arrow--right{
    width: 17%;
    max-width: 51px;
    height: 27px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 10%);    
}

.q6-features-how-it-works__details--storage {
    margin: 0 auto;
    justify-content: flex-start;
    width: 13vw;
    max-width: 170px;
    padding-top: 68px; 
}

.q6-features-how-it-works__details--your-audience {
    background-image: url(../img/features/b3.svg);
    padding: 0 30px;
    width: 20vw;
    max-width: 260px;
    margin: 0 auto;    
}



.q6-features-how-it-works__block{
    position: relative;
}

.q6-features-how-it-works__block > .q6-green-arrow--right {
    width: 6.2vw;
    max-width: 80px;
    height: 27px;
    position: absolute;
    top: calc(50% - 15px);
    right: -25%;
    z-index: 1;
}


.q6-green-arrow__head {
    width: 23px;
    min-width: 27px;
    height: 27px;
    background-image: url(../img/features/arrow.png);
    background-size: 23px 27px;
    background-repeat: no-repeat;
}
.q6-green-arrow{
    display: flex;
    align-items: center;    
    width: 100%;
}
.q6-green-arrow__line{
    height: 1px;
    flex: 1;
    background: #59e2ae;    
}

.q6-features-how-it-works__details > div{
    display: flex;
    flex-direction: column;
    align-items: center;   
}


.q6-features-how-it-works__details > div p{
    margin: 10px 0;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;    
    text-align: center;
    line-height: 17px;    
}

.q6-features-big-data{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 40px 60px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;    
}

.q6-features-big-data > div:first-of-type{
    margin-right: 60px;
}

.q6-features-big-data > div:first-of-type img{
    width: 180px;
}

.q6-green-arrow--down{
    display: none;
}

.q6-features-how-it-works__details > div.q6-green-arrow--down{
    display: none;    
} 




.q6-features__footer .q6-promo-block{
    margin: 0;
}

.q6-features__footer .q6-promo-block__content > div:first-of-type {
    margin-right: 0;
}

.q6-features__footer .q6-promo-block__content{
    flex-direction: column;
}

.q6-features__footer .q6-promo-block__content > div:nth-of-type(2) {
    margin-right: 0;
}

.q6-features__footer .q6-promo-block__content p{
    text-align: center;
}

.q6-features-block h3{
    font-size: 24px;
}

.q6-features__header .q6-button{
    line-height: 32px;
    font-size: 14px;
    font-weight: normal;
    min-width: 280px;
}

.q6-features__header .q6-button.q6-button--next > span:after {
    margin-left: 20px;
}

.q6-features__header .q6-demo-links-buttons > a {
    min-width: 0;
    padding: 0 19px;
    padding-right: 30px;
    line-height: 32px;
    margin-right: 10px;
    font-size: 14px;
}

.q6-features__header .q6-demo-links-buttons > a:after {
    right: 18px;
    top: calc(50% - 3.5px);
    height: 6px;
    width: 6px;    
}

.q6-features__header .q6-demo-links-buttons > a:hover:after {
    right: 16px;
}

.q6-features__header p{
    font-size: 16px;
    line-height: 26px;    
}

.q6-features__header .q6-features__header-buttons{
    margin-top: 30px;
    margin: 30px 0;
}

.q6-features__header img {
    width: 90%;
    max-width: 500px;
    height: auto;
    max-height: 400px;
}

.q6-features__header{
    display: flex;
    align-items: center;   
    padding: 50px 0; 
}


.q6-features__header > div + div {
    margin-left: 15%;
}

.q6-features__header > div{
    width: 50%;
}

.q6-features-block{    
    margin-bottom: 70px;
}

.q6-features__cards-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.q6-features__card{
    max-width: 280px;
    min-width: 280px;
    margin: 15px;
}

.q6-features__card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #383838;
    margin: 10px 0;
}

.q6-features__card-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8791A4;    
}

.q6-features__card .q6-features-icon {
    height: 60px;
    width: 90px;
    min-width: 90px;
    background-size:initial;
    background-position: top left;
    background-repeat: no-repeat;
}

.q6-features-icon.q6-features-icon--0101{
    background-image: url(../img/features/icons/icon_0101.svg);
}

.q6-features-icon.q6-features-icon--0102{
    background-image: url(../img/features/icons/icon_0102.svg);
}

.q6-features-icon.q6-features-icon--0103{
    background-image: url(../img/features/icons/icon_0103.svg);
}


.q6-features-icon.q6-features-icon--0201{
    background-image: url(../img/features/icons/icon_0201.svg);
}

.q6-features-icon.q6-features-icon--0202{
    background-image: url(../img/features/icons/icon_0202.svg);
}

.q6-features-icon.q6-features-icon--0203{
    background-image: url(../img/features/icons/icon_0203.svg);
}




.q6-features-icon.q6-features-icon--0301{
    background-image: url(../img/features/icons/icon_0301.svg);
}

.q6-features-icon.q6-features-icon--0302{
    background-image: url(../img/features/icons/icon_0302.svg);
}

.q6-features-icon.q6-features-icon--0303{
    background-image: url(../img/features/icons/icon_0303.svg);
}

.q6-features-icon.q6-features-icon--0304{
    background-image: url(../img/features/icons/icon_0304.svg);
}

.q6-features-icon.q6-features-icon--0305{
    background-image: url(../img/features/icons/icon_0305.svg);
}

.q6-features-icon.q6-features-icon--0306{
    background-image: url(../img/features/icons/icon_0306.svg);
}

.q6-features-icon.q6-features-icon--0307{
    background-image: url(../img/features/icons/icon_0307.svg);
}

.q6-features-icon.q6-features-icon--0308{
    background-image: url(../img/features/icons/icon_0308.svg);
}

.q6-features-icon.q6-features-icon--0309{
    background-image: url(../img/features/icons/icon_0309.svg);
}

.q6-features-icon.q6-features-icon--0310{
    background-image: url(../img/features/icons/icon_0310.svg);
}

.q6-features-icon.q6-features-icon--0311{
    background-image: url(../img/features/icons/icon_0311.svg);
}

.q6-features-icon.q6-features-icon--0312{
    background-image: url(../img/features/icons/icon_0312.svg);
}


.q6-features-icon.q6-features-icon--0401{
    background-image: url(../img/features/icons/icon_0401.svg);
}

.q6-features-icon.q6-features-icon--0402{
    background-image: url(../img/features/icons/icon_0402.svg);
}

.q6-features-icon.q6-features-icon--0403{
    background-image: url(../img/features/icons/icon_0403.svg);
}

.q6-features-icon.q6-features-icon--0404{
    background-image: url(../img/features/icons/icon_0404.svg);
}

.q6-features-icon.q6-features-icon--0405{
    background-image: url(../img/features/icons/icon_0405.svg);
}


.q6-features__card-buttons{
    margin-top: 10px;
}

.q6-features__card-buttons > a {
    display: inline-block;
 
    border-radius: 20px;

    color: #3270e9;
    border: 1px solid #3270e9;
    font-weight: 600;
    text-decoration: none;

    transition: all 0.2s ease;

    box-sizing: border-box;


    padding: 0 12px;

    font-weight: 600;
    font-size: 11px;
    line-height: 18px;    
}

.q6-features__card-buttons > a:hover{
    background-color: #3270e9;
    color: white;
}

@media screen and (max-width: 868px){
    .q6-features__header > div + div{
        display: none;
    }

    .q6-features__header > div{
        width: 100%
    }    

    .q6-features__header {
        padding: 10px 0;
    }    
}

@media screen and (max-width: 780px){
    .q6-features__header h2{
        font-size: 29px;
        line-height: 24px;        
    }
}

@media screen and (max-width: 480px){
    .q6-features__header h2{
        font-size: 25px;       
    }

    .q6-features__card {
        max-width: initial;
        min-width: initial;
    }    
}

@media screen and (max-width: 1180px){
    .q6-features-formats {
        flex-direction: column;
    }
    .q6-features-formats__list {
        margin-right: 0;
        margin-bottom: 20px;
    }    
    .q6-features-formats__list > div {
        flex: 1;
    }    
}

@media screen and (max-width: 1024px){
    .q6-features__footer .q6-promo-block__content p{
        text-align: left;
    }
    


    .q6-features-big-data {
        padding: 25px 35px;
    }    
    .q6-features-big-data > div:first-of-type {
        margin-right: 40px;
    }    

    .q6-features-box {
        padding: 20px 30px;
    }  

    .q6-features-how-it-works {
        flex-direction: column;
        align-items: center;
    }    

    .q6-features-how-it-works__block {
        margin-right: 0;
        margin-bottom: 30px;
        width: 100%;
    }    

    .q6-features-how-it-works__block:last-of-type {
        margin-bottom: 0;
    }      

    .q6-features-how-it-works__details--block3 {
        padding: 30px 0;
    }    

    .q6-features-how-it-works__details--block2 {
        max-width: 390px;
    }    

    .q6-features-how-it-works__block > .q6-green-arrow--right {
        display: none;
    }    

    .q6-green-arrow--down{
        display: block;
    }
    .q6-green-arrow--down .q6-green-arrow{
        flex-direction: column;
        width: 27px;
        height: 80px;
        margin: 0 auto;
        margin-top: 15px;
    }
    .q6-green-arrow--down  .q6-green-arrow__line {
        width: 1px;
    }    
    .q6-green-arrow--down .q6-green-arrow__head {
        transform: rotate(90deg);
    }    

    .q6-features-how-it-works__details--block2 .q6-green-arrow--down{
        display: none;
    }    


    .q6-features-how-it-works__details--qencode-cloud .q6-green-arrow--right {
        width: 70px;
        top: calc(50% - 55px);
        left: calc(50% - 35px);
    }    
    .q6-features-how-it-works__details--qencode-cloud {
        width: 100%;
        max-width: 300px;
    }    
    .q6-features-how-it-works__details--source-videos {
        width: 100%;
        max-width: 100%;
    }    
    .q6-features-how-it-works__details--storage {
        width: 100%;
        max-width: 100%;
        padding-top: 0;
    }    
    .q6-features-storage-logo {
        width: 170px;
    }    
    .q6-features-how-it-works__details--your-audience {
        width: 100%;
        max-width: 100%;
    }    
    .q6-features-icon.q6-features-icon--device {
        width: 200px;
    }    
}

@media screen and (max-width: 780px){
    .q6-features-big-data {
        flex-direction: column;
        border: 0;
        padding: 0;
    }
    .q6-features-big-data > div:first-of-type {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .q6-features-formats__list {
        flex-wrap: wrap;
    }    
    .q6-features-formats__list > div:last-of-type {
        margin-right: 30px;
    }    
    .q6-features-formats {
        padding: 15px 30px;
    }    
}

@media screen and (max-width: 480px){
    .q6-features__header .q6-button {
        width: 100%;
    }

    .q6-features-box {
        padding: 0;
        border: 0;
        margin-top: 15px;
    }

    .q6-features-formats {
        padding: 0;
        background: none;
    }    
    .q6-features-formats__list {
        margin-bottom: 10px;
    }    

    .q6-features-how-it-works {
        padding: 0;
        border: 0;
    }    
}