.q6-dbo-box{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 25px 35px;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;    
}

.q6-dbo-box > div{
    flex: 1;
    margin-right: 5%;
}

.q6-dbo-box > div:last-of-type{
    margin-right: 0;
}

.q6-dbo-box__block{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 5px 0;    
}

.q6-dbo-text__title{
    color: #383838;
    font-weight: 600;
    font-size: 20px;    
}

.q6-dbo-icon{
    height: 65px;
    width: 58px;
    min-width: 58px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 25px;
}

.q6-dbo-box__block-title{
    color: #7c7c7c;
    text-transform: uppercase;
    font-size: 14px;
    margin: 15px 0;
}

.q6-dbo-icon--clock{
    background-image: url(../img/dbo/icons/clock.png);
}

.q6-dbo-icon--hd{
    background-image: url(../img/dbo/icons/hd.png);
}

.q6-dbo-icon--cost{
    background-image: url(../img/dbo/icons/cost.png);
}

.q6-dbo-icon--money{
    background-image: url(../img/dbo/icons/money.png);
}

@media screen and (max-width: 768px){
    .q6-dbo-box {
        flex-direction: column;
    }

    .q6-dbo-box > div {
        margin-right: 0;
    } 
}

@media screen and (max-width: 480px){
    .q6-dbo-box {
        padding: 0;
        border: 0;
        margin-top: 15px;
    }    

    .q6-dbo-text__title {
        font-size: 18px;
    }        

    .q6-dbo-icon {
        margin-right: 15px;
    }       
}