.q6-nav-title{
    font-size: 24px;
    font-weight: 700;
    color: #383838;
    margin-left: 35px;    
}

.q6-footer.q6-footer--server-status .q6-footer-menu > div > .q6-footer-menu__block {
    margin-right: 20px;
}

.q6-footer.q6-footer--server-status .q6-footer-menu > div > .q6-footer-menu__block:last-of-type {
    margin-right: 0;
}

.q6-server-status-container {
    background: #f7f8fa;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 80px;
    display: flex;
    flex-direction: column;  
}

.q6-server-status-container > .q6-container{
    flex: 1;
}

.q6-server-status{
    margin: 35px 0;
    border-radius: 15px;
    background-color: white;
}

.q6-server-status__header,
.q6-server-status__footer{
    padding: 20px 60px;
}

.q6-server-status__header{
    border-bottom: 1px solid #e7ebf4;
}

.q6-server-status__body > div{
    border-bottom: 1px solid #e7ebf4;
    padding: 38px 60px;
    position: relative;
}

.q6-server-status__line{
    display: flex;
}


.q6-server-status__bar{
    width: 4px;
    min-width: 4px;
    height: 28px;
    margin: 0 2px;
    background-color: #2cb960;
    border-radius: 20px;
    cursor: pointer;
    transition: all .05s ease-in-out; 
}


.q6-server-status__block:hover .q6-server-status__bar{
    transform: scaleY(1.9);
}


.q6-server-status__block{
    position: relative;
}

.q6-server-status__block:hover .q6-server-status__tooltip{
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.q6-server-status__tooltip{
    opacity: 0;
    position: absolute;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    background-color: #496488;
    color: white;
    border-radius: 7px;
    white-space: nowrap;
    width: 120px;
    top: -85px;
    left: -79px;
}

.q6-server-status__tooltip:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: calc(50% - 3px);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #496488;
}

.q6-server-status__line .tippy-content > div:last-of-type{
    font-weight: 700;
}

@media screen and (max-width: 1024px){
    .q6-footer.q6-footer--server-status .q6-footer-menu > div > .q6-footer-menu__block {
        margin-right: 0;
    }
}
