.q6-per-title-header .q6-card.q6-card--per-title{
    margin-top: 60px;
    align-items: flex-start;
}

.q6-per-title-header .q6-card.q6-card--per-title img {
    margin-top: 30px;
}

.q6-card.q6-card--per-title img {
    width: 100%;
    max-width: 570px;
    height: auto;
}

.q6-card.q6-card--per-title > div:first-of-type {
    margin-right: 10%;
    margin-top: 60px;
}

.q6-per-title-benefits-container{
    background: #f5f7ff;
    padding: 40px 0px;
    margin: 80px 0;
    text-align: center;
}

.q6-per-title-benefits-container h2,
.q6-per-title-how-it-works-container h2,
.q6-per-title-better-results h2,
.q6-per-title-encoding-results h2,
.q6-per-title-optimize-benefits h2{
    text-align: center;
}

.q6-promo-block.q6-promo-block-per-title {
    padding: 40px 0px;
    background: #f5f7ff;
}

.q6-promo-block.q6-promo-block-per-title .q6-promo-block__content{
    flex-direction: column;
    text-align: center;
    background: #f5f7ff;
}

.q6-promo-block.q6-promo-block-per-title .q6-promo-block__content > div:first-of-type {
    margin-right: 0;
}

.q6-promo-block.q6-promo-block-per-title .q6-promo-block__content > div:nth-of-type(2) {
    margin-right: 0;
}

.q6-per-title-benefits-container p,
.q6-promo-block.q6-promo-block-per-title  p {
    color: #7e7e7e;
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    text-align: center;
}

.q6-per-title-benefits-container a {
    text-decoration: none;
    font-weight: 500;
}

.q6-per-title-benefits__list,
.q6-per-title-how-it-works__list{
    padding: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.q6-per-title-benefits__card{
    display: flex;
    align-items: center;
    margin: 10px;
    
    margin: 5px 10px;

    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    padding-top: 70px;
    margin-bottom: 20px;
}

.q6-per-title-benefits__card > div:first-of-type{
    box-sizing: border-box;
    position: absolute;
    top: -10px;
    border-radius: 50%;
    background: #f5f7ff;
    padding: 8px;
    box-sizing: border-box;
    width: 110px;
    min-width: 110px;
    height: 110px;
}

.q6-per-title-benefits__card .q6-per-title-benefits__icon{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 3px 15px -5px rgb(105 109 112 / 21%);
}

.q6-per-title-benefits__card > div:last-of-type{
    background-color: white;
    width: 218px;
    min-width: 218px;
    height: 129px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 15px -5px rgb(105 109 112 / 21%);

    font-size: 25px;
    font-weight: 600;
    padding: 15px 45px;
    padding-top: 40px;    
}

.q6-per-title-benefits__icon{
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.q6-per-title-benefits__icon--playback{
    background-image: url(../img/per-title/per_title_improve.svg);
}

.q6-per-title-benefits__icon--quality{
    background-image: url(../img/per-title/per_title_boost.svg);
}

.q6-per-title-benefits__icon--download{
    background-image: url(../img/per-title/per_title_downoad.svg);
    background-size: 35%;
}

.q6-per-title-benefits__icon--delivery{
    background-image: url(../img/per-title/delivery.svg);
}

.q6-per-title-benefits__icon--storage{
    background-image: url(../img/per-title/per_title_storage.svg);
    background-size: 60%;
}

.q6-per-title-how-it-works__card {
    display: flex;
    align-items: center;
    margin: 5px 15px;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    width: 168px;
    min-width: 168px;
    text-align: center;
}

.q6-per-title-how-it-works__title{
    color: #383838;
    font-weight: 600;
    font-size: 20px;    
}

.q6-per-title-how-it-works__text{
    margin: 3px 0;
    line-height: 21px;
    font-size: 16px;
    color: #4b4b4b;    
}

.q6-per-title-how-it-works__icon{
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin: 20px auto;
    
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
}

.q6-per-title-how-it-works__icon--analyze{
    background-image: url(../img/per-title/per_title_how_analyze.svg);
}

.q6-per-title-how-it-works__icon--scene-split{
    background-image: url(../img/per-title/per_title_how_split.svg);
}

.q6-per-title-how-it-works__icon--scene-analysis{
    background-image: url(../img/per-title/per_title_how_analysis.svg);
}

.q6-per-title-how-it-works__icon--ai-algo{
    background-image: url(../img/per-title/per_title_how_ai.svg);
}

.q6-per-title-how-it-works__icon--encode-scenes{
    background-image: url(../img/per-title/per_title_how_analyze.svg);
}

.q6-per-title-how-it-works__icon--create-output{
    background-image: url(../img/per-title/per_title_how_output.svg);
}

.q6-per-title-how-it-works__arrow{
    width: 62px;
    height: 9px;
    margin: 50px -31px;
    background-image: url(../img/per-title/arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;    
}

.q6-per-title-better-results__list{
    padding: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.q6-per-title-better-results__card{
    display: flex;
    align-items: center;
    margin: 10px 15px;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    flex: 1;
    min-width: 220px;
    text-align: center;    
}

.q6-per-title-better-results__text{
    max-width: 178px;
    color: #383838;
    font-weight: 500;
}

.q6-per-title-better-results__title{
    font-weight: 700;
    font-size: 49px;
    color: #316fea;    
}

.q6-per-title-encoding-results{
    background: #f5f7ff;
    padding: 40px 0px;
    margin: 80px 0;
    text-align: center;
}

.q6-per-title-optimize-benefits__block-header{
    display: flex;
    align-items: center;
}

.q6-per-title-optimize-benefits__block-header > div:nth-of-type(2){
    color: #316fea;
    margin: 0 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.q6-per-title-optimize-benefits__block-header > div:first-of-type,
.q6-per-title-optimize-benefits__block-header > div:last-of-type{
    flex: 1;
    background-color: #e1e5f8;
    height: 2px;
}

.q6-per-title-optimize-benefits__list{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.q6-per-title-optimize-benefits__card {
    display: flex;
    align-items: center;
    margin: 10px 15px;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    flex: 1;
    min-width: 220px;
    text-align: center;
}

.q6-per-title-optimize-benefits__text{
    max-width: 350px;
}

.q6-per-title-optimize-benefits__block{
    margin-top: 25px;
}

.q6-per-title-optimize-benefits__title{
    color: #383838;
    font-weight: 600;
    font-size: 20px;    
}

.q6-per-title-optimize-benefits__text{
    margin: 3px 0;
    line-height: 21px;
    font-size: 16px;
    color: #4b4b4b;    
}

.q6-per-title-optimize-benefits__icon {
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin: 20px auto;
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;
}

.q6-per-title-optimize-benefits__icon--fast-load{
    background-image: url(../img/per-title/per_title_why_load.svg);
}

.q6-per-title-optimize-benefits__icon--better-quality{
    background-image: url(../img/per-title/per_title_why_quality.svg);
}

.q6-per-title-optimize-benefits__icon--lower-costs{
    background-image: url(../img/per-title/per_title_why_storage_costs.svg);
}

.q6-per-title-optimize-benefits__icon--cdn{
    background-image: url(../img/per-title/per_title_why_scdn_costs.svg);
}

.q6-promo-block.q6-promo-block--no-bottom-margin{
    margin-bottom: 0;
}

.q6-per-title-encoding-results__list{
    padding: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.q6-per-title-encoding-results__card,
.q6-per-title-encoding-results__card--register{
    display: flex;
    align-items: center;
    margin: 10px 15px;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    width: 212px;
    min-width: 212px;
    text-align: center;    
    background-color: white;

    padding: 15px;

    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 15px -5px rgb(105 109 112 / 21%);    

    display: flex;
    flex-direction: column;    

    border: 2px solid transparent;

    cursor: pointer;
}


.q6-per-title-encoding-results__card:hover,
.q6-per-title-encoding-results__card--register:hover{
    border-color: #316fea;
}

.q6-per-title-encoding-card__header{
    width: 100%;
    min-height: 160px;
}

.q6-per-title-encoding-card__header-preview{
    width: 100%;
    height: 106px;
    background-color: #f5f7ff;
    background-image: url(../img/per-title/per_title_play.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;    
    border-radius: 10px;
}

.q6-per-title-encoding-card__header-preview--bunny{
    background-image: url(../img/per-title/bunny.jpg);
    background-size: cover;
}

.q6-per-title-encoding-card__header-preview--sintel{
    background-image: url(../img/per-title/sintel.jpg);
    background-size: cover;
}

.q6-per-title-encoding-card__header-preview--steel{
    background-image: url(../img/per-title/steel.jpg);
    background-size: cover;
}

.q6-per-title-encoding-card__header-preview--elephant{
    background-image: url(../img/per-title/elephant.jpg);
    background-size: cover;
}

.q6-per-title-encoding-card__footer{
    width: 100%;
}

.q6-per-title-encoding-card__footer .q6-button{
    width: 100%;
}

.q6-per-title-encoding-card__body{
    min-height: 170px;
    width: 100%;
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;    
}

.q6-per-title-encoding-card__header-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.q6-per-title-encoding-card__header-info > div:first-of-type{
    color: #366fea;
    font-size: 24px;
    font-weight: 600;    
}

.q6-per-title-encoding-card__header-info > div:first-of-type span{
    font-size: 16px;
}

.q6-per-title-encoding-card__header-info > div:last-of-type{
    color: #ff0202;
    font-weight: 600;
}

.q6-per-title-encoding-card__body h3{
    text-align: left;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    margin: 0;
}

.q6-per-title-encoding-card__summary{
    margin: 10px 0;
}

.q6-per-title-encoding-card__summary > div{
    color: #858997;
    text-align: left;
    font-size: 16px;
    line-height: 25px;
}

.q6-per-title-encoding-card__promo{
    color: #366fea;
    padding: 10px 0;
    font-size: 20px;
    text-align: left;
    font-weight: 600;

    flex: 1;
    display: flex;
    align-items: center;    
}

.q6-per-title-compare h2{
    text-align: center;
    font-size: 28px;
}

.q6-per-title-encoding-results__full-video{
    flex: 1;
    background-color: white;
    padding: 15px;
    margin: 10px 15px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 15px -5px rgb(105 109 112 / 21%);
    max-width: 968px;    
    display: flex;
    align-items: center; 
}

.q6-per-title-full-video__player video{
    width: 100%;
    min-width: 300px;
    outline: none;
}

.q6-per-title-full-video__info{
    display: flex;
    align-items: center;
    margin-right: 15px;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    width: 270px;
    min-width: 270px;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;  
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border: 1px solid #eff5ff;
}

.q6-per-title-full-video__player{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: black;
}

.q6-per-title-video-info__header,
.q6-per-title-video-info__body,
.q6-per-title-video-info__footer{
    width: 100%;
}

.q6-per-title-video-info__header {
    height: 110px;
    min-height: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.q6-per-title-video-info__header--bunny{
    background-image: url(../img/per-title/bunny.jpg);
}

.q6-per-title-video-info__header--sintel{
    background-image: url(../img/per-title/sintel.jpg);
}

.q6-per-title-video-info__header--steel{
    background-image: url(../img/per-title/steel.jpg);
}

.q6-per-title-video-info__header--elephant{
    background-image: url(../img/per-title/elephant.jpg);
}

.q6-per-title-video-info__body{
    flex: 1;
}

.q6-per-title-video-info__footer{
    background-color: #edf3ff;
    border-radius: 10px;
    padding: 20px 15px;
    position: relative;
    padding-bottom: 15px;
}

.q6-per-title-video-info__footer:after{
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 5px);
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

.q6-per-title-video-info__footer > div:first-of-type{
    color: #366fea;
    font-size: 22px;
    font-weight: 600;    
}

.q6-per-title-video-info__footer > div:first-of-type span{
    font-size: 18px;
}

.q6-per-title-video-info__footer > div:nth-of-type(2){
    color: #8f9cb6;
    font-weight: 500;
}

.q6-per-title-video-info__footer .q6-button{
    margin-bottom: 0;
    margin-top: 10px;
    min-width: 77%;
}

.q6-per-title__table-row{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.q6-per-title__table-row > div:first-of-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;    
}

.q6-per-title__table-row > div:last-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.q6-per-title__table-row{
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
    color: #383838;
    padding: 15px 15px;
    border-bottom: 1px solid #f0f5ff;
}

.q6-per-title__table-row button{
    background: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    border: none;

    width: 20px;
    height: 20px;

    background-image: url(../img/per-title/download.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;    
}

.q6-per-title-video-info__body .q6-per-title__table-row:last-of-type{
    color: #316fea;
}

@media screen and (max-width: 1024px){
    .q6-card.q6-card--per-title > div:first-of-type {
        margin-right: 0;
        margin-bottom: 3%;
    }

    .q6-per-title-header .q6-card.q6-card--per-title img {
        margin-top: 0;
    }    
}

@media screen and (max-width: 850px){
    .q6-per-title-full-video__info{
        margin: 0;
        margin-bottom: 20px;
        width: 100%;        
    }

    .q6-per-title-encoding-results__full-video {
        flex-direction: column;
        width: 100%;
        flex: initial;
    }

    .q6-per-title-video-info__header {
        height: calc(100vw * 0.3);
    }
    
    .q6-per-title-full-video__player{
        height: initial;
    }

    .q6-per-title-video-info__body .q6-per-title__table-row:last-of-type {
        border-radius: none;
    }
}
