.q6-formats-and-codecs-box {
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 40px 60px;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
}

.q6-formats-and-codecs-box > div {
    min-width: 200px;
    flex: 1;
    margin-right: 60px;
}

.q6-formats-and-codecs-box > div:last-of-type {
    flex: initial;
    margin-right: 0;
}

@media screen and (max-width: 780px){
    .q6-formats-and-codecs-box {
        padding: 15px 30px;
    }    
    .q6-formats-and-codecs-box > div {
        margin-right: 40px;
    }    
}

@media screen and (max-width: 480px){
    .q6-formats-and-codecs-box {
        padding: 0;
        border: 0;
    }      
    .q6-formats-and-codecs-box > div {
        margin-right: 0;
        flex: initial;
    }        
}