.q6-features-box{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 40px 60px;
    margin-top: 30px;
    margin-bottom: 70px;  
    display: flex;
    flex-wrap: wrap;    
}

.q6-features-formats{
    background: #f7f8fa;
    border-radius: 8px;
    padding: 30px 50px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
}

.q6-features-formats__list{
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

.q6-features-formats__list > div{
    margin-right: 30px;
    min-width: 200px;
}

.q6-features-formats__list > div:last-of-type{
    margin-right: 0;
}


.q6-features-how-it-works{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 50px 30px;
    margin-bottom: 70px;  
    display: flex;   
}

.q6-features-how-it-works__block{
    flex: 1;
    margin-right: 15px;
}

.q6-features-how-it-works__block:last-of-type{
    margin-right: 0;
}

.q6-features-how-it-works__block h5 {
    color: #383838;
    font-family: "proxima-nova";
    font-size: 19px;
    line-height: 19px;
    font-weight: 500;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;    
    margin-bottom: 30px;
}

.q6-features-how-it-works .q6-features-icon {
    width: 90px;
    height: 80px;
    background-size: 90px 75px;
    background-repeat: no-repeat;
}

.q6-features-icon--link {
    background-image: url(../img/features/link.svg);
}

.q6-features-icon--upload {
    background-image: url(../img/features/upload.svg);
}

.q6-features-icon--api {
    background-image: url(../img/features/api.svg);
}

.q6-features-icon--ui {
    background-image: url(../img/features/ui.svg);
}


.q6-features-how-it-works .q6-features-icon.q6-features-icon--device {
    width: 230px;
    height: 100px;
    background-size: 230px 100px;    
    background-image: url(../img/features/device.svg);
}

.q6-features-how-it-works .q6-features-icon.q6-features-icon--encoding {
    height: 100px;
    background-position-y: bottom;
    background-image: url(../img/features/encoding.svg);
}

.q6-features-how-it-works__details{
    display: flex;
    flex-direction: column;
    align-items: center;  

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
    
    height: 80%;
    justify-content: center;    
}

.q6-features-how-it-works__details--block1{
    background-image: url(../img/features/b1.svg);
}

.q6-features-how-it-works__details--block2{
    background-image: url(../img/features/b2.svg);

    flex-direction: row;
    justify-content: space-between;
    max-width: 72%;
    min-width: 316px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    box-sizing: border-box;    

    position: relative;
}

.q6-features-how-it-works__details--block2 > div.q6-green-arrow--right{
    width: 23%;
    height: 27px;
    position: absolute;
    top: calc(50% - 15px);
    right: -23%;
}
.q6-features-how-it-works__details--block2 > div.q6-green-arrow--left{
    width: 23%;
    height: 27px;
    position: absolute;
    top: calc(50% - 15px);
    left: -23%;
}
.q6-features-how-it-works__details--block2 > div.q6-green-arrow--middle{
    width: 23%;
    height: 27px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 10%);
}
.q6-green-arrow__head {
    width: 23px;
    min-width: 27px;
    height: 27px;
    background-image: url(../img/features/arrow.png);
    background-size: 23px 27px;
    background-repeat: no-repeat;
}
.q6-green-arrow{
    display: flex;
    align-items: center;    
    width: 100%;
}
.q6-green-arrow__line{
    height: 1px;
    flex: 1;
    background: #59e2ae;    
}

.q6-features-how-it-works__details--block2 > div{
    height: 100%;
    justify-content: center;    
}

.q6-features-how-it-works__details--block3{
    background-image: url(../img/features/b3.svg);
}

.q6-features-how-it-works__details > div{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.q6-features-how-it-works > .q6-features-how-it-works__block:nth-of-type(1){
    max-width: 200px;
}

.q6-features-how-it-works > .q6-features-how-it-works__block:nth-of-type(2){
    flex: 1;
}

.q6-features-how-it-works > .q6-features-how-it-works__block:nth-of-type(3){
    max-width: 290px;
}


.q6-features-big-data{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 40px 60px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;    
}

.q6-features-big-data > div:first-of-type{
    margin-right: 60px;
}

.q6-features-big-data > div:first-of-type img{
    width: 180px;
}

.q6-green-arrow--down{
    display: none;
}

.q6-features-how-it-works__details > div.q6-green-arrow--down{
    display: none;    
} 

@media screen and (max-width: 1180px){
    .q6-features-formats {
        flex-direction: column;
    }
    .q6-features-formats__list {
        margin-right: 0;
        margin-bottom: 20px;
    }    
    .q6-features-formats__list > div {
        flex: 1;
    }    
}


@media screen and (max-width: 1120px){
    .q6-features-how-it-works__details--block2 > div.q6-green-arrow--middle {
        width: 18%;
        left: calc(50% - 7%);
    }
    .q6-features-how-it-works__details--block2 > div.q6-green-arrow--left {
        width: 18%;
        left: -18%;
    }    
    .q6-features-how-it-works__details--block2 > div.q6-green-arrow--right {
        width: 18%;
        right: -18%;
    }    
}

@media screen and (max-width: 1080px){
    .q6-features-how-it-works__details--block2 > div.q6-green-arrow--left {
        left: -14%;
    }
    .q6-features-how-it-works__details--block2 > div.q6-green-arrow--right {
        right: -14%;
    }    
    .q6-features-how-it-works__details--block2 {
        min-width: 300px;
    }    
}


@media screen and (max-width: 1024px){
    .q6-features-big-data {
        padding: 25px 35px;
    }    
    .q6-features-big-data > div:first-of-type {
        margin-right: 40px;
    }    

    .q6-features-box {
        padding: 20px 30px;
    }  

    .q6-features-how-it-works {
        flex-direction: column;
        align-items: center;
    }    

    .q6-features-how-it-works__block {
        margin-right: 0;
        margin-bottom: 30px;
        width: 100%;
    }    

    .q6-features-how-it-works__block:last-of-type {
        margin-bottom: 0;
    }      

    .q6-features-how-it-works__details--block3 {
        padding: 30px 0;
    }    

    .q6-features-how-it-works__details--block2 {
        max-width: 390px;
    }    

    .q6-features-how-it-works__details--block2 > div.q6-green-arrow--middle {
        width: 90px;
        left: calc(50% - 40px);
    }    
    .q6-features-how-it-works__details--block2 > div.q6-green-arrow--left {
        display: none;
    }    
    .q6-features-how-it-works__details--block2 > div.q6-green-arrow--right {
        display: none;
    }    

    .q6-green-arrow--down{
        display: block;
    }
    .q6-green-arrow--down .q6-green-arrow{
        flex-direction: column;
        width: 27px;
        height: 90px;
        margin: 0 auto;
    }
    .q6-green-arrow--down  .q6-green-arrow__line {
        width: 1px;
    }    
    .q6-green-arrow--down .q6-green-arrow__head {
        transform: rotate(90deg);
    }    

    .q6-features-how-it-works__details--block2 .q6-green-arrow--down{
        display: none;
    }    
}

@media screen and (max-width: 780px){
    .q6-features-big-data {
        flex-direction: column;
        border: 0;
        padding: 0;
    }
    .q6-features-big-data > div:first-of-type {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .q6-features-formats__list {
        flex-wrap: wrap;
    }    
    .q6-features-formats__list > div:last-of-type {
        margin-right: 30px;
    }    
    .q6-features-formats {
        padding: 15px 30px;
    }    
}

@media screen and (max-width: 480px){
    .q6-features-box {
        padding: 0;
        border: 0;
        margin-top: 15px;
    }

    .q6-features-formats {
        padding: 0;
        background: none;
    }    
    .q6-features-formats__list {
        margin-bottom: 10px;
    }    

    .q6-features-how-it-works {
        padding: 35px 15px;
    }    

    .q6-features-how-it-works__details--block2 {
        flex-direction: column;
    }    

    .q6-features-how-it-works__details--block2 > div.q6-green-arrow--middle {
        display: none;
    }   
    
    .q6-features-how-it-works__details--block2 {
        min-width: 0;
    }  

    .q6-features-how-it-works__details--block2 .q6-green-arrow--down{
        display: block;
    }
}