.q6-drm-card{
    display: flex;
    align-items: center;
    margin: 70px 0;   
    margin-bottom: 0; 
}

.q6-drm-card > div:first-of-type{
    max-width: 760px;
    margin-right: 40px;
}

.q6-drm-card > div img{
    width: 100%;
}

.q6-secure-sla-table-container{
    max-width: 100%;
    overflow: auto;
    margin: 25px 0;
}

.q6-secure-sla-table{
    color: #353535;
    border-spacing: 0px 1px;
}

.q6-secure-sla-table td{
    padding: 23px 30px;
    background: white;
    font-weight: 500;
    white-space: nowrap;
}

.q6-secure-sla-table tr td:first-of-type{
    font-weight: normal;
}

@media screen and (max-width: 1024px){ 
    .q6-secure-sla-table td {
        padding: 16px 25px;
    }
}

@media screen and (max-width: 768px){ 
    .q6-drm-card{
        flex-direction: column-reverse;
        margin: 50px 0;
        margin-bottom: 0;
    }

    .q6-drm-card img{
        max-width: 100%;
    }    

    .q6-drm-card > div:first-of-type{
        margin-right: 0px;
    }    
}