.q6-test-video-player{
    margin-bottom: 80px;
}

.q6-test-video__block {
    background-color: #e5e5e5;
    background-image: url(../img/loader.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7%;
    margin: auto;
    width: 100%;
    height: 37vw;
    max-height: 524px;

    margin: 20px 0;
}

.q6-test-video__block .video-js {
    margin: auto;
    width: 100%;
    height: 37vw;
    max-height: 524px;
}

.q6-test-video__url .q6-input-and-buttons--inline {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.q6-test-video__url .q6-input-and-buttons--inline .q6-input:last-of-type {
    margin-right: 0;
}

.q6-test-video__url .q6-input__label.q6-input__label--row-title {
    margin: 10px 0;
}

.q6-test-video__url .q6-input__label {
    color: #171717;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "proxima-nova", sans-serif;
    margin: 4px 0;
    white-space: nowrap;
}

.q6-test-video__url input[type=text].q6-input__field {
    width: 100%;
    padding: 9px 14px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e1e5ee;
    line-height: initial;
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    color: #171717;
}

.q6-test-video__url .q6-input {
    flex: 1;
}

.q6-test-video__url .q6-input-and-buttons--inline .q6-input + .q6-button {
    margin-left: 20px;
}

.q6-test-video__url .q6-input__label.q6-input__label--row-title label {
    color: #363232;
    font-size: 16px;
    font-weight: 600;
}

.q6-test-video__url .q6-input__label label {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 14px;
}

.q6-test-video__url .q6-input-and-buttons--inline .q6-input {
    margin: 0;
    margin-right: 20px;
    margin-top: 10px;
}

.q6-test-video__url .q6-button {
    outline: none;
    display: inline-block;
    padding: 0 22px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    border-radius: 5px;
    min-width: 150px;
    line-height: 40px;
    font-size: 16px;
}

@media screen and (max-width: 1024px){
    .q6-test-video__url .q6-input-and-buttons--inline .q6-input + .q6-button {
        margin-left: 0;
    }
}
