.q6-drm-box{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 25px 35px;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;    
}

.q6-drm-box > div{
    flex: 1;
    margin-right: 5%;
}

.q6-drm-box > div:last-of-type{
    margin-right: 0;
}

.q6-drm-box__block{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 5px 0;    
}

.q6-drm-number{
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: #f0f5ff;
    border-radius: 50%;
    margin-right: 20px;
    color: #316fea;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.q6-drm-icon{
    height: 65px;
    width: 58px;
    min-width: 58px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 25px;
}

.q6-drm-icon--files{
    background-image: url(../img/drm/icons/files.png);
}

.q6-drm-icon--encoding{
    background-image: url(../img/drm/icons/encoding.png);
}

.q6-drm-icon--encryption{
    background-image: url(../img/drm/icons/encryption.png);
}

.q6-drm-icon--storge{
    background-image: url(../img/drm/icons/storage.png);
}

.q6-drm-icon--playback{
    background-image: url(../img/drm/icons/playback.png);
}

.q6-drm-icon--auth{
    background-image: url(../img/drm/icons/auth.png);
}

.q6-drm-icon--playback-init{
    background-image: url(../img/drm/icons/playbackinit.png);
}

.q6-drm-text__title{
    color: #383838;
    font-weight: 600;
    font-size: 20px;    
}

.q6-drm-text p{
    margin: 3px 0;
    line-height: 21px;
    font-size: 16px;    
}

.q6-drm-box__block .q6-button {
    line-height: 70px;
    padding: 0 25px;
    min-width: 265px;
}

.q6-drm-box__block--why-use  {
    align-items: center;
}

.q6-drm-box__block--why-use .q6-drm-text p{
    font-size: 18px; 
    line-height: 25px; 
}

.q6-drm-box__block--why-use .q6-drm-icon{
    width: 64px;
    min-width: 64px;
    background-position: left center;
    margin-right: 19px;
}

.q6-drm-icon--protection{
    background-image: url(../img/drm/icons/protection.png);
}

.q6-drm-icon--integration{
    background-image: url(../img/drm/icons/integration.png);
}

.q6-drm-icon--private{
    background-image: url(../img/drm/icons/private.png);
}

.q6-drm-providers{
    margin: 70px 0;
    display: flex;
    align-items: center;
}

.q6-drm-providers__logos{
    display: flex;
    align-items: center;
}

.q6-drm-providers__logos img{
    margin-right: 35px;
}

.q6-drm-providers__logos img:last-of-type{
    margin-right: 0;
}

.q6-drm-providers__logos{
    margin: 0 9%;
}

.q6-drm-header-box{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;    
    overflow: hidden;
}

.q6-drm-header-box__title{
    padding: 40px 65px;
    padding-right: 35px;
    max-width: 380px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    background: #edf3ff;
    position: relative;
    font-size: 34px;
    line-height: 38px;
    font-weight: bold;
    color: #3270eb;
}

.q6-drm-header-box__title span{
    z-index: 1;
}

.q6-drm-header-box__title:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #edf3ff;
    z-index: 0;
    border-radius: 8px;
    transform: translate(70px, 0px) skew(-13deg, 0deg);
}


.q6-drm-header-box__text{
    padding: 40px;
    padding-left: 140px;
}

.q6-promo-block--no-bottom-margin{
    margin-bottom: 0;
}

@media screen and (max-width: 1024px){
    .q6-drm-box {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 920px){
    .q6-drm-header-box__title {
        padding: 25px 30px;
        padding-right: 0px;
    }

    .q6-drm-header-box__text {
        padding: 25px;
        padding-left: 130px;
    }    
}

@media screen and (max-width: 768px){
    .q6-drm-box {
        flex-direction: column;
    }

    .q6-drm-box > div {
        margin-right: 0;
    }

    .q6-drm-providers {
        flex-direction: column;
    }    
  
    .q6-drm-header-box {
        flex-direction: column;
    }

    .q6-drm-header-box__title:before {
        display: none;
    }    

    .q6-drm-header-box__title {
        max-width: none;
        border-radius: 8px;
        padding: 25px 30px;
    }    

    .q6-drm-header-box__text {
        padding: 25px 30px;
    }

}

@media screen and (max-width: 480px){
    .q6-drm-box {
        padding: 0;
        border: 0;
        margin-top: 15px;
    }

    .q6-drm-text__title {
        font-size: 18px;
    }    

    .q6-drm-icon {
        margin-right: 15px;
    }    

    .q6-drm-number {
        margin-right: 10px;
    }    

    .q6-drm-providers__logos {
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;        
    }    

    .q6-drm-providers__logos img {
        margin: 10px 15px;
    }        

    .q6-drm-header-box {
        border: none;
    }    

    .q6-drm-header-box__title {
        font-size: 30px;
        line-height: 30px;
        background: none;
        padding: 0;
    }    

    .q6-drm-header-box__text {
        padding: 0;
    }    
}