.q6-storage-pricing-and-calc{
    display: flex;
}

.q6-storage-pricing-and-calc > div{
    margin-right: 80px;
    flex: 1;
}

.q6-storage-pricing-and-calc > div:last-of-type{
    margin-right: 0;
}

.q6-storage-pricing-and-calc strong{
    font-weight: 600;
}

.q6-storage__pricing{
    max-width: 480px;
}

.q6-storage__pricing > div{
    height: 120px;
    background: #f5f9ff;  
    border-radius: 8px;
    display: flex;
    align-items: center;  
    
    padding: 7px 0;
    box-sizing: border-box;    
}

.q6-storage__pricing > div > div{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    justify-content: space-around;
    text-align: center;
}

.q6-storage__pricing > div > div:first-of-type{
    border-right: 1px solid #d2e2ff;
    color: #316fea;
    font-size: 25px;
    font-weight: 500;
}

.q6-storage__details-icon-1,
.q6-storage__details-icon-2{
    height: 46px;
    min-width: 46px;
    background-repeat: no-repeat;
    background-position: center;
}

.q6-storage__details-icon-1{
    background-size: 43px 43px;
    background-image: url(../img/storage/storage.png);    
}

.q6-storage__details-icon-2{
    background-size: 46px 46px;
    background-image: url(../img/storage/transfer.png);    
}

.q6-storage-details > div:nth-of-type(2){
    font-weight: 600;
    color: #316fea;
    margin-top: 6px;
}

.q6-storage-details > div:nth-of-type(3){
    color: #868686;
    font-size: 15px;
    line-height: 15px;
}

.q6-storage__calc > div{
    border-radius: 8px;
    border: 1px solid #e1e5ee;
    padding: 28px 38px;    
}