@font-face {
    font-family: GraphikRegular;
    src: url(../fonts/Graphik/Graphik-Regular.otf);
 }
 
 @font-face {
    font-family: GraphikMedium;
    src: url(../fonts/Graphik/Graphik-Medium.otf);
 }
 
 @font-face {
    font-family: GraphikSemibold;
    src: url(../fonts/Graphik/Graphik-Semibold.otf);
 }
 
 @font-face {
    font-family: GraphikLight;
    src: url(../fonts/Graphik/Graphik-Light.otf);
 }
 

/*******NOV-7-2018******************/
.q6-container{
    /*width: 1040px;*/
    max-width: 1080px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;  
}

.q6-two-columns{
    display: flex;
}

.q6-two-columns > div:nth-of-type(2) {
    margin-left: 25px;
}

.q6-button{
    font-family: GraphikMedium;
    background: transparent;
    outline: none;
    display: inline-block;
    padding: 12px 14px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid;
    border-radius: 5px;
    transition: all 0.2s ease;

    min-width: 88px;

    color: white;
}

a.q6-button{
    text-decoration: none;
}

.q6-input__label {
    color: #171717;
    font-size: 14px;
    margin: 4px 0;
    font-family: GraphikMedium;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type=text].q6-input__field, input[type=tel].q6-input__field, input[type=password].q6-input__field {
    width: 100%;
    padding: 14px 14px;
    padding-bottom: 13px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 16px;
    line-height: initial;
    font-family: GraphikRegular;
    color: #575757;
}

.q6-select {
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    margin: 0!important;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    padding: 14px 14px;
    padding-bottom: 13px;
    padding-right: 20px;
    font-size: 16px;
    line-height: initial;
    font-family: GraphikRegular;
    color: #575757;
}

.q6-custom-select {
    position: relative;
}

.q6-custom-select:after {
    content: "\f0d7";
    color: #bdbdbd;
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    top: 14px;
    padding-right: 10px;
    font-size: 14px;
    pointer-events: none;
}

.q6-multiple-checkboxes {
    height: 244px;
    width: 100%;
    padding: 14px 14px;
    padding-right: 5px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 13px;
    overflow-y: auto;
}

/* Checkbox */
.q6-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight: 100;    
}

.q6-checkbox input {
    position: absolute;
    cursor: pointer;
    display: none;
}

.q6-checkbox > div:first-of-type{
    font-family: GraphikMedium;
}

.q6-checkbox p{
    margin: 0;
    font-size: 13px;
}

.q6-input__label > a{
    font-family: GraphikRegular;
    font-size: 13px;
    color: #1fa550;    
}

.q6-transcoding-input-info{
    height: 100%;    
}

.q6-advanced-output-settings{

}

.q6-settings-and-buttons{
    display: flex; 
    flex-direction: column; 
}

.q6-settings-buttons{
    width: 100%;
    margin-bottom: 11px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.q6-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    transition: all 0.1s ease;
}

.q6-checkbox:hover input ~ .q6-checkmark {
    background-color: #ededed;
}

.q6-checkbox input:checked ~ .q6-checkmark {
    background-color: #1fa550;
}

.q6-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.q6-checkbox input:checked ~ .q6-checkmark:after {
    display: block;
}

.q6-checkbox .q6-checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;    
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox */


/********************* CALCULATOR *********************/
.q6-module-title{
    font-family: GraphikMedium;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.q6-module-title--calc_icon{
    position: relative;
    padding-left: 40px;
}

.q6-module-title--calc_icon:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 31px;
    left: 0;
    top: -3px;
    background-image: url(../img/calculator_icon.png);
    background-size: 27px 31px;
    background-repeat: no-repeat;
}

.q6-calc-summary{
    background: #f7f8fa;
    margin: 15px 0;
    padding: 28px;
    border-radius: 8px;
    display: flex;  
    align-items: flex-start;  
}


.q6-calc-summary__inputs{
    display: flex;
    align-items: flex-end;  
}

.q6-calc-summary__message{
    margin-top: 18px;
    color: #929292;
    font-size: 13px;    
}

.q6-calc-summary__message strong{
    font-family: GraphikMedium;
    font-weight: normal;    
}

.q6-calc-summary .q6-input {
    margin: 0;
}

.q6-calc-summary input[type=text].q6-input__field{
    color: #3270e9;
    font-family: GraphikMedium;
    font-size: 23px;
    padding-left: 23px;
    border-radius: 6px;
    border-color: #e1e5ee;
}

.q6-calc-summary .q6-input__label{
    font-family: GraphikRegular, sans-serif;   
    margin: 0;
    margin-bottom: 8px;    
}

.q6-calc-inputs-delimeter{
    width: 25px;
    min-width: 25px;
    height: 25px;
    background-image: url(../img/exchange_icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    margin: 13px 9px;   
}

.q6-calc-summary__inputs .q6-input {
    max-width: 247px;
}

/*.q6-calc-summary__inputs .q6-input:nth-of-type(1){
    max-width: 247px;
}*/

.q6-calc-summary__details{
    margin-left: 30px;  
    display: flex;
    align-items: flex-end;    
    flex: 1; 
    justify-content: space-between;    
}

.q6-calc-summary .q6-calc-summary__details .q6-input__label {
    padding-left: 0px;
}

.q6-calc-summary-formats{
    display: flex;
    line-height: 28px;
    font-size: 16px;  
}

.q6-calc-summary-formats > div:nth-of-type(2){
    color: #171717;
    font-family: GraphikMedium;
    padding-left: 12px;    
}

.q6-calc-details-buttons{
    margin-bottom: 5px;
    margin-left: 15px;
    max-width: 220px;    
}

.q6-calc-details-buttons .q6-button{
    width: 100%;
    margin-top: 7px;

    font-size: 15px;
    padding: 10px 14px;
    padding-bottom: 9px;    
}

.q6-calc-formats{
    display: flex;
    margin: 15px 0;
}

.q6-extra-formats{
    background: #f7f8fa;
    margin-right: 15px;
    flex: 1;
    padding: 20px 0;
    border-radius: 8px;    
}

.q6-extra-formats:last-of-type{
    margin-right: 0;
}

.q6-extra-formats .q6-select{
    color: #171717;
    font-family: GraphikMedium;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 26px;
    border-radius: 25px;
    border-radius: 6px;
    border-color: #e1e5ee;
}

.q6-extra-formats .q6-custom-select:after {
    color: #17172b;
    top: 16px;
    padding-right: 17px;
}

.q6-extra-formats .q6-custom-select{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.q6-extra-formats > .q6-custom-select option:first-of-type{
    display: none;
}

.q6-extra-formats .q6-multiple-checkboxes{
    height: initial;
    border: 0;
    padding: 0;
    padding-right: 20px;
}

.q6-extra-formats .q6-checkbox > div:first-of-type {
    position: absolute;
    top: 6px;
    left: 33%;
    font-size: 13px;
}

.q6-extra-formats .q6-checkmark {
    height: 30px;
    width: 100%;
    display: block;
    position: relative;
}

.q6-extra-formats .q6-checkbox {
    padding-left: 0;
    margin-bottom: 5px;
}

.q6-extra-formats .q6-checkbox .q6-checkmark:after {
    border: solid #3270e9;
    border-width: 0 2px 2px 0;
    left: 23%;
    top: 9px;
}

.q6-extra-formats .q6-checkmark {
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}

.q6-extra-formats .q6-checkbox input:checked ~ .q6-checkmark {
    background-color: #e9effb;
}

.q6-extra-formats .q6-checkbox input:checked ~ .q6-checkmark:hover {
    background-color: #d8e7ff;
}

.q6-extra-formats .q6-checkbox input:checked ~ div {
    color: #3270e9;
}

.q6-calc-formats__note{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    color: #575757;
    text-align: center;
    font-size: 15px;    
    line-height: 20px;
}

.q6-button.q6-gray-background.q6-gray-border.q6-gray-text:hover{
    background: #e0e0e0;
    border-color: #e0e0e0;
}

.q6-button.q6-light-blue-background.q6-light-blue-border.q6-blue-text:hover{
    background-color: #d8e7ff;
    border-color: #d8e7ff;
}
/********************* CALCULATOR *********************/

/********************* TRY DEMO ***********************/
.q6-module-title--play_video_icon{
    position: relative;
    padding-left: 48px;
}

.q6-module-title--play_video_icon:before {
    content: "";
    position: absolute;
    width: 32px;
    height: 28px;
    left: 0;
    top: -1px;
    background-image: url(../img/play_video_icon.png);
    background-size: 32px 28px;
    background-repeat: no-repeat;
}

.q6-drag-and-drop-container {
    padding: 21px;
    border-radius: 13px;
    background: #f7f8fa;
}

.q6-radio-block {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.q6-radio-block:last-of-type{
    margin-bottom: 0;
}

.q6-radio-button {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.q6-radio-button input {
    display: none;
}

.q6-radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-image: url(../img/radio_btn.png);
    background-size: 24px 50px;
    background-repeat: no-repeat;
    background-position: 0 -25px;
}

.q6-radio-button input:checked ~ .q6-radio-checkmark {
    background-position: 0 0;
}

.q6-radio-block input[type=text].q6-input__field{
    border: none;
    font-family: GraphikMedium;
}

.q6-radio-block input[type=text].q6-input__field.q6-input--disabled{
    background: #e7ebee;
}

.q6-upload-file-link label {
    cursor: pointer;
    margin: 0;
    font-family: GraphikMedium;
    font-size: 15px;
}

.q6-drag-and-drop {
    width: 390px;
    height: 264px;
    border: 1px dashed #d9e0ea;
    border-radius: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    background: white;
}

.q6-drag-and-drop.q6-drag-and-drop--disabled{
    background: #e7ebee;
}

.q6-drag-and-drop__message-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 65px;
}

.q6-drag-and-drop__filename{
    font-family: GraphikMedium;
    font-size: 16px;    
    margin-top: 15px;
    margin-bottom: 50px;   
    word-wrap: break-word;     
}

.q6-drag-and-drop__file-container > div{
    max-width: 355px;
    min-width: 180px;    
}

.q6-drag-and-drop__icon {
    width: 63px;
    height: 55px;
    margin: 0 auto;
    background-image: url(../img/drag_and_drop_icon.png);
    background-size: 63px 55px;
    background-repeat: no-repeat;
}

.q6-videofile__icon {
    width: 41px;
    height: 52px;
    margin: 0 auto;
    background-image: url(../img/videofile_icon.png);
    background-size: 41px 52px;
    background-repeat: no-repeat;
}

.q6-drag-and-drop__title {
    font-family: GraphikMedium;
    margin: 6px 0;
    font-size: 16px;
}

.q6-upload-file-link input {
    display: none;
}

.q6-drag-and-drop__intructions {
    font-size: 15px;
}

.q6-output-container{
    flex: 1;
    padding: 20px;
    border: 1px solid #d9e0ea;
    border-radius: 13px;
}

.q6-output__description{
    display: flex;
    align-items: center;
    justify-content: center;    
    /*height: 100%;*/
    min-height: 416px;
}

.q6-output__description > div{
    max-width: 265px;
    text-align: center;
}

.q6-output__description p{
    padding: 0 15px;
    font-size: 15px;
    line-height: 20px;
    margin: 20px 0; 
}

.q6-output__description p:last-of-type{
    margin-bottom: 0;
}

.q6-input-output-container, .q6-input-container{
    display: flex;
}

.q6-input-output-container > div:nth-of-type(2),
.q6-input-container > div:nth-of-type(2) {
    margin-left: 15px;
}

.q6-input-output-container > div:nth-of-type(2){
    display: flex;
    flex-direction: column; 
    flex: 1;
}   

.q6-transcoding-caption{
    color: #b2b6c2;
    font-size: 14px;
    font-family: GraphikMedium;
    margin-bottom: 7px;    
}

.q6-extra-formats > .q6-transcoding-caption{
    margin-left: 20px;
}

.q6-output__description strong{
    font-family: GraphikMedium;
    font-weight: normal;
}

.q6-input-output-container .q6-button {
    width: 100%;
    font-size: 15px;
    padding: 10px 14px;
    padding-bottom: 9px;
    margin-top: 10px;
}

.q6-upload-file-link{
    display: inline-block;    
}

.q6-input-output-container .q6-input__label {
    font-family: GraphikRegular, sans-serif;
    margin: 0;
    margin-bottom: 8px;
}

.q6-radio-block .q6-input {
    flex: 1;
}

.q6-input {
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
}


.q6-video-upload{
    display: none;
    margin-top: 15px;
}

.q6-video-upload__message {
    display: flex;
    color: #171717;
    font-family: GraphikMedium;
    font-size: 14px;
    margin-bottom: 3px;
    justify-content: space-between;
}

.q6-video-upload__message > div{
    display: flex;
}

.q6-video-upload__progress-bar {
    height: 8px;
    width: 100%;
    background: #e5eaf0;
    border-radius: 2px;
}

.q6-progress-complete {
    background: #6d95ea;
    height: 100%;
    width: 0%;
    border-radius: 2px;
}

.q6-clickable{
    cursor: pointer;
}

.q6-output__description.q6-output__description--complete{
    height: initial;  
    min-height: initial;  
}

.q6-output__description.q6-output__description--complete > div {
    max-width: 100%;
    width: 100%;
}

.q6-output__description.q6-output__description--complete p {
    font-size: 12px;
    padding: 0 10px;
    margin-top: 10px;
}

.q6-videofile-preview__icon{
    width: 160px;
    height: 96px;
    margin: 0 auto;
    background-image: url(../img/videofile_preview_icon.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 8px;   
}

.q6-output-table{
    margin-top: 15px;    
}

.q6-output-table > table{
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;   
    color: #575757; 
}

.q6-output-table > table th{
    text-align: left;
    font-family: GraphikMedium;
    font-weight: normal;
    color: #b2b6c2;
    border-bottom: 1px solid #d9e0ea;
    padding: 3px 0;
}

.q6-output-table > table td{
    padding: 10px 0;
    vertical-align: top;
    text-align: right;
}

.q6-output-table > table tr td:first-of-type > div{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.q6-video-encode__message > div {
    display: flex;
}

.q6-video-encode__progress-bar {
    height: 4px;
    width: 100%;
    background: #e5eaf0;
    border-radius: 2px;
}

.q6-video-encode__message{
    margin-bottom: 5px;
}

.q6-encode-table-buttons{
    display: flex;
}

.q6-encode-table-buttons > .q6-button{
    margin-right: 8px;
    font-size: 13px;
    padding: 4px 4px;
    margin-top: 0;    
}

.q6-encode-table-buttons > .q6-button:last-of-type{
    margin-right: 0;
}

.q6-button--play{
    max-width: 68px;
    min-width: 68px;
    text-align: left;
}

.q6-button--download{
    text-align: left;
}


.q6-button--play > span,
.q6-button--download > span{
    position: relative;
}

.q6-button--play > span:before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: -22px;
    top: -2px;
    background-image: url(../img/button_icons.png);
    background-position: -2px -3px;
    background-size: 100px 24px;
    background-repeat: no-repeat;
}

.q6-button--download > span:before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: -22px;
    top: -2px;
    background-image: url(../img/button_icons.png);
    background-position: -23px -3px;
    background-size: 100px 24px;
    background-repeat: no-repeat;
}

.q6-encode-table-buttons > .q6-button.q6-button--play{
    padding-left: 29px;
}

.q6-encode-table-buttons > .q6-button.q6-button--download{
    padding-left: 29px;
}

.q6-video-encode__error{
    text-align: left;
}
/********************* TRY DEMO ***********************/

/********************* MAIN ***************************/

/********************* MAIN ***************************/

/*MODIFICATORS*/
/*background colors*/
.q6-blue-background{
    background: #3270eb;
}

.q6-light-blue-background{
    background: #e9effd;
}

.q6-green-background{
    background: #1fa550;
}

.q6-red-background{
    background: #e04a4b;
}

.q6-gray-background{
    background: #f3f3f3;
}

.q6-lighter-gray-background{
    background: #f6f6f6;
}


.q6-light-gray-background{
    background: #f8f8f8;
}

.q6-white-background{
    background: white;
}

.q6-transparent-background{
    background: transparent;
}
/*background colors*/

/*border colors*/
.q6-green-border{
    border-color: #1fa550;
}

.q6-red-border{
    border-color: #e04a4b;
}

.q6-blue-border{
    border-color: #3270eb;
}

.q6-light-blue-border{
    border-color: #e9effd;
}

.q6-white-border{
    border-color: white;
}

.q6-gray-border{
    border-color: #f3f3f3;;    
}
/*border colors*/


/*text colors*/
.q6-red-text{
    color: #e35554;
}

.q6-white-text{
    color: white;
}

.q6-black-text{
    color: #171717;
}

.q6-green-text{
    color: #1fa550;
}

.q6-gray-text{
    color: #6d6f6e;
}


.q6-light-gray-text{
    color: #808298;
}

.q6-blue-text{
    color: #3270e9;    
}
/*text colors*/

.q6-margin-left_10px{
    margin-left: 10px;
}

.q6-margin-left_15px{
    margin-left: 15px;
}

.q6-margin-top_25px{
    margin-top: 25px;
}

.q6-margin-bottom_50px{
    margin-bottom: 50px;
}

.q6-hidden {
    display: none;
}

.q6-max-wide{
    width: 100%;
}

.q6-top-margin{
    margin-top: 25px;    
}

.q6-align-start{
    justify-content: flex-start;    
}

.q6-no-padding{
    padding: 0;
}

.q6-no-right-padding{
    padding-right: 0;
}

.q6-btn-small{
    font-size: 13px;
    padding: 6px 14px;    
}
/*MODIFICATORS*/
