.q6-contact-block.q6-contact-block--streaming{
    margin: 0;
    background-color: transparent;
    padding-top: 50px;
}

.q6-promo-block.q6-promo-block--streaming .q6-button{
    line-height: 36px;
    height: 36px;
    font-size: 16px;
    min-width: 180px;
}

.q6-promo-block.q6-promo-block--streaming p {
    color: #565656;
    font-size: 16px;
    margin-top: 0px;
}

.q6-promo-block.q6-promo-block--streaming {
    background: #F5F7FF;
    padding: 32px 0px;
}

.q6-contact-block.q6-contact-block--streaming h2 {
    text-align: left;
    color: #383838;
    font-size: 36px;
    font-weight: 700;
}


.q6-card.q6-card--streaming h2 {
    color: #171717;
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
}

.q6-card.q6-card--streaming.q6-card--streaming-how h2 {
    text-align: center;
}

.q6-card.q6-card--streaming img.q6-how-it-works-image{
    width: 100%;
    height: auto;
    margin: 80px auto;
    display: block;
    max-width: 1092px;
}



.q6-card.q6-card--streaming p {
    font-size: 16px;
    line-height: 26px;
    color: #383838;
    font-weight: 400;
}

.q6-card.q6-card--streaming img {
    width: 100%;
    max-width: 590px;
    height: auto;
}

.q6-card.q6-card--streaming > div:first-of-type {
    margin-right: 5%;
}

.q6-card.q6-card--streaming img.q6-streaming-logo{
    max-width: 98px;
    margin: 10px 15px;
}

.q6-card.q6-card--streaming img.q6-streaming-logo.q6-streaming-logo--youtube{
    max-width: 93px;
}

.q6-card.q6-card--streaming img.q6-streaming-logo.q6-streaming-logo--twitch{
    max-width: 78px;
}

.q6-card.q6-card--streaming img.q6-streaming-logo.q6-streaming-logo--facebook{
    max-width: 98px;
}

.q6-card.q6-card--streaming img.q6-streaming-logo.q6-streaming-logo--rtmp{
    max-width: 56px;
}

.q6-streaming-logos-container{
    margin: 10px -15px;
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
}

.q6-card.q6-card--streaming.q6-card--one-column > div:first-of-type {
    margin-right: 0;
    width: 100%;
    box-sizing: border-box;
}

.q6-streaming-calc{
    display: flex;
}

.q6-streaming-calc > div:last-of-type{
    flex: 1;
}

.q6-streaming-calc > div + div{
    margin-left: 34px;
}

.q6-streaming-calc h3 {
    color: #363940;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin: 15px 0;
}

.q6-streaming-calc__box{
    border: 1px solid #DADADA;
    border-radius: 12px;   
}

.q6-streaming-calc__box .q6-tutorial-dd-selector__list > table td {
    text-align: right;
}

.q6-streaming-calc__box .q6-tutorial-dd-selector__list {
    top: -17px;
    right: -15px;
}

.q6-streaming-calc__box .q6-tutorial-dd-selector__list > table tr:first-of-type td:last-of-type:after {
    content: none;
}

.q6-streaming-calc__row .q6-input{
    max-width: 150px;
    min-width: 150px;
    margin: 0;
}

.q6-streaming-calc__row input[type=text].q6-input__field{
    height: 36px;
    padding: 0px 11px;
    font-size: 20px;
    min-width: 150px;
}

.q6-streaming-calc__row{
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin: 22px 0;
}

.q6-streaming-calc__row > div:first-of-type{
    width: 320px;
    margin-right: 15px;
}

.q6-streaming-calc__slider-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #192B4D;

    display: flex;
    align-items: center;
}

.q6-streaming-calc__cost{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #316FEA;
    margin-top: 10px;
    margin-left: 11px;   
    height: 24px;
}

.q6-streaming-calc__slider-title .q6-tutorial-dd-selector {
    padding: 0;
    background-color: transparent;
    margin-left: 5px;
}

.q6-streaming-calc__slider-footer{
    display: flex;
    justify-content: space-between;    

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #C2C5CB;    
}

.q6-streaming-calc__slider-body .q6-progress-slider-container {
    margin-bottom: 0;
}

.q6-streaming-calc__slider-body .q6-progress-slider {
    height: 2px;
}

.q6-streaming-calc__slider-body .q6-progress-slider-progress {
    height: 3px;
    top: 12px;
}

.q6-streaming-calc__row input[type=text]:disabled.q6-input__field {
    background-color: transparent;
}


.q6-streaming-calc__slider-body .q6-progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/round_slider.svg);
  }
  
.q6-streaming-calc__slider-body .q6-progress-slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/round_slider.svg);
}

.q6-rangeslider__fill {
    background: #316FEA;
    height: 2px;
}

.q6-rangeslider--horizontal{
    height: 2px;
    margin: 15px 0;
}

.q6-rangeslider{
    background-color: #E6E9EF;
    position: relative;
}

.q6-rangeslider__handle{
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute; 
    top: -9px;

    background-image: url(../img/round_slider.svg);
    background-repeat: no-repeat;  
    
    background-size: 18px;
    background-position: center;    
}

.q6-streaming-calc__extra-row{
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin: 20px 0;
}

.q6-streaming-calc__extra-row > .q6-input + .q6-input{
    margin-left: 15px;
}

.q6-streaming-calc__extra-row > .q6-input{
    margin: 0;
    display: flex;
    align-items: center;
}

.q6-streaming-calc__extra-row > .q6-input .q6-input__label{
    margin-right: 6px;  
}

.q6-streaming-calc__extra-row > .q6-input .q6-input__label label{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #192B4D;  
}

.q6-streaming-calc__extra-row > .q6-input .q6-select{
    padding-top: 0;
    padding-bottom: 0;
    line-height: 36px;
    height: 36px;
    color: #363232;
    font-weight: 600;
    font-size: 16px;
}

.q6-streaming-calc__footer .q6-demo-links-buttons > a{
    min-width: 0;
    padding-left: 15px;
    padding-right: 25px;
}

.q6-streaming-calc__footer .q6-demo-links-buttons > a:after{
    right: 15px;
    top: calc(50% - 4px);
    height: 7px;
    width: 7px;
}

.q6-streaming-calc__footer .q6-demo-links-buttons > a:hover:after {
    right: 13px;
}

.q6-streaming-calc__footer{
    padding: 12px 30px; 
    display: flex;
    align-items: center;
    background: #EDF3FF; 
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.q6-streaming-calc__footer .q6-streaming-contact__title{
    font-size: 18px;
    line-height: 24px;
}

.q6-streaming-calc__footer .q6-streaming-contact {
    background: transparent;
    padding: 0px;
    flex: 1;
}

.q6-streaming-calc__footer .q6-streaming-contact__buttons {
    margin-top: 8px;
    margin-bottom: 5px;
}

.q6-streaming-calc__cost span{
    font-size: 16px;
    line-height: 24px;
    height: 24px;
}

.q6-streaming-calc__footer-cost-block{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}

.q6-streaming-calc__footer-title{
    color: #171717;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;   
    margin-right: 15px;
}

.q6-streaming-calc__footer-cost{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #316FEA;    
}

.q6-streaming-costs-tables{
    display: flex;
}

.q6-streaming-costs-tables > div + div{
    margin-left: 12px;
}

.q6-streaming-costs-tables .q6-streaming-costs-table__container{
    border-radius: 12px;
    overflow:hidden;
    border: 1px solid #DADADA;
}

.q6-streaming-costs-tables .q6-streaming-costs-table__container + .q6-streaming-costs-table__container{
    margin-top: 19px;
}

.q6-streaming-costs-tables > div:last-of-type{
    flex: 1;
    height: fit-content;
    /* max-width: 450px; */
}

.q6-streaming-costs-tables > div{
    min-width: 280px;
}

.q6-streaming-costs-tables table {
    border-collapse: collapse;
    width: 100%;
}

/* .q6-streaming-costs-tables > div:first-of-type table{
    max-width: 260px;
} */

.q6-streaming-costs-tables table th{
    text-align: left;
    height: 43px;

    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    
    color: #353535;

    padding: 0px 10px;
}

.q6-streaming-costs-tables table th span{
    font-size: 14px;
}

.q6-streaming-costs-tables table th:last-of-type,
.q6-streaming-costs-tables table td:last-of-type{
    /* padding-left: 0; */

    min-width: 65px;
    width: 65px;    
}

.q6-streaming-costs__extra-blocks{
    margin-top: 30px;
}

.q6-streaming-costs-tables table td{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #353535;
    padding: 8px 10px;
    border: 1px solid #DADADA;
    border-left: none;
    border-right: none;
    vertical-align: top;
}

.q6-streaming-costs-tables table th:first-of-type,
.q6-streaming-costs-tables table td:first-of-type{
    padding-left: 30px;
}

.q6-streaming-costs-tables table tr:first-of-type td{
    border: none;
}

.q6-streaming-costs-tables table th{
    border-bottom: 1px solid #DADADA;
}

.q6-streaming-costs-table__container table.q6-streaming-costs-table-auto  td:last-of-type{
    min-width: initial;
    width: initial;
}

.q6-streaming-costs-table__extra-data{
    font-weight: normal;
    font-size: 14px;
    color: #353535;    
    white-space: nowrap;
}

.q6-streaming-costs-table__extra-data.q6-streaming-costs-table__extra-data--not-fixed{
    position: absolute;
}

.q6-streaming-costs-table-cell__with-extra-data{
    height: 48px;
}

.q6-streaming-costs-tables table tr:last-of-type td{
    border-bottom: none;
}

.q6-streaming-contact{
    background: #F5F7FF;
    border-radius: 12px;
    padding: 40px;    
}

.q6-streaming-contact__title{
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;    
    text-align: center;
    
    color: #383838;    
}

.q6-card.q6-card--streaming .q6-streaming-contact p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
    text-align: center;
    margin: 15px auto;
}

.q6-streaming-contact__buttons{
    display: flex;
    justify-content: center;
    
    margin-top: 20px;

}

.q6-calc-block__output-total .q6-streaming-contact__buttons{
    flex-direction: column;
    align-items: center;
}

.q6-calc-block__output-total .q6-streaming-contact__buttons > .q6-button + .q6-button{
    margin-left: 0px;
    margin-top: 9px;
}

.q6-calc-block__output-total .q6-streaming-contact__buttons > .q6-button .q6-black-text{
    color: #383838;
}

.q6-calc-block__output-total .q6-streaming-contact__buttons > .q6-button{
    max-width: 180px;
}

.q6-streaming-contact__buttons > .q6-button + .q6-button{
    margin-left: 10px;
}

.q6-streaming-contact__buttons .q6-button {
    line-height: 36px;
    height: 36px;
    font-size: 16px;
    min-width: 180px;
    padding: 0 25px;
}

.q6-streaming-costs__switch{
    background-color: #F5F9FF;
    padding: 0px 20px;
    height: 57px;

    display: flex;
    align-items: center;   
    padding-right: 50px; 
}

.q6-streaming-costs__switch .q6-switch {
    display: flex;
    align-items: center;
}

.q6-streaming-costs__switch .q6-switch__text {
    font-size: 14px;
    right: -27px;
}

.q6-streaming-costs__switch .q6-switch {
    width: 38px;
    min-width: 38px;
    height: 16px;
}

.q6-streaming-costs__switch .q6-switch__slider:before {
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: -3px;
}

.q6-streaming-costs__switch input:checked + .q6-switch__slider {
    background-color: white;
}

.q6-streaming-costs__switch .q6-switch__slider{
    border: 1px solid #DBDBDC;
}

.q6-streaming-costs__switch .q6-input__label{
    font-weight: normal;
    font-size: 16px;
    color: #353535;   
    margin: 0; 
    flex: 1;
}

.q6-streaming-costs__switch .q6-input{
    margin: 0;
    width: 100%;
}

.q6-streaming-costs-tables.q6-streaming-costs-tables--short{
    max-width: 400px;
}

.q6-streaming-costs__extra-blocks .q6-streaming-contact p{
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #565656;
}

.q6-streaming-costs__extra-blocks .q6-streaming-contact {
    padding: 32px 40px;
    padding-bottom: 26px;
}

.q6-streaming-contact.q6-streaming-contact--pricing p{
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #565656;
}

.q6-player-and-analytics__container{
    border: 1px solid #DADADA;
    border-radius: 12px;
    overflow: hidden;
    padding: 20px 30px;
    padding-right: 25px;
}

.q6-player-and-analytics-title{
    font-weight: 500;
    font-size: 14px;
    color: #8C909E;
}

.q6-player-and-analytics__buttons .q6-demo-links-buttons > a{
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 0 16px;
    padding-right: 30px;
    min-width: initial;
    white-space: nowrap;
}

.q6-player-and-analytics__buttons .q6-demo-links-buttons > a:after{
    right: 18px;
    top: calc(50% - 4px);
    height: 7px;
    width: 7px;    
}

.q6-player-and-analytics__buttons .q6-demo-links-buttons > a:hover:after{
    right: 15px;    
}

.q6-player-and-analytics__present{
    background: #43BB8C;
    border-radius: 8px;
    height: 38px;
    width: 265px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;    

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-sizing: border-box;    
}

.q6-player-and-analytics__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;    
}

.q6-player-and-analytics__present-box{
    width: 21px;
    height: 21px;
    min-width: 21px;

    background-image: url(../img/present_transparent.png);
    background-repeat: no-repeat;
    margin-right: 10px; 
    background-size: cover;
}

@media screen and (max-width: 1100px){

    
    .q6-streaming-costs-tables.q6-streaming-costs-tables--short {
        max-width: initial;
    }
            
}

@media screen and (max-width: 1260px){
    .q6-card.q6-card--streaming > div:first-of-type {
        margin-right: 0;
    }

    .q6-streaming-calc {
        flex-direction: column;
    }
    
    .q6-streaming-calc > div + div {
        margin-left: 0;
        margin-top: 30px;
    }    

    .q6-streaming-calc__row > div:first-of-type {
        width: 100%;
    }    
}

.q6-card.q6-card--streaming img.q6-how-it-works-image--small{
    display: none;
    width: 100%;
    height: auto;
    margin: 50px auto;
    max-width: 581px;    
}

@media screen and (max-width: 1260px){
    .q6-card.q6-card--streaming img.q6-how-it-works-image{
        display: none;
    }
  

    .q6-card.q6-card--streaming img.q6-how-it-works-image--small{
        display: block;  
    }
    
}

@media screen and (max-width: 760px){
    .q6-streaming-costs-tables {
        flex-direction: column;
    }

    .q6-streaming-costs-tables > div:last-of-type {
        max-width: none;
    }    

    .q6-streaming-costs-tables > div:first-of-type table {
        max-width: none;
    }    

    .q6-streaming-costs-tables > div + div {
        margin-left: 0;
        margin-top: 15px;
    }    

    .q6-streaming-costs-tables table th:last-of-type, .q6-streaming-costs-tables table td:last-of-type {
        /* padding-left: 0; */
        max-width: 90px;
        width: 90px;
    }    

    .q6-streaming-calc__row {
        flex-direction: column;
    }    

    .q6-streaming-calc__row > div:first-of-type {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }    

    .q6-streaming-calc__row .q6-input {
        max-width: none;
    }    

    .q6-streaming-calc__row > div:last-of-type {
        width: 100%;
    }

    .q6-streaming-calc__extra-row {
        flex-direction: column;
    }    

    .q6-streaming-calc__extra-row > .q6-input {
        width: 100%;
    }    

    .q6-streaming-calc__extra-row > .q6-input + .q6-input {
        margin-left: 0;
        margin-top: 10px;
    }
    
    .q6-streaming-calc__row {
        padding: 0 15px;
        margin: 13px 0;
    }    

    .q6-streaming-calc__extra-row {
        padding: 0 15px;
    }
    
    .q6-streaming-calc__footer {
        padding: 12px 15px;
    }    
}

@media screen and (max-width: 480px){
    .q6-streaming-contact__buttons {
        flex-direction: column;
    }

    .q6-streaming-contact__buttons > .q6-button + .q6-button {
        margin-left: 0;
        margin-top: 10px;
    }    
}