.q6-pricing-table-section{
    background: #f7f8fa;
    position: relative;
}

.q6-pricing-table-container{
    display: flex;
    padding: 40px 0;
}

.q6-pricing-table-container > div:first-of-type{
    flex: 1;
    margin-right: 5%;
}

.q6-pricing__average{
    display: flex;
    align-items: center;
}

.q6-pricing__average p{
    color: #366fe2;
}

.q6-pricing__average p:first-of-type{
    margin-right: 20px;
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;    
}

.q6-pricing-table{
    border-spacing: 0 2px;
    text-align: right;
    color: #4b4b4b;
    font-size: 16px;
    font-weight: bold;
}

.q6-pricing-table td, 
.q6-pricing-table th {
    padding: 20px;
    background: white;
}

.q6-pricing-table tr td:first-of-type{
    text-align: left;
    font-weight: normal;
}

.q6-pricing-table-container > div{
    position: relative;
}

.q6-pricing-table__close-button {
    position: absolute;
    right: 0;
    top: 12px;
    height: 28px;
    width: 28px;
    background: #9fa3af;
    border: none;
    border-radius: 50%;
    color: #fffbe2;
    font-size: 18px;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    padding-top: 1px;
    padding-right: 1px;    
}

.q6-pricing-table__close-button:hover{
    background: #8e929e;
}

.q6-pricing-box{
    display: flex;
    margin-bottom: 70px;
}

.q6-pricing-box__saving{
    display: flex;
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 15px 30px;
    margin-right: 45px;
}


.q6-pricing-box__saving > div:first-of-type{
    width: 110px;
    transform: scaleX(-1);    
    margin-right: 20px;
}

.q6-pricing-box__saving > div:nth-of-type(2){
    flex: 1;
}

.q6-pricing-box__saving-links{
    display: flex;
    color: #4b4b4b;
    font-size: 16px;
    line-height: 25px;    
}

.q6-pricing-box__saving-links > div{
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    color: #9da3af;
}

.q6-pricing-box__saving-links > div:nth-last-of-type(){
    margin-right: 0;
}

.q6-pricing-box__features{
    padding: 15px;
    min-width: 385px;
    box-sizing: border-box;
}

.q6-pricing-box__feature-items{
    display: flex;
    margin-bottom: 20px;
}

.q6-pricing-box__feature-items > div{
    margin-right: 25px;
}

.q6-pricing-box__feature-items > div:last-of-type{
    margin-right: 0;
}

p.q6-pricing-box__start-rate{
    color: #316fea;
    font-size: 20px;
}

.q6-pricing-box__start-rate > span{
    font-size: 38px;
    font-weight: bold;
    margin-right: 5px;
}

.q6-question-icon{
    width: 14px;
    min-width: 14px;
    height: 14px;
    background-image: url(../img/pricing/question_icon.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-top: 4px;
}

.q6-dollar-icon{
    width: 16px;
    min-width: 16px;
    height: 16px;
    background-image: url(../img/pricing/dollar_icon.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-top: 3px;
}

@media screen and (max-width: 1150px){
    .q6-pricing-box__saving-links {
        display: flex;
        color: #4b4b4b;
        font-size: 16px;
        line-height: 25px;
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px){
    .q6-pricing-table-container {
        flex-direction: column;
    }

    .q6-pricing-table {
        width: 100%;
    }    

    .q6-pricing-box {
        flex-direction: column;
    }    

    .q6-pricing-box__feature-items {
        flex-direction: column;
    }    

    .q6-pricing-box__saving {
        margin-right: 0;
        padding: 0;
        border: 0;
    }    

    .q6-pricing-box__features {
        min-width: 0;
        padding: 15px 0;
    }    

    .q6-pricing-table__close-button {
        top: 17px;
    }    

}

@media screen and (max-width: 630px){
    .q6-pricing-table td, .q6-pricing-table th {
        padding: 15px 10px;
        font-size: 14px;
    } 
}

@media screen and (max-width: 480px){
    h1, h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 25px;
        line-height: 25px;
    }    

    .q6-pricing-box__saving {
        flex-direction: column;
    }    

    .q6-pricing-table__close-button {
        top: 16px;
    }    

    .q6-pricing-table td, .q6-pricing-table th {
        padding: 11px 6px;
        font-size: 12px;
    }    
}