.q6-storage-pricing-and-calc{
    display: flex;
}

.q6-storage-pricing-and-calc > div{
    margin-right: 80px;
    flex: 1;
}

.q6-storage-pricing-and-calc > div:last-of-type{
    margin-right: 0;
}

.q6-storage-pricing-and-calc strong{
    font-weight: 600;
}

.q6-storage__pricing{
    max-width: 480px;
}

.q6-storage__pricing > .q6-storage__pricing-image-block{
    height: 120px;
    background: #f5f9ff;  
    border-radius: 8px;
    display: flex;
    align-items: center;  
    
    padding: 7px 0;
    box-sizing: border-box;    
}

.q6-storage__pricing > .q6-storage__pricing-image-block > div{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    justify-content: space-around;
    text-align: center;
}

.q6-storage__pricing > .q6-storage__pricing-image-block > div:first-of-type{
    border-right: 1px solid #d2e2ff;
    color: #316fea;
    font-size: 25px;
    font-weight: 500;
}

.q6-storage__details-icon-1,
.q6-storage__details-icon-2{
    height: 46px;
    min-width: 46px;
    background-repeat: no-repeat;
    background-position: center;
}

.q6-storage__details-icon-1{
    background-size: 43px 43px;
    background-image: url(../img/storage/storage.png);    
}

.q6-storage__details-icon-2{
    background-size: 46px 46px;
    background-image: url(../img/storage/transfer.png);    
}

.q6-storage-details > div:nth-of-type(2){
    font-weight: 600;
    color: #316fea;
    margin-top: 6px;
}

.q6-storage-details > div:nth-of-type(3){
    color: #868686;
    font-size: 15px;
    line-height: 15px;
}

.q6-storage__pricing-text-block{
    display: flex;
    margin-top: 20px;
}

.q6-storage__pricing-text-block > div{
    flex: 1;
}

.q6-storage__pricing-text-block p{
    color: #868686;
    margin: 7px 0;
    line-height: 17px;
    font-size: 16px;
}

.q6-storage__pricing-text-block p strong{
    font-size: 18px;
}

.q6-storage__pricing-text-block .q6-demo-links-buttons{
    text-align: center;
}


.q6-storage__calc > div{
    border-radius: 8px;
    border: 1px solid #e1e5ee;
    padding: 28px 38px;    
}



/* SLIDER */
.q6-progress-slider{
    width: 100%;
}


.slidecontainer {
  width: 100%;
}

.q6-progress-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: #e6e9ef;
  outline: none;
}

.q6-progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #316fea;
  cursor: pointer;
}

.q6-progress-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #316fea;
  cursor: pointer;
}

.q6-progress-slider-with-progress{
    position: relative;
    height: 26px;
}

.q6-progress-slider-progress{
    height: 4px;
    background: #316fea;
    top: 11px;
    position: absolute;
    border-radius: 3px;    
}

.q6-progress-slider__data{
    display: flex;
    justify-content: space-between;
    line-height: 16px;
}

.q6-progress-slider-container{
    margin-bottom: 12px;
}

.q6-progress-slider__data > div:first-of-type{
    color: #868686;
    font-size: 16px;    
}

.q6-progress-slider__data > div:last-of-type{
    font-weight: 600;
    color: #316fea; 
}

.q6-storage__calc-button-val{
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.q6-storage__calc-button-val .q6-demo-links-buttons a{
    text-align: center;
}

.q6-storage__calc-button-val > div:last-of-type{
    font-weight: 500;
    color: #316fea;
    font-size: 25px;    
}
/* SLIDER */