.q6-authorize-component{
    background: #f7f8fa;    
}

.q6-get-started-container{
    display: flex;
    padding: 0 40px;
    padding-top: 45px;
    padding-bottom: 110px;
}

.q6-get-started-container > div{
    box-sizing: border-box;
}

.q6-get-started-container > div:first-of-type{
    width: 48%;
}

.q6-get-started-container > div:nth-of-type(2){
    width: 52%;
}

.q6-get-started-features{
    background: white;
    margin: 30px 0;
    border-radius: 8px 0 0 8px;
    padding: 50px 70px;    

    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.q6-get-started-container .q6-feature-item {
    align-items: flex-start;    
}

.q6-get-started-container .q6-feature-item__icon {
    margin-right: 25px;
}


.q6-authorize-window{
    padding: 50px 70px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 12px 25px 1px rgba(105, 109, 112, 0.2)    
}

.q6-authorize-window h2{
    text-align: center;
}

.q6-authorize-form{
    margin-top: 30px;    
}

.q6-authorize-form .q6-input{
    margin-bottom: 20px;
}

.q6-authorize-form .q6-button{
    width: 100%;
    margin: 25px 0;
}