@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');


/*******NOV-7-2018******************/

.q6-two-columns{
    display: flex;
}

.q6-two-columns > div:nth-of-type(2) {
    margin-left: 25px;
}

a.q6-button{
    text-decoration: none;
}

.q6-button.q6-white-background.q6-blue-border.q6-blue-text{
    font-weight: 400;
}


.q6-multiple-checkboxes {
    height: 244px;
    width: 100%;
    padding: 14px 14px;
    padding-right: 5px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 13px;
    overflow-y: auto;
}

/* Checkbox */
.q6-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight: 100;
}

.q6-checkbox input {
    position: absolute;
    cursor: pointer;
    display: none;
}

.q6-checkbox > div:first-of-type{
    font-family: "proxima-nova", sans-serif;
    font-weight: 600; 
}

.q6-checkbox p{
    margin: 0;
    font-size: 13px;
}

.q6-checkbox--dbo p{
    font-size: 15px;
    line-height: 20px;
    color: #898c93;
    margin: 10px 0;    
}

.q6-checkbox--dbo a{
    text-decoration: none;
}

.q6-checkbox--dbo a:hover{
    text-decoration: underline;
}

.q6-input__label > a{
    font-family: "proxima-nova", sans-serif;
    font-size: 13px;
    color: #1fa550;
}

.q6-transcoding-input-info{
    height: 100%;
}

.q6-advanced-output-settings{

}

.q6-settings-and-buttons{
    display: flex;
    flex-direction: column;
}

.q6-settings-buttons{
    width: 100%;
    margin-bottom: 11px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.q6-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    transition: all 0.1s ease;
}

.q6-checkbox:hover input ~ .q6-checkmark {
    background-color: #ededed;
}

.q6-checkbox input:checked ~ .q6-checkmark {
    background-color: #1fa550;
}

.q6-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.q6-checkbox input:checked ~ .q6-checkmark:after {
    display: block;
}

.q6-checkbox .q6-checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox */


.q6-vertical-smaller-buttons{
    margin-left: 15px;
    max-width: 220px;
}

.q6-vertical-smaller-buttons .q6-button{
    width: 100%;
    margin-bottom: 7px;
    font-size: 15px;
    border-width: 1px;
}

.q6-vertical-smaller-buttons .q6-button:last-of-type{
    margin-bottom: 0;
}



/********************* FORMATS *********************/
.q6-extra-formats{
    background: #f7f8fa;
    margin-right: 15px;
    flex: 1;
    padding: 20px 0;
    border-radius: 8px;
    border: 1px solid #f7f8fa;
}

.q6-add-extra-format{
    margin-right: 15px;
    flex: 1;
    border-radius: 8px;
    border: 1px solid #e1e5ee;
    cursor: pointer;
    transition: border 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccdd2;
    padding: 40px 0;
}

.q6-add-extra-format:hover{
    border-color: #3270e9;
    color: #3270e9;
}

.q6-add-format__plus-icon{
    width: 48px;
    height: 48px;
    border: 2px solid #cccdd2;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.q6-add-format__plus-icon > svg{
    height: 28px;
    width: 28px;
    fill:#cccdd2;
    transition: all 0.1s ease;
}

.q6-add-extra-format:hover .q6-add-format__plus-icon > svg{
    fill:#3270e9;
}

.q6-add-format__plus-text{
    font-size: 14px;
    margin-top: 10px;
}

.q6-add-extra-format:hover .q6-add-format__plus-icon{
    border-color: #3270e9;
}


.q6-extra-formats .q6-custom-select{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.q6-extra-formats > .q6-custom-select option:first-of-type{
    display: none;
}

.q6-extra-formats .q6-multiple-checkboxes{
    height: initial;
    border: 0;
    padding: 0;
    padding-right: 20px;
}

.q6-extra-formats .q6-checkbox > div:first-of-type {
    position: absolute;
    top: 6px;
    left: 33%;
    font-size: 14px;
}

.q6-extra-formats .q6-checkmark {
    height: 30px;
    width: 100%;
    display: block;
    position: relative;
}

.q6-extra-formats .q6-checkbox {
    padding-left: 0;
    margin-bottom: 5px;
}

.q6-extra-formats .q6-checkbox .q6-checkmark:after {
    border: solid #3270e9;
    border-width: 0 2px 2px 0;
    left: 23%;
    top: 9px;
}

.q6-extra-formats .q6-checkmark {
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.q6-extra-formats .q6-checkbox input:checked ~ .q6-checkmark {
    background-color: #e9effb;
}

.q6-extra-formats .q6-checkbox input:checked ~ .q6-checkmark:hover {
    background-color: #d8e7ff;
}

.q6-extra-formats .q6-checkbox input:checked ~ div {
    color: #3270e9;
}

.q6-calc-formats__note{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    color: #575757;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
}
/********************* FORMATS *********************/

.q6-button.q6-gray-background.q6-gray-border.q6-gray-text:hover{
    background: #e0e0e0;
    border-color: #e0e0e0;
}

.q6-button.q6-light-blue-background.q6-light-blue-border.q6-blue-text:hover{
    background-color: #d8e7ff;
    border-color: #d8e7ff;
}

/********************* TRY DEMO ***********************/
.q6-module-title--play_video_icon{
    position: relative;
    padding-left: 48px;
}

.q6-module-title--play_video_icon:before {
    content: "";
    position: absolute;
    width: 32px;
    height: 28px;
    left: 0;
    top: -1px;
    background-image: url(../img/play_video_icon.png);
    background-size: 32px 28px;
    background-repeat: no-repeat;
}

.q6-drag-and-drop-container {
    padding: 21px;
    border-radius: 13px;
    background: #f7f8fa;
}

.q6-radio-block {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.q6-radio-block:last-of-type{
    margin-bottom: 0;
}

.q6-radio-button {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.q6-radio-button input {
    display: none;
}

.q6-radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-image: url(../img/radio_btn.png);
    background-size: 24px 50px;
    background-repeat: no-repeat;
    background-position: 0 -25px;
}

.q6-radio-button input:checked ~ .q6-radio-checkmark {
    background-position: 0 0;
}

.q6-radio-block input[type=text].q6-input__field{
    border-color: transparent;
}

.q6-radio-block input[type=text].q6-input__field.q6-input--disabled{
    background: #e7ebee;
}

.q6-upload-file-link label {
    cursor: pointer;
    margin: 0;

    font-family: "proxima-nova", sans-serif;
    font-weight: 600; 
}

.q6-drag-and-drop {
    width: 390px;
    height: 264px;
    border: 1px dashed #d9e0ea;
    border-radius: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    background: white;
}

.q6-drag-and-drop--drag-over{
    border-color: #316fea;
}

.q6-drag-and-drop.q6-drag-and-drop--disabled{
    background: #e7ebee;
}

.q6-drag-and-drop__message-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 65px;
}

.q6-drag-and-drop__filename{
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 18px;    
    margin-top: 15px;
    margin-bottom: 50px;
    word-wrap: break-word;
}

.q6-drag-and-drop__file-container > div{
    max-width: 355px;
    min-width: 180px;
}

.q6-drag-and-drop__icon {
    width: 66px;
    height: 56px;
    margin: 0 auto;
    background-image: url(../img/cloud_upload.svg);
    background-repeat: no-repeat;
}

.q6-videofile__icon {
    width: 42px;
    height: 58px;
    margin: 0 auto;
    background-image: url(../img/video_file.svg);
    background-repeat: no-repeat;
}

.q6-drag-and-drop__title {
    margin: 6px 0;

    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 18px;    
}

.q6-upload-file-link input {
    display: none;
}

.q6-drag-and-drop__intructions {
    font-size: 16px;
}

.q6-output-container{
    flex: 1;
    padding: 20px;
    border: 1px solid #d9e0ea;
    border-radius: 13px;
}

.q6-output__description{
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100%;*/
    min-height: 416px;
}

.q6-output__description > div{
    max-width: 265px;
    text-align: center;
}

.q6-output__description p{
    padding: 0 15px;
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
}

.q6-output__description p:last-of-type{
    margin-bottom: 0;
}

.q6-transcoding-demo{
    margin: 80px 0;    
    position: relative;
}

.q6-input-output-container, .q6-input-container{
    display: flex;
}

.q6-input-container{
    background: #f7f8fa;
    border-radius: 13px;
}

.q6-input-container h2{
    margin-top: 0;
    margin-bottom: 15px;
}

.q6-input-container .q6-extra-formats {
    margin-right: 0;
}

.q6-input-output-container > div:nth-of-type(2),
.q6-input-container > div:nth-of-type(2) {
    margin-left: 15px;
}

.q6-input-container > div:nth-of-type(2) {
    margin-top: 47px;
}

.q6-input-output-container > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    flex: 1;
}

.q6-transcoding-caption{
    color: #b2b6c2;
    margin-bottom: 7px;

    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 16px;    
}

.q6-extra-formats > .q6-transcoding-caption{
    margin-left: 20px;
}

.q6-output__description strong{
    font-weight: 600;
    font-family: "proxima-nova", sans-serif;  
}

.q6-input-output-container .q6-button {
    width: 100%;
    font-size: 15px;
    padding: 10px 14px;
    padding-bottom: 9px;
    margin-top: 10px;
}

.q6-upload-file-link{
    display: inline-block;
}

.q6-radio-block .q6-input {
    flex: 1;
}

.q6-video-upload{
    display: none;
    margin-top: 15px;
}

.q6-video-upload__message {
    display: flex;
    color: #171717;

    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 16px;    

    margin-bottom: 3px;
    justify-content: space-between;
}

.q6-video-upload__message > div{
    display: flex;
}

.q6-video-upload__progress-bar {
    height: 8px;
    width: 100%;
    background: #e5eaf0;
    border-radius: 2px;
}

.q6-progress-complete {
    background: #6d95ea;
    height: 100%;
    width: 0%;
    border-radius: 2px;
}

.q6-clickable{
    cursor: pointer;
}

.q6-output__description.q6-output__description--complete{
    height: initial;
    min-height: initial;
}

.q6-output__description.q6-output__description--complete > div {
    max-width: 100%;
    width: 100%;
}

.q6-output__description.q6-output__description--complete p {
    font-size: 12px;
    padding: 0 10px;
    margin-top: 10px;
}

.q6-videofile-preview__icon{
    width: 160px;
    height: 96px;
    margin: 0 auto;
    background-image: url(../img/videofile_preview_icon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.q6-output-table{
    margin-top: 15px;
}

.q6-output-table > table{
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;
    color: #575757;
}

.q6-output-table > table th{
    text-align: left;
    font-family: "proxima-nova", sans-serif;
    font-weight: normal;
    color: #b2b6c2;
    border-bottom: 1px solid #d9e0ea;
    padding: 3px 0;
}

.q6-output-table > table td{
    padding: 10px 0;
    vertical-align: top;
    text-align: right;
}

.q6-output-table > table tr td:first-of-type > div{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.q6-video-encode__message > div {
    display: flex;
}

.q6-video-encode__progress-bar {
    height: 4px;
    width: 100%;
    background: #e5eaf0;
    border-radius: 2px;
}

.q6-video-encode__message{
    margin-bottom: 5px;
}

.q6-encode-table-buttons{
    display: flex;
}

.q6-encode-table-buttons > .q6-button{
    margin-right: 8px;
    font-size: 13px;
    padding: 4px 4px;
    margin-top: 0;
    width: initial;
}

.q6-encode-table-buttons > .q6-button:last-of-type{
    margin-right: 0;
}

.q6-button--play{
    max-width: 68px;
    min-width: 68px;
    text-align: left;
}

.q6-button--download{
    text-align: left;
}


.q6-button--play > span,
.q6-button--download > span{
    position: relative;
}

.q6-button--play > span:before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: -22px;
    top: -2px;
    background-image: url(../img/button_icons.png);
    background-position: -2px -3px;
    background-size: 100px 24px;
    background-repeat: no-repeat;
}

.q6-button--download > span:before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: -22px;
    top: -2px;
    background-image: url(../img/button_icons.png);
    background-position: -23px -3px;
    background-size: 100px 24px;
    background-repeat: no-repeat;
}

.q6-encode-table-buttons > .q6-button.q6-button--play{
    padding-left: 29px;
}

.q6-encode-table-buttons > .q6-button.q6-button--download{
    padding-left: 29px;
}

.q6-video-encode__error{
    text-align: left;
}
/********************* TRY DEMO ***********************/

/********************* PRICING  ***********************/
.q6-button.q6-button--next  {
    line-height: 50px;
    padding: 0 25px;
}

.q6-button--next > span{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.q6-button--next > span:after {
    content: "";
    margin-left: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/index/icons/arrow.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.q6-redeem-credit{
    background: #f7f8fa;
    padding: 20px 20px;
    border-radius: 8px;
    border: 1px solid #f7f8fa;    
    margin: -15px;
    margin-left: 15px;
    box-sizing: border-box;
}

.q6-redeem-credit p{
    margin-top: 0;
}
/********************* PRICING  ***********************/


/********************* PROMO-BLOCK  *******************/
.q6-promo-block{
    background: #f7f8fa;
    padding: 70px 0px;
    margin: 80px 0;
}

.q6-promo-block__content{
    display: flex;
    align-items: center;    
}

.q6-promo-block__content > div:first-of-type {
    flex: 1;
    margin-right: 5%;    
}

.q6-promo-block__content > div:nth-of-type(2) {
    margin-right: 12%;
}

.q6-promo-block .q6-button {
    line-height: 70px;
    padding: 0 25px;
    min-width: 265px;
}

@media screen and (max-width: 1024px){
    .q6-promo-block__content {
        flex-direction: column;
    }
    .q6-promo-block__content > div:first-of-type {
        width: 100%;
        margin-right: 0;
    }  
    .q6-promo-block__content > div:nth-of-type(2) {
        width: 100%;
        margin-right: 0;
    }    
    .q6-promo-block {
        padding: 40px 0px;
    }      
}
/********************* PROMO-BLOCK  *******************/


/********************* CHECKLIST    *******************/
.q6-checklist ul {
    list-style-type: none;
    padding-left: 0;
    margin: 15px 0;
    margin-bottom: 25px;    
}

.q6-checklist li {
    color: #4b4b4b;
    font-size: 16px;
    line-height: 25px;
    padding: 7.3px 10px;
    padding-left: 30px;
    position: relative;
}

.q6-checklist li:before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 12px;
    height: 8px;
    width: 16px;
    border-bottom: 3px solid #46d797;
    border-left: 3px solid #46d797;
    transform: rotate(-45deg);
}

.q6-checklist__subtitle{
    color: #626262;
    display: inline-block;
    margin: 15px 0;
    margin-bottom: 0px;
    text-transform: uppercase;
    padding-top: 4px;
    font-size: 13px;
    font-weight: 600;   
}
/********************* CHECKLIST    *******************/


/********************* CONTACT-US-BLOCK  **************/
.q6-contact-block{
    position: relative;
    background: #f7f8fa;
    padding: 70px 0px;    
    margin-top: 70px;
}

.q6-contact-block h2 {
    text-align: center;
}

.q6-contact-block a {
    color: #4b4b4b;
    text-decoration: none;
}

.q6-contact-block a:hover {
    color: #393939;
}

.q6-contact-block__content-container{
    display: flex;
}

.q6-contact-block__content-container > div:first-of-type {
    width: 55%;
}

.q6-contact-block__content-container > div:nth-of-type(2) {
    width: 45%;
    margin-left: 5vw;
}

.q6-contact-block__content-container .q6-button {
    width: 100%;
}

.q6-contact-block__content-container textarea {
    resize: none;
    height: 128px;
}

.q6-contact-block__content-container .q6-input {
    margin-bottom: 20px;
}

.q6-send-message-form--thank-you img{
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    max-width: 340px;
}

.q6-send-message-form--thank-you p{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;    
}

.q6-button.q6-button--send{
    padding: 0 20px;
    line-height: 48px;
}

.q6-button--send > span{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.q6-button--send > span:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/index/icons/send.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px){
    .q6-contact-block__content-container {
        flex-direction: column;
    }
    .q6-contact-block__content-container > div:first-of-type {
        width: 100%;
    }
    .q6-contact-block__content-container > div:nth-of-type(2) {
        width: 100%;
        margin-left: 0;
    }    
    .q6-contact-block {
        background: #f7f8fa;
        padding: 40px 0px;
        margin-top: 40px;
    }    
}
/********************* CONTACT-US-BLOCK  **************/

.q6-page-description{
    max-width: 640px;
}

/********************* FEATURES-BLOCKS   **************/
.q6-features-box__block{
    min-width: 240px;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
}


.q6-features-icon-container{
    width: 60px;
    min-width: 60px;
    margin-right: 30px;      
}

.q6-features-icon{
    height: 50px;
    background-size: 60px 50px;
    background-repeat: no-repeat;    
}

.q6-features-icon--thumbnails {
    background-image: url(../img/features/icons/thumbnails.svg);
}

.q6-features-icon--watermarking {
    background-image: url(../img/features/icons/watermarking.svg);
}

.q6-features-icon--vr {
    background-image: url(../img/features/icons/vr.svg);
}

.q6-features-icon--subtitles {
    background-image: url(../img/features/icons/subtitles.svg);
}

.q6-features-icon--clips {
    background-image: url(../img/features/icons/clips.svg);
}

.q6-features-icon--stitching {
    background-image: url(../img/features/icons/stitching.svg);
}

.q6-features-icon--s3 {
    background-image: url(../img/features/icons/s3.svg);
}

.q6-features-icon--preview {
    background-image: url(../img/features/icons/preview.svg);
}

.q6-features-icon--resolution {
    background-image: url(../img/features/icons/resolution.svg);
}

.q6-features-icon--callback {
    background-image: url(../img/features/icons/callback.svg);
}

.q6-features-icon--presets {
    background-image: url(../img/features/icons/presets.svg);
}

.q6-features-icon--rotate {
    background-image: url(../img/features/icons/rotate.svg);
}

.q6-features-icon--ratio {
    background-image: url(../img/features/icons/ratio.svg);
}

.q6-features-icon--notifications {
    background-image: url(../img/features/icons/notifications.svg);
}

.q6-features-icon--crop {
    background-image: url(../img/features/icons/crop.svg);
}

@media screen and (max-width: 480px){
    .q6-features-box__block {
        padding: 10px 0px;
    }    
}
/********************* FEATURES-BLOCKS   **************/

/********************* NEW TRANSCODING DEMO   **************/
.q6-transcoding-demo-container{
    position: relative;
    margin-top: 30px;
    margin-bottom: 70px;    
}

.q6-transcoding-demo-container h4 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    margin: 10px 0;
    color: #171717;
}

.q6-transcoding-demo-block{
    border: 1px solid #e1e5ee;
    border-radius: 8px;
    padding: 25px 35px;
    margin: 15px 0;    
    position: relative;
}

.q6-transcoding-demo-block .q6-transcoding-demo-block__footer{
    margin-top: 25px;
    width: 100%;
}

.q6-transcoding-demo-block__footer-buttons{
    display: flex;
    align-items: center;
}

.q6-transcoding-demo-block__footer-buttons .q6-button{
    flex: 1;
}

.q6-transcoding-demo-block__footer-buttons .q6-button + .q6-button{
    margin-left: 10px;
} 

.q6-transcoding-demo-block .q6-transcoding-demo-block__footer p{
    color: #7e7e7e;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
}

.q6-transcoding-demo-block .q6-transcoding-demo-block__footer a {
    text-decoration: none;
    font-weight: 500;
}

.q6-transcoding-demo-block .q6-transcoding-demo-block__savings{
    background-color: #306eea;
    padding: 8px 10px;
    border-radius: 5px;
    display: flex;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    flex-direction: row-reverse;
    color: white;
    padding-left: 18px;
    align-items: center;
}

.q6-transcoding-demo-block .q6-transcoding-demo-block__savings > div:first-of-type{
    font-size: 19px;
    font-weight: 600;
    margin-left: 8px;
    display: flex;
    align-items: center;
    min-width: 49px;
    height: 47px;
    justify-content: center;
    background-color: white;
    border-radius: 11px;
    color: #306eea;   
}

.q6-transcoding-demo-block .q6-transcoding-demo-block__savings > div:first-of-type > div{
    height: 19px;
}

.q6-transcoding-demo-block .q6-transcoding-demo-block__savings > div:first-of-type span{
    font-size: 14px;
}

.q6-transcoding-demo-block .q6-transcoding-demo-block__savings > div:last-of-type{
    display: flex;
    align-items: center;
    flex: 1;
}


.q6-transcoding-demo-block .q6-add-video-block{
    border: none;
    padding: 0;
    margin: 0;
}

.q6-transcoding-demo-block .q6-calc-block > div {
    padding: 0;
}

.q6-transcoding-demo-block .q6-calc-block__input {
    border-bottom: none;
}

.q6-transcodig-demo__settings{
    display: flex;
    margin-top: 25px;
}

.q6-transcodig-demo__settings > div{
    flex: 1;
}

.q6-transcodig-demo__settings > div:first-of-type{
    max-width: 37%;
}

.q6-transcodig-demo__settings > div + div{
    margin-left: 3%;
}

.q6-transcoding-demo-block__json{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    max-width: 60%;
    position: relative;
}

.q6-transcoding-demo-table-container{
    overflow-x: auto;
    width: 100%;
    padding: 0 1px;
}

.q6-transcoding-status{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.q6-transcoding-status--error {
    color: #e4322c;
}

.q6-transcoding-status:after {
    content: "";
    width: 24px;
    height: 24px;
    top: calc(50% - 13px);
    margin-left: 5px;
}

.q6-transcoding-status--error:after {
    background-image: url(../img/error_transcoding.svg);
    background-repeat: no-repeat;
}

.q6-transcoding-status--encoding {
    color: #575757;
}

.q6-transcoding-status--encoding:after {
    background-image: url(../img/encoding.svg);
    background-repeat: no-repeat;
}

.q6-transcoding-status--completed {
    color: #289c23;
}

.q6-transcoding-status--completed:after {
    background-image: url(../img/complete.svg);
    background-repeat: no-repeat;
}


.q6-transcoding-demo-block__json .q6-button.q6-button--copy{
    position: absolute;
    top: -7px;
    right: 0;
    z-index: 1;
}

.q6-transcoding-demo-block__json > .q6-input{
    flex: 1;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.q6-transcoding-demo-block__json > .q6-input > .q6-input__label{
    margin-top: 0;
}

.q6-transcoding-demo-block__json-body{
    border: 1px solid #e1e5ee;
    border-radius: 6px;
    flex: 1;
    min-height: 319px;
    display: flex;
    flex-direction: column;
    overflow: auto;   
    position: relative; 
}

.q6-transcoding-demo-block__json-body pre {
    margin: 0;
    padding: 0;
    line-height: 16px;
    border: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.q6-transcoding-demo-block__json-body .hljs {
    font-size: 14px;
    background-color: #f7f8fb;
    padding: 25px 25px;
    padding-right: 20px;
    flex: 1;
}

.q6-transcodig-demo-info{
    margin-left: 30px;
    margin-top: 32px;    
}

.q6-transcodig-demo-info a {
    text-decoration: none;
}

.q6-transcodig-demo-info a:hover {
    text-decoration: underline;
}

.q6-transcodig-demo-info__extra{
    margin-top: 15px;
}

.q6-transcodig-demo-info__extra p {
    font-size: 15px;
    line-height: 20px;
    margin: 5px 0;
    text-align: center;
}

.q6-transcodig-demo-info__clip p{
    text-align: center;
    font-weight: 600;    
}

.q6-transcodig-demo-info__clip{
    border-radius: 6px;
    padding: 30px;
    background-color: #f6f9ff;    
}

.q6-transcodig-demo-info__clip > div{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10px;    
}

.q6-transcodig-clip-icon {
    height: 47px;
    width: 56px;
    min-width: 56px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.q6-transcodig-clip-icon + .q6-transcodig-clip-icon{
    margin-left: 24px;
}

.q6-transcodig-clip-icon--watermarking {
    background-image: url(../img/features/icons/watermarking.svg);
}

.q6-transcodig-clip-icon--clock {
    width: 44px;
    min-width: 44px;
    background-image: url(../img/dbo/icons/clock.svg);
}

.q6-transcodig-clip-icon-text{
    color: #306eea;
    font-weight: 500;
    margin-bottom: -5px;
    margin-left: -1px;
    font-size: 16px;
}

.q6-transcoding-demo__title{
    border-bottom: 1px solid #f5f5f7;
    line-height: 30px;
    color: #979ca6;
    font-size: 16px;
    margin-bottom: 5px;    
}

.q6-transcoding-demo__progress{
    margin-bottom: 20px;
    font-size: 14px;
}

.q6-transcoding-demo__progress .q6-tutorial-files-table {
    margin-top: 20px;
}

.q6-transcoding-demo__progress .q6-tutorial-files-table div{
    box-sizing: border-box;
}

.q6-transcoding-demo__progress  .q6-tutorial-files-table__summary p {
    margin: 10px 0;
}

.q6-transcoding-demo__progress .q6-tutorial-files-table__dynamic-cell {
    min-width: calc(85px*4);
    max-width: calc(85px*4);
}

.q6-button.q6-button--round:disabled {
    background: #f7f8fa;
    color: #bec4d2;
    cursor: not-allowed;
}

.q6-button.q6-button--round:disabled:hover {
    background: #f7f8fa;
    box-shadow: none;
}

.q6-transcoding-demo__progress .q6-button.q6-button--round.q6-button--copy-url {
    min-width: 115px;
}

.q6-transcoding-demo__progress .q6-flash-message {
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
}

.q6-transcoding-error-icon{
    background-image: url(../img/face.svg);
    background-repeat: no-repeat;
    width: 44px;
    height: 62px;
    min-width: 44px;   
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20px;    
}

.q6-transcoding-demo__error p{
    color: #a1a4ae;
    text-align: center;    
}


.q6-card.q6-card--header > div:first-of-type {
    position: relative;
}

.q6-card--header .q6-demo-links-buttons.q6-demo-links-buttons--st-val{
    position: absolute;
    top: -30px;    
}

.q6-demo-links-buttons.q6-demo-links-buttons--st-val > a {
    background-color: #fdeff1;
    color: #f8616f;
    white-space: nowrap;

    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;    
}

.q6-demo-links-buttons.q6-demo-links-buttons--st-val > a:after {
    border-bottom: 1px solid #f8616f;
    border-right: 1px solid #f8616f;
}

.q6-demo-links-buttons.q6-demo-links-buttons--st-val > a:hover {
    background-color: #ffebee;
    box-shadow: 0px 1px 6px 1px rgba(249, 143, 152, 0.1);
}

.q6-stval-icon{
    display: inline-block;

    width: 18px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    
    background-image: url(../img/heart.png);

    position: relative;
    top: 2px;
    margin: 0 1px;
}

.q6-stval-box p{
    font-size: 16px;
    line-height: 23px;
}

.q6-stval-box{
    display: flex;
    margin-top: 40px;
    margin-bottom: 70px;    
}

.q6-stval-box > div{
    flex: 1;
}

.q6-stval-box__card{
    padding: 12px 40px;
    padding-right: 20px;
    background-color: #fef6f8;
    border-radius: 7px; 
    margin-right: 40px;
    max-width: 550px;
    box-sizing: border-box;
}


.q6-demo-links-buttons.q6-demo-links-buttons--transcoding-results{
    position: absolute;
    top: 23px;
    right: 13px;
}

.q6-demo-links-buttons.q6-demo-links-buttons--transcoding-results > a{
    background-color: white;
    font-size: 14px;
    min-width: 0;
    font-weight: 500;
    padding-right: 25px;
}

.q6-demo-links-buttons.q6-demo-links-buttons--transcoding-results > a:hover {
    background-color: white;
    box-shadow: none;
}

.q6-demo-links-buttons.q6-demo-links-buttons--transcoding-results > a:after {
    right: 14px;
}

.q6-demo-links-buttons.q6-demo-links-buttons--transcoding-results > a:hover:after {
    right: 8px;
}

.q6-transcoding-demo__stats .q6-button--create-account > span:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(../img/user.svg);
    background-size: 26px 26px;
    background-repeat: no-repeat;
}

.q6-transcoding-demo__resuts{
    display: flex;
}

.q6-transcoding-demo__stats{
    display: flex;
    margin-left: 5%;
    flex: 1;
}

.q6-transcoding-demo__stats > div{
    flex: 1;
}

.q6-transcodint-demo__results-image img{
    width: 321px;  
    height: auto;
    max-width: 100%;
}

.q6-transcoding-demo__stats .q6-button--next > span:after {
    content: "";
    margin-left: 10px;
    display: inline-block;
    width: 15px;
    height: 12px;
    background-image: url(../img/arrow_right.png);
    background-size: 15px 12px;
    background-repeat: no-repeat;
}

.q6-button.q6-button--round.q6-button--create-account {
    line-height: 38px;
}

.q6-transcoding-demo__stats h4{
    color: #3270eb;
    font-weight: 600;    
    margin: 0;
    font-size: 32px;    
}

.q6-transcoding-demo__stats h5{
    color: #242424;
    margin: 13px 0;
    font-size: 17px;
    font-weight: 500;
}

.q6-transcoding-demo__stats p {
    color: #242424;
    font-weight: 400;
    margin: 3px 0;
    line-height: 21px;
    font-size: 16px;    
}

.q6-transcoding-demo__stats > div.q6-transcoding-demo__vertical-delimeter{
    flex: none;
    width: 1px;
    background-color: #dedfdd;
    margin: 0 7%;
}

.q6-transcoding-demo__stats p.q6-transcoding-demo__message{
    color: #a09fa0;
    font-size: 14px;    
}

.q6-transcoding-demo__stats table{
    width: 100%;
    margin: 18px 0;
    border-collapse: collapse;    
}

.q6-transcoding-demo__stats table td{
    padding: 9px 0;
    color: #353435;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #deddde; 
    border-top: 1px solid #deddde;   
    white-space: nowrap;
    padding-right: 15px; 
}

.q6-transcoding-demo__stats table tr td:last-of-type{
    width: 20px;
    padding: 0;
}

.q6-transcoding-demo__stats table tr td:first-of-type{
    width: 100%;
}

.q6-download-button{
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-image: url(../img/download.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;   
}

.q6-transcoding-demo__stats > div:last-of-type h5{
    margin-top: 35px;
}

.q6-per-title-promo-box{
    padding: 30px 65px;
    background-color: #fffae7;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 70px;
}

.q6-per-title-promo-box p {
    font-size: 16px;
    line-height: 23px;
}

@media screen and (max-width: 1290px){
    .q6-transcodig-demo__settings > div:first-of-type{
        max-width: 45%;
    }

    .q6-transcoding-demo-block__json{    
        max-width: 52%;
    }
}


@media screen and (max-width: 920px){
    .q6-per-title-promo-box {
        padding: 25px 30px;
    }
}

@media screen and (max-width: 480px){
    .q6-container.q6-container--per-title-promo-box {
        width: 100%;
        padding: 0;
    }
}

/* transcoding progress for mobile  */
@media screen and (max-width: 850px){
    .q6-transcoding-demo-block .q6-transcoding-progress {
        display: flex;
        flex-direction: column;
    }
    .q6-transcoding-demo-block .q6-transcoding-progress-block--last-finished .q6-transcoding-progress__bar {
        width: 100%;
    } 
    .q6-transcoding-demo-block .q6-transcoding-progress__bar {
        border-radius: 15px;
    }
    .q6-transcoding-demo-block .q6-transcoding-progress__bar:before {
        left: 5px;
    }    

    .q6-transcoding-demo-block .q6-transcoding-progress .q6-transcoding-progress-block--finished:first-of-type .q6-transcoding-progress__bar:before {
        left: initial;
        right: 1px;
    }    

    .q6-transcoding-demo-block .q6-transcoding-progress-block--finished .q6-transcoding-progress__bar:before {
        left: initial;
        right: 0;
    }    

    .q6-transcoding-demo-block .q6-transcoding-progress .q6-transcoding-progress-block:last-of-type {
        text-align: left;
    }    

    .q6-transcoding-demo-block .q6-transcoding-progress .q6-transcoding-progress-block:last-of-type .q6-transcoding-progress__status {
        padding-left: 0;
    }    

    .q6-transcoding-demo-block .q6-transcoding-progress .q6-transcoding-progress-block:last-of-type .q6-transcoding-progress__bar:before {
        left: 5px;
    }    

    .q6-transcoding-demo-block .q6-transcoding-progress .q6-transcoding-progress-block--finished:last-of-type .q6-transcoding-progress__bar:before {
        left: initial;
    }    

    .q6-transcoding-demo-block .q6-transcoding-progress__date {
        display: none;
    }    
}
/* transcoding progress for mobile  */

@media screen and (max-width: 1024px){


    .q6-transcoding-demo__resuts {
        flex-direction: column;
    }

    .q6-transcoding-demo__stats {
        margin-left: 0;
        margin-top: 30px;
    }    

    .q6-transcodint-demo__results-image {
        margin: 0 auto;
    }    

    .q6-card--header .q6-demo-links-buttons.q6-demo-links-buttons--st-val {
        position: relative;
        top: initial;
        width: fit-content;
    }

    .q6-demo-links-buttons.q6-demo-links-buttons--st-val > a {
        white-space: normal;
    }    

    .q6-transcoding-demo__progress .q6-button {
        width: initial;
    }

    .q6-transcoding-demo__progress .q6-tutorial-files-table__summary {
        width: 180px;
        min-width: 180px;
    }    
}

@media screen and (max-width: 1024px){
    .q6-stval-box {
        flex-direction: column;
    }    

    .q6-stval-box__card {
        margin-right: 0px;
        margin-bottom: 30px;
    }    
}

@media screen and (max-width: 1190px){
    .q6-transcoding-demo-block__footer-buttons {
        flex-direction: column;
    }

    .q6-transcoding-demo-block__footer-buttons .q6-button + .q6-button {
        margin-left: 0px;
        margin-top: 10px;
    }    

    .q6-transcoding-demo-block__footer-buttons .q6-button {
        width: 100%;
    }    
}

@media screen and (max-width: 980px){
    .q6-transcodig-demo__settings {
        flex-direction: column;
    }

    .q6-calc-block > div > div:last-of-type {
        flex: 1;
    }    

    .q6-transcodig-demo__settings > div + div {
        margin-top: 20px;
        margin-left: 0;
    }    

    .q6-transcodig-demo__settings > div:first-of-type {
        max-width: none;
    }    

    .q6-transcoding-demo-block__json {
        max-width: none;
    }    

    .q6-transcodig-demo-info {
        margin-left: 0;
    }    
}

@media screen and (max-width: 854px){

    .q6-transcoding-demo__progress .q6-transcoding-errors {
        flex-direction: column;
    }    

    .q6-transcoding-demo__progress .q6-transcoding-errors__list {
        margin: 0;
        margin-top: 10px;
    }    

    .q6-transcoding-demo__progress .q6-transcoding-errors__icon {
        margin-right: 0;
        margin-bottom: 5px;
    }    
}

@media screen and (max-width: 750px){
    .q6-transcoding-demo__stats {
        flex-direction: column;
    }

    .q6-transcoding-demo__stats h4 {
        text-align: center;
    }    

    .q6-transcoding-demo__stats h5 {
        text-align: center;
    }    

    .q6-button.q6-button--round.q6-button--create-account {
        width: 100%;
    }    

    .q6-transcoding-demo__stats > div:last-of-type h5 {
        text-align: left;
    }    
}

@media screen and (max-width: 530px){
    .q6-stval-box__card {
        padding: 10px 20px;
        padding-right: 14px;
    }
}
/********************* NEW TRANSCODING DEMO   **************/


/*MODIFICATORS*/
.q6-margin-left_10px{
    margin-left: 10px;
}

.q6-margin-left_15px{
    margin-left: 15px;
}

.q6-margin-top_25px{
    margin-top: 25px;
}

.q6-margin-bottom_50px{
    margin-bottom: 50px;
}

.q6-hidden {
    display: none;
}

.q6-max-wide{
    width: 100%;
}

.q6-top-margin{
    margin-top: 25px;
}

.q6-align-start{
    justify-content: flex-start;
}

.q6-no-padding{
    padding: 0;
}

.q6-no-right-padding{
    padding-right: 0;
}

.q6-btn-small{
    font-size: 13px;
    padding: 6px 14px;
}
/*MODIFICATORS*/


@media screen and (max-width: 1180px){
    .q6-input-output-container {
        flex-direction: column;
    }    

    .q6-input-output-container > div:nth-of-type(2) {
        margin-left: 0;
        margin-top: 15px;
    }    

    .q6-drag-and-drop-container {
        flex: 1;
    }    

    .q6-radio-block > div:first-of-type {
        flex: 1;
    }

    .q6-drag-and-drop {
        width: 100%;
    }    
}


@media screen and (max-width: 1024px){

    .q6-calc-summary {
        flex-direction: column;
    }

    .q6-calc-summary__details {
        margin: 0;
        margin-top: 30px;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;        
    }    

    .q6-vertical-smaller-buttons {
        max-width: 100%;
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }    

    .q6-calc-summary__inputs {
        flex-direction: column;
        align-items: center;
    }

    .q6-calc-summary__inputs-container{
        width: 100%;
    }

    .q6-calc-summary__inputs .q6-input {
        max-width: 100%;
        width: 100%;
    }    

    .q6-extra-formats {
        flex: inherit;
    }    

    .q6-extra-formats {
        margin-bottom: 15px;
        min-width: 220px;
        max-width: 220px;
    }    

    .q6-input-container .q6-extra-formats {
        margin-bottom: 0;
    }    

    .q6-add-extra-format {
        margin-bottom: 15px;
        min-width: 220px;
        max-width: 220px;
    }    

    .q6-redeem-credit {
        margin: 0;
        margin-top: 15px;
        width: 100%;
        padding: 15px;
    }    

    .q6-calc-summary {
        padding: 0px;
        border: 0;
    }
}

@media screen and (max-width: 748px){
    .q6-input-container {
        flex-direction: column;
    } 
    .q6-input-container > div:nth-of-type(2) {
        margin-left: 0px;
        margin-top: 15px;
    }    
    .q6-input-container .q6-extra-formats {
        min-width: 100%;
    }    
}

@media screen and (max-width: 539px){
    .q6-extra-formats {
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .q6-add-extra-format {
        min-width: 99%;
        max-width: 100%;
        margin-right: 0;
    }      
}

@media screen and (max-width: 425px){
    .q6-output-table > table tr td:first-of-type > div {
        flex-direction: column;
    }

    .q6-encode-table-buttons {
        flex-direction: column;
    }    

    .q6-encode-table-buttons > .q6-button.q6-button--play {
        margin-right: 0;
        min-width: 100%;
        margin-bottom: 10px;
    }    
}