:root{
    --base: #6390cb;
}

/*.h1{
    color: var(--base);
}*/


html{
    background-color: #241235;;    
}

h1{
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
}

h3{
    font-size: 25px;
}

p{
    text-align: center;
    width: 530px;
    margin: auto;
    color: white;    
    margin-top: 25px;
    margin-bottom: 25px;
}

a{
    color: white;
}


.container{
    width: 800px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 36px;
    color:white;

    border: 2px solid #86f386;
    /*padding: 60px;*/
    /*box-sizing: border-box;    */
    background-color: #5f52a2;
    border-radius: 5px;    
    box-shadow: 3px 3px black;
    /*border: 1px solid white;*/
}

#gameCanvas{
    width: 100%;
    height: 100%;    
    /*width: 800px;
    height: 600px;    */
    cursor: none;
}
