body{
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*rem size is based on root element font-size*/

/*em is based on parent element font-size*/



h1{
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 0.08rem;
    color: #3a3a3a;
}