<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">     
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link href="https://necolas.github.io/normalize.css/4.1.1/normalize.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="/assets/css/hamburgers.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/highlight/styles/atom-one-dark.css">
    <script src="/assets/js/highlight.pack.js"></script>  
    <link rel="stylesheet" href="/assets/css/q6.css">

    <title>{{ page.title }}</title>

  </head>
  <body>
    {% include navigation.html %}

    <main class="q6-no-header q6-page-content q6-main">

        {{ content }}

    </main>

  </body>
</html>