.container
{
    width:910px;
    margin:auto;
}

main{
    padding-top:10px;
    padding-bottom:20px;
}

.header-navigation
{
    display:flex;
    justify-content:center;
    align-items: center;
    padding-bottom:12px;
    padding-top:20px;
}

.phones
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:19px;
    color:#65696a;
    padding-right:5px;
}

.header-navigation img
{
    vertical-align:text-bottom;
}

.login{
    width:488px;
    background: linear-gradient(#2c667e, #0f3355);
    box-shadow: 3px 3px 4px 0px rgba(174,182,193,0.75);
    border-radius:4px;
    color:white;
    padding-left:8px;
    font-size:11px;
    padding-top:4px;
    padding-bottom:4px;
}

.input-field{
    height:11px;
    width:113px;
    padding-left:4px;
}

.link-button { 
     background: none;
     border: none;
     color: white;
     text-decoration: none;
     cursor: pointer; 
}

.link-register { 
     background: none;
     border: none;
     color: white;
     text-decoration: none;
     cursor: pointer; 
     margin-left:6px;
}

.forgot-password{
    color:#bfbfbf;
    margin-left:37px;
    margin-right:6px;
}

.mini-menu{
    border:1px solid #c1c1c1;
    border-radius:10px;
    margin-left:15px;
    letter-spacing:4px;
    padding-left:5px;
    padding-right:5px;
    box-shadow: 3px 3px 4px 0px rgba(174,182,193,0.75);
}

.mini-menu a{
     color:#c1c1c1;
     text-decoration: none;
     cursor: pointer; 
}

.header-image
{
    background-image:url(tires_top.jpg);
    width:909px;
    height:237px;
    display: table-cell;
    vertical-align: middle;
    padding-left:5px;
}

.header-link
{   
    display:block;
    width:227px;
    text-decoration: none;
    cursor: pointer; 
    color:#d1d5d4;
    font-size:30px;
}

.header-image p{
    padding:0;
    margin:0;
}

.big-sitelink{
    font-size:50px;
}

.header-link p:nth-child(2) {
    color:#fffbd6;
    margin-left:47px;
    font-size:25px;
    line-height:0px;
}

.top-menu{
    display: flex;
    background: linear-gradient(#4a505e, #000304);
    justify-content: flex-end;
    border-radius:7px;
    box-shadow: 3px 3px 4px 0px rgba(174,182,193,0.80);
}

.top-menu-navigation{
    padding-right:50px;
}

.navigation {
  list-style: none;
  margin: 0; 
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: #b7bcc0;
  text-align: center; 
  text-transform:uppercase;
  font-size:14px;
  line-height:25px;
  margin-top:5px;
  margin-bottom:5px;
  padding-left:10px;
  padding-right:10px;
}

.navigation a:hover {
  background: linear-gradient(#256682, #0d325c);
  border-radius:15px;
  color:#f0ffff;
}

.top-menu-links{
    padding-right:20px;
    list-style: none;
    margin: 0; 
    display: flex;
    justify-content: flex-end;
}

.top-menu-links a {
  text-decoration: none;
  display: block;
  color: #b7bcc0;
  text-align: center; 
  font-size:12px;
  line-height:25px;
  margin-top:5px;
  margin-bottom:5px;
  padding-left:10px;
  padding-right:10px;
}

.top-menu-links span{
    color:#5999c5;
}

.content{
    padding-top:10px;
    display: flex;
}

.sidebar{
    width:186px;
}

.sidebar-caption{
    display:block;
    border:1px solid #959ea3;
    border-radius:15px;
    padding-left:5px;
    padding-right:5px;
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
    color:#233e51;
    text-transform:uppercase;
    font-size:13px;
    padding-top:3px;
    padding-bottom:3px;
    margin-bottom:10px;
}

.sidebar img{
    vertical-align:middle;
}

.sidebar-caption span{
    vertical-align:middle;
}

.sidebar-sub-menu{
    display:block;
    margin-top:0px;
    width:148px;
    border:1px solid #959ea3;
    border-radius:15px;
    padding-left:5px;
    padding-right:5px;
    color:#233e51;
    text-transform:uppercase;
    font-size:13px;
    padding-top:3px;
    padding-bottom:3px;
}

.sidebar-sub-menu span{
    vertical-align:middle;
}

.menu-items{
    list-style-type:none;
    margin-top:3px;
    font-size:8px;
}

.menu-items a{
    color:#465961;
    text-decoration:none;
}

.menu-items li{
    line-height:20px;
    background-image: url(marker.png);
    background-repeat: no-repeat;
    background-position: 5px 6px;
    padding-left: 15px;
    font-size:12px;
}

.menu-items li:hover{
    background-image: url(marker_dark.png);
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
    font-size:13px;
    cursor:pointer;
}

.items-block
{
    margin-bottom:-8px;
    margin-left:-8px;
}

.companies-logo{
    margin:0;
    text-align:center;
}

.items-checkbox
{
    margin-top:3px;
    margin-bottom:5px;
    padding-left: 10px;
    font-size:12px;   
    color:#465961; 
}

input[type="checkbox"]{
    width:10px;
    display:inline-block;
    vertical-align:middle;
}

.items-checkbox p{
    line-height:20px;
    margin:0;
}

.items-checkbox label{
    padding-left:7px;
}

.submit-items-button{
    background: linear-gradient(#1c6784, #12314d);
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
    border-width:0px;
    color:#c7f2ff;
    font-size:12px;
    border-radius:10px;
    margin-left:10px;
    line-height:22px;
    padding-right:10px;
    padding-left:10px;
    cursor:pointer;
    letter-spacing:1px;
}

.all-tires{
    width:555px;
    margin-left:10px;
    margin-right:10px;
    padding-top:10px;
    padding-bottom:10px;

    background: linear-gradient(#e3e7e8, #94a8b1);
    border-radius:3px;

    display:flex;
    flex-wrap: wrap;
}

figure{
    width:142px;
    margin:0;
    padding-left:17px;
    padding-right:17px;
    padding-bottom:15px;
    padding-top:5px;
    text-align:center;
}

.icon-container
{
    width:140px;
    height:129px;
    background-color:white;
    text-align:center;
    line-height:129px;
    border-radius:10px;
    border:1px solid #b4b8b9;
    margin-top:3px;
    margin-bottom:3px;
}

.icon-container img{
    vertical-align:middle;
}

figcaption{
    font-size:16px;
    color:#3b6782;
    font-weight:bold;
    line-height:16px;
}

figure p{
    line-height:14px;
    margin:0;
    font-size:14px;
    font-weight:bold;
    color:#202427;
}

.price {
    font-size:16px;
    color:#12365a;
    font-style: italic;
    font-weight:bold;
}

.companies-logo{
    margin:0;
    text-align:center;
    padding-bottom:10px;
}

footer{

}

.footer-navigation {
    padding-top:15px;
    padding-bottom:5px;
    background-color:#203b4c;
    color: #b6c9d7;
    text-align:center;
    font-size:12px;
}

.footer-navigation a {
    text-decoration: none;
    color: #b6c9d7;
    padding:0;
    margin:0;
}

.footer-navigation a:hover {
    color: #70a1af;
}
  
.footer-navigation a { 
    text-align: center; 
    padding: 3px;
}