.text-purple{
    color: #877ce2;
}

.bg-purple{
    background: #877ce2;
}

.btn--bounty{
    color: #877ce2;
    border-color: #877ce2;
    background: none;
    border-radius: 0;
}

.btn--bounty:hover{
    color: rgba(255,255,255,.75);
    background: #877ce2;
}

nav{
    background: rgba(26, 29, 46, 0.89);   
}

.nav-link {
    font-size: 13px;
}

.social-icons{
    display: flex;
    align-items: center;
}

.social-icon{
    width: 25px;
    height: 25px;
    margin: 0 .2rem;
    display: inline-block;
    background-image: url(../img/social_icons.png);
    background-size: 395%;
}

.social-icon--telegram{
    background-position: 0% 0;
}

.social-icon--twitter{
    background-position: 34% 0;
}

.social-icon--facebook{
    background-position: 66% 0;
}

.social-icon--bitcoin{
    background-position: 100% 0;
}


#navbarSupportedContent{
    justify-content: flex-end;
}

.dropdown-menu {
    min-width: 0;
}

.flag{
    width: 21px;
    height: 16px;

    display: inline-block;

    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 11px;   

    left: 0px;

    background-image: url(../img/flags.png);
    background-repeat: no-repeat;  
}

.nav-link.flag-selector {
    padding-left: 25px;
}

.flag--us{
    height: 11px;
    background-position: -5241px 0px;  
}

.btn {
    font-size: 13px;
}

header{
    width: 100%;
    height: 580px;    
    background: #1a1d2e;    
}

#canvas-container {

}

@media (min-width: 1200px){
    .container {
        max-width: 1215px;
    }
}

@media (min-width: 992px){
    .nav-link.flag-selector {
        padding-left: 25px !important;
    }
}

