.text-purple{
    color: #877ce2;
}

.text-white{
    color: #fbfcfe;
}

.text-green{
    color: #54edeb;
}

.text-black{
    color: #17182c;
}

.text-blue-gray{
    color: #007279;    
}

.border-black{
    border-color: #191d26;    
}

.border-green{
    border-color: #00b9ae;
}

.bg-purple{
    background: #877ce2;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.btn{
    transition: all 0s;    
}

.btn--bounty{
    color: #877ce2;
    border-color: #877ce2;
    background: none;
    border-radius: 0;
    font-size: 13px;
}

.btn--bounty:hover{
    color: #01d7b3;
    border-color: #01d7b3;
}

.btn-header{
    color: #fbfcfe;
    border-color: #fbfcfe;
    background: none;
    border-radius: 0;
    font-size: 14px;
    padding: .6rem 1.2rem;
}

.btn-header:hover{
    color: #01d7b3;
    border-color: #01d7b3;
}

nav{
    background: rgba(26, 29, 46, 0.89);   
    transition: all 0.4s ease-in-out ;
    padding-top: 0;
    padding-bottom: 0;      
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;      
}   

.navbar-brand__logo{
    width: 141px;
    height:auto;
    transition: all 0.4s ease-in-out ;
}

.nav-scrolled-down{
    background: rgba(26, 29, 46, 1);   
}

.shrink 
{
   width:105px;
}

.nav-link {
    font-size: 13px;
}

.social-icons{
    display: flex;
    align-items: center;
}

.social-icon{
    width: 25px;
    height: 25px;
    margin: 0 .2rem;
    display: inline-block;
    background-image: url(../img/social_icons.png);
    background-size: 395%;
}

.social-icon--telegram{
    background-position: 0% 0;
}

.social-icon--telegram:hover {
    background-position: 0% 97%;
}

.social-icon--twitter{
    background-position: 34% 0;
}

.social-icon--twitter:hover{
    background-position: 34% 97%;
}


.social-icon--facebook{
    background-position: 66% 0;
}

.social-icon--facebook:hover{
    background-position: 66% 97%;
}

.social-icon--bitcoin{
    background-position: 100% 0;
}

.social-icon--bitcoin:hover{
    background-position: 100% 97%;
}


#navbarSupportedContent{
    justify-content: flex-end;
}

.dropdown-menu {
    min-width: 0;

    background: rgba(47, 51, 78, 0.84);   
    border: 1px solid #52565f;
    border-radius: .1rem;
    padding: 1rem 0;
    margin: .6rem 0 0;

    -webkit-box-shadow: 1px 1px 6px 1px rgba(26, 29, 46, 0.58);
    box-shadow: 1px 1px 6px 1px rgba(26, 29, 46, 0.58);
}

.dropdown-item{
    color: rgba(255,255,255,.5);
    padding: .3rem 1rem;
    font-size: 15px;

    display: flex;
    align-items: baseline;    
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #15b599;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #f4f6f5; 
    background-color: rgba(50, 165, 166, 0.7);
}

.flag-selector{
    display: flex;
    align-items: center;    
}

.flag{
    width: 21px;
    height: 16px;

    display: inline-block;

    background-image: url(../img/flags.png);
    background-repeat: no-repeat;  

    margin-right: 6px;    
}

.flag--us{
    height: 11px;
    background-position: -5241px 0px;  
}

.flag--de{
    height: 12px;
    background-position: -1269px 0px;
}

.flag--fr{
    height: 14px;
    background-position: -1731px 0px;
}

.flag--ru{
    height: 14px;
    background-position: -4295px 0px;
}

.flag--cn {
    height: 14px;
    background-position: -1049px 0px;
}


header{
    width: 100%;
    /*height: 580px;    */
    position: relative; 
    /*top: -100px;*/
}

.header-content{
    padding-top: 73px;
    padding-bottom: 123px;
    text-align: center;
    position: relative;
}

#canvas-container > canvas {
    position: absolute;
    top: -100px;
    z-index: -1;
}

.header-title{
    margin-top: 2rem;
    font-size: 37px;    
}

.header-description{
    margin-top: 0.9rem;
    font-size: 21px;    
}

.header-buttons{
    margin-top: 2rem;
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: center;    
}

.btn-header{
    color: #fbfcfe;
    border-color: #fbfcfe;
    background: none;
    border-radius: 0;
    font-size: 13px;
    padding: .4rem 0.9rem;
    display: flex;
    align-items: center;
}

.btn-header:hover{
    color: #01d7b3;
    border-color: #01d7b3;
}

.header-btn-icon{
    height: 29px;
    width: 22px;
    margin-right: 8px;
    background-image: url(../img/header_buttons_icons.png);
    /*background-size: 348%; */
    background-size: 80px 68px; 
}

.header-btn-icon--white-paper{
    background-position: 0px 0px;
}

.header-btn-icon--one-pager{
    background-position: 56px -2px;
}

.header-btn-icon--presentation{
    background-position: 36px -1px;
    width: 35px;
}

.btn-header:hover .header-btn-icon--white-paper{
    background-position: 0px 34px;
}

.btn-header:hover .header-btn-icon--one-pager{
    background-position: 56px 32px;
}

.btn-header:hover .header-btn-icon--presentation{
    background-position: 35px 33px;
}

.header-social-buttons .social-icon {
    width: 27px;
    height: 27px;
    margin: 0 .1rem;
}

.pre-sale-countdown{
    height: 197px;
    width: 210px;
    position: absolute;
    top: 192px;

    background: url(../img/presale_bg.png) no-repeat;   

    padding-top: 38px;
    text-align: center;    
}

.corner-top-left{
    height: 27px;
    width: 27px;
    border-top: 1px solid #00b9ae;
    border-right: 1px solid #00b9ae;
    position: absolute;
    top: -4px;
    right: -4px;
}

.corner-top-right{
    height: 27px;
    width: 27px;
    border-top: 1px solid #00b9ae;
    border-left: 1px solid #00b9ae;
    position: absolute;
    top: -4px;
    left: -4px;
}

.corner-bottom-right{
    height: 27px;
    width: 27px;
    border-bottom: 1px solid #00b9ae;
    border-right: 1px solid #00b9ae;
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.corner-bottom-left{
    height: 27px;
    width: 27px;
    border-bottom: 1px solid #00b9ae;
    border-left: 1px solid #00b9ae;
    position: absolute;
    bottom: -4px;
    left: -4px;
}

.presale-message{
    padding-top: 38px;
}

.presale-timer{
    font-size: 30px;
    font-weight: 600;    
}

.btn-presale{
    margin-top: 11px;
    font-size: 12px;
    font-weight: 600;
    padding: 0.72rem .75rem;
    border-radius: 0;  
    color: #241035;

    background: rgba(15,255,187,1);
    background: -webkit-linear-gradient(left, rgba(15,255,187,1) 0%, rgba(21,218,224,1) 100%);
    background: -o-linear-gradient(left, rgba(15,255,187,1) 0%, rgba(21,218,224,1) 100%);
    background: linear-gradient(to right, rgba(15,255,187,1) 0%, rgba(21,218,224,1) 100%); 

    display: flex;
    margin-left: auto;
    margin-right: auto;            
}

.btn-presale:hover{
    background: #27ffd6;
}

.presale-btn-icon{
    width: 17px;
    height: 18px;    
    background-image: url(../img/presale_arrow.png);
    background-size: 17px 18px;
    margin-left: 5px;
}

.slide-in-up {
    transform: translateY(10%) scale(0.90);
    opacity: 0;
    transition: all 0.4s;    
}

.slide-in-up.active {
    opacity: 1;
    transform: translateY(0%) scale(1);
}

.slide-in-from-left {
    transform: translateX(40%);
    opacity: 0;
    /*transition: all 0.4s;    */
    transition: transform 0.4s, opacity 0.4s;
}

.slide-in-from-left.active {
    opacity: 1;
    transform: translateX(0%);
}

.show-up {
    opacity: 0;
    transition: all 0.4s;    
}

.show-up.active {
    opacity: 1;
}



/*----------------------------VIDEO SECTION-----------------------------*/

.section--video{
    height: 600px;
    background: url(../img/map.png) no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;    
}            

.video-text-and-button{
    text-align: center;
}

.video-message{
    text-align: center;
    font-size: 23px;
    margin-bottom: 45px;
}

#play-video-btn{
    cursor: pointer;
    transition: all .1s ease-in-out;
}

#play-video-btn:hover { transform: scale(1.1); }

.play-btn-text{
    font-weight: bold;
    font-size: 16px;
    margin-top: 25px;    
}

.video-container{
    display: none;
    width: 100%;
    height: 100%;
}

/*----------------------------VIDEO SECTION-----------------------------*/


.section--testimonials{
    height: 170px;
    background: #10b5af;
    display: flex;
    align-items: center;    
}

.testimonials__quotes{
    display: flex;
    justify-content: space-between;  
}

.testimonials-block{
    display: flex;
    align-items: center;
    padding-left: 75px;    
    margin: 0 56px;

    background: url(../img/testimonials/quote.png);
    background-repeat: no-repeat;
    background-position: left 24%;         
}

.quote-image{
    padding: 7px;
    background: #51cdc5;
    border-radius: 50%;    
}

.quote-image > img{
    width: 107px;
    height: 107px;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);    
}

.quote-text{
    margin-left: 20px;
    width: 270px;
}

.quote-text > p{
    font-size: 18px;    
    margin-bottom: 6px;    
}

.quote-text > span{
    font-size: 14px;
    font-style: italic;    
}

.section--why-urun{
    background: #ececec;
    height: 167px;
}

.why-urun-columns{
    height: 100%;
    display: flex;
    padding: 0 100px;    
}

.why-urun-card{
    width: 285px;
    height: 102px;
    margin: auto;
    position: relative;
}

.why-urun-card > svg{
    position: absolute;
    z-index: 0;    
}

.why-urun-card > div{
    position: absolute;    
    width: 100%;
    height: 100%;    
    text-align: center;
}

.why-urun-card h3{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-top: 18px;    
    margin-bottom: 18px;    
}

section h1{
    text-align: center;
    font-size: 36px;
    margin-top: 59px;    
    margin-bottom: 36px;    
}

.section--how-it-works{
    text-align: center;
}

.how-it-works-image{

}

.how-text-block{
    display: flex;
    justify-content: center;  
    margin-bottom: 23px;      
}

.how-text-block h4{
    font-size: 18px;
    margin: 10px 0    
}

.how-text-block p{
    font-size: 14px;
    margin-bottom: 21px;      
}

.how-steps{
    width: 14%;
    height: 400px;
    margin-top: -7px;
}

.how-text--left{
    width: 43%;
    text-align: right;
    padding-right: 16px;
    padding-top: 26px;
}

.how-text--right{
    width: 43%;
    text-align: left;
    padding-left: 16px;
    padding-top: 15px;    
}

.vertical-line{
    width: 3px;
    height: 373px;
    background: #0ee1b4;
    margin: auto;
}

.arrow-down{
    width: 25px;
    height: 23px;
    background-image: url(../img/arrow_down.png);
    background-size: 24px 23px;  
    background-repeat: no-repeat;     
    margin: auto;
    margin-top: 4px;       
}

.vertical-line-container{
    position: relative;    
}

.steps-circle{
    width: 44px;
    height: 44px;
    border: 4px solid #0ee1b4;
    border-radius: 50%;
    position: absolute;  

    padding: 1px;
    font-weight: bold;
    font-size: 23px;    
    color: black;    
}

.circle--1{
    top: 31px;    
}

.circle--2{
    top: 143px;   
}

.circle--3{
    top: 261px;    
}

.circle--4{
    top: 21px;
    right: 0;
}

.circle--5{
    top: 114px;
    right: 0;   
}

.circle--6{
    top: 227px;
    right: 0;    
}

.steps-line{
    background: #0ee1b4;
    width: 40px;
    height: 1px;
    position: absolute;
}

.line--1{
    top: 52px;
    left: 42px;
}

.line--2{
    top: 164px;
    left: 42px;
}

.line--3{
    top: 283px;
    left: 42px;
}

.line--4{
    top: 43px;
    right: 42px;
}

.line--5{
    top: 136px;
    right: 42px;
}

.line--6{
    top: 249px;
    right: 42px;
}

.section--just-imagine{
    background: #d2f0ee;
    height: 275px;
    display: flex;
    align-items: center;    
}

.imagine-content{
    display: flex;
    align-items: center;      
    justify-content: center;  
    position: relative;    
}

.imagine-text{
    width: 408px;   
    margin-right: 96px;     
}

.imagine-text > h3{
    font-size: 34px;
    font-weight: bold;
    margin: 0;    
}

.imagine-text > p{
    font-size: 21px;
    line-height: 32px;    
}

.presale--imagine{
    position: relative;
    top: inherit;
}

.presale--imagine > div{
    border-color: #0d292a;
}

.imagine-light{
    position: absolute;
    top: -28px;
    left: 32px;
    width: 171px;
    height: 193px;
    background-image: url(../img/imagine.png);
    background-size: 390px 200px;
    background-position: 0 0;  
}

.imagine-rocket{
    position: absolute;
    top: -14px;
    right: 39px;
    width: 150px;
    height: 201px;
    background-image: url(../img/imagine.png);
    background-size: 390px 200px;
    background-position: -170px 1px;
}

.imagine-arrow{
    position: absolute;
    bottom: 47px;
    right: 475px;
    width: 62px;
    height: 54px;
    background-image: url(../img/imagine.png);
    background-size: 390px 200px;
    background-position: -323px 1px;
}



.features-line{
    display: flex;    
    justify-content: space-between;
}

.features-block{
    width: 46%;
    display: table;
    margin-top: 11px;
    margin-bottom: 18px;    
}

.features-block__text{
    padding-left: 25px;    
}

.features-block__text p{
    font-size: 14px;
    line-height: 24px;    
}

.features-block h3{
    font-size: 18px;
    font-weight: bold;    
}

.features-block ul{
    list-style-type: none;
    padding-left: 21px;
    font-size: 14px;
    line-height: 28px;    
}

.features-block li{
    position: relative;
}

.features-block li::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: -21px;
    top: 10px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #171c30;
}

.features-block__icon{
    width: 69px;
    height: 69px;
    background-image: url(../img/more_features.png);
    background-size: 270px 73px;
    display: table-cell;
    background-repeat: no-repeat;    
}

.features--icon01{
    background-position: 0px -2px; 
}

.features--icon02 {  
    background-position: -67px -2px;
}

.features--icon03 { 
    background-position: -134px -2px;
}

.features--icon04 { 
    background-position: -202px -7px;
}

@media (min-width: 1200px){
    .container {
        max-width: 1215px;
    }
}

@media (min-width: 992px){

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }    

    .navbar{
        padding-top: 0;
        padding-bottom: 0;      
    }    
}


