body{
    font-size: 10px;
}

h1{
    font-family: Georgia;
    font-size: 4em;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

table{
    margin: 10px auto;
}

td{
    width: 100px;
    height: 100px;;
}

.vertical{
    border-right: 2px solid blue;
    border-left: 2px solid blue;
}

.horizontal{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

/*td{
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;

    width: 100px;
    height: 100px;;
}

td:nth-of-type(3){
    border-right: 0px solid blue;
}

tr:last-of-type > td{
    border-bottom: 0px solid blue;
}*/