<nav class="q6-nav" id="top_menu">
    <div class="q6-logo">
        <a href=""><img src="assets/images/logo_dark.png" alt=""></a>
    </div>
    <div class="q6-top-menu">
        <div class="q6-menu-items--left">
            {% for item in site.data.navigation %}
                <a href="{{ item.link }}" {% if page.url == item.link %}class="q6-top-menu--active"{% endif %}>
                {{ item.name }}
                </a>
            {% endfor %}
        </div>
        <div class="q6-menu-items--right">
            <a href="">Try Demo</a>
            <button id="menu-button" class="q6-button-default q6-has-submenu">My Account</button>
            <div id="authorized-menu-fullsize" class="q6-authorized-menu">
                <a href="" class="q6-menu-item--settings">Settings</a>
                <a href="" class="q6-menu-item--log-out">Log out</a>
            </div>
            <script>
                $(function () {  
                    $("#menu-button").on('click', function(){
                        let authorizedMenu = document.querySelector("#authorized-menu-fullsize");
                        $(this).toggleClass("q6-opened-menu");
                        // show menu if it's not shown already 
                        if (authorizedMenu.style.maxHeight){
                            authorizedMenu.style.maxHeight = null;
                            authorizedMenu.style.boxShadow = "0px 0px 0px 0px rgba(0,0,0,0.0)";
                            //authorizedMenu.style.display = "none";
                        } else {
                            //authorizedMenu.style.display = "flex";
                            authorizedMenu.style.boxShadow = "0px 3px 11px 1px rgba(0,0,0,0.19)";
                            authorizedMenu.style.maxHeight = authorizedMenu.scrollHeight + "px";
                        }             
                    });                           
                });  

                // close dropdown menu when clicked anywhere outside
                $(function () {    
                    $(document).click(function(e) {
                        if(e.target.id !== "menu-button" && $("#menu-button").hasClass("q6-opened-menu")){
                            $("#menu-button").trigger("click");
                        }                        
                    });
                });  
            </script>
        </div>
    </div>

    <div class="q6-mobile-navigation">
        <button id="mobile-menu-button" class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>     

        <div id="authorized-menu-mobile" class="q6-authorized-menu">
            {% for item in site.data.navigation %}
                <a href="{{ item.link }}">
                {{ item.name }}
                </a>
            {% endfor %}
            <a href="">Settings</a>
            <a href="">Log out</a>
        </div>        
        

        <script>
            $(function () {   
                $("#mobile-menu-button").on('click', function(){
                    $(this).toggleClass("is-active");   
                    let authorizedMobileMenu = document.querySelector("#authorized-menu-mobile");
                    // show and hide mobile menu    
                    if (authorizedMobileMenu.style.maxHeight){
                        authorizedMobileMenu.style.maxHeight = null;
                        //authorizedMobileMenu.style.display = "none";
                        authorizedMobileMenu.style.boxShadow = "0px 0px 0px 0px rgba(0,0,0,0.0)";
                    } else {
                        //authorizedMobileMenu.style.display = "flex";
                        authorizedMobileMenu.style.boxShadow = "0px 3px 11px 1px rgba(0,0,0,0.19)";
                        authorizedMobileMenu.style.maxHeight = authorizedMobileMenu.scrollHeight + "px";
                    }                   
                });    
            });   
                
        </script> 
    </div>

</nav>   