:root{
    --base: yellow;
    --spacing: 10px;
    --blur: 10px;
}

.h1{
    color: var(--base);
}


html{
    background-color: #241235;;    
}

h1{
    text-align: center;
    color: #bad64e;
    text-shadow: 3px 3px black;
}

p{
    text-align: center;
    margin: auto;
    color: white;    
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    color: white;
}


.container{
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 36px;
    color:white;
}

