input[type=checkbox] {
	display:none;
}

label {
	cursor: pointer;
}

label:after {
    margin-left:5px;
	content: " ";
	display: inline-block;
	width: 29px;
	height: 29px;
	background: url(../images/checkbox.png);
	position: relative;
	top: 7px;
}

input[type=checkbox]:checked + label:after {
    background-position: 0 -58px;
}

input[type=checkbox]:disabled + label:after {
    background-position: 0 -88px;
}

label:hover:after {
    background-position: 0 -29px;
}

input[type=checkbox]:checked + label:hover:after {
    background-position: 0 -58px;
}
