.jQuery-checkbox label{
    display:block;
}

.custom-checkbox{
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	z-index: 1;
	top: 3px;
	background:url(../images/checkbox-sprite.png) 0px -1px no-repeat;
}

.custom-checkbox.selected{
	background:url(../images/checkbox-sprite.png) 0px -17px no-repeat;
}

.custom-checkbox.disabled{
	background:url(../images/checkbox-sprite.png) 0px -49px no-repeat;
}

.custom-checkbox input[type="checkbox"]{
	margin: 0;
	position: absolute;
	z-index: 2;            
	cursor: pointer;
	outline: none;
	opacity: 0;
}
