body{
    font-family:sans-serif;
}


.wrapper{
    padding-left:3%;
    padding-right:3%;
}

h1{
    font-size:25px;
    margin:0;
    padding:0;
}

h2{
    font-size:20px;
}

header{
    padding-top:20px;
}

main{
    padding-top:20px;
}

label{
    display: block;
    padding: 2px 0;
}
input[type="submit"]{
    float: left;
    background: #f2f2f2;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-top: 20px;
    padding: 4px 10px;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    color: #fff;
    border-color: #1b7aa9;
    background-color: #239fdb;
}


footer{
    padding-top:20px;
    padding-bottom:20px;
    text-align:right;
}

.footer-link{
    font-size:20px;
    width:auto;
    color:inherit;
}

.footer-text{
    font-size:20px;
    width:auto;
    padding-right:3px;
}



@media screen and (max-width: 960px){

    h1{
        font-size:22px;
    }
}

@media screen and (max-width: 768px) {

    h1{
        font-size:19px;
    }
}


@media screen and (max-width: 480px){

    h1{
        font-size:16px;
    }
}
