@font-face{
  font-family: "League Gothic Regular";
  src: url(fonts/LeagueGothic-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

.dropdown{
  display: none;
}

body{
  /*min-width: 960px;*/
}

.logo{
  /*padding-left: 20px;*/
}

.logo--grey{
  padding: 0;

  -webkit-filter: brightness(1.1) contrast(0.4) grayscale(1) invert(1) opacity(100%);
}

.header{
  /*padding-left: 12%;
  padding-right: 12%;*/

  background: url("images/background.jpg") no-repeat center center fixed;
  background-size:cover;


  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.header__top{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items: center;
  width: 960px;
  height: 240px;
  box-sizing: border-box;
}

/*.logo{
  background: url("images/logo.png");
  width: 152px;
  height: 40px;
  box-sizing: border-box;
}*/

.navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items: center;

  /*line-height: 57px;*/
  /*height: 100px;*/
  /*border: 20px solid red;*/
  box-sizing: border-box;
}

.navigation--dropDown{
  border-radius: 0px 0px 10px 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items: center;
  box-sizing: border-box;

  margin-top: 25px;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 12px;

  display: none;
}

.navigation--footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items: center;
  box-sizing: border-box;
}

.navigation__link{
  color: white;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 24px;

  line-height: 30px;
  border-bottom:2px solid rgba(0,0,0,0.0);

  text-shadow: 2px 2px #868686;

  text-decoration: none;
  text-transform:uppercase;
  margin-left: 33px;

  padding-left: 5px;
  padding-right: 5px;

  white-space: nowrap;
}

.navigation__link--dropDown{
  transition-delay: 0.1s;
  color: white;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 24px;

  line-height: 35px;

  border-bottom:2px solid rgba(0,0,0,0.0);

  text-decoration: none;
  text-transform:uppercase;

  display: block;

  white-space: nowrap;

  text-align: center;
  width: 200px;
  margin-left: 0;
  margin-right: 0;
}

.navigation__link--dropDown:last-of-type{
  border-radius: 0px 0px 10px 10px;
}

.navigation__link--dropDownTOP{
  border-radius: 10px 10px 0 0;

  color: white;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 24px;

  line-height: 35px;
  border-bottom:2px solid rgba(0,0,0,0.0);

  text-decoration: none;
  text-transform:uppercase;

  display: block;

  white-space: nowrap;

  text-align: center;
  width: 200px;
  margin-left: 0;
  margin-right: 0;
}

.navigation__link:hover{
  border-bottom: 2px solid #edbfff;
  /*text-decoration:underline;*/
}

.navigation__link--dropDown:hover{
  border-bottom: 2px solid #edbfff;

  background: rgba(54, 41, 62, 0.9);

  /*text-decoration:underline;*/
}

.navigation__link--dropDownTOP:hover{
  border-bottom: 2px solid #edbfff;

  background: rgba(54, 41, 62, 0.9);

  cursor:pointer;

  /*text-decoration:underline;*/
}

.navigation__link--smaller{
  color: white;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 20px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

  text-decoration: none;
  text-transform:uppercase;
  margin-left: 33px;

  white-space: nowrap;
}

.header__bottom{
  width: 100%;
  height: 550px;
  /*background-color: pink;*/
}

.slider__main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 379px;
  background-color: rgba(0,0,0,0.3);
}

.content{
  width: 960px;
  height: inherit;
  display: flex;
  justify-content:flex-start;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;
}

.content__textBlock{
  padding-left: 20px;
  width: 510px;
}

.content__imageBlock{
  width: 450px;
  text-align: center;
}

#phone{
  margin-top: -30px;
}

.slider-tittle{
  margin: 0px;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 59px;
  color: white;
  font-weight: normal;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 1);
}

.slider-slogan{
  margin: 0;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 1);
  color: #edbfff;
}

.slider-slogan--white{
  margin: 0;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 1);
  color: white;
}

.updates-tittle{
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #454545;
}

.updates-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #454545;
}

.slider-slogan--black{
  margin: 0;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #454545;;
}

.slider-slogan__pink{
  color: #edbfff;;
}


.slider-slogan--link{
  margin: 0;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: normal;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 1);
  color: white;
}

.slider-slogan--link:hover{
  text-shadow: 0px 0px 20px rgba(255, 181, 247, 1);
}

.slider-slogan--linkUpdates{
  margin: 0;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: normal;
  color: #454545;
}

.slider-text{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.slider-text--smaller{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.slider-text--about{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color:#454545;
  text-shadow: 1px 1px white;
}


.slider__buttons{
  height: 171px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.round-buttons-block{
  display: flex;
  flex-flow: row;
  /*width: 960px;*/
  /*height: inherit;*/
  align-items: center;
  justify-content:center;
}

.round-buttons-block__button{
  margin-left: 2px;
  margin-right: 2px;
  width:17px;
  height:17px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.round-buttons-block__button:hover{
  background: white;
  box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,1);
  cursor: pointer;
}

.round-buttons-block__button--post{
  margin-left: 2px;
  margin-right: 2px;
  width:17px;
  height:17px;
  border-radius: 50%;
  background: white;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}

.round-buttons-block__button--post:hover{
  background: black;
  box-shadow: inset 0px 0px 0px 3px white;
  cursor: pointer;
}

.wrapper{
  width: 960px;
  margin-left: 20px;
  margin-right: 20px;
}


.about{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content:center;

  background: linear-gradient(#745082, #322539);
  /*height: 340px;*/
}

.about--beforeFooter{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content:center;

  background-color: #ececec;
}

.about-container{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-container--udates{
  display: flex;
  flex-flow:column;
  justify-content: space-between;
}

.about__item{
  display: flex;
  flex-flow: row;
  padding-left: 30px;
}

.about__item--33Percent{
  width: 33%;
  padding-left: 30px;
  display: flex;
  flex-flow: row;
}

.about__item--whiteBackground{
  display: flex;
  flex-flow: row;
  padding-left: 30px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 0 3px #efefef;
}

.about__item--noBackground{
  display: flex;
  flex-flow: row;
  padding-left: 30px;
  margin-bottom: 30px;
}

.item-container--udates{
  padding-top:5px;
  padding-bottom: 5px;
}

.item-container--padding{
  position: relative;
  padding: 20px 20px 20px 0px;
}

.item-container--padding:after {
    content: '';
    display: block;
    position: absolute;
    right: 40px;
    bottom: -15px;
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 2px #efefef;
    background-color: white;
    transform: rotate(54deg) skew(16deg);
}

.item-container--paddingUpdates{
  padding: 20px 20px 20px 0px;
}

.item-icon{
  position: relative;
  height: 48px;
  width: 80px;
}

.item-icon--updates{
  position: relative;
  height: 50px;
  width: 50px;
}



.item-icon__position--avatar{
  position: absolute;
  left: -56px;
  top: 13px;
}

.item-icon__position--1{
  position: absolute;
  left: -26px;
  top: 13px;
  clip: rect(0 48px 23px 0);
}

.item-icon__position--2{
  position: absolute;
  left: -26px;
  top: -11px;
  clip: rect(23px 48px 48px 0);
}

.item-icon__position--3{
  position: absolute;
  left: -26px;
  top: -35px;
  clip: rect(48px 48px 73px 0);
}

.updates-icon__position--1{
  position: absolute;
  left: -26px;
  top: 8px;
  clip: rect(0 50px 50px 0);
}

.updates-icon__position--2{
  position: absolute;
  left: -26px;
  top: -43px;
  clip: rect(50px 50px 100px 0);
}

.updates-icon__position--3{
  position: absolute;
  left: -26px;
  top: -91px;
  clip: rect(100px 50px 148px 0);
}

.more-link{
  text-align: right;
}

.post{
  /*height: 490px;*/
  background-color: #f9f9f9;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 80px;
}

.post-container{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.post__item--50Percent{
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.logos{
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content:center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.logos-container{
  text-align: center;
}

.logos-container__image {
    vertical-align: middle;
    margin: 20px 21px 20px 21px;
}

.test-shadow{
  position: relative;
  width: 200px;
  height: 100px;
  background-color: white;
}

.test-shadow:after {
content: '';
position: absolute;
right: 40px;
bottom: -20px;
border-top: 20px solid #fff;
border-left: 20px solid transparent;
}

.copyright{
  font-family: Georgia, sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #c5c5c5;
  text-shadow: 1px 1px white;
}

footer{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  background: url("images/footer_background.jpg") no-repeat center center;
  background-size: 100% 110px;
  height: 110px;
}

.footer-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.designed-by{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: white;
  line-height: 40px;
}

.designed-by__link{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 800;
  text-decoration: none;
}


/*@media (max-width: 960px){*/
@media screen and (max-width: 960px){

  .wrapper {
    width: 768px;
  }

  .header__top{
    flex-wrap:wrap;
    width: 768px;
  }

  .navigation__link{
    margin-left: 0;
    margin-right: 33px;
  }

  .content{
    width: 768px;
  }
  .content__textBlock{
    width: 380px;
  }
  .content__imageBlock{
    width: 388px;
  }


  .slider-tittle{
    font-size: 47px;
  }

  .slider-slogan{
    font-size: 26px;
  }

  .slider-text{
    font-size: 16px;
  }

  .slider-slogan--white{
    font-size: 24px;
  }

  .slider-slogan--black{
    font-size: 24px;
  }

  .copyright {
    font-size: 14px;
  }

  .item-container--padding:after{
    display: none;
  }

}

@media screen and (max-width: 768px){

  .about {
    /*height: 600px;*/
  }

  .about-container{
    flex-flow: column;
  }

  .wrapper{
    width:480px;
  }

  .header__top{
    flex-wrap:wrap;
    width: 480px;
    height: 205px;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .header__bottom{
    height: 345px;
  }

  .navigation{
    margin-top: 25px;

    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
  }

  .navigation__link{
    text-align: center;
    width: 200px;
    margin-left: 0;
    margin-right: 0;
    display: none;
  }


/*################################################################################*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    top: 15px;
    width: 200px;
    text-align: center;
}

/* Show the dropdown menu on hover */
.dropdown:hover .navigation--dropDown {
    display: flex;
    background: rgba(54, 41, 62, 0.7);
}


.dropdown:hover{
    border-radius: 10px 10px 0px 0px;
    background: rgba(54, 41, 62, 0.7);
    /*background: rgba(54, 41, 62, 0.9);*/
  }

/*################################################################################*/



  /*.navigation__link:first-of-type{
    display:block;
  }*/

  /*.navigation__link:hover .navigation--dropDown{
    top: 6px;
    display: flex;
  }*/


  /*.navigation__link:hover ~ .navigation__link{
    display: block;
  }*/


  .slider__main {
      height: 245px;
  }
  .content{
    width: 480px;
  }
  .content__textBlock{
    width: 225px;
  }
  .content__imageBlock{
    width: 255px;
  }
  .slider-text{
    display: none;
  }

  #phone {
    height: 280px;
    margin-top: -10px;
  }

  .slider-tittle{
    font-size: 36px;
  }

  .slider-slogan{
    font-size: 18px;
  }

  .slider__buttons {
    height: 100px;
  }

  .post-container{
    display: flex;
    flex-flow:column;
    justify-content: space-between;
  }

  .post__item--50Percent {
    width: 100%;
  }
  .slider-slogan--black {
    font-size: 24px;
  }

  .about__item--33Percent {
    width: 93%;
    padding-bottom: 30px;
  }

  .footer-container {
    flex-direction: column;
  }

  .navigation__link--smaller {
      margin-left: 20px;
    }

  .about__item--noBackground {
     padding-left: 0px;
  }

}

@media screen and (max-width: 480px){
  .content{
    text-align: center;
  }
  .content__textBlock {
    width: 100%;
  }
  .content__imageBlock {
    width: 0px;
  }
  #phone {
    display: none;
    width: 0px;
  }

  .about--beforeFooter{
    display: none;
  }


  .navigation__link--smaller {
    display: none;
  }

}


/*
.menu__item{
  font-size: 24px;
  list-style:upper-alpha;
}

.menu__link{
  text-decoration: none;
  color: green;
}

.menu--red .menu__item{
  list-style: decimal-leading-zero;
}

.menu--red .menu__link{
  color:red;
}*/
