.promo-content {
    padding-top: 20px;
}

.promo-content p{
    margin: 30px 0;
    margin-bottom: 50px;
    color: #171717;
    font-size: 16px;
    line-height: 28px;   
}


.promo-content h2{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 44px;
    line-height: 54px;
    color: #171717;
    margin: 50px 0;
    margin-top: 70px;   
}

.promo-content img{
    width: 100%;
    height: auto;
}

.promo-content h3{
    margin: 30px 0;
    margin-top: 60px;  
    color: #171717;
    font-size: 20px;
}

.promo-get-started{
    background: #f7f8fa;
    padding: 100px 0;
}

.promo-get-started h2{
    font-size: 35px;
    margin: 0;
}

.promo-get-started p{
    color: #929292;
    font-size: 15px;
    line-height: 25px;  
    margin: 30px 0;  
}

.promo-get-started .promo-button{
    min-width: 263px;
    height: 76px;
}

.promo-video{
    display: block;
    margin: auto;
    width: 100%;
 
    position: relative;
    padding-bottom: 56.25%;    
}

.promo-video iframe{
    position: absolute;
}

