body{
    font-family: 'Lato', sans-serif, sans-serif;
}

nav{
    background: -webkit-linear-gradient(left, rgba(4, 42, 146, 1.0) 0%, rgba(56, 167, 192, 1.0) 100%);
    background: -o-linear-gradient(left, rgba(4, 42, 146, 1.0) 0%, rgba(56, 167, 192, 1.0) 100%);
    background: linear-gradient(to right, rgba(4, 42, 146, 1.0) 0%, rgba(56, 167, 192, 1.0) 100%);

    padding-left: 15.7%;
    padding-right: 15.7%;

    padding-top: 1.5vw;
    padding-bottom: 1.5vw;

    position: fixed;
    top:0;
    width: 100%;    

    box-sizing: border-box;
}

.header-menu{
    display: flex;
    justify-content:space-between;
}

.header-menu_logo{
    display: flex;
    align-items: center;    
}

.header-menu_logo a{
    font-size: 1.9vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}


.header-menu_logo a::first-letter{
    color: #ffab00;
}

.header-menu_items{
    display: flex;
    align-items: center;    
}

.menu-links{
    white-space: nowrap;

    border-radius: 2vw;

    padding-right: 1.5vw;
    padding-left: 1.5vw;

    margin-left: 1px;
    margin-right: 1px;

    font-size: 1.1vw;
    line-height: 3.3vw;

    color: white;
    text-decoration: none;  
    text-transform: capitalize;  
}

.menu-links > i{
    margin-right: 0.4vw;
}

.menu-links--bordered{
    white-space: nowrap;

    border-radius: 2vw;

    padding-left:1.3vw; 
    padding-right: 0.2vw;  

    /*margin-left: 7px;*/
    margin-right: 7px;

    font-size: 1.3vw;
    line-height: 3.4vw;

    color: white;
    text-decoration: none;   

    border: 2px solid #5eb4cb;
}

.menu-links--bordered > span{
    margin-left: 0.6vw;

    padding: 0.6vw;

    background: #093a97;

    border-radius: 2vw;
    font-variant: small-caps;
}


.header-menu_items a:hover{
    background: #5eb4cb;
}

.active{
    background: #5eb4cb;
}

 /* ----------   MENU FINISHED   ------------*/

 .header-card{
    font-weight: bold;

    width: 100%;

    box-sizing: border-box;

    padding-bottom: 4.5vw;
    padding-left: 8%;
    padding-right: 8%; 

    margin-top: 6.1vw;    

    background: url("../img/el_1.png"), url("../img/el_2.png"), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    background-repeat: no-repeat;

    background-size: 27vw, 24vw, cover;
    background-position: 5% 78%, 31% 0%;
}

.header-main{
    box-sizing: border-box;

    padding-top: 3vw;
    padding-left: 9vw;

    /*height: 90%;*/
    display: flex;
    align-items: center;
}

.header-main_logo img{
    padding-top: 5vw;
    width: 18vw;
}

.header-main_area{
    width: 100%;
    padding-left: 18.7%;
    padding-right: 7%;
    padding-top: 0%;

    color:white;
}

.header-main_area_text{
    font-size: 3.4vw;
    font-weight: 900;
}

.header-main_area_buttons{
    padding-top: 1vw;
}

/*                           */
/*                           */
/*   HEADER CARDS finished   */
/*                           */
/*                           */

main{
    padding-bottom:2.5vw;
}

main h1{
    text-align: center;
    font-size: 3.4vw;
    margin-bottom: 3vw;
    font-weight: 900;
    margin-top: 3vw;
}

/*TEXT SYLES.........................*/

.text-blue{
    color: #0d459a;
} 

.text-white{
    color: white;
}

.text-gray{
    color: #73767d;
}

.underlined{
    border-bottom: 0.23vw solid #0d459a;
}
.text-orange{
    color: #ff9000;
}
/*TEXT SYLES.........................*/

.main-card{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 31.5vw;
}

.card-container{
    display: flex;
    width: 100%;
    padding-left: 19.6%;
    padding-right: 19.6%;

    align-items: center;
}
 
.reversed{
    flex-direction: row-reverse;
}

.white-hand{
    background: url("../img/el_3.png"), url("../img/el_4.png");
    background-repeat: no-repeat;

    background-size: 25vw, 24vw;
    background-position: 88% 58%, 60% 22%;  
}

.green{
    background: url("../img/el_5.png"), url("../img/el_6.png"), url("../img/el_7.png"),linear-gradient(45deg, rgba(1,129,143,1) 0%, rgba(1,129,143,1) 25%, rgba(53,188,130,1) 81%, rgba(53,188,130,1) 100%);
    background-repeat: no-repeat;

    background-size: 33vw, 25vw, 28vw, cover;
    background-position: 3% 67%, 30% 27%, 99% 16%;
}

.white-api{
    background: url("../img/el_8.png");
    background-repeat: no-repeat;

    background-size: 25vw;
    background-position: 87% 63%;
}

.pink{
    background: url("../img/el_9.png"), url("../img/el_10.png"),linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
    background-repeat: no-repeat;

    background-size: 24vw, 26vw, cover;
    background-position: 12% 47%, 97% 70%;
}

.white-text{
    color: white !important;
}

.solid-pink{
    background: #f95490;
}

.light-pink{
    background: #ff83c1;
}

.solid-green{
    background: #15b89b;
}

.blue-backgound{
    background: #093a97;
}

.white-background{
    background-color: white;
}

.green-background{
    background: rgba(73, 178, 161, 0.5);
}

.pink-background{
    background: rgba(255, 131, 193, 0.5);
}

.card-container > div {
    width: 50%;
    padding-right: 2.4vw;
}

.card-container > div:nth-child(2) {
     padding-left: 1.0vw; 
}

/*.card-container > div:nth-child(1) {
    padding-right: 5%;
}

.card-container > div:nth-child(2) {
    padding-left: 5%;
}*/

.card-container img {
    margin-top: 4vw;
    width: 24vw; 
}

.card-container h2{
    font-size: 2.1vw;
    text-transform: capitalize;
    font-weight: 900;
    margin-top: 0;  
    margin-bottom: 1vw; 
}

.card-container p{
    line-height: 1.8vw;
    font-size: 1vw;
    margin-bottom: 1vw;
    margin-top: 1vw;   
    padding-right: 4vw;
}

.delimeter{
    /*background: #f95490;*/
    width:20%;
    height: 0.3vw;
}

.main-button{
    display: inline-block;
    white-space: nowrap;
    border-radius: 2vw;
    padding-right: 1.3vw;
    padding-left: 1.3vw;
    font-size: 1.1vw;
    line-height: 3.3vw;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    margin-top: 1.3vw;
}

.main-button > i{
    margin-left: 0.5vw;
}

.main-card_logo--hand{
    /*width: 25vw;
    height: 25vw;

    border-radius: 50%;
    box-shadow: -4vw 4vw 10vw -1vw rgba(0, 0, 0, 0.37);

    background: url("main_hand.png");
    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
    background-size: 85%;

    background-color: white;*/
}

.main-card_logo--clock{
    width: 25vw;
    height: 25vw;

    border-radius: 50%;
    box-shadow: -4vw 4vw 10vw -1vw rgba(0, 0, 0, 0.37);

    background: url("main_clock.png");

    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
    background-size: 85%;

    background-color: white;
}

.main-card_logo--monitor{
    width: 25vw;
    height: 25vw;

    border-radius: 50%;
    box-shadow: -4vw 4vw 10vw -1vw rgba(0, 0, 0, 0.37);

    background: url("main_monitor.png");

    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
    background-size: 66%;

    background-color: white;
}

.main-card_logo--formats{
    width: 25vw;
    height: 25vw;

    border-radius: 50%;
    box-shadow: -4vw 4vw 10vw -1vw rgba(0, 0, 0, 0.37);

    background: url("main_formats.png");

    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
    background-size: 75%;

    background-color: white;
}


/*                         */
/*                         */
/*   MAIN CARDS finished   */
/*                         */
/*                         */

.vertical-delimeter-container{
    text-align: center;
}

.vertical-delimeter{
    height: 5vw;
    width: 2px;
    background: #efefef;
    display: inline-block;
    margin-top: 1vw;
    margin-bottom: 1vw;    
}

.button-container{
    text-align: center;
}

.menu-links--main{
    display: inline-block;
    background: #1451a1;
    font-weight: bold;
    border: 2px solid #1451a1;

    white-space: nowrap;

    border-radius: 2vw;

    padding-right:1.3vw; 
    padding-left: 0.2vw;  

    margin-left: 7px;
    margin-right: 7px;

    font-size: 1.3vw;
    line-height: 3.4vw;

    color: white;
    text-decoration: none;   
}

.menu-links--main > span{
    padding: 0.6vw;

    background: #5b86bd;

    border-radius: 2vw;
    font-variant: small-caps;
}

/*============CONTACT=============*/

.contact-container{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;    
}


.contact-container > div:nth-child(1) {
    padding-right: 2%;
    width: 35%;
}

.contact-container > div:nth-child(2) {
    padding-left: 2%;
    width: 65%;
}

.contact-container p {
    color: #73767d;
    font-size: 1.4vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    text-align: justify;
}

form fieldset{
    border: none;
}

form button{
    background: #1451a1;
    font-weight: bold;
    border: none;

    white-space: nowrap;

    border-radius: 2vw;

    padding-right:2.3vw; 
    padding-left: 2.3vw;  

    font-size: 1.3vw;
    line-height: 3.4vw;

    color: white;
    text-decoration: none;  

    border: none;
    outline:none;      
}

.form-group{
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.form-group > input:nth-child(1){
    margin-right: 1vw;
}

form textarea {
    border: 2px solid #eeeeee;

    box-sizing: border-box;
    width: 100%;
    height: 10vw;
    padding:1.3vw; 

    color: #73767d;
    font-size: 1.4vw;

    resize: none;
    border-radius: 2vw;
    outline:none;
}

form input{
    border: 2px solid #eeeeee;
    flex: 1;

    padding:1.3vw; 

    color: #73767d;
    font-size: 1.4vw;

    border-radius: 2vw;    

    outline:none;
}

/*============ CUSTOM SELECT ==========*/

form .custom-select{
    position: relative;

    background: white;
    border: 2px solid #eeeeee;
    border-radius: 2vw;

    padding:1.3vw; 
}

form .custom-select{
    flex: 1;
}


form .custom-select select:invalid { color: #c1c2c5; }

form .custom-select select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;

    display: flex;
    width: 100%;
    border: none;
    background: none;   
    outline:none; 

    /*color: #c1c2c5;*/
    color: #73767d;
    font-size: 1.4vw;    
}

/*for IE10*/
form .custom-select select::-ms-expand {
    display: none;
}

form .custom-select::after{
    padding: 1.3vw;
    position: absolute;
    right: 0;
    content: attr(data-background-icon);
    font-family: "FontAwesome";
    color: #1451a1;
    font-size: 1.8vw;
    top: 0;
    pointer-events: none;
}


/*============ CUSTOM SELECT END ==========*/

/*============ FOOTER =====================*/

.footer{
    padding-top: 2vw;
    padding-bottom: 2vw;

    background: linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.footer-main{
    margin-top: 1.2vw;
}

.footer-copyright{
    font-size: 1.4vw;
    margin-right: 1.4vw;
}

.footer-links-block{
    display: flex;
}

.footer-links{
    color: white;
    text-decoration: none;  
    text-transform: capitalize;  
    font-size: 1.4vw;

    padding-right: 0.7vw;
    padding-left: 0.7vw;

    border-right: 1px solid white;
}

.footer-links:last-of-type{
    border-right: none;
}