:root {
  --main-bg-color: white;
  --header-nav-height: 0px
}

html {
  background-color: var(--main-bg-color);
}

.content-container{
  padding: 0 25px;
  width: 100%;
}

main{
  padding-top: var(--header-nav-height);
}