:root {
  --main-bg-color: white;
  --header-nav-height: 0px;
  --sidebar-width: 280px;
}

html {
  background-color: var(--main-bg-color);
  font-family: "proxima-nova";
}

.content-container{
  padding: 0 25px;
  width: 100%;
}

main{
  padding-top: var(--header-nav-height);
}