

.content{
	overflow: auto;
	position: relative;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.content.hidden{ display: none; }

.content input[type='text'], .content textarea{
	border: none;
	min-height: 20px;
}

.content textarea{
	min-height: 80px;
	width: 60%;
    background: slategrey;
}


.textarea-example .content{ 
    /*width: 360px; */
    width: 100%;
}

.textarea-example .content form{ margin: 25px 0 15px 0; }

.textarea-example .content textarea, .textarea-example .textarea-clone{
	width: 100%;
	padding: 0 10px;
    line-height: 20px;
    box-sizing: border-box;
}

.textarea-example .content textarea{
	height:124px;
	resize:none; 
	overflow:hidden; 
	outline:none;
    margin: 0;
    padding: 0;
	border:none;
	background:transparent;
	box-shadow: none;
}

.textarea-example .content .textarea-wrapper{
	height:148px; 
	overflow:hidden;
	background:white;

    padding: 5px 13px;
    padding-right: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 13px;    
}

.textarea-example .textarea-clone{
	position:absolute; 
	top:-9999px; 
	left:-9999px; 
	visibility:hidden; 
	min-height: 160px; 
	word-wrap: break-word;
	white-space: pre-wrap;
}

.textarea-example .content .textarea-wrapper .mCSB_scrollTools{ margin: 10px 5px; }


