.q5-help-center-title {
    font-size: 11px;
}

.q5-sidebar-menu__links > .q-link {
    font-size: 14px;
}

.q5-sidebar-menu__submenu > .q-link {
    font-size: 14px;
    line-height: 25px;
}

.q5-help-center-section-title {
    font-size: 24px;
}

.q5-help-content h2 {
    font-size: 16px;
}

.q5-help-content p {
    font-size: 14px;
    line-height: 24px;
}

.q5-help-content ol, .q5-help-ordered-list {
    font-size: 14px;
    line-height: 24px;
}

.q5-help-message {
    font-size: 12px;
    line-height: 16px;
}

.q5-step {
    font-size: 15px;
    line-height: 51px;
    padding-left: 53px;
}

.q5-step--next {
    background-size: 29px;
    background-position: 14px;
}

.q5-step--next:hover {
    background: url(../img/go_over.png);
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: 14px;
}

.q5-step--back {
    background-size: 29px;
    background-position: 14px;
}

.q5-step--back:hover {
    background: url(../img/go_back_over.png);
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: 14px;
}

.q5-title-btn {
    width: 32px;
    height: 32px;
}

.q5-title-btn__back {
    background: url(../img/go_back.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.q5-title-btn__back:hover {
    background: url(../img/go_back_over.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.q5-title-btn__next:hover {
    background: url(../img/go_over.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.q5-title-btn__next {
    background: url(../img/go.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.q5-title-btn + .q5-title-btn {
    margin-left: 10px;
}

.q5-input-and-button > button {
    min-width: 100px;
}

.q5-button-default {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 20px;
    border-width: 1px;
}

.q5-input-and-button > input {
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-right: 15px;
    border-width: 1px;
}

.q5-help-content .q5-help-ordered-list-item__title-block h2 {
    font-size: 14px;
}