
/*background colors*/
.q6-blue-background{
    background: #3270eb;
}

.q6-green-background{
    background: #1fa550;
}

.q6-red-background{
    background: #e04a4b;
}

.q6-gray-background{
    background: #f3f3f3;
}

.q6-light-gray-background{
    background: #f8f8f8;
}

.q6-white-background{
    background: white;
}
/*background colors*/

/*border colors*/
.q6-green-border{
    border-color: #1fa550;
}

.q6-red-border{
    border-color: #e04a4b;
}

.q6-blue-border{
    border-color: #3270eb;
}
/*border colors*/


/*text colors*/
.q6-white-text{
    color: white;
}

.q6-black-text{
    color: #171717;
}

.q6-green-text{
    color: #3aad60;
}
/*text colors*/

.q6-main {
    padding-bottom: 0;
}

.q6-container{
    width: 1040px;
    margin: auto;
    padding: 0 20px;
}

.q6-page-title{
    padding: 25px 0;
}

.q6-page-title h1{
    margin: 0;
    font-size: 23px;
}

.q6-section-title{
    margin: 18px 0;
    font-weight: 100;
    margin-top: 40px;
}

.q6-two-columns{
    display: flex;
}

.q6-two-columns > div:nth-of-type(2){
    margin-left: 25px;
}

.q6-drag-and-drop-container{
    padding: 23px;
    border-radius: 13px;
    height: 100%;
}

.q6-drag-and-drop{
    width: 400px;
    height: 240px;
    border: 1px dashed #bebebe;
    border-radius: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   

    padding: 10px;
    box-sizing: border-box;     
}

.q6-drag-and-drop__icon{
    width: 65px;
    height: 57px;

    background-image: url(../img/drag_and_drop_icon.png);
    background-size: 65px 57px;
    background-repeat: no-repeat;    
}

.q6-drag-and-drop__message-container{
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
}

.q6-drag-and-drop__title{
    font-weight: bold;
    margin: 6px 0;
    font-size: 16px;    
}

.q6-drag-and-drop__intructions{
    font-size: 15px;
}

.q6-upload-file-link{
    display: inline-block;
}

.q6-upload-file-link input{
    display: none;
}

.q6-upload-file-link label{
    text-decoration: underline;
    cursor: pointer;
}

.q6-drag-and-drop__file-container{
    display: flex;
    align-items: center;   
    justify-content: center; 
    width: 100%;
}

.q6-remove-video-icon{
    width: 20px;
    height: 20px;
    background-image: url(../img/remove_video_icon.png);
    background-size: 42px 20px;
    background-repeat: no-repeat;    
    cursor: pointer;
}

.q6-drag-and-drop__filename{
    font-size: 14px;
    color: #575757;
    word-wrap: break-word;

    max-width: 88%;    
}

.q6-input{
    margin-top: 15px;  
}

.q6-input__label{
    color: #171717;
    font-size: 13px;
    margin: 4px 0;
    font-family: GraphikMedium;

    display: flex;
    align-items: center;
    justify-content: space-between;      
}

.q6-input__label span{
    color: #787878;    
    font-family: GraphikRegular, sans-serif;    
}

input[type=text].q6-input__field{
    width: 100%;
    padding: 12px 13px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 13px;
}


.q6-video-upload__message{
    display: flex;
    color: #171717;
    font-family: GraphikMedium;
    font-size: 14px;
    margin-bottom: 3px;
}

.q6-video-upload__progress-bar{
    height: 8px;
    width: 100%;
    background: #d4d4d4;
    border-radius: 2px;
}

.q6-progress-complete{
    background: #1fa550;
    height: 100%;
    /*width: 75%;*/
    border-radius: 2px;
}

.q6-input-details-container{
    width: 100%;
}

.q6-input-details-container > .q6-two-columns > div:nth-of-type(1){
    width: 45%;
}

.q6-input-details-container > .q6-two-columns > div:nth-of-type(2){
    width: 55%;
}

.q6-button{
    font-family: GraphikMedium;

    outline: none;
    display: inline-block;
    padding: 12px 16px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid;
    border-radius: 7px;
    transition: all 0.2s ease;

    color: white;
}

a.q6-button{
    text-decoration: none;
}


#cancel-upload-button > span{
    position: relative;
}

#cancel-upload-button > span:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -24px;
    top: -3px;    
    background-image: url(../img/remove_video_icon.png);
    background-size: 42px 20px;
    background-repeat: no-repeat;
    background-position: -22px 0;
    cursor: pointer;
}


#start-new-upload-button > span{
    position: relative;
}

#start-new-upload-button > span:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 22px;
    left: -24px;
    top: -4px;    
    background-image: url(../img/reload_video_icon.png);
    background-size: 18px 22px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.q6-custom-select{
    position: relative;
}

.q6-custom-select:after {
    content: "\f0d7";
    color: #bdbdbd;
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    top: 14px;
    padding-right: 10px;
    font-size: 14px;
    pointer-events: none;
}

.q6-select {
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    padding: 12px 13px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 13px;    
}

.q6-multiple-checkboxes{
    height: 225px;
    width: 100%;
    padding: 12px 13px;
    padding-right: 5px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 13px;    

    overflow-y: auto;
}



/* Checkbox */
.q6-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.q6-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.q6-checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    transition: all 0.1s ease;
}

.q6-checkbox:hover input ~ .q6-checkmark {
    background-color: #ededed;
}

.q6-checkbox input:checked ~ .q6-checkmark {
    background-color: #1fa550;
}

.q6-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.q6-checkbox input:checked ~ .q6-checkmark:after {
    display: block;
}

.q6-checkbox .q6-checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox */

/*Custom Scrollbar*/
dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #ececec;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #c2c2c2;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #9f9f9f;  
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
{
    background-color: #9f9f9f;    
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 8px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail {
    width: 8px;
}
/*Custom Scrollbar*/


.q6-help-icon{
    background: #eff1f0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    border-radius: 2px;
    color: #696d70;

    display: flex;
    align-items: center;
    justify-content: center;    
}

.q6-help-icon span{
    color: #696d70;
    font-family: GraphikMedium;
    font-weight: bold;
}

.q6-output-variables{

}





.q6-encoding-video-summary{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.q6-encoding-video__icon{
    width: 49px;
    height: 55px;
    background-image: url(../img/fileinfo_icon.png);
    background-size: 49px 55px;
    background-repeat: no-repeat;
}

.q6-encoding-video__notes-icon{
    position: absolute;
    right: -68px;
    width: 68px;
    height: 68px;
    background-image: url(../img/notes_icon.png);
    background-size: 68px 68px;
    background-repeat: no-repeat;    
    cursor: pointer;
}

.q6-encoding-video__table{
    display: flex;
    color:#575757;
    font-size: 13px;
}
.q6-video__table-column{
    margin-left: 23px;
    margin-right: 23px;
    display: flex;
}

.q6-video__table-cell > div{
    padding: 6px;
}

.q6-video__table-column > .q6-video__table-cell:nth-of-type(2){
    font-weight: bold;
    margin-left: 5px;
}

.q6-encoding-details-table {
    padding-bottom: 40px;
    padding-top: 1px;
}


.q6-encoding-details-table{
    position: relative;
}

.q6-table-head-underline{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    border-bottom: 2px solid #eeeeee;
}

.q6-table{
    color: #171717;
    width: 100%;
    text-align: left;
    font-size: 13px;    
    margin-top: 5px; 
    box-sizing: border-box;
}

.q6-table div{
    box-sizing: border-box;    
}

.q6-table-head{
    font-family: GraphikMedium;
    font-weight: normal; 
    font-size: 13px; 

    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;       
}

.q6-table-row{
    background: white;   
    display: flex;
    margin: 8px auto;
}

.q6-table-row--active {
    background: #f9f9f9;
    box-shadow: 1px 1px 1px 0px rgb(182, 182, 182);
}

.q6-table-dropdown-content .q6-expandable-row.q6-table-row--active{
    font-weight: bold;
}

.q6-table-dropdown-content.q6-table-row{
    background: none;
    padding-left: 10px;
}

.q6-table-dropdown-content.q6-table-row > .q6-table{
    padding: 1px;
}

.q6-table-head > .q6-table-row{
    background: none;
    margin-bottom: 0;
}

.q6-table-row > div{
    flex: 1;
    padding: 15px 15px;
    padding-right: 5px;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*overflow: hidden;    */

    color: #575757;
}

.q6-table-dropdown {
    cursor: pointer;
    position: relative;
    padding-left: 17px;
    color: #316fea;
}

.q6-table-dropdown:after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    font-size: 12px;
    top: 1px;
    transition: all 0.1s ease;
}

.q6-table-dropdown--active:after {
    transform: rotate(90deg);
}

.q6-row-has-error{
    border: 1px solid #de3c3a;
    flex-direction: column;
}

.q6-row-has-error > .q6-table-row{
    padding: 0;
    margin: 0;
}

.q6-table-row--error-message{
    border-top: 1px solid #eeeeee;
    margin: 0;         
}

.q6-row-error-message__content{
    display: flex;
    width: 100%; 
    align-items: center;
}

.q6-row-error-message__content > div:nth-of-type(1){
    flex: 5;

    word-wrap: break-word;
    white-space: normal;       
}

.q6-row-error-message__content > div:nth-of-type(2){
    flex: 1;
    text-align: right;
}

.q6-row-error-message__content .q6-button{
    font-size: 13px;
}

.q6-expandable-row{
    cursor: pointer;
}


.q6-table-row > div.q6-video-preview-container{
    display: flex;
    padding-left: 0;
    padding-right: 0;    
}

.q6-table-dropdown-content.q6-table-row.q6-video-preview-container{
    padding-left: 0;
    margin: 15px 0;
}

.q6-video-preview__player{
    width: 530px;
    height: 300px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.q6-table-row > div.q6-video-preview__player{
    flex: initial;
}

.q6-play-video-btn{
    width: 66px;
    height: 66px;
    background-image: url(../img/play_video_btn.png);
    background-size: 66px 66px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.q6-video-preview__details{
    background: white;
    margin-left: 15px;
    flex-grow: 1;      
}

.q6-table-row > div.q6-video-preview__details{
    padding: 30px 35px;
}

.q6-preview-details-columns{
    display: flex;
    line-height: 30px;
    font-size: 13px;    
}

.q6-preview-details-columns > div{
    margin-left: 10px;
}

.q6-preview-details-columns > div:nth-of-type(1){
    margin-left: 0;
}

.q6-preview-details-columns > div:nth-of-type(2){
    font-weight: bold;
}

.q6-video-details-btns  {
    text-align: right;
    margin-top: 15px;
}

.q6-video-details-btns .q6-button{
    font-size: 13px;
}

.q6-status-message-container{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    position: relative;
}

.q6-status-button{
    position: relative;
}

.q6-tooltip{
    display: none;
    position: absolute;
    bottom: -20px;
    min-width: 34px;
    text-align: center;
    color: #686d71;
    background: #e7e7e7;
    padding: 2px;
    border-radius: 3px;  
}

.q6-status-button:hover .q6-tooltip{
    display: block;
}

.q6-status-button__play{
    width: 34px;
    height: 34px;
    margin: 0 2px;
    background-image: url(../img/video_details_buttons.png);
    background-size: 104px 70px;
    background-repeat: no-repeat;
    cursor: pointer;    

    background-position: 0 0;
}

.q6-status-button__play:hover{
    background-position: 0 -35px;
}

.q6-status-button__open {
    width: 34px;
    height: 34px;
    margin: 0 0px;
    background-image: url(../img/video_details_buttons.png);
    background-size: 104px 70px;
    background-repeat: no-repeat;
    cursor: pointer;    

    background-position: -35px 0;
}

.q6-status-button__open:hover{
    background-position: -35px -35px;
}


.q6-status-button__copy{
    width: 34px;
    height: 34px;
    margin: 0 2px;
    background-image: url(../img/video_details_buttons.png);
    background-size: 104px 70px;
    background-repeat: no-repeat;
    cursor: pointer;    

    background-position: -70px 0;
}

.q6-status-button__copy:hover{
    background-position: -70px -35px;
}


.q6-status-message__buttons{
    position: absolute;
    right: 0;    
    display: flex;
}

.q6-table-row > div:last-of-type{
    min-width: 250px;
}

.q6-encoding-status{
    display: flex;
    align-items: center;   
    padding-left: 22px;
    width: 100%;
}

.q6-status-icon{
    position: relative;
}

.q6-status-icon:before{
    content:"";
    position: absolute;
    width:18px;
    height: 18px;

    left: -22px;
    top: -2px;

    background-image: url(../img/encoding_status_icons.png);
    background-size: 58px 18px;
    background-repeat: no-repeat;
}

.q6-status__encoding:before{
    background-position: 0 0;  
}

.q6-status__done:before{
    background-position: -20px 0;  
}

.q6-status__error:before{
    background-position: -40px 0;  
}

.q6-encoding-progress{
    display: flex;
    position: relative;
}

.q6-progress-bar-contaner{
    position: absolute;
    width: 100%;
    max-width: 200px;
    height: 3px;
    bottom: -8px;
    background: #eeeeee;
}

.q6-progress-bar{    
    height: 3px;
    background: #898989;
}

.q6-demo-parameters{
    resize: none;
    height: 148px;
    margin: 0;
    padding: 0;
    padding: 12px 13px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    font-size: 13px;
}

.q6-table-navigation{
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    margin-top: 15px;    
}

.q6-table-navigation__numbers{
    background: #ececec;
    padding: 6px 10px;
    color: #575757;
    font-size: 13px;    
}

.q6-table-navigation__buttons{
    margin-left: 7px;    
}

.q6-table-navigation__buttons > a{
    color: #bebebe;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

.q6-table-navigation__buttons > a:hover{
    color: #979797;
}

.q6-full-screen-underline{
    border-bottom: 2px solid #eeeeee; 
}

.q6-table-body{
    margin-top: 15px;
}


/*MODIFICATORS*/
.q6-margin-left_10px{
    margin-left: 10px;
}

.q6-margin-top_25px{
    margin-top: 25px;
}

.q6-hidden {
    display: none;
}

.q6-max-wide{
    width: 100%;
}

.q6-top-margin{
    margin-top: 25px;    
}

.q6-align-start{
    justify-content: flex-start;    
}

.q6-no-padding{
    padding: 0;
}
/*MODIFICATORS*/