
/*background colors*/
.q6-blue-background{
    background: #3270eb;
}

.q6-green-background{
    background: #1fa550;
}

.q6-gray-background{
    background: #f3f3f3;
}

.q6-light-gray-background{
    background: #f8f8f8;
}

.q6-white-background{
    background: white;
}
/*background colors*/

/*border colors*/
.q6-green-border{
    border-color: #1fa550;
}

.q6-blue-border{
    border-color: #3270eb;
}
/*border colors*/


/*text colors*/
.q6-white-text{
    color: white;
}

.q6-black-text{
    color: #171717;
}

.q6-green-text{
    color: #3aad60;
}
/*text colors*/

.q6-main {
    padding-bottom: 0;
}

.q6-container{
    width: 1040px;
    margin: auto;
    padding: 0 20px;
}

.q6-page-title{
    padding: 25px 0;
}

.q6-page-title h1{
    margin: 0;
    font-size: 23px;
}

.q6-section-title{
    margin: 18px 0;
    font-weight: 100;
    margin-top: 40px;
}

.q6-two-columns{
    display: flex;
}

.q6-two-columns > div:nth-of-type(2){
    margin-left: 25px;
}

.q6-drag-and-drop-container{
    padding: 23px;
    border-radius: 13px;
    height: 100%;
}

.q6-drag-and-drop{
    width: 400px;
    height: 240px;
    border: 1px dashed #bebebe;
    border-radius: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   

    padding: 10px;
    box-sizing: border-box;     
}

.q6-drag-and-drop__icon{
    width: 65px;
    height: 57px;

    background-image: url(../img/drag_and_drop_icon.png);
    background-size: 65px 57px;
    background-repeat: no-repeat;    
}

.q6-drag-and-drop__title{
    font-weight: bold;
    margin: 6px 0;
    font-size: 16px;    
}

.q6-drag-and-drop__intructions{
    font-size: 15px;
}

.q6-upload-file-link{
    display: inline-block;
}

.q6-upload-file-link input{
    display: none;
}

.q6-upload-file-link label{
    text-decoration: underline;
    cursor: pointer;
}

.q6-drag-and-drop__filename{
    font-size: 14px;
    margin: 5px 0;    
    color: #7c7c7c;
}

.q6-input{
    margin-top: 15px;  
}

.q6-input__label{
    color: #171717;
    font-size: 13px;
    margin: 4px 0;
    font-family: GraphikMedium;

    display: flex;
    align-items: center;
    justify-content: space-between;      
}

.q6-input__label span{
    color: #787878;    
    font-family: GraphikRegular, sans-serif;    
}

input[type=text].q6-input__field{
    width: 100%;
    padding: 12px 13px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 13px;
}

.q6-input-details-container{
    width: 100%;
}

.q6-input-details-container > .q6-two-columns > div:nth-of-type(1){
    width: 45%;
}

.q6-input-details-container > .q6-two-columns > div:nth-of-type(2){
    width: 55%;
}

.q6-button{
    font-family: GraphikMedium;

    outline: none;
    display: inline-block;
    padding: 12px 16px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid;
    border-radius: 7px;
    transition: all 0.2s ease;

    color: white;
}


.q6-custom-select{
    position: relative;
}

.q6-custom-select:after {
    content: "\f0d7";
    color: #bdbdbd;
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    top: 14px;
    padding-right: 10px;
    font-size: 14px;
    pointer-events: none;
}

.q6-select {
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    padding: 12px 13px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 13px;    
}

.q6-multiple-checkboxes{
    height: 225px;
    width: 100%;
    padding: 12px 13px;
    padding-right: 5px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 13px;    
}



/* Checkbox */
.q6-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.q6-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.q6-checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    transition: all 0.1s ease;
}

.q6-checkbox:hover input ~ .q6-checkmark {
    background-color: #ededed;
}

.q6-checkbox input:checked ~ .q6-checkmark {
    background-color: #1fa550;
}

.q6-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.q6-checkbox input:checked ~ .q6-checkmark:after {
    display: block;
}

.q6-checkbox .q6-checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox */

/*Custom Scrollbar*/
dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #ececec;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #c2c2c2;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #9f9f9f;  
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
{
    background-color: #9f9f9f;    
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 8px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail {
    width: 8px;
}
/*Custom Scrollbar*/


.q6-help-icon{
    background: #eff1f0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    border-radius: 2px;
    color: #696d70;

    display: flex;
    align-items: center;
    justify-content: center;    
}

.q6-help-icon span{
    color: #696d70;
    font-family: GraphikMedium;
    font-weight: bold;
}

.q6-output-variables{

}





.q6-encoding-video-summary{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.q6-encoding-video__icon{
    width: 49px;
    height: 55px;
    background-image: url(../img/fileinfo_icon.png);
    background-size: 49px 55px;
    background-repeat: no-repeat;
}

.q6-encoding-video__table{
    display: flex;
    color:#575757;
    font-size: 14px;
}
.q6-video__table-column{
    margin-left: 23px;
    margin-right: 23px;
    display: flex;
}

.q6-video__table-cell > div{
    padding: 6px;
}

.q6-video__table-column > .q6-video__table-cell:nth-of-type(2){
    font-weight: bold;
    margin-left: 5px;
}

.q6-encoding-details-table {
    padding-bottom: 40px;
    padding-top: 1px;
}


.q6-encoding-details-table{
    position: relative;
}

.q6-table-head-underline{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    border-bottom: 2px solid #eeeeee;
}

.q6-table{
    color: #171717;
    width: 100%;
    text-align: left;
    font-size: 13px;    
    margin-top: 5px; 
}

.q6-table-head{
    font-family: GraphikMedium;
    font-weight: normal; 
    font-size: 13px; 

    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;       
}

.q6-table-row{
    background: white;   
    display: flex;
    margin: 8px 0;
}

.q6-table-row--active {
    background: #f9f9f9;
    box-shadow: 1px 1px 1px 0px rgb(182, 182, 182);
}

.q6-table-dropdown-content.q6-table-row{
    background: none;
    padding-left: 10px;
}

.q6-table-dropdown-content.q6-table-row > .q6-table{
    padding: 0;
}

.q6-table-head > .q6-table-row{
    background: none;
    margin-bottom: 0;
}

.q6-table-row > div{
    flex: 1;
    padding: 10px 10px;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;    

    color: #575757;
}

.q6-table-dropdown {
    cursor: pointer;
    position: relative;
    padding-left: 17px;
    color: #316fea;
}

.q6-table-dropdown:after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    font-size: 12px;
    top: 1px;
    transition: all 0.1s ease;
}

.q6-table-dropdown--active:after {
    transform: rotate(90deg);
}

.q6-row-has-error{
    border: 1px solid #de3c3a;
    flex-direction: column;
}

.q6-row-has-error > .q6-table-row{
    padding: 0;
    margin: 0;
}

.q6-table-row--error-message{
    border-top: 1px solid #eeeeee;
    margin: 0;         
}

.q6-row-error-message__content{
    display: flex;
    width: 100%; 
    align-items: center;
}

.q6-row-error-message__content > div:nth-of-type(1){
    flex: 5;

    word-wrap: break-word;
    white-space: normal;       
}

.q6-row-error-message__content > div:nth-of-type(2){
    flex: 1;
    text-align: right;
}

.q6-row-error-message__content .q6-button{
    font-size: 13px;
}

.q6-expandable-row{
    cursor: pointer;
}

/*MODIFICATORS*/
.q6-hidden {
    display: none;
}

.q6-max-wide{
    width: 100%;
}

.q6-top-margin{
    margin-top: 25px;    
}

.q6-align-start{
    justify-content: flex-start;    
}
/*MODIFICATORS*/