@font-face {
   font-family: GraphikRegular;
   src: url(../fonts/Graphik/Graphik-Regular.otf);
}

@font-face {
   font-family: GraphikMedium;
   src: url(../fonts/Graphik/Graphik-Medium.otf);
}

@font-face {
   font-family: GraphikSemibold;
   src: url(../fonts/Graphik/Graphik-Semibold.otf);
}

@font-face {
   font-family: GraphikLight;
   src: url(../fonts/Graphik/Graphik-Light.otf);
}

.q6-main {
    padding-bottom: 0;
}

.q6-container{
    /*width: 1040px;*/
    max-width: 1040px;
    margin: auto;
    padding: 0 20px;
    box-sizing: content-box;    
}

.q6-page-title{
    padding: 25px 0;
}

.q6-page-title h1{
    margin: 0;
    font-size: 24px;
    text-align: left;
    line-height: initial;
    font-family: GraphikSemibold;
}

.q6-section-title{
    margin: 18px 0;
    font-weight: 100;
    margin-top: 40px;
    font-size: 30px;
    line-height: initial;
    font-family: GraphikLight;
}

.q6-two-columns{
    display: flex;
}

.q6-two-columns > div:nth-of-type(2){
    margin-left: 25px;
}

.q6-drag-and-drop-container{
    padding: 23px;
    border-radius: 13px;
    height: 100%;
}

.q6-drag-and-drop{
    width: 400px;
    height: 240px;
    border: 1px dashed #bebebe;
    border-radius: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   

    padding: 10px;
    box-sizing: border-box;     
}

.q6-drag-and-drop__icon{
    width: 65px;
    height: 57px;

    background-image: url(../img/drag_and_drop_icon.png);
    background-size: 65px 57px;
    background-repeat: no-repeat;    
}

.q6-drag-and-drop__message-container{
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
}

.q6-drag-and-drop__title{
    font-weight: bold;
    margin: 6px 0;
    font-size: 16px;    
}

.q6-drag-and-drop__intructions{
    font-size: 15px;
}

.q6-upload-file-link{
    display: inline-block;
}

.q6-upload-file-link input{
    display: none;
}

.q6-upload-file-link label{
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
    font-weight: 100;    
}

.q6-drag-and-drop__file-container{
    display: flex;
    align-items: center;   
    justify-content: center; 
    width: 100%;
}

.q6-remove-video-icon{
    width: 20px;
    height: 20px;
    background-image: url(../img/remove_video_icon.png);
    background-size: 42px 20px;
    background-repeat: no-repeat;    
    cursor: pointer;
}

.q6-drag-and-drop__filename{
    font-size: 14px;
    color: #575757;
    word-wrap: break-word;

    max-width: 88%;    
}

.q6-input{
    margin-top: 10px;  
    margin-bottom: 5px;
    position: relative;
}

.q6-input__label{
    color: #171717;
    font-size: 14px;
    margin: 4px 0;
    font-family: GraphikMedium;

    display: flex;
    align-items: center;
    justify-content: space-between;      
}

.q6-input__label label{
    margin-bottom: 0;
    font-weight: 100;    
}

.q6-input__label span{
    color: #797979;
    font-family: GraphikRegular, sans-serif;    
}

input[type=text].q6-input__field,
input[type=tel].q6-input__field,
input[type=password].q6-input__field{
    width: 100%;
    padding: 14px 14px;
    padding-bottom: 13px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 16px;
    line-height: initial;
    font-family: GraphikRegular;
    color: #575757;
}


.q6-video-upload__message{
    display: flex;
    color: #171717;
    font-family: GraphikMedium;
    font-size: 14px;
    margin-bottom: 3px;
}

.q6-video-upload__progress-bar{
    height: 8px;
    width: 100%;
    background: #d4d4d4;
    border-radius: 2px;
}

.q6-progress-complete{
    background: #1fa550;
    height: 100%;
    /*width: 75%;*/
    border-radius: 2px;
}

.q6-input-details-container{
    width: 100%;
}

.q6-input-details-container > .q6-two-columns > div:nth-of-type(1){
    width: 45%;
}

.q6-input-details-container > .q6-two-columns > div:nth-of-type(2){
    width: 55%;
}

.q6-button{
    font-family: GraphikMedium;

    outline: none;
    display: inline-block;
    /*padding: 8px 14px;*/
    padding: 13px 14px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid;
    border-radius: 5px;
    transition: all 0.2s ease;

    color: white;
}

a.q6-button{
    text-decoration: none;
}


#cancel-upload-button > span{
    position: relative;
}

#cancel-upload-button > span:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -24px;
    top: -3px;    
    background-image: url(../img/remove_video_icon.png);
    background-size: 42px 20px;
    background-repeat: no-repeat;
    background-position: -22px 0;
    cursor: pointer;
}


#start-new-upload-button > span{
    position: relative;
}

#start-new-upload-button > span:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 22px;
    left: -24px;
    top: -4px;    
    background-image: url(../img/reload_video_icon.png);
    background-size: 18px 22px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.q6-custom-select{
    position: relative;
}

.q6-custom-select:after {
    content: "\f0d7";
    color: #bdbdbd;
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    top: 14px;
    padding-right: 10px;
    font-size: 14px;
    pointer-events: none;
}

.q6-select {
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    margin: 0!important;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;

    padding: 14px 14px;
    padding-bottom: 13px;
    font-size: 16px;
    line-height: initial;
    font-family: GraphikRegular;
    color: #575757;
}

.q6-multiple-checkboxes{
    height: 244px;
    width: 100%;
    padding: 14px 14px;
    padding-right: 5px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bcbcbc;
    font-size: 13px;    

    overflow-y: auto;
}



/* Checkbox */
.q6-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight: 100;    
}

.q6-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.q6-checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    transition: all 0.1s ease;
}

.q6-checkbox:hover input ~ .q6-checkmark {
    background-color: #ededed;
}

.q6-checkbox input:checked ~ .q6-checkmark {
    background-color: #1fa550;
}

.q6-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.q6-checkbox input:checked ~ .q6-checkmark:after {
    display: block;
}

.q6-checkbox .q6-checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox */

/*Custom Scrollbar*/
dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #ececec;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #c2c2c2;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #9f9f9f;  
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
{
    background-color: #9f9f9f;    
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 8px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail {
    width: 8px;
}
/*Custom Scrollbar*/


.q6-help-icon{
    background: #eff1f0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    border-radius: 2px;
    color: #696d70;

    display: flex;
    align-items: center;
    justify-content: center;    
}

.q6-help-icon span{
    color: #696d70;
    font-family: GraphikMedium;
    font-weight: bold;
}

.q6-output-variables{

}





.q6-encoding-video-summary{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.q6-encoding-video__icon{
    width: 49px;
    height: 55px;
    background-image: url(../img/fileinfo_icon.png);
    background-size: 49px 55px;
    background-repeat: no-repeat;
}

.q6-encoding-video__notes-icon{
    position: absolute;
    right: -68px;
    width: 68px;
    height: 68px;
    background-image: url(../img/notes_icon.png);
    background-size: 68px 68px;
    background-repeat: no-repeat;    
    cursor: pointer;
}

.q6-encoding-video__table{
    display: flex;
    color:#575757;
    font-size: 13px;
}
.q6-video__table-column{
    margin-left: 23px;
    margin-right: 23px;
    display: flex;
}

.q6-video__table-cell > div{
    padding: 6px;
}

.q6-video__table-column > .q6-video__table-cell:nth-of-type(2){
    font-weight: bold;
    margin-left: 5px;
}

.q6-encoding-details-table {
    padding-bottom: 40px;
    padding-top: 1px;
}


.q6-encoding-details-table{
    position: relative;
}

.q6-table-head-underline{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    border-bottom: 2px solid #eeeeee;
}

.q6-table{
    color: #171717;
    width: 100%;
    text-align: left;
    font-size: 13px;    
    margin-top: 5px; 
    box-sizing: border-box;
}

.q6-table div{
    box-sizing: border-box;    
}

.q6-table-row > div:first-of-type {
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;  
}

.q6-table-head{
    font-family: GraphikMedium;
    font-weight: normal; 
    font-size: 13px; 

    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;       
}

.q6-table-row{
    background: white;   
    display: flex;
    margin: 8px auto;
}

.q6-table-row--active {
    background: #f9f9f9;
    box-shadow: 1px 1px 1px 0px rgb(182, 182, 182);
}

.q6-table-dropdown-content .q6-expandable-row.q6-table-row--active{
    font-weight: bold;
}

.q6-table-dropdown-content.q6-table-row{
    background: none;
    padding-left: 10px;
}

.q6-table-dropdown-content.q6-table-row > .q6-table{
    padding: 1px;
}

.q6-table-head > .q6-table-row{
    background: none;
    margin-bottom: 0;
}

.q6-table-row > div{
    flex: 1;
    padding: 15px 15px;
    padding-right: 5px;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;    

    color: #575757;
}

.q6-table-dropdown {
    cursor: pointer;
    position: relative;
    padding-left: 17px;
    color: #316fea;
}

.q6-table-dropdown:after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    font-size: 12px;
    top: -1px;
    transition: all 0.1s ease;
}

.q6-table-dropdown--active:after {
    transform: rotate(90deg);
}

.q6-row-has-error{
    border: 1px solid #de3c3a;
    flex-direction: column;
}

.q6-row-has-error > .q6-table-row{
    padding: 0;
    margin: 0;
}

.q6-table-row--error-message{
    border-top: 1px solid #eeeeee;
    margin: 0;         
}

.q6-row-error-message__content{
    display: flex;
    width: 100%; 
    align-items: center;
}

.q6-row-error-message__content > div:nth-of-type(1){
    flex: 5;

    word-wrap: break-word;
    white-space: normal;       
}

.q6-row-error-message__content > div:nth-of-type(2){
    flex: 1;
    text-align: right;
}

.q6-row-error-message__content .q6-button{
    font-size: 13px;
    padding: 6px 14px;    
}

.q6-expandable-row{
    cursor: pointer;
}


.q6-video-preview-container{
    display: flex;
    padding-left: 0;
    padding-right: 0;    
}

.q6-video-preview-container{
    padding-left: 0;
    margin: 15px 0;
}

.q6-video-preview__player{
    width: 530px;
    height: 300px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.q6-video-preview__player{
    flex: initial;
}

.q6-play-video-btn{
    width: 66px;
    height: 66px;
    background-image: url(../img/play_video_btn.png);
    background-size: 66px 66px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.q6-video-preview__details{
    background: white;
    margin-left: 15px;
    flex-grow: 1;      
}

.q6-video-preview__details{
    padding: 30px 35px;
}

.q6-preview-details-columns{
    display: flex;
    line-height: 30px;
    font-size: 13px;    
}

.q6-preview-details-columns > div{
    margin-left: 10px;
}

.q6-preview-details-columns > div:nth-of-type(1){
    margin-left: 0;
}

.q6-preview-details-columns > div:nth-of-type(2){
    font-weight: bold;
}

.q6-video-details-btns  {
    text-align: right;
    margin-top: 15px;
}

.q6-video-details-btns .q6-button{
    font-size: 13px;
    padding: 6px 14px;    
}

.q6-video-details-btns a.q6-button:hover, .q6-video-details-btns a.q6-button:focus{
    color: white;
}

.q6-status-message-container{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    position: relative;
}

.q6-status-button{
    position: relative;
}

.q6-tooltip{
    display: none;
    position: absolute;
    bottom: -20px;
    min-width: 34px;
    text-align: center;
    color: #686d71;
    background: #e7e7e7;
    padding: 2px;
    border-radius: 3px;  
}

.q6-status-button:hover .q6-tooltip{
    display: block;
}

.q6-status-button__play{
    width: 34px;
    height: 34px;
    margin: 0 2px;
    background-image: url(../img/video_details_buttons.png);
    background-size: 104px 70px;
    background-repeat: no-repeat;
    cursor: pointer;    

    background-position: 0 0;
}

.q6-status-button__play:hover{
    background-position: 0 -35px;
}

.q6-status-button__open {
    width: 34px;
    height: 34px;
    margin: 0 0px;
    background-image: url(../img/video_details_buttons.png);
    background-size: 104px 70px;
    background-repeat: no-repeat;
    cursor: pointer;    

    background-position: -35px 0;
}

.q6-status-button__open:hover{
    background-position: -35px -35px;
}


.q6-status-button__copy{
    width: 34px;
    height: 34px;
    margin: 0 2px;
    background-image: url(../img/video_details_buttons.png);
    background-size: 104px 70px;
    background-repeat: no-repeat;
    cursor: pointer;    

    background-position: -70px 0;
}

.q6-status-button__copy:hover{
    background-position: -70px -35px;
}


.q6-status-message__buttons{
    position: absolute;
    right: 0;    
    display: flex;
}

.q6-table-row > div:last-of-type{
    min-width: 265px;
    overflow: initial;    
}

.q6-encoding-status{
    display: flex;
    align-items: center;   
    padding-left: 22px;
    width: 100%;
}

.q6-status-icon{
    position: relative;
}

.q6-status-icon:before{
    content:"";
    position: absolute;
    width:18px;
    height: 18px;

    left: -22px;
    top: -1px;

    background-image: url(../img/encoding_status_icons.png);
    background-size: 58px 18px;
    background-repeat: no-repeat;
}

.q6-status__encoding:before{
    background-position: 0 0;  
}

.q6-status__done:before{
    background-position: -20px 0;  
}

.q6-status__error:before{
    background-position: -40px 0;  
}

.q6-encoding-progress{
    display: flex;
    position: relative;
}

.q6-progress-bar-contaner{
    position: absolute;
    width: 100%;
    max-width: 200px;
    height: 3px;
    bottom: -8px;
    background: #eeeeee;
}

.q6-progress-bar{    
    height: 3px;
    background: #898989;
}

.q6-demo-parameters{
    resize: none;
    height: 157px;
    margin: 0;
    padding: 14px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    font-size: 13px;
}

.q6-table-navigation{
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    margin-top: 15px;    
}

.q6-table-navigation__numbers{
    background: #ececec;
    padding: 6px 10px;
    color: #575757;
    font-size: 13px;    
}

.q6-table-navigation__buttons{
    margin-left: 7px;    
}

.q6-table-navigation__buttons > a{
    color: #bebebe;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

.q6-table-navigation__buttons > a:hover{
    color: #979797;
}

.q6-full-screen-underline{
    border-bottom: 2px solid #eeeeee; 
}

.q6-table-body{
    margin-top: 15px;
}





.q6-filter-box{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
}

.q6-input.q6-input--project{
    width: 168px;    
}

.q6-input.q6-input--jobID{
    width: 180px;   
}

.q6-input.q6-input--status{
    width: 168px;  
}

.q6-filter-box__options{
    display: flex;
}

.q6-filter-box__options input[type=text].q6-input__field, 
.q6-filter-box__options input[type=tel].q6-input__field, 
.q6-filter-box__options input[type=password].q6-input__field {
    padding: 12px 14px;
    padding-bottom: 11px;
    font-size: 13px;
}

.q6-filter-box__options .q6-select {
    padding: 12px 14px;
    padding-bottom: 11px;
    font-size: 13px;
}

.q6-filter-box__options .q6-custom-select:after {
    top: 10px;
}

.q6-filter-box__options > .q6-input{
    margin-right: 16px;
}

.q6-filter-box__buttons{
    display: flex;
    align-items: flex-end; 
    margin-bottom: 5px;      
}

.q6-filter-box__buttons .q6-button{
    padding: 9px 14px;
    padding-bottom: 8px;
}


.q6-filter-box__buttons > .q6-button:nth-of-type(2){
    margin-left: 8px;
}

.q6-date-picker{
    padding: 9px 13px;
    padding-right: 36px;    
    padding-bottom: 8px;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    width: 260px;

    position: relative;
}

.q6-date-picker:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 22px;
    right: 13px;
    top: 7px;
    background-image: url(../img/calendar_icon.png);
    background-size: 20px 22px;
    background-repeat: no-repeat;
}

.q6-date-picker input{
    padding: 0;
    margin: 0;
    border: none;    
    width: initial;   
    font-size: 13px;    
    width: 85px;
    text-align: center;
    color: #575757;    
}


.q6-job__details{
    display: flex;
    background: white;
    margin-top: 28px;
    padding: 25px;
    padding-top: 10px;
    border-radius: 2px;

    position: relative;
}

.q6-job__details > div:nth-of-type(1){
    display: flex;
    flex-direction: column;    
}

.q6-job__details > div:nth-of-type(1) > div:nth-of-type(1){
    flex: 1;
}

.q6-job__details > div:nth-of-type(2){
    margin-left: 40px;    
}


.q6-job__details > div{
    max-width: 50%;
}

.q6-input__text{
    display: flex;
    align-items: center;
}

.q6-input__text > input{
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
    flex: 1;  

    border: none;
    padding: 0;
    margin: 0;    

    border-radius: 0;    

    min-width: 340px;
    font-size: 13px;
    color: #575757;    
}

.q6-input__text > span{
    line-height: 32px;
    font-size: 13px;
    color: #575757;    
}

.q6-copy-jobID-button{

}

.q6-copy-sourceURL-button{
    /*width: 32px;
    height: 32px;
    background-image: url(../img/copy_id_icon.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;  

    cursor: pointer;    */
}

.q6-execution-log{
    display: flex;
    line-height: 32px;
    font-size: 13px;    
    color: #575757;
}

.q6-execution-log > div {
    margin-left: 10px;
}

.q6-execution-log > div:nth-of-type(1) {
    margin-left: 0;
}

.q6-table h2{
    color: #161616;
    font-weight: 100;    
    font-size: 24px;    
} 

.q6-job__input-info .q6-table-row > div{
    min-width: 120px;
    max-width: 120px;
}

.q6-job__input-info .q6-table-row > div:last-of-type{
    min-width: 90px;
    max-width: 90px;

    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 15px;    
}


.q6-job__input-info .q6-table-row > div:nth-last-of-type(2){
    min-width: initial;
    max-width: initial;
}

.q6-job__input-info .q6-table-row > div:nth-last-of-type(2) .q6-input__text > input{
    min-width: initial;
}



.q6-job__output-info .q6-table-row > div{
    min-width: 120px;
    max-width: 120px;
}

.q6-job__output-info .q6-table-row > div:last-of-type{
    min-width: 110px;
    max-width: 110px;

    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 15px;    
}

.q6-job__output-info .q6-table-row > div:nth-last-of-type(3){
    min-width: 100px;
    max-width: 100px;
}

.q6-job__output-info .q6-table-row > div:nth-last-of-type(2){
    min-width: initial;
    max-width: initial;
}

.q6-job__output-info .q6-table-row > div:nth-last-of-type(2) .q6-input__text > input{
    min-width: initial;
}

.q6-table-row--active input{
    background: #f9f9f9;    
}


.q6-input-parameters-box{
    background: white;
    margin-top: 28px;
    padding: 25px;
    padding-top: 10px;
    border-radius: 2px;
}

.q6-input-parameters-box textarea{
    resize: none;
    height: 148px;
    margin: 0;
    padding: 0;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    font-size: 13px;
    line-height: 20px;
    color: #575757;     
}

.q6-copy-box-button {
    width: 32px;
    height: 32px;
    background-image: url(../img/copy_id_icon.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.q6-job__details .q6-encoding-video__notes-icon{
    right: -80px;
    top: -15px;        
}



.q6-step-title{
    font-weight: 100;
    margin-bottom: 10px;    
    line-height: initial;
    font-size: 16px;   
    font-family: GraphikRegular;     
}

.q6-progress-steps-container{
    display: flex;
    margin: 10px 0;
    margin-bottom: 30px;    
}

.q6-progress-step{
    flex: 1;
    height: 4px;
    background: #e3e3e3;
    margin-left: 4px;
}

.q6-progress-step:first-of-type{
    margin-left: 0px; 
}

.q6-progress-step--current{
    background: #3270eb;
}

.q6-progress-step--complete{
    background: #1fa550;
}

.q6-signup-data{
    max-width: 355px;
    padding-top: 10px;
    padding-bottom: 10px;    
}

.intl-tel-input {
    width: 100%;
    margin: 0;
}

.q6-pass-wrapper{
    position: relative;
}

.q6-pass-wrapper input[type=password], .q6-pass-wrapper input[type=text] {
    padding-right: 45px;
}

.q6-eye {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    background-image: url(../img/eye_icon.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.q6-signup-data > .q6-input{
    margin-bottom: 25px;
}

input[type=text].q6-input__field.q6-input--error, 
input[type=tel].q6-input__field.q6-input--error, 
input[type=password].q6-input__field.q6-input--error{
    border-color: #de3c3a;
}

.q6-input__error-message{
    position: absolute;
    bottom: -20px;
    color: #de3c3a;
    font-size: 13px;
    font-family: GraphikMedium;    
}

.section--sign-up{
    margin-bottom: 50px;
}

#complete-setup-button > span:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: -29px;
    top: -4px;
    background-image: url(../img/check_white.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#complete-setup-button > span {
    position: relative;
}

.q6-signup-data--complete{
    display: flex;
    padding-top: 30px;
    padding-bottom: 15px;  
}

.q6-sign-up-promo{
    padding: 22px;  
    padding-top: 33px;
    padding-bottom: 17px;
    border-radius: 13px;    
    color: #336fe9;    
    box-sizing: border-box    
}

.q6-sign-up-promo > div{
    display: flex;
    align-items: center;    
}

.q6-sign-up-promo > hr{
    margin-top: 25px;
    margin-bottom: 16px;    
    border: none;    
    border-top: 1px solid #ebebed;      
}

.q6-sign-up-promo > div > div:first-of-type{
    font-size: 44px;
    margin-right: 16px;    
}

.q6-sign-up-promo > div > div:nth-of-type(2){
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 5px;     
}

.q6-sign-up-promo > p{
    color: #797979;
    font-size: 16px;
    font-family: GraphikRegular;       
    margin: 12px 0;     
}

.q6-card-data{
    margin-left: 40px;  
}

.q6-card-data__name-and-cardnumber{
    display: flex;  
}

.q6-signup-data--complete > div{
    flex: 1;
}

.q6-signup-data--complete > div:first-of-type{
    max-width: 460px;
}

.q6-card-data__name-and-cardnumber > div{
    flex: 1;
}

.q6-card-data__name-and-cardnumber > div:nth-of-type(2){
    margin-left: 9px;
}

.q6-input.q6-lock-icon{
    position: relative;
}

.q6-input.q6-lock-icon > input{
    padding-right: 25px;    
}

.q6-lock-icon:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 14px;
    right: 10px;
    bottom: 17px;
    background-image: url(../img/lock_icon.png);
    background-size: 12px 14px;
    background-repeat: no-repeat;
}

.q6-input.q6-card-icon{
    position: relative;
}

.q6-input.q6-card-icon > input{
    padding-left: 40px;  
}

.q6-card-icon:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 15px;
    left: 10px;
    bottom: 16px;
    background-image: url(../img/card.png);
    background-size: 22px 15px;
    background-repeat: no-repeat;
}

.q6-card-data__exp-date{
    display: flex;
}

.q6-card-data__exp-date > div:nth-of-type(1) {
    max-width: 140px;    
}

.q6-card-data__exp-date > div:nth-of-type(2) {
    margin-left: 9px;
    max-width: 70px;   
}

.q6-exp-date-wrapper {
    padding: 12px 13px;
    padding-bottom: 11px;
    padding-right: 36px;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    background: white;    
}

.q6-exp-date-wrapper input {
    padding: 0;
    margin: 0;
    border: none;
    width: initial;
    text-align: center;

    font-size: 16px;
    font-family: GraphikRegular;
    color: #575757;    
}

.q6-exp-date-delimeter{
    font-size: 16px;
    font-family: GraphikRegular;
    color: #575757;     
}

.q6-exp-date-wrapper input:first-of-type{
    width: 28px;
    text-align: right;    
}

.q6-exp-date-wrapper input:nth-of-type(2){
    width: 43px;
    text-align: left;    
}

.q6-card-data > hr {
    margin-top: 15px;
    margin-bottom: 14px;
    border: none;
    border-top: 1px solid #e3e3e3;
}

.q6-card-data__footer > div:first-of-type{
    color: #a0a3b7;
    font-size: 12px;  
    padding-left: 18px;     
}

.q6-lock-icon--left{
    position: relative;
}

.q6-lock-icon--left:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 14px;
    left: 0;
    top: -1px;
    background-image: url(../img/lock_icon.png);
    background-size: 12px 14px;
    background-repeat: no-repeat;
}

.q6-card-data__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.q6-more-info-link{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 16px;
    font-size: 14px;    
    font-family: GraphikRegular;    
}

.q6-more-info-link > a{
    color: #a5a5a5;
}

.q6-sing-up__final-description{
    font-size: 16px;
    margin: 19px 0;
    font-family: GraphikRegular;
    color: #171717;  
}

.q6-signup__final-step {
    display: flex;
    padding-top: 30px;
}

.q6-tittle--with-ok-icon{
    position: relative;
    padding-left: 32px;    
}

.q6-tittle--with-ok-icon:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0px;
    top: 5px;
    background-image: url(../img/signup_icons.png);
    background-size: 245px 170px;
    background-repeat: no-repeat;
    background-position: -184px -2px;
}

.q6-signup__final-step > div:first-of-type{
    flex: 1;
    padding-right: 25px;    
}

.q6-signup__final-step > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
}


.q6-signup__final-step > div:nth-of-type(2) > .q6-button {
    margin-bottom: 10px;
    padding: 9px 14px;
    padding-bottom: 8px;
    font-family: GraphikMedium;
    font-size: 16px;
}

.q6-sing-up__link-box{
    display: block;
    padding: 24px 22px;
    border: 2px solid white;
    margin-bottom: 31px;  
    border-radius: 10px;    
    background: white;
    transition: all 0.1s ease;    
    display: flex;          
}

.q6-sing-up__link-box:hover{
    border: 2px solid #41c186;
}

a.q6-sing-up__link-box:hover, a.q6-sing-up__link-box:focus, .q6-icons-container a{
    color: #6d6f6e;
    text-decoration: none;
}

.q6-sing-up__link-box--no-selection:hover {
    border-color: white;
}

.q6-link-box__icon{
    width: 44px;
    height: 44px;
    background-image: url(../img/signup_icons.png);
    background-size: 245px 170px;
    background-repeat: no-repeat;
    margin-bottom: 5px;    
}

.q6-link-box__icon--start{
    background-position: 0px 0px;
}

.q6-link-box__icon--sdk{
    background-position: -46px 0px;
}

.q6-link-box__icon--manual{
    background-position: -92px 0px;
}

.q6-link-box__icon--docs{
    background-position: -138px 0px;
}

.q6-link-box__details{
    padding-left: 19px;
    flex: 1;    
}

.q6-link-box__details h5{
    font-family: GraphikMedium;
    font-size: 16px;    
    position: relative;
    display: inline-block;
    margin: 5px 0;        
}

.q6-link-box__details h5:after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    right: -16px;
    color: #44c187;
    font-size: 14px;
    top: 1px;
}

.q6-link-box__details p{
    margin: 0;
    font-size: 16px;
    font-family: GraphikRegular;
    color: #575757;  
}

.q6-icons-container{
    display: flex;
    margin-top: 10px;   
    flex-wrap: wrap;     
}

.q6-sdk-icon{
    height: 45px;    
    background-image: url(../img/signup_icons.png);
    background-size: 245px 170px;
    background-repeat: no-repeat;
    margin-top: 4px;
    margin-bottom: 2px;    
}
.q6-sdk-icon--java {
    width: 32px;
    background-position: -3px -45px;
}


.q6-sdk-icon--c {
    width: 36px;
    background-position: -37px -44px;
}


.q6-sdk-icon--nodejs {
    width: 36px;
    background-position: -76px -44px;
}


.q6-sdk-icon--php {
    width: 46px;
    background-position: -115px -44px;
}


.q6-sdk-icon--js {
    width: 36px;
    background-position: -164px -47px;
}

.q6-sdk-icon--python {
    width: 36px;
    background-position: -203px -42px;
}


.q6-gettingstarted-icon {
    height: 45px;
    background-image: url(../img/signup_icons.png);
    background-size: 245px 170px;
    background-repeat: no-repeat;
    margin-top: 4px;
    margin-bottom: 2px;
}

.q6-gettingstarted-icon--guide{
    width: 32px;
    background-position: -4px -93px;
}

.q6-gettingstarted-icon--create {
    width: 46px;
    background-position: -41px -93px;
}

.q6-gettingstarted-icon--contact {
    width: 35px;
    background-position: -91px -93px;
}

.q6-icons-container > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 15px;
    width: 88px;
    height: 80px;
    border: 2px solid #cecece;
    border-radius: 10px;  
}

.q6-icons-container--wide-icons > a{
    width: 186px; 
}

.q6-icons-container > a:hover {
    border: 2px solid #41c186;
}

.q6-icons-container > a:first-of-type{
    margin-left: 0;
}



.q6-signup-company-and-website {
    padding-top: 10px;
    padding-bottom: 10px;
}

.q6-input-tooltip{
    display: flex;
    align-items: center;
}

.q6-input-tooltip > input{
    max-width: 355px;
    min-width: 355px;
}

.q6-input-whith-tooltip{
    margin-bottom: 25px;    
}

.q6-input-tooltip > span{
    color: #797979;
    font-size: 13px;   
    margin-left: 10px;     
}

.q6-skip-button{
    font-size: 15px;
    margin-top: 5px;    
}


.q6-tab {
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
    margin-top: 50px;    
}

.q6-tablinks {
    font-weight: 100;
    line-height: 40px;
    font-size: 16px;
    font-family: GraphikRegular;
    cursor: pointer;
    display: inline-block;  
    margin-right: 40px;    
}

.q6-tablinks:last-of-type{
    margin-right: 0px;    
}

.q6-tablinks--active {
    border-bottom: 3px solid #253238;
    font-family: GraphikMedium;    
}

.q6-tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.q6-tabcontent--active {
    display: block;
}

.q6-confirm-email-container{
    margin-top: 60px;
    display: flex;    
}

.q6-confirm-email-container h2{
    margin: 15px 0;
}

.q6-confirm-email-container > div:first-of-type{
    margin-right: 30px;
}

.q6-confirm-email-container p{
    font-size: 16px;
    font-family: GraphikRegular;  
    line-height: 24px;      
}

.q6-confirm-email__warning{
    background: #fff9e6;
    padding: 10px 15px;
    border-radius: 5px;   
    display: flex;  
}

.q6-confirm-email__warning p{
    margin: 0;
    flex: 1;    
}

.q6-warning-icon--black{
    display: block;
    width: 19px;
    height: 19px;
    background-image: url(../img/blackexclamation.png);
    background-size: 19px 19px;
    background-repeat: no-repeat;
    margin-right: 10px;  
    margin-top: 1px;      
}

/*MODIFICATORS*/
/*background colors*/
.q6-blue-background{
    background: #3270eb;
}

.q6-green-background{
    background: #1fa550;
}

.q6-red-background{
    background: #e04a4b;
}

.q6-gray-background{
    background: #f3f3f3;
}

.q6-light-gray-background{
    background: #f8f8f8;
}

.q6-white-background{
    background: white;
}

.q6-transparent-background{
    background: transparent;
}
/*background colors*/

/*border colors*/
.q6-green-border{
    border-color: #1fa550;
}

.q6-red-border{
    border-color: #e04a4b;
}

.q6-blue-border{
    border-color: #3270eb;
}

.q6-white-border{
    border-color: white;
}
/*border colors*/


/*text colors*/
.q6-white-text{
    color: white;
}

.q6-black-text{
    color: #171717;
}

.q6-green-text{
    color: #1fa550;
}

.q6-gray-text{
    color: #6d6f6e;
}
/*text colors*/

.q6-margin-left_10px{
    margin-left: 10px;
}

.q6-margin-left_15px{
    margin-left: 15px;
}

.q6-margin-top_25px{
    margin-top: 25px;
}

.q6-margin-bottom_50px{
    margin-bottom: 50px;
}

.q6-hidden {
    display: none;
}

.q6-max-wide{
    width: 100%;
}

.q6-top-margin{
    margin-top: 25px;    
}

.q6-align-start{
    justify-content: flex-start;    
}

.q6-no-padding{
    padding: 0;
}

.q6-no-right-padding{
    padding-right: 0;
}

.q6-btn-small{
    font-size: 13px;
    padding: 6px 14px;    
}
/*MODIFICATORS*/


@media screen and (min-width: 320px){
    .q6-container {
        padding: 0 10px;
    }    
    .q6-input-tooltip {
        flex-direction: column;
        align-items: flex-start;        
    }    
    .q6-input-tooltip > span {
        margin-left: 0;
        margin-top: 5px;
        max-width: 355px;        
    }    
    .q6-input-tooltip > input {
        min-width: 200px;
    }

    .q6-signup-data--complete {
        flex-direction: column;
        padding-top: 10px;
    }   
    .q6-signup-data--complete > div:first-of-type {
        order: 2;
        margin-top: 25px;        
    }        
    .q6-sign-up-promo {
        padding: 16px;
        padding-top: 21px;
    }     
    .q6-sign-up-promo > div > div:first-of-type {
        font-size: 35px;
        margin-right: 10px;
    }    
    .q6-sign-up-promo > div > div:nth-of-type(2) {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 0px;
    }    
    .q6-card-data {
        margin-left: 0;
    }    
    .q6-card-data__name-and-cardnumber {
        flex-direction: column;
    }   
    .q6-card-data__name-and-cardnumber > div:nth-of-type(2) {
        margin-left: 0;
    }     
    .q6-card-data .q6-input {
        margin-bottom: 3px;
        max-width: 355px;        
    }    

    .q6-signup__final-step {
        flex-direction: column;
        padding-bottom: 30px;        
    }    
    .q6-signup__final-step > div:first-of-type {
        padding-right: 0;
    }    
    .q6-icons-container > a {
        margin-left: 0;
        margin-right: 10px;
    }    

    .q6-two-columns--signup{
        flex-direction: column;
    }

    .q6-confirm-email-container{
        flex-direction: column-reverse;        
    }
    .q6-confirm-email-container > div:first-of-type {
        margin-right: 0;
        margin-top: 30px;
    }    
}

@media screen and (min-width: 480px){
    .q6-container {
        padding: 0 20px;
    }    
}

@media screen and (min-width: 768px){
    .q6-input-tooltip {
        flex-direction: row;
        align-items: center;
    }
    .q6-input-tooltip > span {
        margin-left: 10px;
        margin-top: 0;
        max-width: none;
    }    

    .q6-signup-data--complete > div:first-of-type {
        order: initial;
        margin-top: 0;
    }    
    .q6-signup-data--complete {
        flex-direction: row;
        padding-top: 30px;
    }
    .q6-card-data {
        margin-left: 20px;
    }    
    .q6-sign-up-promo {
        padding: 22px;
        padding-top: 33px;
    }    
    .q6-sign-up-promo > div > div:first-of-type {
        font-size: 44px;
        margin-right: 16px;
    }   
    .q6-sign-up-promo > div > div:nth-of-type(2) {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 5px;
    }     

    .q6-signup__final-step {
        flex-direction: row;
        padding-bottom: 0;
    }    
    .q6-signup__final-step > div:first-of-type {
        padding-right: 25px;
    }    

    .q6-two-columns--signup{
        flex-direction: row;
    }    


    .q6-confirm-email-container{
        flex-direction: row;        
    }
    .q6-confirm-email-container > div:first-of-type {
        margin-right: 30px;
        margin-top: 0px;
    }        
}

@media screen and (min-width: 1080px){
    .q6-card-data__name-and-cardnumber {
        flex-direction: row;
    }  
    .q6-card-data {
        margin-left: 40px;
    }    
    .q6-card-data__name-and-cardnumber > div:nth-of-type(2) {
        margin-left: 9px;
    }    
}