.q6-tutorial-content{
    background: #f7f8fa;
}

.q6-tutorial-header{
    display: flex;
    margin: 25px 0;
    min-height: 50px;
}

.q6-tutorial-header__logo{
    display: flex;
    align-items: center;    
}

.q6-tutorial-header__content{
    flex: 1;
    border-left: 1px solid #dae0ea;
    margin-left: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.q6-tutorial-header__logo img {
    width: 131px;
    border-style: none;
    padding-top: 0;
    vertical-align: initial;
}

.q6-tutorial-title-container{
    display: inline-block;
    flex: 1;  
}

.q6-tutorial-title{
    color: #525252;
    font-size: 20px;
    font-weight: 600;
}

.q6-tutorial-section-title{
    color: #838383;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin: 2px 0;    
}

.q6-tutorial-steps{
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.q6-tutorial-steps-delimeter{
    flex: 1;
    height: 1px;
    border-top: 1px dashed #dae0ea;    
    box-sizing: border-box;
    margin: 0 15px;
}

.q6-tutorial-steps-container{
    display: flex;
}

.q6-tutorial-step{
    margin-right: 8px;
    padding: 10px 15px;
    border: 1px dashed #dae0ea;  
    border-radius: 7px;
    height: 54px;
    box-sizing: border-box;
    display: flex;
    color: #b3b7c3;
    font-size: 16px;  
    flex-direction: column;
    justify-content: center;   
    white-space: nowrap;           
}

.q6-tutorial-step:last-of-type{
    margin-right: 0;
}

.q6-tutorial-step__number{
    font-size: 14px; 
    margin-bottom: 2px;
}

.q6-tutorial-step__title{
    font-weight: 500;
}

.q6-tutorial-step.q6-tutorial-step--complete{
    color: #838383;
    background-color: #f9f9f9;
    border-style: solid;
}