.q6-container{
    width: 90%;
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.q6-button{
    font-family: "proxima-nova";
    background: transparent;
    outline: none;
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.2s ease;

    min-width: 88px;

    color: white;
}

.hamburger {
    display: none;
    border: none;
    outline: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #316fea;
}

.q6-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.q6-body {
    font-family: "proxima-nova", sans-serif;

}

.q6-main {
    padding-bottom: 0;
    padding-top: 80px;
}

.q6-page-content{
    flex: 1;
}

.q6-nav {
    display: flex;
    background: white;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 99999;
    border:none;
    top: 0;
    right: 0;
    left: 0;
}

@media screen and (min-width: 320px){
    .q6-nav {
        padding: 0;
    }
}

.q6-nav > .q6-container{
    display: flex;
    align-items: center;
    width: 90%;
}

.q6-nav .q6-logo img {
    width: 131px;
    border-style: none;
    padding-top: 0;
    vertical-align: initial;
}

.q6-nav .q6-top-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
}

.q6-nav .q6-top-menu .q6-menu-items--left {
    margin-left: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
}


.q6-top-menu a:hover, 
.q6-top-menu a:visited, 
.q6-top-menu a:active, 
.q6-top-menu a:link{
    color: #323548;
    text-decoration: none;
}

.q6-top-menu a.q6-menu-item-link {
    display: inline-block;
    font-size: 17px;
    line-height: 40px;
    transition: all .3s ease;
    cursor: pointer;
    margin: 0 20px;
    border-bottom: 2px solid white;
    white-space: nowrap;
    font-family: "proxima-nova", sans-serif;
}

.q6-top-menu a.q6-menu-item-link:hover {
    color: #3270eb;
    border-bottom: 2px solid #3270eb;
}

.q6-nav .q6-button{
    font-size: 16px;
    padding: 0;
    min-width: 128px;
    line-height: 38px;
}

.q6-nav .q6-button:hover{
    background: #265cc5;
}


.q6-header {
    height: initial;
    background: none;
}

.q6-footer{
    padding-top: 40px;
    padding-bottom: 20px;
    border: none;
    border-top: 1px solid #eeeeee;
}

.q6-logo-and-menu {
    display: flex;
    justify-content: space-between;
}

.q6-small-logo img {
    height: 44px;
}

.q6-footer-menu {
    display: flex;
}

.q6-footer-menu > div {
    display: flex;
    margin-right: 7vw;
}


.q6-footer-menu > div:last-of-type {
    margin-right: 0;
}

.q6-footer-menu > div > .q6-footer-menu__block {
    margin-right: 7vw;
}

.q6-footer-menu > div > .q6-footer-menu__block:last-of-type {
    margin-right: 0;
}

.q6-footer-menu__block a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    color: #6d6f6e;
}

.q6-footer-menu__block a:hover {
    color: #4a4a4a;
    text-decoration: underline;
}

.q6-footer-menu__block h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #383838;
    font-family: "proxima-nova";    
    line-height: 22px;
}

.q6-mobile-menu {
    position: absolute;
    right: 0;
    z-index: -1;
    display: none;
    max-height: 0;
    top: 70px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    flex-direction: column;
    width: 100%;
}

.q6-mobile-menu > a {
    padding: 0 20px;
    font-size: 16px;
    line-height: 60px;
    height: 60px;
    border-bottom: 2px solid #e4e4e4;
    transition: border .2s ease;
    background: white;
    color: #323548;
}


.q6-mobile-menu a:hover,
.q6-mobile-menu a:visited,
.q6-mobile-menu a:active,
.q6-mobile-menu a:link {
    color: #323548;
    text-decoration: none;
}

.q6-mobile-menu a:hover {
    border-bottom: 2px solid #43c086;
}

.q6-hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eeeeee;
    margin: 25px 0;
}

.q6-copyright-and-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #6d6f6e;
}

.q6-social-icons__footer > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: #eef0ef;
    text-decoration: none;
    border-radius: 50%;
    font-size: 18px;
    color: #696e72;
    margin-right: 15px;
}

.q6-social-icons__footer > a:last-of-type {
    margin-right: 0;
}

.q6-social-icons__footer > a:hover {
    color: #a3a3a3;
}

.q6-social-icon{
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
}

.q6-social-icon--twitter{
    height: 16px;
    width: 18px;
    background-image: url(../img/social_icons/twitter.svg);
}

.q6-social-icon--facebook{
    height: 18px;
    width: 9px;
    background-image: url(../img/social_icons/facebook.svg);
}

.q6-social-icon--youtube{
    height: 15px;
    width: 22px;
    background-image: url(../img/social_icons/youtube.svg);
}

.q6-social-icon--tumblr{
    height: 18px;
    width: 11px;
    background-image: url(../img/social_icons/tumbler.svg);
}

.q6-social-icon--linkedin{
    height: 16px;
    width: 16px;
    background-image: url(../img/social_icons/linkedin.svg);
}

.q6-social-icons__footer > a:hover .q6-social-icon {
    opacity: 0.5;
}



.q6-menu-item:hover a.q6-menu-item-link{
    color: #3270eb;
    border-bottom: 2px solid #3270eb;
}

.q6-menu-item__submenu{
    position: absolute;
    left: 0;
    right: 0;
    /* display: none; */
    animation: fadeEffect 0.4s;
    cursor: default;
}



.q6-menu-item--has-submenu--buttons{
    position: relative;
}

.q6-menu-item--has-submenu--buttons .q6-menu-item__submenu{
    left: initial;
    right: 0;
}

.q6-menu-item--has-submenu--buttons .q6-menu-item__submenu-content {
    padding: 0;
}

.q6-top-menu .q6-menu-item--has-submenu--buttons a.q6-menu-item-link {
    margin: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.q6-menu-item--has-submenu--buttons .q6-menu-item {
    display: block;
    width: 100%;
}

.q6-menu-item--has-submenu--buttons .q6-menu-item a.q6-menu-item-link {
    color: #323548;
    border-bottom: 2px solid #f8f9fb;
}

.q6-menu-item--has-submenu--buttons .q6-menu-item:hover a.q6-menu-item-link {
    color: #3270eb;
    border-bottom: 2px solid #3270eb
}

.q6-menu-item--has-submenu--buttons .q6-submenu-content-container {
    background: #f8f9fb;
}


.q6-nav .q6-menu-item--has-submenu--buttons .q6-button {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.q6-menu-item--has-submenu--buttons .q6-button:after{
    content: "";
    margin-left: 10px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid #ffffff;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;  
    transform: rotate(180deg);   
    transition: all .1s ease;
}

.q6-menu-item--submenu-closed.q6-menu-item--has-submenu--buttons .q6-button:after{
    transform: rotate(0);
}   

.q6-menu-item--settings{
    background: url(../img/settings.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 86% 39%;
}

.q6-menu-item--logout{
    background: url(../img/log_out.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 86% 39%;
}



.q6-menu-item--submenu-closed .q6-menu-item__submenu{
    display: none;
}

.q6-menu-item__submenu-content{
    margin-top: 20px;
    background: white;
    padding: 15px 35px;
    border-radius: 8px;
    box-shadow: 0px 7px 25px 1px rgba(105, 109, 112, 0.2);
}

.q6-submenu-content-container{
    display: flex;
    flex-wrap: wrap;
}

.q6-top-menu a.q6-submenu-box__block{
    min-width: 270px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding: 15px 20px;
    margin: 10px 5px;
    border: none;
    border-left: 5px solid transparent;
    border-radius: 5px;

    transition: all .2s ease;
    cursor: pointer;
    font-family: "proxima-nova", sans-serif;

    font-size: 14px;
    line-height: 30px;
}


.q6-top-menu a.q6-submenu-box__block:hover{
    background: #f8f9fb;
    border-left: 5px solid #3270eb;
}

.q6-submenu-box__block p {
    line-height: 20px;
    margin: 7px 0;
    font-family: "proxima-nova", sans-serif;
}

.q6-submenu-box__block h5{
    margin: 5px 0;
    font-size: 19px;
    font-weight: 500;
    font-family: "proxima-nova", sans-serif;
    line-height: 19px;    
}


.q6-submenu-icon-container {
    width: 50px;
    min-width: 50px;
    margin-right: 20px;
}

.q6-submenu-icon {
    height: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.q6-submenu-icon--features {
    background-image: url(../img/why_qencode/m_features.svg);
}

.q6-submenu-icon--speed {
    background-image: url(../img/why_qencode/m_speed.svg);
}

.q6-submenu-icon--calculator {
    background-image: url(../img/why_qencode/m_calc.svg);
}

.q6-submenu-icon--formats {
    background-image: url(../img/why_qencode/m_formats.svg);
}

.q6-submenu-icon--security {
    background-image: url(../img/why_qencode/m_security.svg);
}

.q6-submenu-icon--demo {
    background-image: url(../img/why_qencode/m_demo.svg);
}

.q6-submenu-icon--tutorials {
    background-image: url(../img/developers/tutorials.svg);
}

.q6-submenu-icon--api {
    background-image: url(../img/developers/api.svg);
}


.q6-submenu-icon--sdk {
    background-image: url(../img/developers/java.svg);
}

.q6-menu-item{
    display: inline-block;
    cursor: pointer;
}

.q6-top-menu-container{
    width: 100%;
}


/*text colors*/
.q6-red-text{
    color: #e35554;
}

.q6-white-text{
    color: white;
}

.q6-black-text{
    color: #171717;
}

.q6-green-text{
    color: #1fa550;
}

.q6-gray-text{
    color: #6d6f6e;
}


.q6-light-gray-text{
    color: #808298;
}

.q6-blue-text{
    color: #3270e9;
}
/*text colors*/

/*background colors*/
.q6-blue-background{
    background: #3270eb;
}

.q6-light-blue-background{
    background: #e9effd;
}

.q6-green-background{
    background: #1fa550;
}

.q6-red-background{
    background: #e04a4b;
}

.q6-gray-background{
    background: #f3f3f3;
}

.q6-lighter-gray-background{
    background: #f6f6f6;
}


.q6-light-gray-background{
    background: #f8f8f8;
}

.q6-white-background{
    background: white;
}

.q6-transparent-background{
    background: transparent;
}
/*background colors*/

/*border colors*/
.q6-green-border{
    border-color: #1fa550;
}

.q6-red-border{
    border-color: #e04a4b;
}

.q6-blue-border{
    border-color: #3270eb;
}

.q6-light-blue-border{
    border-color: #e9effd;
}

.q6-white-border{
    border-color: white;
}

.q6-gray-border{
    border-color: #f3f3f3;;
}
/*border colors*/


@media screen and (max-width: 320px){
    .q6-mobile-menu{
        display: none;
    }
}

@media screen and (max-width: 1024px){
    .hamburger {
        display: inline-block;
        padding-right: 0;
    }
}

@media screen and (max-width: 1024px){

    .q6-top-menu.q6-top-menu--desktop-mode{
        display: none;
    }

    .q6-button{
        width: 100%;
    }    

    .q6-button.q6-button--round{
        width:initial;
    }    

    .q6-container{
        width: 98%;
    }

    .q6-nav > .q6-container {
        justify-content: space-between;
        width: 98%;
    }

    .q6-top-menu.q6-hidden{
        display: none;
    }

    .q6-top-menu-container{
        position: absolute;
        right: 0;
        left: 0;
        top: 80px;
        overflow-y: auto;
        max-height: 80vh;     
        box-sizing: border-box;      
        box-shadow: 0px 8px 13px 0px rgba(105, 109, 112, 0.2);  
    }

    .q6-nav .q6-top-menu {
        flex-direction: column;
    }

    .q6-top-menu a.q6-menu-item-link {
        margin: 0;
    }

    .q6-menu-item--has-submenu .q6-menu-item__submenu{
        display: block;
    }

    
    .q6-menu-item--has-submenu{
        position: relative;
    }

    .q6-menu-item {
        width: 100%;
    }    
    

    .q6-menu-item--has-submenu:after{
        position: absolute;
        right: 0;
        top: 15px;
        display: inline-block;
        width: 0;
        height: 0;
        content: "";
        border-top: 7px solid #505050;
        border-right: 7px solid transparent;
        border-bottom: 0;
        border-left: 7px solid transparent;     
        transform: rotate(180deg);   
        transition: all .1s ease;
    }

    .q6-menu-item--submenu-closed.q6-menu-item--has-submenu:after{
        transform: rotate(0);
    }   

    .q6-menu-item--submenu-closed .q6-menu-item__submenu{
        display: none;
    }

    .q6-menu-item__submenu > .q6-container{
        padding: 0;
        margin: 0;
        width: 100%;        
    }

    .q6-menu-item__submenu-content{
        box-shadow: none;
        padding: 0;        
    }

    .q6-menu-items--right{
        display: flex;
        flex-direction: column-reverse;   

        width: 98%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;       
        
        margin-bottom: 30px;
        margin-top: 30px;        
    }

    .q6-top-menu .q6-menu-items--right a.q6-menu-item-link{
        font-family: "proxima-nova", sans-serif;
        border-color: #3270eb;
        color: #3270eb;
        font-size: 16px;
        padding: 0;
        min-width: 128px;
        line-height: 38px;
        width: 100%;
        font-weight: 600;
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
        transition: all 0.2s ease;
        margin-top: 15px;
    }

    .q6-top-menu .q6-menu-items--right .q6-button{
        box-shadow: 0px 3px 13px 1px rgba(105, 109, 112, 0.41);
    }

    .q6-top-menu .q6-menu-items--right a.q6-menu-item-link:hover{
        background: #3270eb;
        color: white;
        box-shadow: 0px 3px 13px 1px rgba(105, 109, 112, 0.41);
    }



    .q6-top-menu .q6-menu-items--right .q6-menu-item--has-submenu--buttons .q6-button,
    .q6-menu-item--has-submenu--buttons.q6-menu-item--has-submenu:after {
        display: none;
    }    

    .q6-menu-item--has-submenu--buttons.q6-menu-item--submenu-closed .q6-menu-item__submenu {
        display: block;
    }    

    .q6-menu-item--has-submenu--buttons .q6-submenu-content-container {
        background: white;
    }    

    .q6-menu-item--has-submenu--buttons .q6-menu-item__submenu-content {
        margin-top: 0;
    } 

    .q6-top-menu .q6-menu-items--right .q6-menu-item--has-submenu--buttons .q6-menu-item:first-of-type a.q6-menu-item-link{
        margin-top: 0;
    }    

    .q6-menu-item--has-submenu--buttons .q6-menu-item:hover a.q6-menu-item-link {
        border-bottom: 1px solid #3270eb;
    }    

    .q6-menu-item--has-submenu--buttons .q6-menu-item {
        background-image: none;
    }    



    .q6-nav .q6-top-menu .q6-menu-items--left {
        flex-direction: column;
        margin-left: 0;

        width: 98%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;        
    }

    .q6-menu-item__submenu {
        position: relative;
    }    


    .q6-mobile-menu{
        display: flex;
    }

    .q6-logo-and-menu {
        flex-direction: column;
    }

    .q6-footer-menu {
        margin-top: 40px;
        flex-direction: column;
    }

    .q6-footer-menu > div {
        flex-direction: column;
        margin-right: 7vw;
        width: 50%;
    }

    .q6-footer-menu > div > .q6-footer-menu__block {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .q6-copyright-and-socials {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .q6-social-icons__footer > a {
        margin-bottom: 15px;
    }

}
