h1{
    color: #383838;
    font-family: "proxima-nova";
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
    margin: 35px 0;
 }

 h2{
    color: #383838;
    font-family: "proxima-nova";
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;    
    margin: 10px 0; 
 }

h3{
    color: #383838;
    font-family: "proxima-nova";
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;  
    margin: 8px 0;  
}

h4{
    color: #383838;
    font-family: "proxima-nova";
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin: 5px 0;    
}

p {
    color: #4b4b4b;
    font-size: 17px;
    line-height: 25px;
    margin: 15px 0;
}

.q6-input {
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
}

input[type=text].q6-input__field, 
input[type=tel].q6-input__field, 
input[type=password].q6-input__field,
textarea {
    width: 100%;
    padding: 12px 14px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e1e5ee;
    line-height: initial;

    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 18px;

    border-radius: 6px;
    color: #171717; 
}

.q6-button--shadow {
    box-shadow: 0px 3px 13px 1px rgba(105, 109, 112, 0.41);
}

.q6-button.q6-white-text.q6-blue-background:hover{
    background-color: #265cc5;
    border-color: #265cc5;
}

.q6-input__label {
    color: #171717;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "proxima-nova", sans-serif;
    margin: 4px 0;
}

.q6-input.q6-input--password{
    position: relative;
}

.q6-pass-eye-button{
    position: absolute;
    width: 25px;
    height: 14px;
    right: 15px;
    bottom: 17px;
    cursor: pointer;
    background-image: url(../img/pass_eye.png);
    background-repeat: no-repeat;  
}

.q6-input.q6-input--password .q6-input__field{
    padding-right: 45px;
}

/********************* FEATURES  ***********************/
.q6-feature-item{
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.q6-feature-item p{
    margin: 0;
}

.q6-feature-item__icon{
    background-image: url(../img/features_icons.png);
    background-repeat: no-repeat;
    margin-right: 15px;
    width: 29px;
    height: 26px;
    min-width: 29px;
}

.q6-feature-item__icon--pay{
    background-position: -123px 0px;
}

.q6-feature-item__icon--speed{
    background-position: -62px -1px;
}

.q6-feature-item__icon--shield{
    background-position: -93px -1px;
}

.q6-feature-item__icon--support{
    background-position: -155px -3px;
}

.q6-feature-item__icon--gift{
    background-position: 0px -3px;
}

.q6-feature-item__icon--manager{
    background-position: -184px -2px;
}

.q6-feature-item__icon--api{
    background-position: -30px 0px;
}
/********************* FEATURES  ***********************/

@media screen and (max-width: 1024px){

    h1 {
        margin: 25px 0;
    }    

    h2 {
        margin: 15px 0;
    }    

    h3 {
        margin: 5px 0;
    }    
}

@media screen and (max-width: 780px){
    h1 {
        font-size: 38px;
        line-height: 50px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 480px){
    h1, h2 {
        font-size: 30px;
        line-height: 40px;
        margin: 10px 0;
    }

    h3 {
        font-size: 25px;
        line-height: 25px;
    }      
}