
/* TEMPLATE */
.q6-tutorial-content{
    background: #f7f8fa;
    padding: 30px 0;
}

.q6-tutorial-header{
    display: flex;
    margin: 25px 0;
    min-height: 50px;
}

.q6-tutorial-header__logo{
    display: flex;
    align-items: center;    
}

.q6-tutorial-header__content{
    flex: 1;
    border-left: 1px solid #dae0ea;
    margin-left: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.q6-tutorial-header__logo img {
    width: 131px;
    border-style: none;
    padding-top: 0;
    vertical-align: initial;
}

.q6-tutorial-title-container{
    display: inline-block;
    flex: 1;  
}

.q6-tutorial-title{
    color: #525252;
    font-size: 20px;
    font-weight: 600;
}

.q6-tutorial-section-title{
    color: #838383;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin: 2px 0;    
}

.q6-tutorial-steps{
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.q6-tutorial-steps-delimeter{
    flex: 1;
    height: 1px;
    border-top: 1px dashed #dae0ea;    
    box-sizing: border-box;
    margin: 0 15px;
    min-width: 40px;
}

.q6-tutorial-steps-container{
    display: flex;
}

.q6-tutorial-step{
    margin-right: 8px;
    padding: 10px 15px;
    border: 1px dashed #dae0ea;  
    border-radius: 7px;
    height: 54px;
    box-sizing: border-box;
    display: flex;
    color: #b3b7c3;
    font-size: 16px;  
    flex-direction: column;
    justify-content: center;   
    white-space: nowrap;           
}

.q6-tutorial-step:last-of-type{
    margin-right: 0;
}

.q6-tutorial-step__number{
    font-size: 14px; 
    margin-bottom: 2px;
}

.q6-tutorial-step__title{
    font-weight: 500;
}

.q6-tutorial-step.q6-tutorial-step--complete{
    color: #838383;
    background-color: #f9f9f9;
    border-style: solid;
    position: relative;
}

.q6-tutorial-step.q6-tutorial-step--complete:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/check_green.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    right: 5px;
    top: 6px;
}

.q6-tutorial-step.q6-tutorial-step--current{
    color: #3b3b3b;
    border-style: solid;
    border-color: #306eea;
}

.q6-tutorial-step.q6-tutorial-step--current .q6-tutorial-step__title{
    color: #306eea;
}
/* TEMPLATE */


.q6-tutorial-content-title{
    color: #525252;
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0;
}

.q6-tutorial-content p{
    margin: 5px 0;
    line-height: 20px;
    font-size: 15px;    
}

.q6-tutorial-video-container {
    display: block;
    width: 560px;
    height: 315px;
    background: black;
}

.q6-tutorial-intro{
    display: flex;
}

.q6-tutorial-intro__left{
    margin-right: 70px;
}

.q6-tutorial-intro__right{
    max-width: 420px;
}

.q6-tutorial-intro-header{
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    margin-bottom: 15px;
}

.q6-tutorial-intro-header p{
    margin-bottom: 0;
    color: #363940;
}

.q6-tutorial-intro-header .q6-tutorial-content-title{
    margin-bottom: 0;
}

.q6-tutorial-link-block{
    display: flex;
    align-items: center;
    background: white;
    padding: 10px 20px;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 7px;
    color: #525252;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;    
    transition: all 0.2s ease;
    margin-bottom: 10px;
}

.q6-tutorial-link-block:hover{
    border-color:#306eea;
}

.q6-tutorial-link-text{
    flex: 1;
    margin: 0 20px;
    white-space: nowrap;
}

.q6-tutorial-link-icon{
    height: 60px;
    min-width: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;    
}

.q6-tutorial-link-icon--ui{
    background-image: url(../img/tutorial_ui_icon.png);
}

.q6-tutorial-link-icon--api{
    background-image: url(../img/tutorial_api_icon.png);
}

.q6-tutorial-next-icon{
    height: 32px;
    min-width: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;    
    background-image: url(../img/link_button.png);    
}

.q6-tutorial-link-block-container{
    margin-bottom: 20px;
}