.q6-authorize-component{
    background: #f7f8fa;    
}

.q6-authorize-container{
    display: flex;
    padding: 0 40px;
    padding-top: 45px;
    padding-bottom: 110px;
    justify-content: center;
}

.q6-authorize-container > div{
    box-sizing: border-box;
}

.q6-get-started-features{
    background: white;
    margin: 30px 0;
    border-radius: 8px 0 0 8px;
    padding: 50px 70px;    

    display: flex;
    flex-direction: column;  
    flex: 1;

    max-width: 500px;
}

.q6-authorize-container .q6-feature-item {
    align-items: flex-start;   
    margin: 15px 0; 
}

.q6-authorize-container .q6-feature-item__icon {
    margin-right: 25px;
}


.q6-authorize-window{
    padding: 50px 50px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 12px 25px 1px rgba(105, 109, 112, 0.2);
    max-width: 550px;
    flex: 1;
    position: relative;
}

.q6-authorize-window h3,
.q6-get-started-features h3{
    color: #383838;
    font-family: "proxima-nova";
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.q6-get-started-features h3{
    line-height: 30px;
}

.q6-ibc-logo{
    width: 68px;
    height: auto;
    margin: 20px auto;
    margin-bottom: 30px;
}

.q6-authorize-window h2{
    text-align: center;
}

.q6-authorize-form{
    margin-top: 30px;    
}

.q6-authorize-form .q6-input{
    margin-bottom: 25px;
}

.q6-authorize-form .q6-button{
    width: 100%;
    margin: 20px 0;
    margin-bottom: 0;
}


.q6-sign-up-confirm-box{
    display: flex;  
}

.q6-confirm-checkbox input[type="checkbox"] {
    display: none;
}

.q6-confirm-checkbox label {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #e1e5ee;
    display: block;
    margin-right: 13px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
}

.q6-confirm-checkbox input[type=checkbox]:checked + label {
    border-color: #3270eb;
}

.q6-confirm-checkbox input[type=checkbox]:checked + label:after {
    content: '';
    box-sizing: border-box;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    position: absolute;
    background: #3270eb;
}

.q6-sign-up-confirm-box p{
    margin: 0;
    font-size: 15px;
}

.q6-sign-up-confirm-box a{
    color: #3270eb;
    text-decoration: none;
}

.q6-authorize-form__message{
    margin: 0;
    margin-top: 25px;
    text-align: center;    
}

.q6-authorize-form__message a{
    color: #3270eb;
    text-decoration: none;
    font-weight: 500;
}


.q6-sign-in__forgot-pass-message a{
    color: #3270eb;
    text-decoration: none;
}

.q6-sign-in__forgot-pass-message a:hover{
    text-decoration: underline;
}

.q6-sign-in__forgot-pass-message{
    margin: 0;
    font-size: 15px;
    margin-top: -15px;
}

.q6-get-started-features .q6-promo-saving-links{
    margin-left: 53px;
    margin-top: -12px;
    display: flex;
    flex-wrap: wrap;    
}

.q6-powered-by-stripe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
}
.q6-powered-by-stripe > div:first-of-type {
    color: #a0a3b7;
    font-size: 13px;
    padding-left: 18px;
    margin-right: 5px;
}
.q6-lock-icon--left {
    position: relative;
}
.q6-lock-icon--left:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 14px;
    left: 0;
    top: 0;
    background-image: url(../img/lock_icon.png);
    background-size: 12px 14px;
    background-repeat: no-repeat;
}

/********************* FORM SWITCH   ***********************/
.q6-payment-switch{
    display: flex;
    margin: 40px 0;
    margin-top: 20px;
}

.q6-payment-switch__footer .q6-button{
    width: 100%;
    margin: 30px 0;
    margin-bottom: 0;
}

.q6-payment-switch > .q6-payment-switch__button{
    margin-right: 20px;
}

.q6-payment-switch > .q6-payment-switch__button:last-of-type{
    margin-right: 0;
}


.q6-payment-switch__button{
    background: #f7f8fa;
    flex: 1;
    border-radius: 6px;
    border: 1px solid #e1e5ee;
    box-sizing: border-box;
    cursor: pointer;
    padding: 18px 3px;
}

.q6-payment-switch__button p {
    color: #8e97a8;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    margin: 0;  
    font-family: "proxima-nova", sans-serif;
}

.q6-switch-content{
    display: none;
    animation: fadeEffect 1s;    
}

.q6-switch-content.q6-switch-content--active {
    display: block;
}

.q6-watermark-icon{
    background-image: url(../img/watermark.svg);
    background-repeat: no-repeat;   
    background-position: center;
    margin: auto;
    height: 48px;
    width: 58px;
}

.q6-payment-switch__icon{
    background-image: url(../img/wallet_main_g.svg);
    background-repeat: no-repeat;   
    margin: auto;
    margin-bottom: 15px;
    height: 35px;
    background-position: center;
}

.q6-payment-switch__icon--card{
    width: 50px;
    background-image: url(../img/payment_black_gs.svg);
    background-position: center;
}

.q6-payment-switch__icon--paypal{
    width: 76px;
    background-image: url(../img/paypal_black_gs.svg);
    background-position: center;
}

.q6-payment-switch__icon--trial{
    width: 38px;
    background-image: url(../img/trial_black_gs.svg);
    background-position: center;
}

.q6-payment-switch__button--active{
    border-color: #376fe0;
    background: #f9faff;
    position: relative;
}

.q6-payment-switch__button--active p{
    color: #383838;
}

.q6-payment-switch__button--active .q6-payment-switch__icon--card{
    background-image: url(../img/payment_gs.svg);
}

.q6-payment-switch__button--active .q6-payment-switch__icon--paypal{
    background-image: url(../img/paypal_gs.svg);
}

.q6-payment-switch__button--active .q6-payment-switch__icon--add-funds{
    background-image: url(../img/wallet_main.svg);
}

.q6-payment-switch__button--active .q6-payment-switch__icon--trial{
    background-image: url(../img/trial_gs.svg);
}

.q6-payment-switch__button--active:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    background-image: url(../img/checked_blue.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    bottom: -10px;
    right: calc(50% + -9px);
}


.q6-trial-details{
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;    
}

.q6-trial-details > div{
    flex:1;
    margin-right: 20px;
}

.q6-trial-details > div:last-of-type{
    margin-right: 0;
}

.q6-watermark-message{
    border-radius: 6px;
    background: #f9faff;
    padding: 30px 25px;
    padding-bottom: 20px;  
}

.q6-watermark-message p{
    text-align: center;
    line-height: 18px;
    margin-bottom: 0;
    font-size: 15px;
}

.q6-trial-details__list-title{
    color: #383838;
    font-size: 16px;
    font-weight: 500;    
}

.q6-trial-details__list p{
    margin: 10px 0;
    font-size: 15px;
    color: #9da3af;
    line-height: 16px;    
    position: relative;
    padding-left: 23px;    
}

.q6-trial-details__list p span{
    font-size:20px;
    margin-right: 5px;
}

.q6-trial-details__list p:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url(../img/checked_blue.png);
    background-size:cover;
    background-repeat: no-repeat;
    left: 0;
    top: 1px;
}
/********************* FORM SWITCH   ***********************/

.q6-form-message{
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    margin-top: -20px;
    color: #9da3af;   
}

.q6-form-important-message{
    color: #171717;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 21px;  
}

.q6-paypal-waiting-image{
    width: 340px;
    height: 180px;
    margin: 20px auto;
    background-image: url(../img/paypal_waiting.svg);
    background-position: center;    
    background-size: contain;
    background-repeat: no-repeat;    
}

.q6-paypal-confirmation-container{
    background: #f7f8fa;
}

.q6-paypal-confirmation{
    padding: 40px 50px;  
    padding-bottom: 100px;
}

.q6-paypal-confirmation-window{
    padding: 85px 50px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 12px 25px 1px rgba(105, 109, 112, 0.2);
}

.q6-paypal-confirmation-window-content{
    max-width: 400px;
    margin: 70px auto;  
}

.q6-paypal-confirmation-info{
    margin: 0 30px;
    text-align: center;
}

.q6-animated-dots{
    display: inline-block;
    letter-spacing: -2px;
    margin-left: -4px;
}

.q6-loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
    margin-left: -3px;
}
    
  
  @keyframes dots {
    0%, 20% {
      color: #171717;
      text-shadow:
        .25em 0 0 #171717,
        .5em 0 0 #171717;}
    40% {
      color: white;
      text-shadow:
        .25em 0 0 #171717,
        .5em 0 0 #171717;}
    60% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 #171717;}
    80%, 100% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}}

.q6-animated-dots > span {
    animation: animated-dots 3s infinite ease-in-out;
}

.q6-animated-dots > span:nth-of-type(1) {
    animation-delay: .1s;
}

.q6-animated-dots > span:nth-of-type(2) {
    animation-delay: .3s;
}

.q6-animated-dots > span:nth-of-type(3)
{
    animation-delay: .5s;
}

@keyframes animated-dots {
    10% { opacity: 1; }
    0% { opacity: 0.3; }
    20%,100% { opacity: 1; }
  }

.q6-sent-image{
    width: 82%;
    max-width: 266px;
    margin: 0 auto;
    display: block;   
}

.q6-new-pass-saved-image{
    width: 82%;
    max-width: 104px;
    margin: 0 auto;
    display: block;   
}

.q6-window-status__title{
    text-align: center;
    margin: 18px 0;
    font-weight: 100;
    font-size: 30px;    
}

.q6-window-status__text{
    text-align: center;
}



.q6-maintenance {
    padding: 40px 50px;
    padding-bottom: 100px;
}

.q6-maintenance-window {
    padding: 85px 50px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 12px 25px 1px rgba(105, 109, 112, 0.2);
}

.q6-maintenance-window-content {
    max-width: 460px;
    margin: 0 auto;
}

.q6-maintenance-info {
    margin: 0 30px;
}

.q6-maintenance-important-message {
    color: #171717;
    font-size: 22px;
    margin-bottom: 20px;
}

.q6-maintenance-image {
    padding: 0 20px 20px 30px;
}

.q6-auth-steps{
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 20px;
}

.q6-auth-steps .q6-auth-steps__step{
    max-width: 28px;

    margin: 0 30px;


    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;

    font-size: 15px;
    font-weight: 500;    
    position: relative;

    color: #b1b3d3;
}

.q6-auth-steps .q6-auth-steps__step .q6-auth-steps__step-number{
    border: 2px solid #dbdcea;
    width: 28px;
    height: 28px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;    

    box-sizing: border-box;
}

.q6-auth-steps .q6-auth-steps__step .q6-auth-steps__step-text{
    margin-top: 5px;
}

.q6-auth-steps .q6-auth-steps__step .q6-auth-steps__step-number:before{
    content: "";
    position: absolute;
    left: -32px;
    width: 32px;
    height: 2px;
    background-color: #dbdcea;
}

.q6-auth-steps .q6-auth-steps__step .q6-auth-steps__step-number:after{
    content: "";
    position: absolute;
    right: -32px;
    width: 32px;
    height: 2px;
    background-color: #dbdcea;
}

.q6-auth-steps .q6-auth-steps__step:first-of-type .q6-auth-steps__step-number:before{
    content: none;
}

.q6-auth-steps .q6-auth-steps__step:last-of-type .q6-auth-steps__step-number:after{
    content: none;
}

.q6-auth-steps .q6-auth-steps__step.q6-auth-steps__step--passed .q6-auth-steps__step-number{
    border: none;
    background-image: url(../img/checked_green.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.q6-auth-steps .q6-auth-steps__step.q6-auth-steps__step--passed .q6-auth-steps__step-number span{
    display: none;
}

.q6-auth-steps .q6-auth-steps__step.q6-auth-steps__step--passed .q6-auth-steps__step-text{
    color: #28c793;
}

.q6-auth-steps .q6-auth-steps__step.q6-auth-steps__step--current .q6-auth-steps__step-number{
    color: white;
    background-color: #366fe0;
    border: none;
}

.q6-auth-steps .q6-auth-steps__step.q6-auth-steps__step--passed .q6-auth-steps__step-number:after,
.q6-auth-steps .q6-auth-steps__step.q6-auth-steps__step--passed .q6-auth-steps__step-number:before{
    background-color: #28c793;
}

.q6-auth-steps .q6-auth-steps__step.q6-auth-steps__step--current .q6-auth-steps__step-number:before{
    background-color: #28c793;
}

.q6-auth-steps .q6-auth-steps__step.q6-auth-steps__step--current .q6-auth-steps__step-text{
    color: #366fe0;
    font-weight: 700;
}


.q6-authorize-form__title {
    color: #7c7c7c;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.q6-authorize-form__title--window{
    margin-top: 25px;
    margin-bottom: -10px;
}

.q6-authorize-auth{
    margin: 25px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.q6-authorize-auth__button{
    border-radius: 20px;
    background-color: #e9effb;
    line-height: 40px;
    min-width:125px;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box;
    color:#366fe0;
    font-weight: 500;
    font-size: 16px;    
    display: flex;
    align-items: center;
    justify-content: center;    
}

.q6-authorize-auth__button:hover {
    background-color: #d8e7ff;
    box-shadow: 0px 1px 6px 1px rgba(105, 109, 112, 0.1);
}

.q6-authorize-auth__button img{
    height: 20px;
    margin-right: 10px;
}


.q6-authorize-form .q6-input{
    margin-bottom: 25px;
}

.q6-authorize-form .q6-button{
    width: 100%;
    margin: 20px 0;
    margin-bottom: 0;
}

.q6-authorize-window h3.q6-authorize-window__subtitle{
    font-size: 18px;
    margin: 10px 0;    
}

.q6-authorize-window .intl-tel-input {
    width: 100%;
    margin: 0;
}

.q6-authorize-window .intl-tel-input .country-list{
    max-width: 450px;
    overflow-x: hidden;    
}

.q6-authorize-window .flag-container{
    border-right: 1px solid #e1e5ee;
    z-index: 1;
}

.q6-input-with-bonus{
    display: flex;
}

.q6-input-with-bonus input.q6-input__field{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;    
    border-right: none;
}

.q6-input__bonus{
    white-space: nowrap;
    background-color: #265cc5;
    color: white;
    display: flex;
    align-items: center;
    
    padding: 12px 14px;
    border-radius: 6px;    
    font-weight: 600;
    font-size: 18px;    

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 1024px){
    .q6-authorize-container {
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0;
        padding-right: 0;        
    }
    .q6-authorize-window{
        width: 100%;
    }    
    .q6-get-started-features {
        width: 90%;
        margin: 0;
    }    
    .q6-get-started-features {
        border-radius: 0 0 8px 8px;
    }    
}

@media screen and (max-width: 780px){
    .q6-authorize-window {
        padding: 30px 40px;
        background: white;
    }
    .q6-authorize-form__message {
        margin-top: 10px;
    }    
    .q6-get-started-features {
        padding: 40px 40px;
    }    
}

@media screen and (max-width: 610px){
    .q6-paypal-waiting-image {
        width: 100%;
    } 
    .q6-paypal-confirmation-info {
        margin: 0 0;
    }    
    .q6-paypal-confirmation {
        padding-left: 0;
        padding-right: 0;
    }    

    .q6-maintenance {
        padding-left: 0;
        padding-right: 0;
    }    

    .q6-maintenance-image {
        padding-left: 0;
        padding-right: 0;
    }    

    .q6-maintenance-info {
        margin: 0 0;
    }    
}

@media screen and (max-width: 480px){
    .q6-authorize-window {
        padding: 20px 25px;
    }
    .q6-authorize-form__message {
        margin-top: 0;
    }    
    .q6-get-started-features .q6-feature-item__icon {
        margin-right: 10px;
    }
    .q6-get-started-features {
        padding: 30px 0;
        width: 100%;
        background: transparent;
    }      
    .q6-authorize-container .q6-feature-item {
        margin: 5px 0;
    }    
    .q6-get-started-features .q6-promo-saving-links {
        margin-left: 38px;
        margin-top: -5px;
    }    

    .q6-maintenance-window {
        padding: 50px 40px;
    }    

    .q6-authorize-auth {
        flex-direction: column;
    }    

    .q6-authorize-auth__button {
        margin: 0;
        margin-bottom: 10px;
    }     
}