.q7-storage-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0;    
}

.q7-bucket-info{
    display: flex;
    align-items: center;    
}

.q7-bucket-title{
    font-weight: 500;
    color: #001717;
    font-size: 16px;    
}

a.q7-bucket-url{
    color: #3f79e4;
}

a.q7-bucket-url:hover{
    color: #3f79e4;
}