:root {
    --vertical-menu-width: 200px; 
    --header-hights: 70px; 
    --blue: #366fe0;
}

.q7-html{
    background: #f2f5f8;
}

.q7-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    margin: 0;
    font-family: "proxima-nova";
    font-size: 14px;
}

.q7-page .q6-tablinks--active {
    color: var(--blue);
    border-bottom: 3px solid var(--blue);
}

.q7-page-content {
    flex: 1;
    background: #f0f3f6;
}

.q7-container{
    width: calc(100% - var(--vertical-menu-width));
    max-width: 1280px;
    margin: auto;
    margin-left: var(--vertical-menu-width);
    padding: 0 30px;
    box-sizing: border-box;  
}


/* VERTICAL MENU */
.q7-menu{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: white;    
    width: var(--vertical-menu-width);
    display: flex;
    flex-direction: column;  
    z-index: 99999;  
}

.q7-menu__header{
    height: var(--header-hights);
    min-height: var(--header-hights);
    display: flex;
    align-items: center;
    justify-content: center;
}

.q7-logo img{
    width: 104px;
}

.q7-menu__body{
    box-shadow: 0px 7px 9px 1px rgba(208, 211, 213, 0.62);    
    background: white;
    flex: 1;
    overflow-y: auto;
}

.q7-menu-block{
    border-top: 1px solid #dddfe1;
    box-sizing: border-box;   
    margin-bottom: 20px; 
}

.q7-menu-block__title{
    color: #abafb3;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    padding: 18px 10px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;    
}


.q7-menu-block__element{
    text-align: center;
    padding: 14px 10px;   
    padding-left: 25px;
    min-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    color: #9ea2a9;
    font-size: 14px;
}

.q7-menu-block__element > svg{
    height: 20px;
    width: 20px;
    fill: #9ea2a9;
    margin-right: 20px;
}

.q7-menu-block__element:hover,
.q7-menu-block__element--selected {
    background: #eff4fe;
    color: var(--blue);
    text-decoration: none;
}

.q7-menu-block__element:hover > svg,
.q7-menu-block__element--selected > svg{
    fill:var(--blue);
}

.q7-menu-block__element:hover:before,
.q7-menu-block__element--selected:before{
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background: var(--blue);
}

/* VERTICAL MENU */

/* PAGE CONTENT */
.q7-page-content__header{
    height: var(--header-hights);
    min-height: var(--header-hights);
    background: var(--blue);
    display: flex;
    align-items: center;
    color: white;    
}

.q7-page-content__header-container{
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.q7-page-content__header-title-and-button{
    display: flex;
    align-items: center;    
}

.q7-header__balance-and-wallet{
    display: flex;
    align-items: center;       
}

.q7-header-balance{
    font-size: 16px;
    margin-right: 17px;
}

.q7-page-content__header-title-and-button .q6-button {
    margin-right: 17px;
    background: #6c9dff;
    color: white;
}

.q7-page-content__header-title-and-button .q6-button.q6-button--back:after {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.q7-page-content__header-title-and-button .q6-button:hover{
    background: #6c9dff;
    color: white;
    background: #6797f6;    
}

.q7-page-content__header-title{
    font-size: 18px;
    font-weight: 500;    
}

.q7-page-content__header-selector{
    padding: 0 20px;
    padding-right: 30px;
    line-height: 40px;
    border-radius: 5px;
    background: #6c9dff;
    font-size: 16px;    
    position: relative;
    cursor: pointer;
}

.q7-page-content__header-selector strong{
    font-weight: 600;
}

.q7-page-content__header-selector:after{
    position: absolute;
    right: 10px;
    top: calc(50% - 2px);
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: 4px solid white;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;    
}

.q7-warning-message-container{
    background: #cefeff;
}

.q7-warning-message{
    color: #080808;
    height: 60px;
    display: flex;
    align-items: center;    
}

.q7-warning-message strong{
    font-weight: 600;
}

.q7-warning-message > span{
    margin-right: 20px;
    line-height: 16px;
}

.q7-button{
    background: transparent;
    outline: none;
    display: inline-block;
    padding: 0 22px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
    min-width: 110px; 
    line-height: 33px;
    background: #34d1bf;
    color: white;       
}

.q7-button:hover{
    background: #3adac7;
}

.q7-button--round{
    border-radius: 25px;
}

.q7-main-content-container{
    display: flex;
    margin-top: 15px;
}

.q7-main-content{
    flex: 1;
    overflow: hidden;
}

.q7-main-content-snippets{
    min-width: 330px;
    margin-left: 26px;
    max-width: 330px;
}

.q7-content-snippet-blocks{
    display: none;
}

.q7-content-block{
    padding: 15px 25px;
    margin: 15px 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 5px 14px 2px rgba(105, 109, 112, 0.2);  
    flex: 1;  
    overflow: hidden;
}

.q7-content-snippet-blocks .q7-content-block{
    margin-right: 26px;
    max-width: 50%;
    height: fit-content;
}

.q7-content-snippet-blocks .q7-content-block:last-of-type{
    margin-right: 0;
}
/* PAGE CONTENT */

/* BLOCKS */
.q7-content-block__header-link > a{
    position: relative;
    color: var(--blue);
    padding-right: 10px;
    font-weight: 500;
}
.q7-content-block__header-link > a:after {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: calc(50% - 4px);
    height: 7px;
    width: 7px;
    border-bottom: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
    transform: rotate(-45deg);
}

.q7-content-block__header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;  
    margin: 5px 0;
}

.q7-content-block__body{
    overflow: auto;
}

.q7-content-block__footer{
    margin-top: 15px;
}

.q7-content-block__header-title{
    font-size: 18px;
    font-weight: 600;
    color: #4f4f4f;    
}

.q7-content-block__header-title > span{
    font-size: 16px;
    color: #878787;
    font-weight: 400;
    margin-left: 5px;    
}

.q7-content-block__header-title.q7-tittle-icon{
    padding-left: 24px;
}

.q7-tittle-icon{
    position: relative
}

.q7-tittle-icon:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: calc(50% - 10px);
    background-position: left center;
    background-repeat: no-repeat;
}

.q7-tittle-icon--stats:before{
    background-image: url(../img/icon_stats.svg);
}

.q7-tittle-icon--calendar:before{
    background-image: url(../img/icon_calendar.svg);
}

.q7-tittle-icon--resources:before{
    background-image: url(../img/icon_resources.svg);
}

.q7-tittle-icon--usage:before{
    background-image: url(../img/icon_usage.svg);
}

.q7-tittle-icon--storage:before{
    background-image: url(../img/icon_storage.svg);
}

.q7-tittle-icon--folder:before{
    background-image: url(../img/icon_folder.svg);
}

.q7-tittle-icon--start:before{
    background-image: url(../img/icon_start.svg);
}

.q7-tittle-icon--news:before{
    width: 17px;
    height: 17px;
    background-image: url(../img/icon_news.svg);
}

.q7-tittle-icon--trial:before{
    height: 18px;
    background-image: url(../img/icon_trial.svg);
}
/* BLOCKS */

/* BLOCKS CONTENT */
.q7-chart-container{
    height: 300px;  
    margin-top: 17px;
    margin-bottom: 10px;
}

.q7-table{
    width:100%;
    color: #575757;
    font-size: 14px;
    line-height: 14px;  

    border-collapse: separate;
    border-spacing: 0 17px;    
}

.q7-table thead{
    background: #f5f8fa;
    color: #a6b1bd;
}

.q7-table thead th{
    font-weight: 500;
    color: #8392a4;
}

.q7-table td,
.q7-table th{
    padding: 6px 15px;
    white-space: nowrap;
}

.q7-table td{
    padding: 0 15px;
}

.q7-table--latest-transcoding-jobs,
.q7-table--transfer-methods,
.q7-table--projects{
    border-spacing: 0;
    margin-top:18px;
}

.q7-table--latest-transcoding-jobs td,
.q7-table--transfer-methods td,
.q7-table--projects td{
    padding: 9px 15px;
}

.q7-table--transfer-methods td:last-of-type,
.q7-table--projects td:last-of-type{
    padding-top: 0;
    padding-bottom: 3px; 
}

.q7-table--latest-transcoding-jobs tr:first-of-type td,
.q7-table--transfer-methods tr:first-of-type td,
.q7-table--projects tr:first-of-type td{
    padding-top: 18px;
}

.q7-table--transfer-methods tr:first-of-type td:last-of-type,
.q7-table--projects tr:first-of-type td:last-of-type{
    padding-top: 4px;
    padding-bottom: 0;    
}

.q7-table--latest-transcoding-jobs td:first-of-type,
.q7-table--transfer-methods td:first-of-type,
.q7-table--projects td:first-of-type{
    max-width: 160px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;    
    position: relative;
}

.q7-table--latest-transcoding-jobs td:first-of-type .q6-tutorial-profile-actions{
    position: absolute;
    bottom: 7px;
    right: 0;
}

.q7-table--storage td{
    padding: 15px 15px;
    border-top: 1px solid #eeeff2;
    border-bottom: 1px solid #eeeff2;   
    vertical-align: top; 
}

.q7-table--storage td:first-of-type {
    border-left: 1px solid #eeeff2;  
    width: 540px;
    max-width: 540px;
}

.q7-table--storage td:nth-of-type(2) {
    width: 100px;
    max-width: 100px;
}

.q7-table--storage td:nth-of-type(3) {
    width: 150px;
    max-width: 150px;
}

.q7-table--storage td:last-of-type {
    border-right: 1px solid #eeeff2;  
}

.q7-table--storage td:last-of-type .q6-dd-menu-container{
    margin: 0;
    margin-left: auto;
}

.q7-table-cell--storage__content{
    max-width: 100%;
}



.q7-table a{
    color: var(--blue);    
}

.q7-table a:hover{
    color: var(--blue);   
}


.q7-table-cell--storage{
    display: flex;
}

.q7-table-cell--storage-name{
    color: #366fe0;
    font-weight: 600;    
}

.q7-table-cell--storage__content > div{
    margin-bottom: 6px;
}

.q7-table-cell--storage__content > div:last-of-type{
    margin-bottom: 0px;
}

.q7-table-cell--storage-link{
    color: #b6b6b6;

    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.q7-table-pagination{
    border-top: 1px solid #e9e9e9;
    margin-top: 15px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;  
    color: #575757;  
}

.q7-table-pagination__results{
    background: #f8f8f8;
    padding: 6px 14px;  
}

.q7-table-pagination__pages{
    padding: 0 8px;
}

.q7-table-pagination__buttons{
    margin-left: 25px;
    display: flex;
}

.q7-table-pagination__button{
    border: 1px solid #eeeeee;
    height: 24px;
    width: 24px;
    position: relative;
    margin-right: 7px;
    cursor: pointer;
    border-radius: 3px;
}

.q7-table-pagination__button:hover{
    border-color: #bdbdbd;
}

.q7-table-pagination__button:hover:after{
    border-bottom: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
}

.q7-table-pagination__button:last-of-type{
    margin-right: 0;
}

.q7-table-pagination__button:after {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - 5px);
    height: 9px;
    width: 9px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.q7-table-pagination__button.q7-table-pagination__button--prev:after{
    transform: rotate(135deg);
    left: 8px;
}

.q7-table-pagination__button.q7-table-pagination__button--next:after{
    transform: rotate(-45deg);
    right: 8px;
}


.q7-bucket-icon{
    min-width: 14px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/bucket_icon.png);
    background-size: 14px 12px;  
    margin-right: 9px;     
}

.q7-bucket-icon--big{
    margin-right: 25px;
    min-width: 52px;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%;    
    background-image: url(../img/bucket_icon_big.png);     
}



.q7-icons-container{
    display: flex;
    flex-wrap: wrap;    
    margin: 10px 0;
}


.q7-icon-container {
    height: 50px;
    display: flex;
    align-items: center;
}

.q7-icons-container > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 88px;
    min-height: 88px;
    margin-right: 15px;
    color: var(--blue);
}

.q7-icons-container > a:hover{
    color: var(--blue);
    text-decoration: none;
}

.q7-sdk-icon--java {
    width: 30px;
    height: 41px;
    background-size: 30px 41px;
    background-position: 0 0;
    background-image: url(../img/java_icon.svg);
}

.q7-sdk-icon--c {
    width: 36px;
    height: 41px;
    background-size: 36px 41px;
    background-position: 0 0;
    background-image: url(../img/c_icon.svg);
}

.q7-sdk-icon--nodejs {
    width: 36px;
    height: 41px;
    background-size: 36px 41px;
    background-position: 0 0;
    background-image: url(../img/node_icon.svg);
}

.q7-sdk-icon--php {
    width: 40px;
    height: 20px;
    background-size: 40px 20px;
    background-position: 0 0;
    background-image: url(../img/php_icon.svg);
}

.q7-sdk-icon--js {
    width: 39px;
    height: 39px;
    background-size: 39px 39px;
    background-position: 0 0;
    background-image: url(../img/js_icon.svg);
}

.q7-sdk-icon--python {
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
    background-position: 0 0;
    background-image: url(../img/python_icon.svg);
}

.q7-sdk-icon--apidocs {
    width: 39px;
    height: 39px;
    background-size: 39px 39px;
    background-position: 0 0;
    background-image: url(../img/apidocs_icon.svg);
}

.q7-sdk-icon--helpcenter {
    width: 39px;
    height: 39px;
    background-size: 39px 39px;
    background-position: 0 0;
    background-image: url(../img/helpcenter_icon.svg);
}


.q7-icon-title{
    font-weight: 500;
}

.q7-icons-block-title{
    color: #878787;
    text-transform: uppercase;
    font-size: 13px;
    margin: 10px 0;    
}

.q7-post-date{
    color: #bebebe;
    font-size: 12px;    
}
/* BLOCKS CONTENT */

/* IN SNIPPETS */
.q7-main-content-snippets .q7-table td,
.q7-content-snippet-blocks .q7-table td{
    padding-left:0;
}

.q7-main-content-snippets .q7-table tbody tr:first-of-type td,
.q7-content-snippet-blocks .q7-table tbody tr:first-of-type td{
    padding-top: 3px;
}

.q7-main-content-snippets .q7-table thead,
.q7-content-snippet-blocks .q7-table thead{
    background: initial;
}

.q7-main-content-snippets .q7-table thead th,
.q7-content-snippet-blocks .q7-table thead th{
    font-weight: 100;
    color: #575757;
    padding: 0 15px;
    padding-left: 0;
}

.q7-table-cell-icon{
    position: relative;
    padding-left: 25px;
}

.q7-table-cell-icon:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: calc(50% - 9px);
    background-position: left center;
    background-repeat: no-repeat;   
}

.q7-table-cell-icon--play:before{
    background-image: url(../img/run_code.svg);
}

.q7-table-cell-icon--time:before{
    background-image: url(../img/usagetime_icon.svg);
}

.q7-table-cell-icon--cost:before{
    background-image: url(../img/usagecost_icon.svg);
}

.q7-main-content-snippets .q7-table td, .q7-table th,
.q7-content-snippet-blocks .q7-table td, .q7-table th{
    white-space: normal;
}

.q7-tutorial-step-icon{
    position: relative;
    padding-right:25px;
}

.q7-tutorial-step-icon:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    top: calc(50% - 8px);
    background-position: center;
    background-repeat: no-repeat;
}

.q7-tutorial-step-icon--complete:before{
    background-image: url(../img/stepcomplete_icon.svg);
}

.q7-tutorial-step-icon--not-complete:before{
    background-image: url(../img/stepnotcomplete_icon.svg);
}

.q7-button.q7-light-blue-background.q7-light-blue-border.q7-blue-text:hover {
    background-color: #d8e7ff;
    border-color: #d8e7ff;
}

.q7-light-blue-border {
    border-color: #e9effd;
}

.q7-light-blue-background {
    background: #e9effd;
}

.q7-blue-text {
    color: var(--blue);
}

.q7-button--max-width{
    width: 100%;
}


/* IN SNIPPETS */

.q7-header-menu-container{
    position: relative;
}

.q7-header-menu{
    display: none;
    position: absolute;
    line-height: 40px;
    border-radius: 5px;
    background: #6c9dff;
    font-size: 16px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 100%;
    text-align: right;
    padding-bottom: 4px;
    z-index: 99999;
}


.q7-header-menu a{
    color:white;
    text-decoration: none;
    padding: 0 20px;
    padding-right: 30px;
    display: block;    
}

.q7-header-menu a:hover{
    text-decoration: none;
    background-color: var(--blue);
}

.q7-page-content__header-selector--opened{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.q7-header-menu--opened{
    display: block;
}


.q7-page-content .q6-tabcontent {
    animation: none;
}


.q7-section-tittle-and-button{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.q7-section-tittle-and-button .q6-button{
    margin-left: 25px;
}

.q7-section{
    width: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
}

.q7-section .q6-tutorial-inputs-block,
.q7-section .q6-tutorial-inputs-block--inline {
    margin-top: 10px;
    width: fit-content;
}

.q7-section-tittle{
    font-size: 24px;
    color: var(--blue);
}

.q7-section-tittle .q7-section-tittle__optional{
    font-size: 15px;
}

.q7-section-tittle__optional--drop-down{
    position: relative;
    cursor: pointer;
    padding-right: 11px;
}

.q7-section-tittle__optional--drop-down:after{
    position: absolute;
    right: 0;
    top: calc(50% - 2px);
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: 4px solid var(--blue);
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;
}

.q7-section .q6-input__field--view {
    color: #525252;
}

.q7-section .q6-tutorial-profile{
    background: white;
    padding: 30px 35px;
    border-radius: 7px;
    min-width: 300px;
    margin-right: 25px;
    border: none;
    max-width: 300px;

    margin-top: 10px;
    margin-bottom: 25px;    

    display: flex;
    flex-direction: column;    
}

.q7-project-vpn-tunnel{
    margin-top: 30px;
}

.q7-project-vpn-tunnel .q6-input-and-buttons--inline{
    padding-left: 30px;
}

.q7-modal .modal-content{
    padding: 36px 40px;
    width: max-content;
}

.q7-modal .modal-content .modal-header{
    padding:0;
}

.q7-modal .modal-footer {
    padding:0;
}

.q7-modal .modal-body{
    padding: 25px 30px;
}

@media (min-width: 768px){
    .q7-modal .modal-dialog {
        width: max-content;
    }
}


.q7-modal .q6-button.q6-button--close-window {
    right: 30px;
    top: 30px;
}

.q7-modal .modal-title {
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
    color: #4f4f4f;
}

.q7-modal .modal-title span{
    font-size: 16px;
}

.q7-modal-body--transfer-method{
    background:#f3f6f9;
    border-radius: 5px;
    margin:25px 0;
    display: flex;
    flex-direction: column;    
}

.q7-modal-body--video-rendition-settings{
    background:#f3f6f9;
    border-radius: 5px;
    margin:25px 0;
    display: flex;    
}

.q7-modal-body--video-rendition-settings > div:first-of-type{
    max-width: 280px;
    margin-right: 70px;
}

.q7-modal-body--add-funds{
    background:#f3f6f9;
    border-radius: 5px;
    margin:25px 0;    
}

.q7-modal-body--add-funds .q6-payment-switch > .q6-payment-switch__button {
    max-width: 150px;
}

.q7-modal-body--add-funds .q6-payment-switch {
    justify-content: center;
    margin-bottom: 10px;
}

.q7-modal-body--add-funds .q6-payment-switch__button--active p {
    color: #366fe0;
}

.q7-modal-body--add-funds .q6-payment-switch__button--active {
    background: #f1f6ff;
}

.q7-modal-body--add-funds p.q6-form-message {
    margin: 0;
    font-size: 15px;
    line-height: 19px;
    color: #9da3af;
    text-align: left;
}

.q7-modal-body--add-funds .q6-upgrade-account-window {
    width: 440px;
}

.q7-modal-body--add-funds .q6-authorize-form.q6-authorize-form--get-started {
    min-height: 0;
}

.q7-modal-body--add-funds .q6-upgrade-account-window h2{
    color: #383838;
    font-family: "proxima-nova";
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    margin: 10px 0;
}


.q6-input.q6-input--video-width,
.q6-input.q6-input--video-height {
    max-width: 80px;
}

.q6-input.q6-input--output-resolution{
    max-width: 180px;
}

.q6-input.q6-input--video-bitrate{
    max-width: min-content;
}

.q6-input.q6-input--video-crf{
    max-width: 65px;
}

.q6-input.q6-input--video-framerate,
.q6-input.q6-input--video-keyframe{
    max-width: 100px;
}

.q6-input.q6-input--video-url{
    max-width: 225px;
}

.q6-input.q6-input--video-x,
.q6-input.q6-input--video-y{
    max-width: 80px;
}

.q7-video-rendition-checkboxes-container .q6-checkbox{
    margin: 20px 0;
}

.q7-video-rendition-watermark-block{
    margin-top: 40px;
    padding: 15px 25px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    margin-left: -25px;
}

.q7-modal-body--transfer-method .q6-checkmark,
.q7-modal-body--video-rendition-settings .q6-checkmark {
    background-color: #ffffff;
    border-color: #e1e5ee;
}

.q7-modal-body--video-rendition-settings  input[type=text]:disabled.q6-input__field {
    border-color: #dae0ea;
    background: #e9edf0;
    color: #9b9494;
}

.q7-video-rendition-extra-header{
    color: #8f9195;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;    
}

.q7-video-rendition-extra-header > div:nth-of-type(2){
    font-size: 14px;
}

.q7-modal-body--transfer-method .q6-input{
    flex: 1;
}

.q7-modal-footer-buttons{
    display: flex;
    justify-content: flex-end;    
}

.q7-modal-footer-buttons .q6-button{
    margin:0;
    margin-right:15px;
    display: block;
}

.q7-modal-footer-buttons .q6-button:last-of-type{
    margin-right:0;
}

.q7-transfet-method-id-container .q6-input{
    display:flex;
}

.q7-inline-checkboxes{
    display: flex;
    margin-top: 20px;    
}

.q7-inline-checkboxes .q6-checkbox{
    margin-right: 30px;
}

.q7-inline-checkboxes .q6-checkbox:last-of-type{
    margin-right: 0px;
}


.q7-modal .modal-body.q7-modal-body--more-settings{
    padding: 0;
}

.q7-modal-body-section{
    margin-bottom: 35px;
}

.q7-modal-body-section__content{
    background: #f3f6f9;
    border-radius: 5px;
    margin: 25px 0;
    padding: 25px 30px;
}

.q7-modal-body-section__content:last-of-type{
    margin-bottom: 0;
}

.q7-modal-body-section__content .q6-tutorial-profile-actions__icon{
    background-color: white;
}

.q7-modal-body-section__content .q6-button.q6-button--round{
    background-color: #3270eb;
    color: #ffffff;
}

.q7-modal-body-section__content .q6-button.q6-button--round:hover{
    background-color: #265cc5;
    color: #ffffff;
}

.q7-modal-body-section__content .q6-tutorial-profile-actions__icon:hover{
    background-color: #e9f0fc;
}

.q6-input.q6-input--video-aspect-ratio{
    max-width: 105px;
}

.q7-modal-body-section__content .q6-checkmark {
    background-color: #ffffff;
    border-color: #e1e5ee;
}

.q6-input-and-checkbox{
    display: flex;
    align-items: flex-end;    
}

.q6-input-and-checkbox .q6-checkbox--with-question {
    margin-bottom: 10px;
    margin-left: 15px;
}

.q7-modal-switch-and-title{
    display: flex;
    align-items: center;    
}

.q7-modal-switch-and-title .q7-modal-switch-title{
    line-height: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #4f4f4f;    
}

.q7-modal-switch-and-title .q6-switch{
    margin-right: 15px;
}

.q7-modal-switch-and-title .q6-switch__slider {
    background-color: #d9dbe0;
}

.q7-modal-switch-and-title input:checked + .q6-switch__slider {
    background-color: #d7e3f8;
}

td.q7-table-cell--edit-mode{
    padding: 0;
}

.q6-input__field--thumbnail-value{
    max-width: 60px;
}

.q6-input__field--thumbnail-width,
.q6-input__field--thumbnail-height{
    max-width: 70px;
}

.q6-input__field--thumbnail-path{
    max-width: 140px;
}

.q7-table-cell--edit-mode input[type=text].q6-input__field{
    font-size: 14px;
    font-weight: 500;
    padding: 3px 9px;
    width: initial;
}

.q6-tutorial-profile-details__thumbnails td {
    min-width: 80px;
    max-width:160px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

.q6-tutorial-profile-details__thumbnails td.q7-table-cell--edit-mode-selector{
    overflow: inherit;
    padding: 0;
    padding-right: 10px;    
}

.q6-tutorial-profile-details__thumbnails .q6-tutorial-dd-selector {
    background: transparent;
    padding: 0;
}

.q6-tutorial-profile-details__thumbnails .q6-tutorial-dd-selector__selected {
    font-size: 14px;
    line-height: 14px;
    padding-left: 9px;
    justify-content: flex-start;
}

.q6-tutorial-profile-details__thumbnails .q6-tutorial-dd-selector__list {
    top: -12px;
    left: 2px;
    right: inherit;
    padding: 4px 0;
}

.q6-tutorial-profile-details__thumbnails .q6-tutorial-dd-selector__list > div {
    padding: 7px 6px;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    justify-content: flex-start;
}

.q7-add-interval-thumbnail{
    padding-left: 60px;
}

.q6-input__field--view-url{
    min-width: 80px;
    max-width: 190px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

.q6-input.q6-input--thumb-interval,
.q6-input.q6-input--thumb-width,
.q6-input.q6-input--thumb-height{
    width: 85px;
}

.q7-section .q6-tutorial-inputs-block.q6-tutorial-inputs-block--has-controls{
    margin-top: 10px;
    background: none;
    padding: 0;    
}

.q7-modal-body--transfer-method .q6-tutorial-inputs-block__controls {
    position: initial;
}

.q7-modal-body--transfer-method  .q6-tutorial-controls__content {
    background: white;
    padding: 30px 25px;
    border-radius: 7px;
    margin-top: 15px;
}

.q7-section .q6-checkmark {
    background-color: #ffffff;
    border-color: #e1e5ee;
}

@media screen and (min-width: 1650px){
    .q7-container{
        margin-left: auto; 
    }
}

@media screen and (max-width: 960px){
    .q7-main-content-snippets{
        display: none;
    }

    .q7-content-snippet-blocks{
        display: flex;
    }
}

@media screen and (max-width: 798px){
    .q7-content-snippet-blocks {
        flex-direction: column;
    }    

    .q7-content-snippet-blocks .q7-content-block {
        margin-right: 0;
        max-width: 330px;
    }    
}

