:root {
    --vertical-menu-width: 180px; 
    --header-hights: 94px; 
    --blue: #366fe0;
}

.q7-html{
    background: #f2f5f8;
}

.q7-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    margin: 0;
    font-family: "proxima-nova";
    font-size: 16px;
}

.q7-page-content {
    flex: 1;
    background: #f0f3f6;
}

.q7-container{
    width: calc(100% - var(--vertical-menu-width));
    max-width: 1280px;
    margin: auto;
    margin-left: var(--vertical-menu-width);
    padding: 0 30px;
    box-sizing: border-box;  
}


/* VERTICAL MENU */
.q7-menu{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: white;    
    width: var(--vertical-menu-width);
    display: flex;
    flex-direction: column;    
}

.q7-menu__header{
    height: var(--header-hights);
    min-height: var(--header-hights);
    display: flex;
    align-items: center;
    justify-content: center;
}

.q7-logo img{
    width: 120px;
}

.q7-menu__body{
    box-shadow: 0px 7px 9px 1px rgba(208, 211, 213, 0.62);    
    background: white;
    flex: 1;
}

.q7-menu-block{
    border-top: 1px solid #dddfe1;
    box-sizing: border-box;   
    margin-bottom: 20px; 
}

.q7-menu-block__title{
    color: #abafb3;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding: 18px 10px;    
}


.q7-menu-block__element{
    text-align: center;
    padding: 14px 10px;   
    display: block;
    text-align: center;
    position: relative;
    color: #9ea2a9;
}

.q7-menu-block__element > svg{
    height: 24px;
    fill:#9ea2a9;
}

.q7-menu-block__element:hover,
.q7-menu-block__element--selected {
    background: #eff4fe;
    color: var(--blue);
    text-decoration: none;
}

.q7-menu-block__element:hover > svg,
.q7-menu-block__element--selected > svg{
    fill:var(--blue);
}

.q7-menu-block__element:hover:before,
.q7-menu-block__element--selected:before{
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background: var(--blue);
}

/* VERTICAL MENU */

/* PAGE CONTENT */
.q7-page-content__header{
    height: var(--header-hights);
    min-height: var(--header-hights);
    background: var(--blue);
    display: flex;
    align-items: center;
    color: white;    
}

.q7-page-content__header-container{
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.q7-page-content__header-title{
    font-size: 20px;
    font-weight: 500;    
}

.q7-page-content__header-selector{
    padding: 0 20px;
    padding-right: 30px;
    line-height: 40px;
    border-radius: 5px;
    background: #6c9dff;
    font-size: 16px;    
    position: relative;
    cursor: pointer;
}

.q7-page-content__header-selector strong{
    font-weight: 600;
}

.q7-page-content__header-selector:after{
    position: absolute;
    right: 10px;
    top: calc(50% - 2px);
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: 4px solid white;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;    
}

.q7-warning-message-container{
    background: #cefeff;
}

.q7-warning-message{
    color: #080808;
    height: 60px;
    display: flex;
    align-items: center;    
}

.q7-warning-message strong{
    font-weight: 600;
}

.q7-warning-message > span{
    margin-right: 20px;
    line-height: 16px;
}

.q7-button{
    background: transparent;
    outline: none;
    display: inline-block;
    padding: 0 22px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
    min-width: 110px; 
    line-height: 33px;
    background: #34d1bf;
    color: white;       
}

.q7-button:hover{
    background: #3adac7;
}

.q7-button--round{
    border-radius: 25px;
}

.q7-main-content-container{
    display: flex;
    margin-top: 15px;
}

.q7-main-content{
    flex: 1;
}

.q7-main-content-snippets{
    min-width: 330px;
    margin-left: 26px;
}

.q7-content-snippet-blocks{
    display: none;
}

.q7-content-block{
    padding: 25px;
    margin: 15px 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 5px 14px 2px rgba(105, 109, 112, 0.2);  
    flex: 1;  
}

.q7-content-snippet-blocks .q7-content-block{
    margin-right: 26px;
    max-width: 50%;
}

.q7-content-snippet-blocks .q7-content-block:last-of-type{
    margin-right: 0;
}
/* PAGE CONTENT */

/* BLOCKS */
.q7-content-block__header-link > a{
    position: relative;
    color: var(--blue);
    padding-right: 10px;
    font-weight: 500;
}
.q7-content-block__header-link > a:after {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: calc(50% - 4px);
    height: 7px;
    width: 7px;
    border-bottom: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
    transform: rotate(-45deg);
}

.q7-content-block__header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.q7-content-block__header-title{
    font-size: 18px;
    font-weight: 600;
    color: #4f4f4f;    
}

.q7-content-block__header-title > span{
    font-size: 16px;
    color: #878787;
    font-weight: 400;
    margin-left: 5px;    
}

.q7-content-block__header-title.q7-tittle-icon{
    padding-left: 24px;
}

.q7-tittle-icon{
    position: relative
}

.q7-tittle-icon:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: calc(50% - 10px);
    background-position: left center;
    background-repeat: no-repeat;
}

.q7-tittle-icon--stats:before{
    background-image: url(../img/icon_stats.png);
}

.q7-tittle-icon--calendar:before{
    background-image: url(../img/icon_calendar.png);
}

.q7-tittle-icon--resources:before{
    background-image: url(../img/icon_resources.png);
}

.q7-tittle-icon--usage:before{
    background-image: url(../img/icon_usage.png);
}

.q7-tittle-icon--storage:before{
    background-image: url(../img/icon_storage.png);
}

.q7-tittle-icon--folder:before{
    background-image: url(../img/icon_folder.png);
}

.q7-tittle-icon--start:before{
    background-image: url(../img/icon_start.png);
}

.q7-tittle-icon--news:before{
    background-image: url(../img/icon_news.png);
}

.q7-tittle-icon--trial:before{
    height: 18px;
    background-image: url(../img/icon_trial.png);
}
/* BLOCKS */

@media screen and (min-width: 1650px){
    .q7-container{
        margin-left: auto; 
    }
}

@media screen and (max-width: 1280px){
    .q7-main-content-snippets{
        display: none;
    }

    .q7-content-snippet-blocks{
        display: flex;
    }
}
