[data-sct_tooltip='tooltip-window'] {
    position: absolute;
    background: red;
    display: none;
}

.sct__tooltip--active + [data-sct_tooltip='tooltip-window']{
    display: block;
}


.sct__tooltip{
    width: 200px;
    white-space: normal;
}