.footer-nav-container nav {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.nav__block {
  width: 25%;
  padding-right: 40px;
}
.nav__block h3 {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}
.nav__block a {
  display: block;
  color: #83878a;
  text-decoration: none;
  font-size: 14px;
  line-height: 35px;
  border-bottom: 1px solid #393c41;
}
.nav__block a:last-of-type {
  border-bottom: none;
}
.nav__block a:hover {
  color: #2486e1;
}

.nav__block:last-of-type {
  padding-right: 0px;
}

.copyright {
  color: #5d6164;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.copyright__contacts span {
  padding-right: 30px;
}
.copyright__contacts span a {
  padding-left: 5px;
}
