/* tabulator tables styles override */
.tabulator .tabulator-header .tabulator-col {
    background: #ffffff;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
    background: #ffffff;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
    right: 10px;
    top: calc(50% - 2px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #bbb;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=none] .tabulator-col-content .tabulator-arrow {
    border-bottom: 4px solid #bbb;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=desc] .tabulator-col-content .tabulator-arrow {
    border-top: 4px solid #2e3cbf;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=asc] .tabulator-col-content .tabulator-arrow {
    border-top: none;
    border-bottom: 4px solid #2e3cbf;
}

.tabulator-row.tabulator-selectable:hover {
    background-color: #f7f7ff;
    cursor: initial;
    color: #2e3cbf;
}

.tabulator-row.tabulator-row-even {
    background-color: white;
}

.tabulator {
    border: 1px solid #e9eef2;
}

.tabulator .tabulator-header .tabulator-col,
.tabulator-row .tabulator-cell {
    border-right: 1px solid #e9eef2;
}

.tabulator .tabulator-header {
    border-bottom: 1px solid #e9eef2;
}

.tabulator-row .tabulator-cell {
    padding: 15px 25px;
}

.tabulator-row .tabulator-cell:hover .m1-td-edit,
.tabulator-row .tabulator-cell:hover .m1-td-copy{
    display: block;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    padding: 15px 25px;
}

.tabulator .tabulator-header {
    color: #6e7096;
    font-weight: 600;
    background-color: #ffffff;
}

.tabulator {
    background-color: #fff;
}

.tabulator .tabulator-tableHolder .tabulator-table {
    color: #212934;
    font-size: 16px;
}

.tabulator-row .tabulator-cell a{
    color: #212934;
    text-decoration: none
}

.tabulator-row.tabulator-selectable:hover .tabulator-cell a{
    color: #2e3cbf;
}

.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left,
.tabulator-row .tabulator-frozen.tabulator-frozen-left {
    border-right: 1px solid #e9eef2;
}

/* tabulator tables styles override */