html{
    height: 100%;
}

body{
    height: 100%;    
    background: #194D1E;
}

.game-container{
    height: 100%;
}

.table-area{
    height: 70%;
    display: flex;
}

.cards-deck{
    background: #9bc1e2;
    height: 100px;
    width: 70px;
    margin: auto;
    border: 1px solid white;

    position: relative;
}

.card{
    position: absolute;
    background: red;
    top: 5px;
    left: 5px;
    height: 80px;
    width: 50px;

    transition : all 0.8s ease 0s;
}

/*.card:hover{
    transform: translate(-100px,80px);
}*/

.players-area{
    height: 30%;
    display: flex;
}

.player{
    background: deeppink;
    border: 1px solid rebeccapurple;
    margin: 5px;    

    display: flex;
}

.card-placeholder{
    background: lightyellow;
    margin: 5px;
    border: 1px solid darkblue;
}

#player1 .card-placeholder:nth-of-type(1){
    background: blueviolet;
}