body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";    
}

nav{
    display: flex;
    background: #ffffff;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 99999;
    border: none;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 17%);        
}

.search-container{
    display: flex;
    align-items: center;    
}

.logo img{
    height: 50px;
    margin-right: 25px;
}

.search-box{
    flex: 1;
}

main {
    padding-bottom: 30px;
    padding-top: 80px;
}        

.container{
    width: 90%;
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;            
}

.ais-Hits-item--clout {
    font-size: 18px;
    line-height: 23px;
    margin: 25px 0;
}        

.ais-Hits-item--clout:hover{
    box-shadow: 0 0 0 1px rgb(35 38 59 / 19%), 0 1px 3px 0 rgb(35 38 59 / 15%);
}

.ais-SearchBox-input--clout{
    font-size: 18px;
    line-height: 23px;
    padding-left: 15px;
    padding-right: 35px;
}

.ais-SearchBox-form:before{
    display: none;
}

.result-card{
    display: flex;
    align-items: flex-start;    
}

.username{
    font-weight: 600;
    margin: 5px 0px;
}

.user-logo{
    margin-right: 15px;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 50px;
    width: 50px;
    min-width: 50px;    

    border-radius: 12px;
}

.date{
    color: #858585;
    font-size: 15px;    
    margin-top: 10px;
}

.content{
    margin: 10px 0;
}

.ais-Hits.ais-Hits--empty{
    margin: 10px 0;
    font-size: 18px;
    margin-bottom: 20px;   
    text-align: center; 
}

a.link{
    color: #1f65ec;
    text-decoration: none;
    font-size: 16px;
}

a.link:hover{
    text-decoration: underline;
}

.ais-Pagination{
    display: flex;
    align-items: center;
    justify-content: center;    
}

@media screen and (max-width: 1024px){
    .container {
        width: 98%;
    }
}
