.services-container, .footer-nav-container{
    background-color:#2a2d32;
    min-width: 1160px;
}

.news-banners-container{
    background-color:#f7f7f7;
    min-width: 1160px;
}

.copyright-container{
    background-color:#35383d;
    min-width: 1160px;
}

header, .services, .news, .partners, footer nav, .copyright{
    margin: 0 auto;
    width:1160px;
}

header{
    margin-top: 20px;
}