.posts{
    display:flex;
    margin-top:70px;
}

.posts__content{
    display:flex;
    margin-right:40px;
}

.posts__content:last-of-type{
    margin-right:0px;
}

.posts__content h3{
    color:#292929;
}

.number{
    font-size:64px;
    color:#eaeaec;
    margin-right:38px;
}

.article{
    margin-top:10px;
}

.article p{
    color:#888888;
    line-height: 23px;
}

.article a{
    margin-right:10px;
    color:#2a2a2c;
}

/*.article a:hover{
    color:#268df4;
}*/

.article i{
    color:#268df4;
}

.article span{
    font-size:14px;
    cursor:pointer;
    font-weight:bold;
}

.article__icon--1{
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
    background-image: url(../images/posts_icons.jpg);
}

.article__icon--2{
    background-repeat: no-repeat;
    background-position: -32px 0px;
    width: 32px;
    height: 32px;
    background-image: url(../images/posts_icons.jpg);
}

.article__icon--3{
    background-repeat: no-repeat;
    background-position: -64px 0px;
    width: 32px;
    height: 32px;
    background-image: url(../images/posts_icons.jpg);
}