.news{
    padding-top:35px;
    padding-bottom:70px;
    display:flex;
    justify-content:space-between;
}

.news__latests, .news__banners{
    width:50%;
}

.news-article{
    display:flex;
    padding-bottom:30px;
}

.news-article__picture {
    position:relative;
}

.news-article__post{
    margin-right:35px;
    margin-left:35px;
}

.date{
    position:absolute;
    top:15px;
    left:-20px;
    width:40px;
    line-height:40px;
    text-align:center;
}

.date__month{
    background-color:#248ced;
    color:white;
}

.date__day{
    background-color:#f1b505;
}

.news-article__post h3{
    margin-top:10px;
    margin-bottom:3px;
    color:#2e2f33;
    font-size:16px;
}

.news-article__post h3:hover{
    cursor:pointer;
    color:#2f94e4;
}

.news-article__post a, i, p{
    font-size:14px;
    font-style:normal;
    color: #888888;
    line-height: 20px;
}

.news-article__post a{
    padding-right:10px;
}

.news-article__post i{
    color:#2f94e4;
    cursor:pointer;
}