.services{
    margin-top:80px;
    color:white;
    padding-top:40px;
    padding-bottom:40px;
}

.services__content{
    display:flex;
    justify-content:space-between;
    padding-top:40px;
    padding-bottom:5px;
}

.slide figure{
    margin:0;
    position:relative;
    cursor:pointer;
}

.slide{
    width:260px;
}


.slide-image-hover{
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    width:260px;
    height:260px;
    background-color:#2289e8;
    opacity:0.8;
}

.slide figcaption{
    margin-top:30px;
    text-align: center;
    margin-bottom:30px;
}
