.news{
    padding-top:35px;
    padding-bottom:70px;
    display:flex;
    justify-content:space-between;
}

.news-article{
    display:flex;
}

.news-article__picture {
    position:relative;
    margin-right:35px;
}

.date{
    position:absolute;
    top:15px;
    left:-20px;
    width:40px;
    line-height:40px;
    text-align:center;
}

.date__month{
    background-color:#248ced;
    color:white;
}

.date__day{
    background-color:#f1b505;
}