.container{
    max-width: 1040px;
    width: 100%;
    margin: auto;

    padding: 0 15px;
}

header{
    padding-top: 180px;
    height: 680px;
    position: relative;
    overflow: hidden;
}

h1{
    font-size: 45px;
    line-height: 55px;
    color: white;    
}

.background_1 {
    z-index: -1;
    position: absolute;
    width: 1400px;
    bottom: 0;
    top: 0;
    background: #47bbae;
    transform: translate(-64px, -204px) rotate(-15deg);
}

.background_2{
    z-index: -1;
    position: absolute;
    width: 1400px;
    bottom: 0;
    top: 0;
    background: #eeeeee;
    transform: translate(14px, -119px) rotate(-7deg);
} 