body{
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*rem size is based on root element font-size*/

/*em is based on parent element font-size*/

.content{
    padding: 0 15px 0 15px;
    max-width: 700px;
    width: 80%;
    border: 20px solid #b7b7b7;
    margin: 20px auto; 
}

.post{
    padding-top: 20px;
}

.date{
    font-weight: bold;
    font-size: 1.0rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #7b87e6;    
    font-weight: 900;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 0.08rem;
    color: #3a3a3a;
}

p{
    font-size: 1.0rem;
}

.special-paragraph{
    border-left: 4px solid #b7b7b7;
    padding-left: 5px;
    
}

hr{
    border-color: #b7b7b7;
}
