.wrapper{
    width: $wrapperWidth;
    margin: auto;
}

@media screen and (max-width: 960px){

  .wrapper{
      width: $wrapperWidthTablet;
  }

  .header-container {

    .header__top {
        padding-left: 25px;
        padding-right: 25px;
    }      

    .header__middle{

      padding-left: (($wrapperWidthTablet - 500)/2);
      padding-right: (($wrapperWidthTablet - 500)/2);  
    }

  }
}