$wrapperWidth: 940px;

$wrapperWidthTablet: 753px; //768 px - 15 px of vertical scroll

$wrapperWidthTablet480: 465px; //480 px - 15 px of vertical scroll

$wrapperWidthPhone: 305px; //320 px - 15 px of vertical scroll

$headerHight: 700px;
$headerHightPhone: 540px;

$headerBackgroundImage: url("../images/headerbackground.jpg") no-repeat center center fixed;

$headerTextColor: white;

$tittlesTextColor: #333333;
$generalTextColor: #666666;

$elementsContrastColor: #ff4e50;

$mainPaddingTop: 40px;
$mainSectionPadding: 40px 0px 40px 0px;

@mixin tittlesFont {
    font-family: 'Montserrat', sans-serif;   
    font-weight: 700;   
}

@mixin generalTextFont {
    font-family: 'Roboto', sans-serif;
}

@mixin sliderButtonFont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;    
}

@mixin findButtonFont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;    
}
