$wrapperWidth: 940px;

$wrapperWidthTablet: 753px; //768 px - 15 px of vertical scroll

$wrapperWidthTablet480: 465px; //480 px - 15 px of vertical scroll

$wrapperWidthPhone: 305px; //320 px - 15 px of vertical scroll

$headerHight: 700px;
$headerHightPhone: 540px;

$headerBackgroundImage: url("../images/headerbackground.jpg") no-repeat center center fixed;
//$headerBackgroundImage: black;

$headerTextColor: white;