$wrapperWidth: 940px;

$wrapperWidthTablet: 765px;

$headerHight: 700px;
$headerBackgroundImage: url("../images/headerbackground.jpg") no-repeat center center fixed;
//$headerBackgroundImage: black;

$headerTextColor: white;