@import 'variables__global';

.red-button{
 
    @include findButton;

    color: $headerTextColor;
}

.red-button--inversed{
 
    @include findButton;

    color: $elementsContrastColor;
    background-color: $headerTextColor;
}  