@import 'variables__global';

.main__section{
    clear: both;
    overflow: hidden;
    padding: $mainSectionPadding;
}

.slider{
  float: left;
  width: 29%;
  height: 400px;
  margin: 20px 2%;
  
  background-color: pink;
  border: 20px solid red;
  box-sizing: border-box;
}