@import 'variables__global';

main{
  padding-top: $mainPaddingTop;
}

.main__section{
    clear: both;
    overflow: hidden;
    padding: $mainSectionPadding;

    h2{
      text-align: center;
    }

  .slider{
    float: left;
    width: 31.33%;
    height: 400px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
  }    

  .faces-container__block{
    float: left;
    width:25%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

    div{
      border-radius: 50%;
      overflow: hidden;
      margin: auto;
      background-color: pink;
      width: 125px;
      height: 125px;
      cursor: pointer;
    }

    h3{
      font-size: 17px;
    }

    p{
      font-size: 14px;
    }    

  }

}


@import 'media__main';