@import 'variables__global';

@import 'main__sprite';

main{
  padding-top: $mainPaddingTop;
}

.main__section{
    clear: both;
    overflow: hidden;
    padding: $mainSectionPadding;
    text-align: center;

    .search-block{

      p{
        color: $generalTextColor;
        @include generalTextFont;
      }
      
      input {
        line-height: 34px;
        box-sizing: content-box;
        padding-left:10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius:5px;
        border: 1px solid #A9A9A9;
        color: $generalTextColor;
        @include generalTextFont;
      }

      input:focus{
          outline: none;
      }

    }

    .faces-container{
      padding-bottom: 25px;
    }
    //faces-container has float elements so we need to fix it, otherwise it will collapse
    .faces-container:after { 
      content: "."; 
      visibility: hidden; 
      display: block; 
      height: 0; 
      clear: both;
    }       

    h2{
      text-align: center;
      color: $tittlesTextColor;
      @include tittlesFont;
    }

  .slider{
    float: left;
    width: 31.33%;
    height: 400px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
  }    

  .faces-container__block{
    float: left;
    width:25%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

    div{

      position: relative;
      width: 125px;
      height: 125px;
      margin: auto;

      div{
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      .photo-icon{
        position: absolute;
        bottom: 0px;
        right: 0px;  
        border: 3px solid white;  
        // width: 32px;
        // height: 32px;  
        box-sizing: content-box;
      }         

      .photo-icon--1{
        @extend .photo-icon;
        background-color: #ff4e50;
        @include sprite($tv); 
      }    

      .photo-icon--2{ 
        @extend .photo-icon;
        background-color: #1cd7ad;
        @include sprite($cup); 
      }   

      .photo-icon--3{
        @extend .photo-icon;         
        background-color: #ffa507;
        @include sprite($flask); 
      }   

      .photo-icon--4{
        @extend .photo-icon;         
        background-color: #4e73db;
        @include sprite($plane);       
      }                     
    }

    h3{
      font-size: 17px;
      color: $tittlesTextColor;
      @include tittlesFont;
    }

    p{
      font-size: 14px;
      color: $generalTextColor;
      @include generalTextFont;
    }     

  }  

}


@import 'media__main';