
@import 'variables__global';

// /* ---- grid ---- */

.grid {
    max-width: $wrapperWidth;
    box-sizing: border-box;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
    box-sizing: border-box;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
    width: 32.6%;
    box-sizing: border-box;
}

.grid-item {
    height: 300px;
    float: left;
    //border: 2px solid #333;
    //border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    // background: url('../images/1.jpg') no-repeat center center;
    // background-size: cover;
    border: none;
    overflow: hidden;  

    div{
        position: relative; 
        width: 100%; 
        height:100%; 
        padding:0;margin:0; 
        background-color: rgba(0, 0, 0, 0.2);   

        a{
            position: absolute; 
            left: 0; 
            color: white; 
            font-weight: bold;
            font-size: 22px;
            width:72%; padding-left:14%; padding-right:14%;
            top: 137px;     
            text-transform: capitalize;     
        }     
    }
}

.grid-item--width2 { width:  66.2%; box-sizing: border-box;}


@media screen and (max-width: 960px){

    .grid-sizer,
    .grid-item {
        width: 32.42%;
        box-sizing: border-box;
    }

    .grid-item--width2 { width:  66.3%; box-sizing: border-box;}

}

@media screen and (max-width: 768px){

    .grid-sizer,
    .grid-item {
        width: 100%;
        box-sizing: border-box;
    }

    .grid-item--width2 { width: 100%; box-sizing: border-box;}

}

@media screen and (max-width: 480px){

    .grid-item {
        height: 115px;
    }

}