body{
    font-size: 10px;
}

img{
    width: 30%;
    float: left; /* now we got rid of spaces between images */
    margin: 1.66%; /* that is 30+30+30=90% and we do 10%/6, 2 margins for each image */
}

p{
   font-family: 'Raleway', sans-serif; 
   margin-left: 1.66%;
   font-size: 4em;
   font-weight: 800;
   text-transform: uppercase;
   width: 30%;
   border-bottom: 3px solid #f1f1f1;
   padding-bottom: 20px;
}