.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(19,18,23,0.975 );
    height: 4rem;
    left: 0rem;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-left);
    position: relative;
    right: 0rem;
    top: 0;
    z-index: 5;    
}

@media (min-width: 42rem){
    .header {
        position: fixed;
    }
}
