.header{
    height: var(--header-nav-height);
    left: 0rem;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-left);
    position: fixed;
    right: 0rem;
    top: 0;
    z-index: 5;   

    display: flex;
    align-items: center;    

    border-bottom: 1px solid #eeeeee;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 93px;
}
