.logo{
    width: 135px;
}

.sidebar {
    padding: 40px 25px 40px 30px;
    border: 0;
    bottom: 0;
    display: block;
    height: 100vh;
    position: fixed;
    top: 0;
    width: var(--sidebar-width);
    z-index: 10;
    border-right: 1px solid #eeeeee;
    box-sizing: border-box;
}

.active{
    background-color: red;
}

.active + .section {
    display: block;
}
 
.section {
    display: none;
}

.root-menu{
    
}