/*:root{
    --base: #6390cb;
}*/

/*.h1{
    color: var(--base);
}*/


html{
    background-color: #241235;
    color: white;

    box-sizing: border-box;
    font-size: 20px;
    font-weight: 200;
    font-family: 'helvetica neue';
}

body{
    margin: 0;
}

*, *:before, *:after{
    box-sizing: inherit;
}


a{
    color: white;
}

.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel{
    background:#6B0F9C;
    box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);

    color:white;
    text-align: center;

    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;

    /*this devides space between items proportionally*/
    flex:1; 

    display: flex;
    flex-direction: column;

    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    /*add transition so this panel changes with animation*/
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
}

/*this will apply style to all children of .panel and that's our <p> tag*/
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;

    /*now this will give equal space to all <p>*/
    flex: 1 0 auto;

    /*now we make <p> flex also to manupulate text inside it*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*this will put 1st <p> 100% up and last <p> 100% down, so they get off the screen*/
.panel > *:first-child{ transform: translateY(-100%); }
.panel > *:last-child{ transform: translateY(100%); }

/*when .panel element has class .open-active don't remove child off the screen*/
.panel.open-active > *:first-child{ transform: translateY(0); }
.panel.open-active > *:last-child{ transform: translateY(0); }

/*apply style when .panel has another class .open*/
.panel.open{
    font-size: 40px;

    /*this means it will take 5 times more space than other panels*/
    flex:5;
}



/*now let's style fonts*/
.panel p{
    font-size: 2em;

    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.72)
}

.panel p:nth-child(2){
    font-size: 4em;
}

.panel1{
    background-image: url(https://pixabay.com/get/e83cb10f2df11c2ad65a5854e5494597e173e2c818b519499df9c07aaeeb_640.jpg);
}

.panel2{
    background-image: url(https://pixabay.com/get/e835b80d28f01c2ad65a5854e5494597e173e2c818b519499df9c07dafec_640.jpg);
}

.panel3{
    background-image: url(https://pixabay.com/get/ef31b60b28f41c2ad65a5854e5494597e173e2c818b519499df9c07fa7ec_640.jpg);
}

.panel4{
    background-image: url(https://pixabay.com/get/ee37b70620fd1c2ad65a5854e5494597e173e2c818b519499df9c07fa1e5_640.jpg);
}

.panel5{
    background-image: url(https://pixabay.com/get/ee36b00721f41c2ad65a5854e5494597e173e2c818b519499df9c07ea5ee_640.jpg);
}