.scrollbox {
  overflow-y: scroll;
  height: 320px;
}

.group{
  padding: 5px;
}

/*styles for left vertical scroll bar*/
div.main {
     height:320px;
     direction: ltr;
    
}
.scroll {
      unicode-bidi:bidi-override;
      direction: rtl;
      overflow: scroll;
      overflow-x: hidden!important;
}
.inside {
    
}