.scrollbox {
  overflow-y: scroll;
  height: 320px;
}

.group{
  padding: 5px;
}

.li-container{
  display: flex;
}

li{
  width: 100%;
}

.border-start{
  margin-top: 7px;
  border-top: 2px solid black;
  width: 7px;
  border-right: 2px solid black;  
}

.border-middle{
  width: 7px;
  border-right: 2px solid black;  
}

.border-end{
  margin-bottom: 7px;
  border-bottom: 2px solid black;
  width: 7px;
  border-right: 2px solid black;  
}


/*styles for left vertical scroll bar*/
div.main {
     height:320px;
     direction: ltr;
    
}
.scroll {
      unicode-bidi:bidi-override;
      direction: rtl;
      overflow: scroll;
      overflow-x: hidden!important;
}
.inside {
    
}