body{
    font-family: 'Raleway', sans-serif;
}

.container{
    /*max-width: 1440px;*/
    margin: auto;
    width: 92%;
}

header{
    padding-top:35px;
}

.header-card{
    font-weight: bold;
    /*font-family: 'Raleway', sans-serif;*/

    width: 100%;
    /*height: 620px;*/

    box-sizing: border-box;
    /*padding-left: 140px;
    padding-right: 140px;*/
    padding-left: 8%;
    padding-right: 8%; 

    /*padding-top: 60px;
    padding-bottom: 60px;*/
    padding-top: 7vw;
    padding-bottom: 7vw;

    background: url("header-background_0.png"), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    /*border-radius: 35px;*/
    border-radius: 3vw;
}

.header-menu{
    display: flex;
    justify-content:space-between;
}

.header-menu_logo{
    display: flex;
    align-items: center;    
}

.header-menu_logo a{
    /*font-size: 35px;*/
    font-size: 3vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-menu_logo a::first-letter{
    color: #ffab00;
}

.header-menu_items{
    display: flex;
    align-items: center;    
}

.menu-links{
    white-space: nowrap;

    /*border-radius: 30px;*/
    border-radius: 2vw;

    /*padding-right: 20px;
    padding-left: 20px;   */
    padding-right:1.3vw; 
    padding-left:1.3vw;

    margin-left: 7px;
    margin-right: 7px;

    /*line-height: 55px;*/
    /*font-size: 22px;*/
    font-size: 1.4vw;
    line-height: 3.3vw;

    color: white;
    text-decoration: none;  
    text-transform: capitalize;  
}

.menu-links--bordered{
    white-space: nowrap;

    /*border-radius: 30px;*/
    border-radius: 2vw;

    /*padding-right: 20px;*/
    /*padding-left: 5px;   */
    padding-right:1.3vw; 
    padding-left: 0.2vw;  

    margin-left: 7px;
    margin-right: 7px;

    /*line-height: 55px;*/
    /*font-size: 22px;*/
    font-size: 1.3vw;
    line-height: 3.4vw;

    color: white;
    text-decoration: none;   

    border: 2px solid #5eb4cb;
}

.menu-links--bordered > span{
    /*padding: 10px;*/
    padding: 0.6vw;

    background: #093a97;
    /*border-radius: 30px;*/
    border-radius: 2vw;
    font-variant: small-caps;
}


.header-menu_items a:hover{
    background: #5eb4cb;
}

.active{
    background: #5eb4cb;
}

.header-main{
    box-sizing: border-box;
    height: 90%;
    display: flex;
    align-items: center;
    /*padding-bottom: 60px;  */
}

.header-main_logo span{
    /*padding-left: 105px;*/
    /*padding-left: 35%;*/
    padding-left: 23%;
    font-weight: bold;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-size: 270px;*/
    font-size: 24vw;
    color: #1350a0;
    text-shadow: -16px 33px 80px rgb(2, 20, 42);
}

.header-main_area{
    width: 100%;
    /*padding-left: 125px;
    padding-right: 105px;*/
    padding-left: 9%;
    padding-right: 7%;   
    padding-top: 4%; 

    /*padding-top: 75px;*/
    color:white;
}

.header-main_area_text{
    /*font-size: 70px;    */
    font-size: 4vw;
}

.header-main_area_buttons{
    padding-top: 25px;
}

/*                           */
/*                           */
/*   HEADER CARDS finished   */
/*                           */
/*                           */

main{
    padding-bottom:35px;
}

main h1{
    color: #0d4799;
    text-align: center;
    text-transform: capitalize;  
    font-size: 4vw;
    margin-top: 6vw;
}

main h1 span{
    color: #f95490;
}

.main-card{
    border-radius: 3vw;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 41vw;
    border: 2px solid #eeeeee;
    margin-top: 3vw;  
}

.card-container{
    display: flex;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}
 
.reversed{
    flex-direction: row-reverse;
}

.white-hand{
    background: url("main-background_white_hand.png");
    background-repeat: no-repeat;
    background-size: contain;    
    background-position: right center;
}

.green{
    background: url("main-background_green_clock.png"), linear-gradient(45deg, rgba(1,129,143,1) 0%, rgba(1,129,143,1) 25%, rgba(53,188,130,1) 81%, rgba(53,188,130,1) 100%);
    background-repeat: no-repeat;
    background-size: contain;    
}

.white-api{
    background: url("main-background_white_api.png");
    background-repeat: no-repeat;
    background-size: contain;    
    background-position: right center;
}

.pink{
    background: url("main-background_pink_formats.png"), linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
    background-repeat: no-repeat;
    background-size: contain;    
}

.white-text{
    color: white !important;
}

.solid-pink{
    background: #f95490;
}

.light-pink{
    background: #ff83c1;
}

.solid-green{
    background: #15b89b;
}

.blue-backgound{
    background: #093a97;
}

.white-background{
    background-color: white;
}

.green-background{
    background: rgba(73, 178, 161, 0.5);
}

.pink-background{
    background: rgba(255, 131, 193, 0.5);
}

.card-container > div {
    width: 50%;
}

.card-container > div:nth-child(1) {
    padding-right: 5%;
}

.card-container > div:nth-child(2) {
    padding-left: 5%;
}

.card-container h2{
    color: #0d4799;
    font-size: 3vw;
    text-transform: capitalize; 
    margin-bottom: 1vw;
    margin-top: 1vw;    
}

.card-container p{
    color: #73767d;
    font-size: 1.4vw;
    margin-bottom: 1vw;
    margin-top: 1vw;    
}

.delimeter{
    /*background: #f95490;*/
    width:20%;
    height: 0.3vw;
}

.main-button{
    display: inline-block;

    white-space: nowrap;

    border-radius: 2vw;

    padding-right:1.3vw; 
    padding-left:1.3vw;

    font-size: 1.4vw;
    line-height: 3.3vw;
    font-weight: bold;

    text-decoration: none;  
    text-transform: capitalize;    

    /*background: #093a97;*/
    color: white;    
}

.main-card_logo--hand{
    width: 25vw;
    height: 25vw;

    border-radius: 50%;
    box-shadow: -4vw 4vw 10vw -1vw rgba(0, 0, 0, 0.37);

    background: url("main_hand.png");
    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
    background-size: 85%;

    background-color: white;
}

.main-card_logo--clock{
    width: 25vw;
    height: 25vw;

    border-radius: 50%;
    box-shadow: -4vw 4vw 10vw -1vw rgba(0, 0, 0, 0.37);

    background: url("main_clock.png");

    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
    background-size: 85%;

    background-color: white;
}

.main-card_logo--monitor{
    width: 25vw;
    height: 25vw;

    border-radius: 50%;
    box-shadow: -4vw 4vw 10vw -1vw rgba(0, 0, 0, 0.37);

    background: url("main_monitor.png");

    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
    background-size: 66%;

    background-color: white;
}

.main-card_logo--formats{
    width: 25vw;
    height: 25vw;

    border-radius: 50%;
    box-shadow: -4vw 4vw 10vw -1vw rgba(0, 0, 0, 0.37);

    background: url("main_formats.png");

    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
    background-size: 75%;

    background-color: white;
}


/*                         */
/*                         */
/*   MAIN CARDS finished   */
/*                         */
/*                         */

.vertical-delimeter-container{
    text-align: center;
}

.vertical-delimeter{
    height: 5vw;
    width: 2px;
    background: #efefef;
    display: inline-block;
    margin-top: 1vw;
    margin-bottom: 1vw;    
}

.button-container{
    text-align: center;
}

.menu-links--main{
    display: inline-block;
    background: #1451a1;
    font-weight: bold;
    border: 2px solid #1451a1;

    white-space: nowrap;

    border-radius: 2vw;

    padding-right:1.3vw; 
    padding-left: 0.2vw;  

    margin-left: 7px;
    margin-right: 7px;

    font-size: 1.3vw;
    line-height: 3.4vw;

    color: white;
    text-decoration: none;   
}

.menu-links--main > span{
    padding: 0.6vw;

    background: #5b86bd;

    border-radius: 2vw;
    font-variant: small-caps;
}

/*============CONTACT=============*/

.contact-container{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;    
}


.contact-container > div:nth-child(1) {
    padding-right: 2%;
    width: 35%;
}

.contact-container > div:nth-child(2) {
    padding-left: 2%;
    width: 65%;
}

.contact-container p {
    color: #73767d;
    font-size: 1.4vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    text-align: justify;
}

form fieldset{
    border: none;
}

form button{
    background: #1451a1;
    font-weight: bold;
    border: none;

    white-space: nowrap;

    border-radius: 2vw;

    padding-right:2.3vw; 
    padding-left: 2.3vw;  

    font-size: 1.3vw;
    line-height: 3.4vw;

    color: white;
    text-decoration: none;  

    border: none;
    outline:none;      
}

.form-group{
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.form-group > input:nth-child(1){
    margin-right: 1vw;
}

form textarea {
    border: 2px solid #eeeeee;

    box-sizing: border-box;
    width: 100%;
    height: 10vw;
    padding:1.3vw; 

    color: #73767d;
    font-size: 1.4vw;

    resize: none;
    border-radius: 2vw;
    outline:none;
}

form input{
    border: 2px solid #eeeeee;
    flex: 1;

    padding:1.3vw; 

    color: #73767d;
    font-size: 1.4vw;

    border-radius: 2vw;    

    outline:none;
}

/*============ CUSTOM SELECT ==========*/

form .custom-select{
    position: relative;
    /*border: none;
    outline:none; */
    background: white;
    border: 2px solid #eeeeee;
    border-radius: 2vw;

    padding:1.3vw; 
}

form .custom-select{
    flex: 1;
}


form .custom-select select:invalid { color: #c1c2c5; }

form .custom-select select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;

    display: flex;
    width: 100%;
    border: none;
    background: none;   
    outline:none; 

    /*color: #c1c2c5;*/
    color: #73767d;
    font-size: 1.4vw;    
}

/*for IE10*/
form .custom-select select::-ms-expand {
    display: none;
}

form .custom-select::after{
    padding: 1.3vw;
    position: absolute;
    right: 0;
    content: attr(data-background-icon);
    font-family: "FontAwesome";
    color: #1451a1;
    font-size: 1.8vw;
    top: 0;
    pointer-events: none;
}

/*============ CUSTOM SELECT END ==========*/