.container{
    width: 1440px;
    margin: auto;
}

header{
    padding-top:35px;
}

.header-card{
    width: 100%;
    height: 620px;

    box-sizing: border-box;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 60px;
    padding-bottom: 60px;

    background: url("header-background_0.png"), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    background-repeat: no-repeat;
    border-radius: 35px;
}

.header-menu{
    display: flex;
    justify-content:space-between;
}

.header-menu_logo{
    display: flex;
    align-items: center;    
}

.header-menu_logo a{
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-menu_logo a::first-letter{
    color: #ffab00;
}

.header-menu_items{
    display: flex;
    align-items: center;    
}

.menu-links{
    border-radius: 30px;

    padding-right: 20px;
    padding-left: 20px;   

    margin-left: 7px;
    margin-right: 7px;

    line-height: 55px;
    font-size: 22px;
    color: white;
    text-decoration: none;  
    text-transform: capitalize;  
}

.menu-links--bordered{
    border-radius: 30px;

    padding-right: 20px;
    padding-left: 8px;   

    margin-left: 7px;
    margin-right: 7px;

    line-height: 55px;
    font-size: 22px;
    color: white;
    text-decoration: none;   

    border: 2px solid #5eb4cb;
}

.menu-links--bordered > span{
    padding: 9px;
    background: #093a97;
    border-radius: 30px;
    font-variant: small-caps;
}


.header-menu_items a:hover{
    background: #5eb4cb;
}

.active{
    background: #5eb4cb;
}

.header-main{
    box-sizing: border-box;
    height: 90%;
    display: flex;
    align-items: center;
    padding-bottom: 60px;  
}

.header-main_logo span{
    padding-left: 105px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 270px;
    color: #1350a0;
    text-shadow: -16px 33px 80px rgb(2, 20, 42);
}

.header-main_area{
    width: 100%;
    padding-left: 125px;
    padding-right: 105px;
    padding-top: 75px;
    color:white;
}

.header-main_area_text{
    font-size: 70px;    
}

.header-main_area_buttons{
    padding-top: 25px;
}