@font-face {
  font-family: "qencode";
  src: url("qencode.woff") format("woff");
}

#font-test {
  font-family: "qencode";
}

#parameters-container {
  font-family: "Lucida Console", Monaco, monospace;
  width: 80%;
}

#parameters-container > div {
  width: 100%;
  background-color: #f2f2f2;
  padding: 5px;
  margin: 5px;
}

#parameters-container > div > label {
  display: inline-block;
  text-align: right;
  width: 240px;
  vertical-align: middle;
  line-height: 24px;
}

#parameters-container > div > input[type='checkbox'] {
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
}

#parameters-container > div.buttons {
  margin-top: 20px;
  padding: 20px 0 20px 10px;
}

.video-js {
  width: 100%;
  outline: none;
}



.video-js .vjs-control:focus{
  outline: none;
}
.vjs-menu-button-popup .vjs-menu {
  width: 5rem;
  left: -1.5rem;
}

.video-js .vjs-big-play-button {
	border-width: 0;
	height: 1.5em;
	width: 1.5em;
	margin-left: -0.75em;
	border-radius: 50%;
}

.video-js .vjs-big-play-button:focus{
  outline: none;
}

.video-js .vjs-time-control {
  display: flex;
}


.video-js .vjs-fast-nav-rew-button > .vjs-icon-placeholder::before {
	font-family: "Material Icons";
	content: "\e059";
}

.video-js .vjs-fast-nav-ff-button > .vjs-icon-placeholder::before {
	font-family: "Material Icons";
	content: "\e056";
}

.video-js .vjs-qencode-share-button > .vjs-icon-placeholder::before {
	font-family: "Material Icons";
	content: "\e80d";
}

.video-js .qencode-share-overlay-container {
	position: absolute;
	display: flex;
	visibility: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 99;
}

.video-js .qencode-share-overlay-container > .qencode-share-overlay-title {
	text-align: center;
	color: white;
	font-weight: bold;
}

.video-js .qencode-share-overlay-container > .qencode-share-overlay-link {
	width: 60%;
	text-align: center;
	font-weight: bold;
	color: darkslategray;
}

.video-js .qencode-share-overlay-container > .close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	font-family: 'Material Icons';
	font-size: 25px;
	font-weight: bold;
}

.video-js .qencode-share-overlay-container > .close-button:before {
	content: "\e5cd";
}

.video-js .qencode-share-overlay-container > .qencode-share-overlay-buttons-container {
	margin: 10px;
}

.video-js .qencode-share-overlay-container > .qencode-share-overlay-buttons-container > .action-button {
	background-color: lightgray;
	padding: 10px;
	margin: 10px;
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	color: darkslategray;
	font-size: 22px;
}

.video-js .qencode-share-overlay-container > .qencode-share-overlay-buttons-container > .copy-button::before {

}

.video-js .qencode-share-overlay-container > .qencode-share-overlay-buttons-container > .twitter-button {
}

.video-js .qencode-share-overlay-container > .qencode-share-overlay-buttons-container > .facebook-button {
}

.video-js .vjs-time-control {
	width: auto;
	padding: 0 0.5rem;
}

.video-js .vjs-time-control.vjs-time-divider {
	padding: 0;
	min-width: auto;
}

.video-js .vjs-time-control.vjs-remaining-time {
	display: none;
}

.video-js .vjs-custom-control-spacer {
	display: inline;
	flex-grow: 1;
}


/* updating styles for player Nov 2019 */

.vjs-icon-play:before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before, 
.video-js .vjs-play-control .vjs-icon-placeholder:before {
	content: "";
	display: flex;
	align-items: center;
	justify-content: center;

	background-image: url(../src/img/icons/play.svg);

	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;	
}


.vjs-icon-pause:before, 
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
	content: "";

	background-image: url(../src/img/icons/pause.svg);

	background-size: 25%;
	background-repeat: no-repeat;
	background-position: center;		
}


.vjs-icon-replay:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
	content: "";

	background-image: url(../src/img/icons/replay.svg);

	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;		
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
	background-repeat: no-repeat;
    background-position: 56% center;
    background-size: 65%;
}

.video-js .vjs-big-play-button {
	height: 85px;
	width: 85px;
	background-color: rgba(43, 51, 63, 0.44);
	margin-left: -0.95em;
}

.vjs-big-play-centered .vjs-big-play-button {
	margin-top: -1em;
}

.vjs-paused.vjs-has-started .vjs-big-play-button {
  /* display: block; */
}


.video-js .vjs-fast-nav-rew-button > .vjs-icon-placeholder:before {
	content: "";

	background-image: url(../src/img/icons/backward_10s.svg);

	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;	
}


.video-js .vjs-fast-nav-ff-button > .vjs-icon-placeholder:before {
	content: "";

	background-image: url(../src/img/icons/forward_10s.svg);

	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;	
}


.video-js .vjs-time-control {
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-js .vjs-time-control {
	padding: 0 6px;
	font-size: 12px;
	font-weight: 500;
	line-height: initial;
}

.video-js .vjs-volume-panel .vjs-mute-control:hover ~ .vjs-volume-control.vjs-volume-vertical{
	left: -21px;
	margin: 0;	
}

.video-js .vjs-volume-level:before {
	font-size: 14px;
}

.vjs-slider-vertical .vjs-volume-level {
	width: 6px;
}

.vjs-volume-bar.vjs-slider-vertical {
	width: 6px;
	height: 94px;
	margin: 10px 7px;
}

.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
	height: 112px;
	width: 20px;
	border-radius: 3px;

	bottom: 111px;
	z-index: 1;	
	
	transition: none;
}

.vjs-slider-vertical .vjs-volume-level:before {
	top: -5px;
	left: -4px;
}

.vjs-icon-captions:before, .video-js .vjs-captions-button .vjs-icon-placeholder:before, .video-js:lang(en) .vjs-subs-caps-button .vjs-icon-placeholder:before, .video-js:lang(fr-CA) .vjs-subs-caps-button .vjs-icon-placeholder:before{
	content: "";

	background-image: url(../src/img/icons/cc.svg);

	background-size: 19px 20px;
	background-repeat: no-repeat;
	background-position: center;		
}

.vjs-control .vjs-button {
	padding: 0;
	outline: none;
}

.vjs-qencode-settings-button .vjs-icon-placeholder:before {
	content: "";

	background-image: url(../src/img/icons/settings.svg);

	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}

.vjs-video-quality--hd .vjs-qencode-settings-button:after {
    display: inline-block;
    content: "HD";
    color: white;
    font-weight: 600;
    font-size: 8px;
    position: absolute;
	background-color: #1aa6d9;
	
	right: 4px;
	top: 11px;
    padding: 1px 2px;
	padding-top: 2px;
	border-radius: 3px;	
}

.vjs-control-bar.vjs-control-bar--small .vjs-video-quality--hd .vjs-qencode-settings-button:after {
	font-size: 7px;
	right: 1px;
	top: 11px;
}




.vjs-quality-button .vjs-icon-placeholder:before {
	content: "" !important;

	background-image: url(../src/img/icons/settings.svg);

	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.video-js .vjs-qencode-share-button > .vjs-icon-placeholder:before {
	content: "";

	background-image: url(../src/img/icons/share.svg);

	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}



.vjs-icon-fullscreen-enter:before, 
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
	content: "";

	background-image: url(../src/img/icons/fullscreen.svg);

	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}




/* .vjs-control-bar .vjs-control,
.vjs-control-bar .vjs-control.vjs-play-control,
.vjs-control-bar .vjs-volume-panel.vjs-volume-panel-vertical,
.vjs-control-bar .vjs-control.vjs-qencode-share-button-wrapper,
.vjs-control-bar .vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button,
.vjs-control-bar .vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button.vjs-quality-wrapper,
.vjs-control-bar .vjs-menu-button.vjs-fast-nav-rew-wrapper,
.vjs-control-bar .vjs-menu-button.vjs-fast-nav-ff-wrapper,
.vjs-control-bar .vjs-fullscreen-control.vjs-control.vjs-button  {	
	width: 40px;
} */

.vjs-control-bar .vjs-control,
.vjs-control-bar .vjs-volume-panel.vjs-volume-panel-vertical{
	width: 40px;
}

.vjs-control-bar.vjs-control-bar--small .vjs-control,
.vjs-control-bar.vjs-control-bar--small .vjs-volume-panel.vjs-volume-panel-vertical{
	width: 32px;
}

.vjs-control-bar.vjs-control-bar--small .vjs-control.vjs-progress-control{
	width: 100%;
}





.vjs-icon-volume-high:before, 
.video-js .vjs-mute-control .vjs-icon-placeholder:before {
	content: "";
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;	
}



.vjs-icon-volume-high:before, 
.video-js .vjs-mute-control.vjs-vol-3 .vjs-icon-placeholder:before {
	content: "";
	background-image: url(../src/img/icons/volume_3.svg);
}

.vjs-icon-volume-high:before, 
.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before {
	content: "";
	background-image: url(../src/img/icons/volume_2.svg);
}

.vjs-icon-volume-high:before, 
.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before {
	content: "";
	background-image: url(../src/img/icons/volume_1.svg);
}

.vjs-icon-volume-high:before, 
.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before {
	content: "";
	background-image: url(../src/img/icons/volume_0.svg);
}

.video-js .vjs-mute-control.vjs-control {
    width: 100%;
}


.video-js .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-vertical{
	left: -32px;
    margin: 0;	
}


.video-js .vjs-volume-panel .vjs-mute-control:hover ~ .vjs-volume-control.vjs-volume-vertical {
    left: -32px;
	margin: 0;
}

/* .video-js .vjs-load-progress {
    background: rgba(255, 255, 255, 0.8);
} */



.video-js .vjs-control-bar {
	width: initial;

	height: 64px;
	padding: 0 10px;
	padding-top: 20px;

	left: 0;
	right: 0;	


	opacity: 1;
	background-color: rgba(0,0,0,0) !important; 
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.34) 44%, rgba(0, 0, 0, 0.76) 100%);
}


.video-js .vjs-progress-control .vjs-progress-holder {
	top: 0%;
	width: 100%;
    margin: 0 16px;
    font-size: 16px;
    left: 0;
}

.vjs-control-bar .vjs-control.vjs-progress-control {
	top: 3px;
	height: 2px;
    padding: 15px 0;
	padding-bottom: 10px;	
	
    position: absolute;
	width: 100%;
    max-width: 100%;
	height: 3px;	
	
    left: 0;
    right: 0;	
}



.video-js .vjs-play-progress {
	background-color: #366fe0;
}

.video-js .vjs-play-progress:before {
	color: #366fe0;
}

.video-js .vjs-progress-control:hover .vjs-progress-holder {
	font-size: 18px;
}

/* .video-js .vjs-slider {
	background-color: rgba(255, 255, 255, 0.4);
} */

.video-js .vjs-load-progress div {
	background: rgba(255, 255, 255, 0.4);
}

.qencode-title-bar{
	background: rgba(0, 0, 0, 0.65);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0.34) 56%, rgba(255, 255, 255, 0) 100%);	
}

.vjs-icon-fullscreen-exit:before, .video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before {
	content: "";
	background-image: url(../src/img/icons/exit_fullscreen.svg);
	background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

/* FULL SCREEN MODE */
/* .video-js.vjs-fullscreen .vjs-control-bar {
	height: 60px;
}

.vjs-icon-play:before, 
.video-js.vjs-fullscreen .vjs-big-play-button .vjs-icon-placeholder:before, 
.video-js.vjs-fullscreen .vjs-play-control .vjs-icon-placeholder:before {
	background-size: 23px 20px;	
}

.vjs-icon-pause:before, 
.video-js.vjs-fullscreen .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
	background-size: 23px 20px;	
}

.vjs-icon-replay:before, 
.video-js.vjs-fullscreen .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
	background-size: 23px 24px;	
}

.video-js.vjs-fullscreen .vjs-big-play-button .vjs-icon-placeholder:before {
	background-size: 32px 40px;
}


.vjs-icon-volume-high:before, 
.video-js.vjs-fullscreen .vjs-mute-control.vjs-vol-3 .vjs-icon-placeholder:before {
	background-size: 24px 24px;
}

.vjs-icon-volume-high:before, 
.video-js.vjs-fullscreen .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before {
	background-size: 24px 24px;
}

.vjs-icon-volume-high:before, 
.video-js.vjs-fullscreen .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before {
	background-size: 24px 24px;
}

.vjs-icon-volume-high:before, 
.video-js.vjs-fullscreen .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before {
	background-size: 24px 24px;
}

.video-js.vjs-fullscreen .vjs-fast-nav-rew-button > .vjs-icon-placeholder::before {
	background-size: 23px 26px;	
}

.video-js.vjs-fullscreen .vjs-fast-nav-ff-button > .vjs-icon-placeholder::before {
	background-size: 23px 26px;
}

.video-js.vjs-fullscreen .vjs-qencode-share-button > .vjs-icon-placeholder:before {
	background-size: 24px 24px;
}


.video-js.vjs-fullscreen .vjs-time-control {
	font-size: 19px;
}

.vjs-icon-captions:before, 
.video-js.vjs-fullscreen .vjs-captions-button .vjs-icon-placeholder:before, 
.video-js.vjs-fullscreen:lang(en) .vjs-subs-caps-button .vjs-icon-placeholder:before, 
.video-js.vjs-fullscreen:lang(fr-CA) .vjs-subs-caps-button .vjs-icon-placeholder:before{
	background-size: 23px 26px;	
}

.video-js.vjs-fullscreen .vjs-quality-button .vjs-icon-placeholder:before {
	background-size: 24px 24px;
}

.vjs-icon-fullscreen-enter:before, 
.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before {
	background-size: 24px 24px;
}

.video-js.vjs-fullscreen .vjs-control.vjs-play-control {
	width: 53px;
}

.video-js.vjs-fullscreen .vjs-volume-panel.vjs-volume-panel-vertical {
	width: 44px;
}

.video-js.vjs-fullscreen .vjs-menu-button.vjs-fast-nav-rew-wrapper,
.video-js.vjs-fullscreen .vjs-menu-button.vjs-fast-nav-ff-wrapper{
	width: 44px;
}

.video-js.vjs-fullscreen .vjs-fullscreen-control.vjs-control.vjs-button{
	width: 44px;
}

.video-js.vjs-fullscreen .vjs-control.vjs-qencode-share-button-wrapper{
	width: 44px;
}


.video-js.vjs-fullscreen .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-vertical{
	left: -32px;
    margin: 0;	
}

.video-js.vjs-fullscreen .vjs-volume-panel .vjs-mute-control:hover ~ .vjs-volume-control.vjs-volume-vertical {
    left: -32px;
	margin: 0;
}

.video-js.vjs-fullscreen .vjs-progress-control .vjs-progress-holder {
	margin: 0 10px;
}

.video-js.vjs-fullscreen .qencode-title-bar {
	font-size: 20px;
	padding: 20px 30px;
} */
/* FULL SCREEN MODE */


/* SHARE BUTTON */
.video-js .qencode-share-overlay-container > .qencode-share-overlay-title {
	text-align: center;
	color: white;
	font-weight: bold;
	margin: 15px 0;
	font-weight: 600;
	font-size: 14px;
}

.video-js .qencode-share-overlay-container > .close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	font-family: 'Material Icons';
	font-size: 23px;
	font-weight: 500;
	cursor: pointer;
}

.video-js .qencode-share-overlay-container > .qencode-share-overlay-link {
	width: 80%;
	text-align: center;
	font-weight: 600;
	color: #585c60;
	max-width: 350px;
	font-size: 14px;
	padding: 11px 26px;
	border: none;
	background: #eff0f0;
}

.video-js .qencode-share-overlay-container > .qencode-share-overlay-buttons-container > .action-button {
	background-color: #eff0f0;
	padding: 0;
	margin: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #686d71;
	font-size: 20px;
	cursor: pointer;
}

.video-js .qencode-share-overlay-container > .qencode-share-overlay-buttons-container {
	margin: 5px;
}

.video-js .qencode-share-overlay-container {
	position: absolute;
	display: flex;
	visibility: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 99;
}
/* SHARE BUTTON */


/* MENU */
/* fix menu on hover problem suggested here https://github.com/videojs/video.js/issues/3289#issuecomment-400591075 */
.vjs-workinghover .vjs-menu-button-popup:hover .vjs-menu { display: none; }

.vjs-menu-button-popup .vjs-menu {
    width: 230px;
    left: initial;
    right: 0;
}

.vjs-menu-button-popup.vjs-qencode-settings-button-wrapper .vjs-menu {
    right: -34px;	
}

.vjs-control-bar.vjs-control-bar--small .vjs-menu-button-popup.vjs-qencode-settings-button-wrapper .vjs-menu {
    right: -26px;	
}


.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
	background-color: #262626;
	bottom: 30px;
	/* max-height: 160px; */
	color: #ffffff;
	opacity: 0.85;
}

.vjs-menu li {
	padding: 6px 25px;
	line-height: 21px;
	text-align: left;
	text-transform: none;
	white-space: nowrap;
	font-size: 12px;
    font-weight: 500;	
}

.vjs-menu li.vjs-quality-item{
	padding-left: 50px;
}

.vjs-menu li.vjs-quality-item.vjs-selected{
	position: relative;
}

.vjs-menu li.vjs-quality-item.vjs-selected:after {
    position: absolute;
    left: 25px;
    top: calc(50% - 4px);
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #00c0ff;
    border-radius: 50%;
    content: "";
}

.vjs-menu-item.vjs-settings-item{
	position: relative;
	display: flex;
    justify-content: space-between;
    padding-right: 30px;	
}

.vjs-menu-item.vjs-settings-item:after{
    position: absolute;
    right: 15px;
    top: calc(50% - 4px);
    display: inline-block;
    width: 0;
    height: 0;
    content: "";

	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;	
	border-left: 4px solid #ffffff;	
}

.vjs-subs-caps-button .vjs-menu-item.vjs-settings-item:after,
.vjs-playback-rate .vjs-menu-item.vjs-settings-item:after,
.vjs-audio-button .vjs-menu-item.vjs-settings-item:after{
	left: 25px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent; 
	border-right:4px solid #ffffff; 
	border-left: 0;	
}

.vjs-subs-caps-button .vjs-menu-item.vjs-settings-item,
.vjs-playback-rate .vjs-menu-item.vjs-settings-item,
.vjs-audio-button .vjs-menu-item.vjs-settings-item{
	border-bottom: 1px solid #474646;
}

.vjs-subs-caps-button .vjs-menu-item,
.vjs-playback-rate .vjs-menu-item,
.vjs-audio-button .vjs-menu-item{
    padding-left: 50px;
}

.vjs-subs-caps-button .vjs-menu-item.vjs-selected,
.vjs-playback-rate .vjs-menu-item.vjs-selected,
.vjs-audio-button .vjs-menu-item.vjs-selected{
	position: relative;
}

.vjs-subs-caps-button .vjs-menu-item.vjs-selected:after,
.vjs-playback-rate .vjs-menu-item.vjs-selected:after,
.vjs-audio-button .vjs-menu-item.vjs-selected:after {
    position: absolute;
    left: 25px;
    top: calc(50% - 4px);
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #00c0ff;
    border-radius: 50%;
    content: "";
}


.vjs-menu li.vjs-menu-item:focus{
	outline: none;
	background-color:transparent;
}


.vjs-menu li.vjs-menu-item:hover{
	background-color: rgba(75, 75, 75, 0.5);
}
/* MENU */


.vjs-menu-item.vjs-video-quality-item{
	/* display: none; */
}

.vjs-menu-item.vjs-video-quality-item.vjs-video-quality-item--active{
	display: block;
}


.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button.vjs-quality-wrapper, 
.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button,
.vjs-audio-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button,
.vjs-playback-rate.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
	width: 0;
	min-width: 0;
	max-width: 0;
    right: 16px;
    bottom: 0;
	position: absolute;		
	visibility: hidden;
}

.vjs-playback-rate .vjs-playback-rate-value{
	display: none;
}

.vjs-icon-audio:before, .video-js .vjs-audio-button .vjs-icon-placeholder:before {
    content: "";
}

.vjs-menu-button.vjs-menu-button-popup.vjs-quality-wrapper .vjs-menu {
    right: 0;
}

.vjs-audio-button.vjs-menu-button-popup .vjs-menu {
    right: 0;
}

.vjs-subs-caps-button.vjs-menu-button-popup .vjs-menu {
    right: 0;
}

.vjs-playback-rate.vjs-menu-button.vjs-menu-button-popup.vjs-button .vjs-menu {
    right: 0;
}


.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
	transition: visibility 0.5s, opacity 0.5s;
}

.vjs-has-started.vjs-user-inactive.vjs-paused .vjs-control-bar,
.vjs-has-started.vjs-user-inactive.vjs-paused .qencode-title-bar {
	opacity: 0;
}

.video-js .vjs-progress-holder {
    height: 2px;
}



.vjs-progress-control:hover .vjs-progress-holder {
	height: 6px;
}

.video-js .vjs-play-progress:before {
    font-size: 12px;
    top: -5px;
}

.video-js .vjs-progress-control:hover .vjs-play-progress:before {
    font-size: 17px;
    top: -6px;
}

.video-js .vjs-tech {
    outline: none;
}

.vjs-control-bar .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-vertical, 
.vjs-control-bar .vjs-volume-panel:active .vjs-volume-control.vjs-volume-vertical, 
.vjs-control-bar .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-vertical, 
.vjs-control-bar .vjs-volume-panel .vjs-volume-control:hover.vjs-volume-vertical, 
.vjs-control-bar .vjs-volume-panel .vjs-volume-control:active.vjs-volume-vertical, 
.vjs-control-bar .vjs-volume-panel .vjs-mute-control:hover ~ .vjs-volume-control.vjs-volume-vertical, 
.vjs-control-bar .vjs-volume-panel .vjs-volume-control.vjs-slider-active.vjs-volume-vertical {
    left: -32px;
}

.vjs-control-bar.vjs-control-bar--small .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-vertical, 
.vjs-control-bar.vjs-control-bar--small .vjs-volume-panel:active .vjs-volume-control.vjs-volume-vertical, 
.vjs-control-bar.vjs-control-bar--small .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-vertical, 
.vjs-control-bar.vjs-control-bar--small .vjs-volume-panel .vjs-volume-control:hover.vjs-volume-vertical, 
.vjs-control-bar.vjs-control-bar--small .vjs-volume-panel .vjs-volume-control:active.vjs-volume-vertical, 
.vjs-control-bar.vjs-control-bar--small .vjs-volume-panel .vjs-mute-control:hover ~ .vjs-volume-control.vjs-volume-vertical, 
.vjs-control-bar.vjs-control-bar--small .vjs-volume-panel .vjs-volume-control.vjs-slider-active.vjs-volume-vertical {
    left: -28px;
}

.vjs-menu-item.vjs-texttrack-settings{
	display:none;
}


.vjs-menu li.vjs-selected, .vjs-menu li.vjs-selected:focus, .vjs-menu li.vjs-selected:hover, .js-focus-visible .vjs-menu li.vjs-selected:hover {
	background-color: #4b4b4b;
	color: #ffff;
}

.vjs-menu li.vjs-quality-item.vjs-quality-item--hd {
    
}

.vjs-menu li.vjs-quality-item.vjs-quality-item--hd .vjs-menu-item-text{
    position: relative;
}

.vjs-menu li.vjs-quality-item.vjs-quality-item--hd .vjs-menu-item-text:after {
	display: inline-block;
    content: "HD";
    color: #1aa6d9;
    margin-left: 6px;
    font-weight: 600;
    font-size: 9px;
    position: absolute;
    top: -6px;
}

.vjs-control--inactive{
	opacity: 0.5;
}

.vjs-control--inactive:hover{
	opacity: 1;
}

/* .video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
    transition: visibility 1s, opacity 1s, height 0s 0s, width 0s 0s, left 0s 0s, top 0s 0s;
} */


/* .video-js .vjs-volume-panel .vjs-mute-control:hover ~ .vjs-volume-control{
    visibility: visible;
    opacity: 1;
    position: relative;
    transition: visibility 1s, opacity 1s, height 0s, width 0s, left 0s, top 0s;	
} */
	

/* add custom button */

/* https://stackoverflow.com/a/31339105 */
/* and */
/* https://stackoverflow.com/a/56252487 */
/* https://nikushx.com/blog/2019/05/21/creating-custom-components-with-video-js/ */

/* see https://stackoverflow.com/a/56004283 */


/* https://github.com/videojs/videojs-settings-menu */

/* SELECT VIDEO QUALITY PLUGIN https://github.com/silvermine/videojs-quality-selector  */