body{
    text-align:center;
    padding-left:20%;
    padding-right:20%;
    padding-bottom:20px;
}

p{
    line-height: 30px;
    margin: 0;
}

ol{
    padding-top:50px;
    padding-bottom:30px;
    text-align:left;
}

li{
    padding-top:10px;
    padding-bottom:10px;
    line-height:18px;
}

input[type="checkbox"]{
    display:inline-block;
    vertical-align:middle;
    width: 26px;
    height: 18px;
}

label{
    vertical-align:middle;
}