.navigation-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2d32;
    margin-bottom:35px;
    margin-top:35px;
}

.navigation-bar__menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation-bar__menu li {
    float: left;
}

.navigation-bar__menu li a {
    display: block;
    color: white;
    text-align: center;
    padding-left:40px;
    padding-right:40px;
    text-decoration: none;
    border-right: 1px solid #171a1f;
    line-height:55px;
    font-size:13px;
    text-transform: uppercase;
}

.navigation-bar__menu li a:hover:not(.active) {
    color:#f2b40b;
}

.navigation-bar__menu .active {
    background-color: #248ced;
}

.navigation-bar__search{
    display:flex;
    padding-right:10px;
}

.navigation-bar__search input[type=text] {
    width: 240px;
    box-sizing: border-box;
    border: 2px solid #171a1f;
    border-right: none;
    font-size: 14px;
    background-color: #35383d;
    padding: 6px 5px 6px 14px;
    color:#616266;
}

.navigation-bar__search input:focus {
    outline:none;
}

.navigation-bar__search i{
    display:block;
    border: 2px solid #171a1f;
    border-left: none;
    color:white;
    cursor:pointer;
    padding: 6px 7px 6px 0px;
    background-color: #35383d;
    color:#616266;
}