---
layout: default
title: Qencode Documentation
---

        <div class="q6-api-container">

            {% include sidebar.html %}

            <div class="q6-api-content">

                {% include languagesbar.html %}

                <!--SECTION 1-->

                <section>
                    <div class="q6-api-content__instructions">
                        <div class="q6-api-instructions-container">
                            <h1 id="section_one" class="q6-api-section-title">SECTION 1</h1>
                            <h2 id="section_one__problem_one__submenu_one">Submenu One</h2>
                            <p>
                                Lorem ipsum dolor sit amet, <span class="q6-blue-text">consectetur</span> adipisicing elit. Voluptatem 
                                itaque nostrum suscipit porro quas quos cum sequi, voluptatibus alias ratione recusandae beatae 
                                commodi, sit, error nulla <span class="q6-blue-text">omnis</span> delectus neque rem.
                            </p>
                        </div>
                    </div>
                    <div class="q6-api-content__example">

                    </div>
                </section>

                <section>
                    <div class="q6-api-content__instructions">
                        
                        <div class="q6-api-instructions-container">
                            <h2 id="section_one__problem_one__submenu_two">Submenu Two</h2>
                            <div class="q6-api-parameter">/v1/access_token</div>
                            <p>
                                Lorem ipsum dolor sit amet, <span class="q6-blue-text">consectetur</span> adipisicing elit. Voluptatem 
                                itaque nostrum suscipit porro quas quos cum sequi, voluptatibus alias ratione recusandae beatae 
                                commodi, sit, error nulla <span class="q6-blue-text">omnis</span> delectus neque rem.
                            </p>           
                            <h3>attributes</h3>                 
                        </div>   

                        <div class="q6-api__attributes-box">                            
                            <div class="q6-api__attributes-content q6-api-instructions-container">
                                <div>
                                    <p>token</p>
                                    <div>required</div>
                                </div>
                                <div>
                                    <p>error nulla <span class="q6-blue-text">omnis</span> delectus voluptatibus alias</p>                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="q6-api-content__example">

                    </div>
                </section>          

                 <!--SECTION 2-->

                <section>
                    <div class="q6-api-content__instructions">
                        
                        <div class="q6-api-instructions-container">
                            <h1 id="section_two__problem_one" class="q6-api-section-title">SECTION 2</h1>
                            <h2 id="section_two__problem_one__submenu_one">Submenu One</h2>
                            <div class="q6-api-parameter">/v1/access_token</div>
                            <p>
                                Lorem ipsum dolor sit amet, <span class="q6-blue-text">consectetur</span> adipisicing elit. Voluptatem 
                                itaque nostrum suscipit porro quas quos cum sequi, voluptatibus alias ratione recusandae beatae 
                                commodi, sit, error nulla <span class="q6-blue-text">omnis</span> delectus neque rem.
                            </p>           
                            <h3>attributes</h3>                 
                        </div>   

                        <div class="q6-api__attributes-box">                            
                            <div class="q6-api__attributes-content q6-api-instructions-container">
                                <div>
                                    <p>token</p>
                                    <div>required</div>
                                </div>
                                <div>
                                    <p>error nulla <span class="q6-blue-text">omnis</span> delectus voluptatibus alias</p>                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="q6-api-content__example">
                        <div class="q6-api-content__example-container">

                            <h2>Response Example</h2>

                            <div class="q6-api-example__language" data-example="curl">
<pre><code>{
  "token" : "1357924680",
  "expire" : "2017-12-31 23:59:59"
}</code></pre>   
                            </div> 

                            <div class="q6-api-example__language" data-example="ruby">
<pre><code># The Greeter class
class Greeter
def initialize(name)
    @name = name.capitalize
end

def salute
    puts "Hello #{@name}!"
end
end

g = Greeter.new("world")
g.salute
</code></pre>   
                            </div>                         

                            <div class="q6-api-example__language q6-api-example__language--active" data-example="python">
<pre><code>@requires_authorization
def somefunc(param1='', param2=0):
    r'''A docstring'''
    if param1 > param2: # interesting
        print 'Gre\'ater'
    return (param2 - param1 + 1 + 0b10l) or None

class SomeClass:
    pass

>>> message = '''interpreter
... prompt'''
</code></pre>   
                            </div> 

                            <div class="q6-api-example__language" data-example="php">
<pre><code><?php
$r = new HttpRequest('http://example.com/feed.rss', HttpRequest::METH_GET);
$r->setOptions(array('lastmodified' => filemtime('local.rss')));
$r->addQueryData(array('category' => 3));
try {
    $r->send();
    if ($r->getResponseCode() == 200) {
        file_put_contents('local.rss', $r->getResponseBody());
    }
} catch (HttpException $ex) {
    echo $ex;
}
?>
</code></pre>   
                            </div> 

                            <div class="q6-api-example__language" data-example="javascript">
<pre><code>function $initHighlight(block, cls) {
  try {
    if (cls.search(/\bno\-highlight\b/) != -1)
      return process(block, true, 0x0F) +
             ` class="${cls}"`;
  } catch (e) {
    /* handle exception */
  }
  for (var i = 0 / 2; i < classes.length; i++) {
    if (checkCondition(classes[i]) === undefined)
      console.log('undefined');
  }
}

export  $initHighlight;
</code></pre>   
                            </div>                         

                            <p class="q6-api-example-warning">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora facilis eaque accusantium, maiores dolores officia explicabo ex perspiciatis cupiditate, quaerat. Nam iusto odio veniam, culpa ex commodi beatae repudiandae praesentium.
                            </p>


                        </div>


                    </div>
                </section>      

                <section>
                    <div class="q6-api-content__instructions">
                        
                        <div class="q6-api-instructions-container">
                            <h2 id="section_two__problem_one__submenu_two">Submenu Two</h2>
                            <div class="q6-api-parameter">/v1/access_token</div>
                            <p>
                                Lorem ipsum dolor sit amet, <span class="q6-blue-text">consectetur</span> adipisicing elit. Voluptatem 
                                itaque nostrum suscipit porro quas quos cum sequi, voluptatibus alias ratione recusandae beatae 
                                commodi, sit, error nulla <span class="q6-blue-text">omnis</span> delectus neque rem.
                            </p>           
                            <h3>attributes</h3>                 
                        </div>   

                        <div class="q6-api__attributes-box">                            
                            <div class="q6-api__attributes-content q6-api-instructions-container">
                                <div>
                                    <p>token</p>
                                    <div>required</div>
                                </div>
                                <div>
                                    <p>error nulla <span class="q6-blue-text">omnis</span> delectus voluptatibus alias</p>                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="q6-api-instructions-container">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id iusto ipsum inventore aut reprehenderit, nihil mollitia porro eveniet doloremque nobis optio! Quia iste, magni eveniet voluptatem fuga, esse asperiores tempore!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ullam corporis, et numquam. Labore at sunt quasi eum, excepturi incidunt architecto ipsum suscipit cum, mollitia eius veniam dolorum magnam necessitatibus!
                            </p>
                        </div>

                    </div>
                    <div class="q6-api-content__example">
                        <div class="q6-api-content__example-container">

                            <h2>Returns</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nihil quam dolorum labore? Dolorem fugiat beatae nostrum odio temporibus, nobis odit praesentium id itaque ab quas omnis rem, et at.
                            </p>
                            <h2>Response Example</h2>
                            <div class="q6-api-example__language" data-example="curl">                        
<pre><code>{
    "task_token" : "1236547890",
    "upload_url" : "https://master-ed4971d0bd8811e481e104012ff1f701.qencode.com/v1/upload_file"
}</code></pre>    
                            </div>   

                            <div class="q6-api-example__language" data-example="ruby">                        
<pre><code># The Greeter class
class Greeter
def initialize(name)
    @name = name.capitalize
end

def salute
    puts "Hello #{@name}!"
end
end

g = Greeter.new("world")
g.salute
</code></pre>    
                            </div>                          

                            <div class="q6-api-example__language q6-api-example__language--active" data-example="python">                        
<pre><code>@requires_authorization
def somefunc(param1='', param2=0):
    r'''A docstring'''
    if param1 > param2: # interesting
        print 'Gre\'ater'
    return (param2 - param1 + 1 + 0b10l) or None

class SomeClass:
    pass

>>> message = '''interpreter
... prompt'''
</code></pre>    
                            </div>

                            <div class="q6-api-example__language" data-example="php">                        
<pre><code><?php
$r = new HttpRequest('http://example.com/feed.rss', HttpRequest::METH_GET);
$r->setOptions(array('lastmodified' => filemtime('local.rss')));
$r->addQueryData(array('category' => 3));
try {
    $r->send();
    if ($r->getResponseCode() == 200) {
        file_put_contents('local.rss', $r->getResponseBody());
    }
} catch (HttpException $ex) {
    echo $ex;
}
?>
</code></pre>    
                            </div>                       

                            <div class="q6-api-example__language" data-example="javascript">                        
<pre><code>function $initHighlight(block, cls) {
  try {
    if (cls.search(/\bno\-highlight\b/) != -1)
      return process(block, true, 0x0F) +
             ` class="${cls}"`;
  } catch (e) {
    /* handle exception */
  }
  for (var i = 0 / 2; i < classes.length; i++) {
    if (checkCondition(classes[i]) === undefined)
      console.log('undefined');
  }
}

export  $initHighlight;
</code></pre>    
                            </div>   


                        </div>                          

                    </div>
                </section>                 


                <section class="q6-api-content__footer">
                    <div></div>
                    <div class="q6-api-content__example"></div>
                </section>               
            </div>

            <script>
                $(document).ready(function() {
                    $('pre code').each(function(i, block) {
                        hljs.highlightBlock(block);
                    });
                });                
            </script>

        </div>