body{
    font-family:sans-serif;
}

a{
    display:inline-block;
    width:13%;
    text-align:center;
    font-size:120px;
}

.timecounter{
    width:100%;
    font-size:25px;
}

p{
    text-align:center;
}

.wrapper{
    padding-left:3%;
    padding-right:3%;
}

h1{
    font-size:25px;
    margin:0;
    padding:0;
}

header{
    display: flex;
    align-items: center;
    height: 15vh;
}

main{
    display: flex;
    align-items: center;
    height: 70vh;
}

footer{
    display: flex;
    align-items: center;
    height: 15vh;
}

.footer-link{
    font-size:20px;
    width:auto;
    color:inherit;
}

.footer-text{
    font-size:20px;
    width:auto;
    padding-right:3px;
}

.footer-button{
    width:50%;
}

.footer-copyright{
    width:50%;
    text-align:right;
}

.invert-button{
    background-color:black;
    color:white;
}

.stopwatch{
    width:100%;
    margin: auto;
}

.buttons{
    text-align:center;
    font-size: 40px;
}


@media screen and (max-width: 960px){
    a{
        font-size:100px;
    }

    .timecounter {
        font-size: 20px;
    }    

    .buttons {
        font-size: 35px;
    }    

    .footer-link{
        font-size:18px;
    }

    .footer-text{
        font-size:18px;
    }

    h1{
        font-size:22px;
    }
}

@media screen and (max-width: 768px) {
    a{
        font-size:60px;
    }

    .timecounter {
        font-size: 18px;
    }    

    .buttons {
        font-size: 30px;
    }  

    .footer-link{
        font-size:15px;
    }

    .footer-text{
        font-size:15px;
    }

    h1{
        font-size:19px;
    }
}


@media screen and (max-width: 480px){
    a{
        font-size:40px;
    }

    .timecounter {
        font-size: 14px;
    }    

    .buttons {
        font-size: 25px;
    } 

    .footer-link{
        font-size:12px;
    }

    .footer-text{
        font-size:12px;
    }

    h1{
        font-size:16px;
    }
}

