body{
    font-family:sans-serif;
}

a{
    display:inline-block;
    width:24%;
    text-align:center;
    font-size:150px;
}

.timecounter{
    width:100%;
    font-size:25px;
}

p{
    text-align:center;
}

.wrapper{
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 100vh;
}

.stopwatch{
    width:100%;
    margin: auto;
}

.buttons{
    text-align:center;
    font-size: 40px;
}