body{

}

a{
    display:inline-block;
    width:50px;
}

p{
    text-align:center;
}

.wrapper{
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 100vh;
}

.stopwatch{
    margin: auto;
}

.buttons{
    text-align:center;
}