
.nav-container{
    position: fixed;
    top: 0;
    width: 100%;
}

.header-menu-background{

    background: linear-gradient(45deg, rgba(126, 47, 182, 0.99) 0%, rgba(126, 47, 182, 0.99) 25%, rgba(249, 71, 157, 0.99) 80%, rgba(249, 71, 157, 0.99)); 

    width: 100%;
    height: 82px;
    /*position: fixed;*/
    /*top: 0;   */

    /*opacity:0; */
    transition: opacity 0.3s;

    /*-webkit-backface-visibility: hidden;*/

    /*transition: background 0.5s ease-out;*/

    z-index: 1;
}

nav{
    color: white;
    z-index: 9999;
    position: fixed;
    top: 0;    
}


.show-background{
    opacity:1;
}

header{
    color: white;
    width: 100%;
    height: 278px;
    /*background: linear-gradient(45deg, rgba(126, 47, 182, 0.99) 0%, rgba(126, 47, 182, 0.99) 25%, rgba(249, 71, 157, 0.99) 80%, rgba(249, 71, 157, 0.99));*/
}


