*{
    margin:0;
    padding:0;
}

body
{
    font-family:Arial;
    /*background: linear-gradient(to top, #0c739e , #3ec7cd);
    background-repeat: no-repeat;*/
}

.flex-container {
    display: flex;
}

.flex-item-vertical-menu {
    background-color: #edeef0;
    width: 250px;
}

.flex-item-middle {
    background-color: white;
    width: 100%;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}

.page-container
{
    width:997px;
    margin: auto;
    box-shadow: 0 0 10px #000;
}

h1
{
    font-size:20px;
    color:#454a44;
    text-align:center;
}

.vertical-menu
{
    padding-top:15px;
}

.vertical-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.vertical-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.vertical-menu li a{
    display: block;
    color: #a9a9a9;
    text-align: left;
    padding:5px 10px 5px 30px;
    text-decoration: none;
}

.vertical-menu li a:hover {
    color: black;
    background-color: #f9f9f9;
    padding:5px 10px 5px 35px;
}

.photo
{
    display:block;
    width:100%;
    border-top:1px solid #3b778f;
    border-bottom:1px solid #3b778f;
}

.header
{
    background:white;
    height:174px;
    width:997px;
    margin:0 auto;
    position:relative;
}

.logo
{
    position:absolute;
    top:0px;
    left:0px;
    z-index: 1;
}

.promo
{
    position:absolute;
    top:117px;
    left:87px;
    z-index: 1;
    font-size:12px;
    color:#2385a2;
}

.contacts
{
    position:absolute;
    top:19px;
    left:825px;
    z-index: 1;
    font-size:12px;
    color:#2385a2;
}

.flags-menu
{
    position:absolute;
    top:98px;
    left:698px;
    z-index: 1;
    text-align:center;
}

.flag-link
{
    float:left;
    margin-left:2px;
    margin-right:2px;
}

.flag-link a
{
    font-size:10px;
    color:#2385a2    
}

.navigation-menu li:hover ul
{
    display:block;
}

.navigation-menu li a:hover {
    background-color: #454545;
}

.navigation-menu
{
    display:block;
    position:relative;
    background-color: #333333;
    box-shadow: 0 0 10px #000;
}

.navigation-menu ul ul:before{
    content:''; width:100%; height:100%;
    position:absolute; top:0; left:0;
    box-shadow: inset 0px 0px 5px #000;
}

.navigation-menu ul
{
    margin:0;
    padding:0;
}

.navigation-menu li
{
    position:relative;
    float:left;
    list-style-type:none;
}

.navigation-menu ul:after
{
    content:".";
    display:block;
    height:0px;
    clear:both;
    visibility:hidden;
}

.navigation-menu ul li
{
    white-space:nowrap;
}

.navigation-menu ul ul
{
    position:absolute;
    left:0px;
    display:none;
    background-color: #333333;
}

.navigation-menu ul ul li
{
    width:100%;
}

.navigation-menu li a {
    text-decoration: none;
    color: white;
    display:block;
    padding:7px 30px;
}