html {
       overflow-y: scroll;
}

.alexcarousel-wrapper{
    width:100%;
    overflow: hidden;
    position:relative;

    border: 20px solid rgba(0,0,0,0.1);
    box-sizing: border-box;


    border-radius: 10px;
    box-shadow: 0 0 2px #999;
}

.alexcarousel{
    background-color:lawngreen;
    width:100%;

}

.alexcarousel img{
    display:block;
    float:left;
    border: 0px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.alexcarousel ul{
    list-style: none;
    

    margin:0;
    padding:0;

    position:relative;
    left:0;

    transition: left 1s;
    
}

.alexcarousel li{
    display: inline;

    padding:0;
    margin:0;
}

.alexcarousel-navigation--left{
    position:absolute;
    left:0;
    top:50%;
    margin-top: -15px;
    /*color:white;*/
    cursor:pointer;
    /*background-color:black;*/

    width: 30px;
    height: 30px;
    text-align: center;
    background: rgba(22, 22, 22, 0.7);
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 19px/30px Arial, sans-serif;
    border-radius: 30px;
    box-shadow: 0 0 4px #F0EFE7;
}

.alexcarousel-navigation--leftDisabled{
    position:absolute;
    left:0;
    top:50%;
    margin-top: -15px;
    /*color:white;*/
    cursor:default;
    /*background-color:red;*/

    width: 30px;
    height: 30px;
    text-align: center;
    background: rgba(22, 22, 22, 0.7);
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 19px/30px Arial, sans-serif;
    border-radius: 30px;
    box-shadow: 0 0 4px #F0EFE7;
}

.alexcarousel-navigation--right{
    position:absolute;
    right:0;
    top:50%;
    margin-top: -15px;
    /*color:white;*/
    cursor:pointer;
    /*background-color:black;*/

    width: 30px;
    height: 30px;
    text-align: center;
    background: rgba(22, 22, 22, 0.7);
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 19px/30px Arial, sans-serif;
    border-radius: 30px;
    box-shadow: 0 0 4px #F0EFE7;
}

.alexcarousel-navigation--rightDisabled{
    position:absolute;
    right:0;
    top:50%;
    margin-top: -15px;
    /*color:white;*/
    cursor:default;
    /*background-color:red;*/

    width: 30px;
    height: 30px;
    text-align: center;
    background: rgba(22, 22, 22, 0.7);
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 19px/30px Arial, sans-serif;
    border-radius: 30px;
    box-shadow: 0 0 4px #F0EFE7;
}

/* way the hell off screen */
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}
