html {
       overflow-y: scroll;
}

.alexcarousel-wrapper{
    width:100%;
    overflow: hidden;
    position:relative;

    border: 20px solid rgba(0,0,0,0.1);
    box-sizing: border-box;

    border-radius: 10px;
}

.alexcarousel{
    background-color:lawngreen;
    width:100%;

}

.alexcarousel img{
    display:block;
    float:left;
    border: 0px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.alexcarousel ul{
    list-style: none;
    

    margin:0;
    padding:0;

    position:relative;
    left:0;

    transition: left 1s;
    
}

.alexcarousel li{
    display: inline;

    padding:0;
    margin:0;
}

.alexcarousel-navigation--left{
    position:absolute;
    left:0;
    top:50%;
    margin-top: -15px;
    color:white;
    cursor:pointer;
    background-color:black;
}

.alexcarousel-navigation--leftDisabled{
    position:absolute;
    left:0;
    top:50%;
    margin-top: -15px;
    color:white;
    cursor:default;
    background-color:red;
}

.alexcarousel-navigation--right{
    position:absolute;
    right:0;
    top:50%;
    margin-top: -15px;
    color:white;
    cursor:pointer;
    background-color:black;
}

.alexcarousel-navigation--rightDisabled{
    position:absolute;
    right:0;
    top:50%;
    margin-top: -15px;
    color:white;
    cursor:default;
    background-color:red;
}

/* way the hell off screen */
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}
