.article {
    padding-top: calc(4rem);
}

@media screen and (min-width: 750px){
    .article {
        padding-left: 16.5rem;
    }  
}

@media screen and (min-width: 1000px){
    .article {
        padding-left: 18rem;
    }
}