.menu__item{
  font-size: 24px;
  list-style:upper-alpha;
}

.menu__link{
  text-decoration: none;
  color: green;
}

.menu--red .menu__item{
  list-style: decimal-leading-zero;
}

.menu--red .menu__link{
  color:red;
}
