/*MODIFICATORS or LOCALS*/

/*content -> https://qencode.com/#/docs*/

.header-blue-background--api{
    background: url("../img/api/el_1.png"), url("../img/api/el_2.png"), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    background-repeat: no-repeat;

    background-size: 27vw, 24vw, cover;
    background-position: 4% 80%, 98% 100%, 0% 0%;
}

.main-content section{
    margin-top: 3.3vw;
}

.main-content h2 {
    font-size: 2.1vw;
    text-transform: capitalize;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 1vw;
}

.main-content p{
    font-size: 1.1vw;
    line-height: 1.7vw;
    margin-top: 0;
}

.main-content .button{
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    box-sizing: border-box;  
    font-size: 1vw;
    line-height: 3.2vw;
    border-radius: 0.4vw;
    font-weight: 900;  
    margin-bottom: 1vw;
    margin-top: 0;
}

.main-content table{
    text-align: left;
    border-spacing: 0;
    width: 93%;
    margin-top: 1.9vw;
    margin-bottom: 1.9vw;
    font-size: 1vw;
}

.main-content table th {
    border-bottom: 0.15vw solid #ddd;
    padding-bottom: 0.8vw;
}

.main-content table th:first-of-type{
    width: 31%;
}

.main-content table tr td {
    padding-top: 1vw;
    font-size: 1.1vw; 
}

.main-content .required-button{
    font-size: 0.8vw;
    font-weight: 900;
    display: inline-block;
    padding-top: 0.4vw;
    padding-bottom: 0.28vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 0.3vw;
    margin-right: 0.5vw;
}

.main-content h3{
    font-size: 1.4vw;
    font-weight: 900;
    margin-top: 2vw;
    margin-bottom: 0;   
}

.main-content .code{
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    border-radius: 0.5vw;
    font-size: 1.1vw;
    line-height: 1.6vw;
    letter-spacing: -0.1vw;
}

.main-content .warning-message{
    border: 0.16vw solid #4bc234;
    border-radius: 0.4vw;
    padding: 1vw 1.8vw;
    font-weight: 600;
    font-size: 0.953vw;
    line-height: 1.6vw;
}

.main-link{
    font-weight: 600;
    text-decoration: none;
}

.main-link:hover{
    text-decoration: underline;
}


/*MODIFICATORS.....................END*/

@media screen and (max-width: 960px) {
    .header-blue-background--api {
        background: url(../img/api/el_1.png), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
        background-repeat: no-repeat;
        background-size: 50vw, cover;
        background-position: 4% 59%, 0% 0%;
    }

    .main-content section {
        margin-top: 4.3vw;
    }

    .main-content h2 {
        font-size: 3.6vw;
        margin-bottom: 1.5vw;
    }    

    .main-content p {
        font-size: 1.8vw;
        line-height: 3.4vw;
        margin-top: 0;
    }    

    .main-content .button {
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 1.8vw;
        line-height: 5.6vw;
        border-radius: 0.6vw;
        margin-bottom: 2vw;
    }    

    .main-content table {
        width: 100%;
        margin-top: 2.9vw;
        margin-bottom: 2.9vw;
        font-size: 1.8vw;
    }    

    .main-content table th:first-of-type {
        width: 33%;
    }    

    .main-content table th {
        padding-bottom: 1vw;
    }    

    .main-content table tr td {
        padding-top: 2vw;
        font-size: 1.8vw;
    }    

    .main-content .required-button {
        padding-left: 1vw;
        padding-right: 1vw;
        border-radius: 0.5vw;
        margin-right: 1vw;
        font-size: 1.4vw;
    }    

    .main-content h3 {
        font-size: 2.4vw;
        margin-top: 4vw;
    }    

    .main-content .code {
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1.7vw;
        padding-bottom: 1.7vw;
        font-size: 1.7vw;
        line-height: 3.4vw;
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
    }    

    .main-content .warning-message {
        border: 0.3vw solid #4bc234;
        border-radius: 0.8vw;
        padding: 1.6vw 3.8vw;
        font-size: 1.8vw;
        line-height: 3.4vw;
    }    

}

@media screen and (max-width: 780px) {
    .header-blue-background--api{
        background: linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    }    
}
