/*MODIFICATORS or LOCALS*/

.header-card--formats{
    background: url("../img/formats/el_1.png"), url("../img/formats/el_2.png"), linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
    background-repeat: no-repeat;

    background-size: 24vw, 27vw, cover;
    background-position: 15% 87%, 87% 84%, 0% 0%;
}

.header-menu--formats{  
    background: linear-gradient(45deg, rgba(126,47,182,0.01) 0%, rgba(126,47,182,0.01) 25%, rgba(249,71,157,0.01) 80%, rgba(249,71,157,0.01) 100%);
}

.footer--formats{
    background: linear-gradient(45deg, rgba(126,47,182,0.99) 0%, rgba(126,47,182,0.99) 25%, rgba(249,71,157,0.99) 80%, rgba(249,71,157,0.99) 100%);
}

.pink--api {
    background: url(../img/formats/el_3.png),linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
    background-repeat: no-repeat;
    background-size: 27vw, cover;
    background-position: 76% 95%;
    background-attachment: fixed;
}

.active--formats {
    background: rgba(255, 167, 210, 0.5);
}

.header-menu--formats .menu-links:hover {
    background: rgb(254, 140, 195);
}

.footer--formats .menu-links:hover {
    background: rgb(254, 140, 195);
}


.features-box-header--formats div:first-of-type{
    width: 34%;
}

.features-box-header--formats div:nth-of-type(2){
    width: 26%;
}

.features-box-header--formats div:nth-of-type(3){
    width: 40%;
}

.features-box-header ul{
    margin: 0;
    list-style-type: none;
    font-size: 1.13vw;
    line-height: 2.1vw;
}

.features-box-header--formats li::before{
    border-color: #ffa5fd;
}

.features-box-header--formats li::after{
    border-color: #ffa5fd;
}

.features-box-main--formats > div{
    height: 20vw;  
}

.features-box-main--formats > div:first-of-type{
    height: 100%;
}


.get-quote--formats{
    position: absolute;
    top: 39vw;
    left: 25vw;
    padding-left: 6vw;

    display: block;
    margin-top: 0; 
    margin-left: 0;     
}


.get-quote-button--formats{
    border: 0.2vw solid #b96fc6;
    margin-left: 0;
}


.get-quote-button--formats:hover{
    background: rgb(195, 60, 168);
}


@media screen and (max-width: 780px) {
    .header-card--formats {     
        background: linear-gradient(45deg, rgba(126,47,182,0.99) 0%, rgba(126,47,182,0.99) 25%, rgba(249,71,157,0.99) 80%, rgba(249,71,157,0.99) 100%);  
    }  
}
