/*MODIFICATORS or LOCALS*/

.header-card--formats{
    background: url("../img/formats/el_1.png"), url("../img/formats/el_2.png"), linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
    background-repeat: no-repeat;

    background-size: 24vw, 27vw, cover;
    background-position: 15% 87%, 87% 84%, 0% 0%;
}

.header-menu--formats{  
    background: linear-gradient(45deg, rgba(126,47,182,0.01) 0%, rgba(126,47,182,0.01) 25%, rgba(249,71,157,0.01) 80%, rgba(249,71,157,0.01) 100%);
}

.footer--formats{
    background: linear-gradient(45deg, rgba(126,47,182,0.99) 0%, rgba(126,47,182,0.99) 25%, rgba(249,71,157,0.99) 80%, rgba(249,71,157,0.99) 100%);
}

.pink--api {
    background: url(../img/formats/el_3.png),linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
    background-repeat: no-repeat;
    background-size: 27vw, cover;
    background-position: 76% 95%;
    background-attachment: fixed;
}

.active--formats {
    background: rgba(255, 167, 210, 0.5);
}

.header-menu--formats .menu-links:hover {
    background: rgb(254, 140, 195);
}

.footer--formats .menu-links:hover {
    background: rgb(254, 140, 195);
}

.features-box-main--formats > div{
    padding: 1.4vw 3vw;
}

.features-box-main--formats h3 {
    text-align: left;
}

.features-box-header--formats li::before{
    border-color: #ffa5fd;
}

.features-box-header--formats li::after{
    border-color: #ffa5fd;
}

.features-box-main--formats > div{
    height: 20vw;  
}

.features-box-main--formats > div:first-of-type{
    height: 100%;
}


.get-quote--formats{
    position: absolute;
    top: 39vw;
    left: 25vw;
    padding-left: 6vw;

    display: block;
    margin-top: 0; 
    margin-left: 0;     
}


.get-quote-button--formats{
    border: 0.2vw solid #b96fc6;
    margin-left: 0;
}


.get-quote-button--formats:hover{
    background: rgb(195, 60, 168);
}


@media screen and (max-width: 960px) {
    /*to over-ride container padding, must be below in CSS and after in HTML as well*/
    .full-screen--formats{
        padding:0;
    }

    .header-card--formats {
        background: url(../img/formats/el_1.png), url(../img/formats/el_2.png), linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
        background-repeat: no-repeat;
        background-size: 43vw, 49vw, cover;
        background-position: 5% 87%, 98% 85%, 0% 0%;
    }

    .features-box-main--formats > div {
        height: 37vw;
    }

    .features-box-main--formats > div {
        padding-left: 2.7vw;
        padding-right: 2.7vw;
    }

    .features-box-main--formats .main-list li::before {
        left: 0; 
    }    

    .features-box-main--formats .main-list li {
        padding-left: 3vw;
    }    

    .get-quote--formats {
        top: 64.4vw;
        left: 37vw;
        padding-left: 10vw;
    }    

    .get-quote--formats h3 {
        font-size: 3.8vw;
        margin: 0;
        padding: 0;
    }    

    .get-quote--formats {
        background-size: 7vw;
        background-position: 1% 6%;
    }    

    .get-quote--formats p {
        font-size: 1.9vw;
        margin-top: 0.5vw;
        margin-bottom: 3.4vw;
    }    

    .pink--api {
        background: url(../img/formats/el_3.png),linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
        background-repeat: no-repeat;
        background-size: 50vw, cover;
        background-position: 107% 95%;
        background-attachment: fixed;
    }        

}


@media screen and (max-width: 780px) {
    .header-card--formats {
        background: url(../img/formats/el_2.png), linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
        background-repeat: no-repeat;
        background-size: 60vw, cover;
        background-position: 98% 85%, 0% 0%;
    }

    .features-box-main--formats h3 {
        font-size: 3.7vw;
    }

    .features-box-main--formats > div {
        padding-left: 6vw;
        padding-right: 6vw;
    }    

    .features-box-main--formats {
        position: relative;
    }    

    .features-box-main--formats > div:nth-of-type(2) {
        height: 44vw;
    }    

    .features-box-main--formats > div:nth-of-type(3) {
        position: absolute;
        left: 48vw;
        top: 49vw;
        height: 48vw;   
    }    

    .get-quote--formats {
        position: static;
        margin-top: 2vw;
        margin-bottom: 12vw;
        padding-left: 12vw;
        background: url(../img/discount.png);
        background-repeat: no-repeat;
        background-size: 9vw;
        background-position: 0% 6%;        
    }    

    .get-quote--formats h3 {
        font-size: 4.5vw;
    }    

    .get-quote--formats p {
        font-size: 2.4vw;
        margin-top: 0.5vw;
        margin-bottom: 4vw;
    }    

    .pink--api {
        background: url(../img/formats/el_3.png),linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
        background-repeat: no-repeat;
        background-size: 60vw, cover;
        background-position: 98% 96%;
        background-attachment: fixed;
    }    
 

}


@media screen and (max-width: 480px) {

    .header-card--formats {
        background: linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
    }    

    .pink--api {
        background: linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
    }        

    .features-box-main--formats > div:nth-of-type(3) {
        position: static;
    }    

    
    .features-box-main--formats > div:nth-of-type(2) {
        height: inherit;
    }    

    .features-box-main--formats > div:nth-of-type(3) {
        height: inherit;
    }       

    .features-box-main--formats h3 {
        font-size: 6.7vw;
    }

    .features-box-main--formats .main-list li {
        padding-left: 6vw;
    }    

    .features-box-main--formats > div {
        padding-left: 11vw;
        padding-right: 11vw;
    }

    .footer--formats .menu-links:hover {
        background: none;
    }    


    /*this part is same as in pricint for this size.........START*/
    .get-quote--formats {
        padding: 0;
        margin: 0;        
        margin-top: 8.4vw;
        background: none;
    }    

    .get-quote--formats h3 {
        padding-left: 19vw;
        padding-right: 19vw;
        font-size: 5.4vw;
    }    

    .get-quote--formats p {
        margin-top: 2vw;
        margin-bottom: 5.5vw;        
        font-size: 3.8vw;
    }
    /*this part is same as in pricint for this size...........END*/

}

@media screen and (max-width: 320px) {

    .features-box-main--formats h3 {
        font-size: 8.5vw;
    }

    .features-box-main--formats .main-list li {
        padding-left: 9vw;
    }    

    /*this part is same as in pricint for this size.........START*/
    .get-quote--formats h3 {
        padding-left: 0;
        padding-right: 0;
        font-size: 8.4vw;
    }    

    .get-quote--formats p {
        font-size: 5.8vw;
        margin-top: 3vw;
        margin-bottom: 7.5vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }    
    /*this part is same as in pricint for this size...........END*/
}