.selected{
    position: relative; 
}

.selected:after {
    position: absolute;
    height: 0.05vw;
    content: '';
    right: 0;
    background-color: white;
    left: 0;
    bottom: 0.7vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.has-submenu{
    position: relative;
    padding-right: 3vw;
}

.has-submenu:after{
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    padding-right: 1.5vw;
}


.header-menu--inner-pages{
    background: linear-gradient(to right, rgba(4, 42, 146, 1.0) 0%, rgba(56, 167, 192, 1.0) 100%);
    box-shadow: rgba(22, 14, 84, 0.6) 0px 0px 23px 4px;
}