.header--inner-pages{
    height: 6vw;
}

.selected{
    position: relative; 
}

.selected:after {
    position: absolute;
    height: 1px;
    content: '';
    right: 0;
    background-color: white;
    left: 0;
    bottom: 0.7vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.has-submenu{
    position: relative;
    padding-right: 3vw;
}

.has-submenu:after{
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    padding-right: 1.5vw;
}


.header-menu--inner-pages{
    background: linear-gradient(to right, rgba(4, 42, 146, 1.0) 0%, rgba(56, 167, 192, 1.0) 100%);
    box-shadow: rgba(22, 14, 84, 0.6) 0px 0px 23px 4px;
}

.title-and-buttons{
    display: flex;
    justify-content: space-between;   
    align-items: center; 
}

/*override margin-top specified in main.css*/
.main-button {
    margin-top: 0;
}

.main-content .button {
    text-align: center;
}

.input-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3vw;
}

.input-label{
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    font-weight: 900;
}

.recreate-app-id form button:disabled {
    background: #cfd8dd;
    cursor: not-allowed;
}

#api_key:disabled {
    background: #eeeeee;
}

.recreate-app-id form .button-field {
    width: 100%;
    text-align: right;
}

.recreate-app-id form .input-fields > div{
    width: 46%;
}

input[type=text] {
    width: 100%;
    padding: 0.9vw 1.5vw;
    margin: 0.5vw 0;
    display: inline-block;
    border-radius: 0.5vw;
    box-sizing: border-box;
    outline: none; 
}

.input-container{
    margin-top: 0.7vw; /*same as form in main css*/
    color: #73767d;
    font-size: 1vw;   
}

/*override button as in API.html*/
.main-content .button {
    min-width: 16vw;
    margin-bottom: 0;
    /*margin-left: 2.5vw;*/
    cursor: pointer;
}

.main-info-box{
    border: dashed 2px #e0e0e0;
    box-sizing: border-box;
    padding: 1.3vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;   
    margin-top: 1vw;
    margin-bottom: 1vw;

    justify-content: center;        
}

.info-box-squared{
    flex-direction: column;
    padding-top: 2vw;
    padding-bottom: 2vw;    
}


.main-info-box > div {
    /*width: 85%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.main-info-box span{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    line-height: 1.5vw;
}

.main-info-box > span{
    font-size: 1.2vw;
}


/*TABLE.........................START*/

#transfer_table, #demo_details_table, #demo_details_url, #overdue_invoices {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1vw;
    text-align: left;
    font-size: 1vw;
}

.inner-pages-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1vw;
}

.inner-pages-table td{
    padding: 0.8vw 1.6vw;
}

.inner-pages-table tr td:first-of-type{
    font-weight: 600;
    width: 41%;
}


#transfer_table th, td{
    padding: 1vw 2vw;
}

#demo_details_table th, td{
    padding: 1vw 2vw;
}

#demo_details_url th, td{
    padding: 1vw 2vw;
}


table.dataTable tbody td {
    padding: 1vw 2vw;
}

table.dataTable tbody tr:hover {
    background-color: #fafafa;
}

.top {
    display: flex;
    justify-content: flex-end;
    /*font-size: 1.1vw;
    color: #73767d;*/
}

#transfer_table_info{
    font-size: 1.1vw;
    color: #73767d;
    margin-right: 0.5vw;
}

#transfer_table_info span{
    padding: 0.2vw 0.7vw;
    cursor: pointer;
}

#info-container{
    position: relative;
    z-index: 9999;
}

#rows_number_selector{
    display: none;
    width: 8.5vw;
    position: absolute;
    padding-bottom: 0.1vw;
    padding-top: 3vw;
    top: -1vw;
    left: -0.5vw;
    background: white;
    z-index: -1;
    box-shadow: 0px 3px 13px -4px rgba(0,0,0,0.75);
}

#rows_number_selector a{
    display: block;
    line-height: 1.7vw;
    cursor: pointer;
}

#rows_number_selector a:hover{
    background: #e4f2fd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #dddddd !important;
}

.dataTables_wrapper .dataTables_paginate {
    color: #73767d !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #73767d !important;
    padding: 0.2vw 0.5vw;
}

#transfer_table_next, #transfer_table_previous{
    border: 2px solid #e5e5e5;  
}

#transfer_table_previous{
    margin-right: 0.5vw;
}

.action-button--edit, .action-button--delete, .action-button--copy{
    width: 2vw;
    height: 2vw;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 2vw;    
    cursor: pointer;
}

.action-button--delete{
    color: #fe8980;
}

.action-button--delete:hover{
    color: #f04237;
}


.action-button--edit{
    color: #b1b1b1;
}

.action-button--edit:hover{
    color: #1877d5;
}

.action-button--copy{
    color: #b1b1b1;
}

.action-button--copy:hover{
    color: #1877d5;
}

#transfer_table td {
    vertical-align: middle;
}

#transfer_table th:first-of-type {
    width: 43%;
}

#transfer_table th:nth-of-type(2) {
    width: 40%;
}

#transfer_table th:nth-of-type(3) {
    width: 17%;
}

/*TABLE.........................END*/

/*modification of '.main-button > i' located in main.css*/
.main-button > i{
    margin-left: 0;
    margin-right: 0.5vw;
}

.two-columns-content{
    display: flex;
    justify-content: space-between;    
}

.two-columns-content > div{
    width: 47%;
}


/*custom select.....START*/

select{
    width: 100%;
    padding: 0.9vw 1.5vw;
    margin: 0.5vw 0;
    display: inline-block;
    border-radius: 0.5vw;
    box-sizing: border-box;
    outline: none;
    background: white;

    -webkit-appearance: none; /*remove default arrow*/
}

.custom-select {
    position: relative;
}

.custom-select:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    top: 1.6vw;
    padding-right: 1.5vw;
    font-size: 1.1vw;
    pointer-events: none; /*to make arrow look clickable*/
}

/*custom select.....END*/


/*accordion.....START*/

.accordion-container{
    margin-top: 0.7vw;
}

.accordion-button{
    width: 100%;
    padding: 0.9vw 1.5vw;
    margin: 0.2vw 0;
    display: inline-block;
    border-radius: 0.5vw;
    box-sizing: border-box;  
    cursor: pointer;  
    position: relative;
}

.accordion-button:after{
    content: "+";
    color: #1976d2;
    position: absolute;
    right: 0;
    top: 0.4vw;
    padding-right: 1.5vw;
    font-size: 1.8vw;
    pointer-events: none; /*to make arrow look clickable*/ 
}

.accordion-button.active-accordion:after {
    content: "\2212";
}

.accordion-panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}

.accordion-panel p{
    padding-left: 2vw;
    padding-right: 2vw;    
}

/*accordion.....END*/

.buttons-below{
    margin-top: 0.8vw;
    text-align: right;
}

.video-preview-box{
    margin-top: 4.7vw;
    height: 17.57vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;    
}

.video-preview-box__button{
    font-size: 3vw;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    padding-left: 2vw;
    padding-top: 1vw;
    box-sizing: border-box;
    color: #e5e5e5;
}


/*TABS for BILLING...............START*/

.tab{
    border-bottom: 1px solid #dbdad6;
    box-sizing: border-box;
}

/* Style the buttons inside the tab */
.tablinks {
    line-height: 2.5vw;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.1vw;
    font-weight: 600;
    margin-right: 2vw;
    border-bottom: 2px solid white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.tablinks--active{
    border-bottom: 2px solid #4bc232;
}

.tabcontent--active{
    display: block;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*TABS for BILLING...............END*/

.danger-warning{
    font-weight: 600;
}

.danger-warning-icon{
    width: 1.5vw;
    height: 1.5vw;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 1.6vw;
    margin-right: 0.3vw;  
}

.after-text{
    margin-left: 0.3vw;
}

.billing-details{
    display: flex;
    justify-content: space-between;    
    margin-top: 1vw;
}

.balance-label{
    width: 20%;
    background: #f1f1f1;
    border-radius: 0.3vw;
    padding: 0.8vw 2vw;
    height: 100%;
}

.balance-label span{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8vw;    
}

.balance-label p{
    font-size: 2.1vw;
    font-weight: 900;
    margin-bottom: 0.3vw;
}

/*CARD usage-details...................START*/

.usage-details{
    padding: 1vw 1.4vw;
    width: 32%;
    border-radius: 0.7vw;
    box-sizing: border-box;
}

.usage-details h3{
    margin: 0;
    padding: 0;
}

.usage-details table{
    width: 100%;
    font-size: 1vw;    
    margin-top: 0.3vw;
    line-height: 1.5vw;
}

.usage-details table thead th{
    border-bottom: 1px solid #ddd;
    font-size: 0.9vw;
    padding-bottom: 0.5vw;
}

.usage-details table thead th:last-of-type{
    font-weight: normal;
}

.usage-details table tfoot th{
    border-top: 1px solid #ddd;
    padding-top: 0.5vw;
    font-size: 0.9vw;
}

.usage-details table tfoot th span{
    font-size: 1.1vw;
}

.usage-details table td{
    padding: 0;
}

.usage-details table tr td, .usage-details table tr th{
    text-align: left;
}

.usage-details table tr td:last-of-type, .usage-details table tr th:last-of-type{
    text-align: right;
}

.usage-details table tbody tr:first-of-type td{
    padding-top: 0.4vw;
}

.usage-details table tbody tr:last-of-type td{
    padding-bottom: 0.4vw;
}

.usage-details table tbody tr td:first-of-type{
    width: 23%;
}

/*CARD usage-details...................END*/

.chart-box{
    border-radius: 0.7vw;
    box-sizing: border-box;
    margin-top: 1vw;
    height: 400px;    
}

@media screen and (max-width: 960px) {
    .header--inner-pages{
        height: 8vw;
    }

    .has-submenu {
        padding-right: 3.5vw;
    }    

    .selected:after {
        bottom: 1vw;
        margin-right: 2.5vw;
        margin-left: 2.5vw;
    }    
    
}

@media screen and (max-width: 780px) {
    .header--inner-pages {
        height: 9vw;
    }
    
}

@media screen and (max-width: 480px) {
    .header--inner-pages {
        height: 23vw;
    }

    .selected:after {
        bottom: 2.6vw;
        margin-right: 6vw;
        margin-left: 6vw;
    }    

    .has-submenu {
        padding-right: 7.5vw;
    }    

    .has-submenu:after {
        padding-right: 3.5vw;
    }    
}

@media screen and (max-width: 320px) {
    .header--inner-pages {
        height: 32vw;
    }
}