/*CUSTOM FILE UPLOAD BUTTON...........START*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
/*CUSTOM FILE UPLOAD BUTTON...........END*/

#mobile_card_data{
    display: none;
}

.radio-buttons label:last-of-type{
    margin-right: 0;
}

.header--inner-pages{
    height: 6vw;
}

.selected{
    position: relative; 
}

.selected:after {
    position: absolute;
    height: 1px;
    content: '';
    right: 0;
    background-color: white;
    left: 0;
    bottom: 0.7vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.has-submenu{
    position: relative;
    padding-right: 3vw;
}

.has-submenu:after{
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    padding-right: 1.5vw;
    padding-top: 0.1vw;
}

.collapse-button:after{
    content: "\f0d8";
}

/*FILTER FORM................START*/
.filter-form input[type=text], .filter-form .custom-select{
    width: 12vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;    
    cursor: pointer;
} 

.filter-form form{
    margin-top: 0;
}

.filter-form .custom-select{
    display: inline-block;
    font-size: 1vw;
}

.filter-form .custom-select:after{
    color: #73767d;
}

.filter-form button{
    padding-right: 2.3vw;
    padding-left: 2.3vw;  
    line-height: 3.1vw;  
}

.filter-form fieldset{
    text-align: right;
}

.filter-form label{
    font-size: 1vw;
    font-weight: 600
}

.filter-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1vw;
}

.filter-form .filter-date{
    display: inline-block;
    position: relative;
}

.filter-form .filter-date:after{
    content: "\f073";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    top: 1.6vw;
    padding-right: 1.5vw;
    font-size: 1.1vw;
    pointer-events: none;
    color: #73767d;
}    

/*FILTER FORM................END*/

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin: 1vw 0;
    padding: 0;    
}

.header-menu--inner-pages{
    background: linear-gradient(to right, rgba(4, 42, 146, 1.0) 0%, rgba(56, 167, 192, 1.0) 100%);
    /*box-shadow: rgba(22, 14, 84, 0.6) 0px 0px 23px 4px;*/
}

.title-and-buttons{
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;   
    align-items: center; 
}

/*override margin-top specified in main.css*/
.main-button {
    margin-top: 0;
}

.main-content .button {
    text-align: center;
}

.input-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3vw;
}

.input-label{
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    font-weight: 900;
}

.input-label--margin-top{
    margin-top: 1vw;
}

.input-label--align-start{
     justify-content: flex-start;
}

.recreate-app-id form{
    margin-top: 0.7vw;
}

form button:disabled {
    background: #cfd8dd;
    cursor: not-allowed;
}

#api_key:disabled {
    background: #eeeeee;
}

.recreate-app-id form .button-field {
    width: 100%;
    text-align: right;
}

.recreate-app-id form .input-fields > div{
    width: 46%;
}

input[type=text], input[type=password], input[type=tel], textarea {
    width: 100%;
    padding: 0.9vw 1.5vw;
    margin: 0.5vw 0;
    display: inline-block;
    border-radius: 0.5vw;
    box-sizing: border-box;
    outline: none; 
    border: 0.2vw solid #eeeeee;
    /*border: 0.2vw solid;*/
    color: #73767d;
    font-size: 1vw;    
}

form textarea{
    resize: none;
    outline: none    
}

.message-comment .input-container{
    display: flex;
    flex-direction: column;    
    height: 100%;
    width: 100%;
    margin: 0; 
    box-sizing: border-box;
    padding-top: 0.7vw;
    padding-bottom: 1vw;    
}

.message-comment .input-container textarea{
    height: 100%;
}

.input-container{
    margin-top: 0.7vw; /*same as form in main css*/
    color: #73767d;
    font-size: 1vw;  
    margin-bottom: 1vw; 
}

.input-info-text{
    font-size: 0.9vw;
    display: block;
    font-weight: normal;
}

/*override button as in API.html*/
.main-content .button {
    /*min-width: 16vw;*/
    margin-bottom: 0;
    /*margin-left: 2.5vw;*/
    cursor: pointer;
}

.main-info-box{
    border: dashed 2px #e0e0e0;
    box-sizing: border-box;
    padding: 1.3vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;   
    margin-top: 1vw;
    margin-bottom: 1vw;

    justify-content: center;        
}

.info-box-squared{
    flex-direction: column;
    padding-top: 2vw;
    padding-bottom: 2vw;    
}


.main-info-box > div {
    /*width: 85%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.main-info-box span{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    line-height: 1.5vw;
    font-size: 1.2vw;
}

.main-info-box > span{
    font-size: 1.2vw;
}


/*TABLE.........................START*/

/*#transfer_table, #demo_details_table, #demo_details_url, 
 #video_settings_table, #video_settings_sizes, #thumbnail_settings_table,
#all_invoices, #payment_history_table, #payment_methods {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1vw;
    text-align: left;
    font-size: 1vw;
}*/

/*override style for dataTable class of DataTables*/
table.dataTable{
    border-collapse: collapse;
    width: 100%;
    margin-top: 1vw;
    text-align: left;
    font-size: 1vw;
}

#demo_details_url{
    table-layout: fixed;
}

#demo_details_url tbody td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#demo_details_url th:last-of-type {
    width: 15%;
}

#payment_methods thead th {
    padding: 1vw 2vw;
}

#payment_methods tr:hover{
    background: #fafafa;
}

#video_settings_sizes th:nth-last-of-type(1){
    width: 6vw;
}

#video_settings_table th:first-of-type,
#video_settings_table th:nth-last-of-type(1){
    width: 6vw;
}

#thumbnail_settings_table th:first-of-type,
#thumbnail_settings_table th:nth-last-of-type(1){
    width: 6vw;
}


.inner-pages-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1vw;
}

.inner-pages-table td{
    padding: 0.8vw 1.6vw;
}

.inner-pages-table tr td:first-of-type{
    font-weight: 600;
    width: 41%;
}


#transfer_table th, td{
    padding: 1vw 2vw;
}

#demo_details_table th, td{
    padding: 1vw 2vw;
}

#demo_details_url th, td{
    padding: 1vw 2vw;
}


table.dataTable tbody td {
    padding: 1vw 2vw;
}

table.dataTable tbody tr:hover {
    background-color: #fafafa;
}

.top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*font-size: 1.1vw;
    color: #73767d;*/
}


.dataTables_wrapper .dataTables_info {
    padding-top: 0; 
    font-size: 1.1vw;
    color: #73767d;
    margin-right: 0.5vw;    
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 0; 
}

#info-container{
    position: relative;
    z-index: 9999;
}

.rows-number-selector-box{
    display: none;
    width: 8.5vw;
    position: absolute;
    padding-bottom: 0.1vw;
    padding-top: 3vw;
    top: -1vw;
    left: -0.5vw;
    background: white;
    z-index: -1;
    box-shadow: 0px 3px 13px -4px rgba(0,0,0,0.75);
}

.rows-number-selector-box span{
    padding: 0.2vw 0.7vw;
}

.table-label{
    margin-right: 0.5vw;
    font-weight: 600;
    font-size: 1vw;
}

.rows-number-selector-box--big{
    width: 10vw; 
    padding-top: 4.3vw;
    top: -0.1vw;  
    left: 6.6vw;
}

.table-with-time-range{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.table-with-time-range fieldset{
    margin: 0;
    padding: 0;    
}

.rows-number-selector-box a{
    display: block;
    line-height: 1.7vw;
    cursor: pointer;
}

.rows-number-selector-box a:hover{
    background: #e4f2fd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #dddddd !important;
}

.dataTables_wrapper .dataTables_paginate {
    color: #73767d !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #73767d !important;
    padding: 0.2vw 0.5vw;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
    /*border-bottom: 2px solid #e5e5e5;*/
    padding: 1vw 2vw;
}

#transfer_table_next, #transfer_table_previous{
    border: 2px solid #e5e5e5;  
}

#transfer_table_previous{
    margin-right: 0.5vw;
}

.action-buttons-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
}

.action-buttons-group a{
    margin-right: 0.3vw;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.action-buttons-group a:last-of-type{
    margin-right: 0;
}

.action-button--edit, .action-button--delete, .action-button--copy, .action-button--file{
    width: 2vw;
    height: 2vw;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 2vw;    
    cursor: pointer;
}

.action-button--delete{
    color: #fe8980;
}

.action-button--delete:hover{
    color: #f04237;
}


.action-button--edit{
    color: #b1b1b1;
}

.action-button--edit:hover{
    color: #1877d5;
}

.action-button--copy{
    color: #b1b1b1;
}

.action-button--copy:hover{
    color: #1877d5;
}

.action-button--file{
    color: #b1b1b1;
    margin-left: 1vw;
}

.action-button--file:hover{
    color: #1877d5;
}

#transfer_table td {
    vertical-align: middle;
}

#transfer_table th:first-of-type {
    width: 43%;
}

#transfer_table th:nth-of-type(2) {
    width: 40%;
}

#transfer_table th:nth-of-type(3) {
    width: 17%;
}

/*TABLE.........................END*/

/*modification of '.main-button > i' located in main.css*/
.main-button > i{
    margin-left: 0;
    margin-right: 0.5vw;
}

.two-columns-content{
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.two-columns-content .two-columns-content .input-container{
    margin-top: 0;
}

.two-columns-content > div{
    width: 47%;
}

.two-columns-content--not-equal > div:first-of-type{
     width: 56%;
}

.two-columns-content--not-equal > div:last-of-type{
     width: 39%;
}

.two-columns-content--not-equal-reversed > div:first-of-type{
     width: 39%;
}

.two-columns-content--not-equal-reversed > div:last-of-type{
     width: 56%;
}

/*custom select.....START*/

select{
    border: 0.2vw solid;
    width: 100%;
    padding: 0.9vw 1.5vw;
    /*margin: 0.5vw 0;*/
    margin: 0.5vw 0 !important;
    display: inline-block;
    border-radius: 0.5vw;
    box-sizing: border-box;
    outline: none;
    background: white;

    -webkit-appearance: none; /*remove default arrow*/
    -moz-appearance: none; /*remove default arrow for FF*/
}


.custom-select {
    position: relative;
}

.custom-select:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    top: 1.6vw;
    padding-right: 1.5vw;
    font-size: 1.1vw;
    pointer-events: none; /*to make arrow look clickable*/
}

/*custom select.....END*/


/*accordion.....START*/

.accordion-container{
    margin-top: 0.7vw;
}

.accordion-button{
    width: 100%;
    padding: 0.9vw 1.5vw;
    margin: 0.2vw 0;
    display: inline-block;
    border-radius: 0.5vw;
    box-sizing: border-box;  
    cursor: pointer;  
    position: relative;
}

.accordion-button:after{
    content: "+";
    color: #1976d2;
    position: absolute;
    right: 0;
    top: 0.4vw;
    padding-right: 1.5vw;
    font-size: 1.8vw;
    pointer-events: none; /*to make arrow look clickable*/ 
}

.accordion-button.active-accordion:after {
    content: "\2212";
}

.accordion-panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}

.accordion-panel p{
    padding-left: 2vw;
    padding-right: 2vw;    
}

/*accordion.....END*/

.buttons-below{
    margin-top: 0.8vw;
    text-align: right;
}

.button-below-content{
    margin-top: 0.8vw;
}

.video-preview-box-container{
    padding-bottom: 1vw;
    padding-top: 1vw;
}

.video-preview-box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;    
}

.video-preview-box__button{
    font-size: 3vw;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    padding-left: 2vw;
    padding-top: 1vw;
    box-sizing: border-box;
    color: #e5e5e5;
}


/*TABS for BILLING...............START*/

.tab{
    border-bottom: 1px solid #dbdad6;
    box-sizing: border-box;
}

/* Style the buttons inside the tab */
.tablinks {
    line-height: 2.5vw;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.1vw;
    font-weight: 600;
    margin-right: 2vw;
    border-bottom: 2px solid white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    margin-top: 1.5vw;
}

.tablinks--active{
    border-bottom: 2px solid #4bc232;
}

.tabcontent--active{
    display: block;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*TABS for BILLING...............END*/

/*SELECT for SING UP.............START*/
.selectcontent{
    min-height: 2.3vw;
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;  
}

.selectcontent--active{
    display: block;
}
/*SELECT for SING UP.............END*/

.danger-warning{
    font-weight: 600;
}

.danger-warning-icon{
    width: 1.5vw;
    height: 1.5vw;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 1.6vw;
    margin-right: 0.3vw;  
}

.after-text{
    margin-left: 0.3vw;
}

.before-text{
    margin-right: 0.3vw;
}

.billing-details{
    display: flex;
    justify-content: space-between;    
    margin-top: 1vw;
}

.balance-label{
    width: 20%;
    background: #f1f1f1;
    border-radius: 0.3vw;
    padding: 0.8vw 2vw;
    height: 100%;
}

.balance-label span{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8vw;    
}

#balance-label-total {
    font-size: 2.1vw;
    font-weight: 900;
    margin-bottom: 0.3vw;
    margin-top: 1vw;
}

/*CARD usage-details...................START*/

.usage-details{
    padding: 1vw 1.4vw;
    width: 32%;
    border-radius: 0.7vw;
    box-sizing: border-box;
}

.usage-details h3{
    margin: 0;
    padding: 0;
}

.usage-details table{
    width: 100%;
    font-size: 1vw;    
    margin-top: 0.3vw;
    line-height: 1.5vw;
}

.usage-details table thead th{
    border-bottom: 1px solid #ddd;
    font-size: 0.9vw;
    padding-bottom: 0.5vw;
}

.usage-details table thead th:last-of-type{
    font-weight: normal;
}

.usage-details table tfoot th{
    border-top: 1px solid #ddd;
    padding-top: 0.5vw;
    font-size: 0.9vw;
}

.usage-details table tfoot th span{
    font-size: 1.1vw;
}

.usage-details table td{
    padding: 0;
}

.usage-details table tr td, .usage-details table tr th{
    text-align: left;
}

.usage-details table tr td:last-of-type, .usage-details table tr th:last-of-type{
    text-align: right;
}

.usage-details table tbody tr:first-of-type td{
    padding-top: 0.4vw;
}

.usage-details table tbody tr:last-of-type td{
    padding-bottom: 0.4vw;
}

.usage-details table tbody tr td:first-of-type{
    width: 23%;
}

/*CARD usage-details...................END*/

.chart-box{
    border-radius: 0.7vw;
    box-sizing: border-box;
    margin-top: 1vw;
    margin-bottom: 2vw;
    height: 17vw;   
    display: flex;
    align-items: center;
    justify-content: center;    
}

.chart-container{
    width: 92%;
    height: 81%;
}

.canvasjs-chart-credit{
    display: none;
}

.title-and-buttons h3{
    margin-top: 0;
}

.title-buttons a, .buttons-below a{
    margin-right: 0.7vw;
}

.title-buttons a:last-of-type, .buttons-below a:last-of-type{
    margin-right: 0;
}

.title-buttons--below_content{
    text-align: right;
    margin-top: 2vw;    
}

.format-choice{
    display: flex;
    align-items: center;    
}


/*CUSTOM RADIO BUTTONS VERTICAL................START*/
.radio-button--round{
    margin-top: 0.8vw;  
    margin-bottom: 0.8vw;  
}

.radio-button--round input[type="radio"]{
    display:none;
}

.radio-button--round label {
    position: relative;
    margin-right: 3vw;
}

.radio-button--round input[type=radio] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -0.2vw;
    width: 1.8vw;
    height: 1.8vw;
    border: 3px solid #4bc232;
    border-radius: 50%;
}

.radio-button--round input[type=radio]:checked + label:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0.5vw;
    top: 0.3vw;
    height: 0.8vw;
    width: 0.8vw;
    background: #4bc232;
    border-radius: 50%;
}

.radio-button--round input[type=radio]:checked + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -0.2vw;
}
/*CUSTOM RADIO BUTTONS VERTICAL................END*/

/*CUSTOM RADIO BUTTONS................START*/
.radio-buttons{
    display: flex;
}

.radio-buttons input[type="radio"]{
    display:none;
}

.radio-buttons label {
    position: relative;
    padding-left: 3vw;
    margin-right: 3vw;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.2vw;    
}

.radio-buttons input[type=radio] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -0.2vw;
    width: 2vw;
    height: 2vw;
    border: 1px solid #e5e5e5;  
    border-radius: 0.5vw;
}

.radio-buttons input[type=radio]:checked + label:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0.7vw;
    top: 0.16vw;
    border-style: solid;
    border-width: 0 0.2vw 0.2vw 0;
    border-color:  white;  
    height: 1.1vw;
    transform: rotate(45deg);
    width: 0.65vw;
}

.radio-buttons input[type=radio]:checked + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -0.2vw;
    width: 2vw;
    height: 2vw;
    border: 1px solid #4bc232;  
    background: #4bc232;
    border-radius: 0.5vw;
}
/*CUSTOM RADIO BUTTONS................END*/

/*CUSTOM CHECKBOX BUTTON................START*/

.custom-checkbox input[type="checkbox"]{
    display:none;
}

.custom-checkbox label {
    position: relative;
    padding-left: 2vw;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.2vw;    
    display: initial;
}

.custom-checkbox input[type=checkbox] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -0.2vw;
    width: 2vw;
    height: 2vw;
    border: 1px solid #e5e5e5;  
    border-radius: 0.5vw;
}

.custom-checkbox input[type=checkbox]:checked + label:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0.7vw;
    top: 0.16vw;
    border-style: solid;
    border-width: 0 0.2vw 0.2vw 0;
    border-color:  white;  
    height: 1.1vw;
    transform: rotate(45deg);
    width: 0.65vw;
}

.custom-checkbox input[type=checkbox]:checked + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -0.2vw;
    width: 2vw;
    height: 2vw;
    border: 1px solid #4bc232;  
    background: #4bc232;
    border-radius: 0.5vw;
}
/*CUSTOM CHECKBOX BUTTON................END*/

/*CUSTOM CHECKBOX SMALL GRAY..............START*/
.custom-checkbox--small-gray{
    margin-right: 0.7vw;
    margin-left: 0.5vw;
}

.custom-checkbox--small-gray input[type="checkbox"]{
    display:none;
}

.custom-checkbox--small-gray label {
    position: relative;
    padding-left: 1.5vw;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.2vw;
    display: initial;    
}

.custom-checkbox--small-gray input[type=checkbox] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5vw;
    height: 1.5vw;
    border: 1px solid #ebebeb;
    border-radius: 0.3vw;
    background: #ebebeb;
}

.custom-checkbox--small-gray input[type=checkbox]:checked + label:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0.5vw;
    top: 0.1vw;
    border-style: solid;
    border-width: 0 0.2vw 0.2vw 0;
    border-color: #84767d;
    height: 1vw;
    transform: rotate(45deg);
    width: 0.5vw;
}

.custom-checkbox--small-gray input[type=checkbox]:checked + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 0.3vw;
    background: white;
    border-color: #b4b4b4;
}
/*CUSTOM CHECKBOX SMALL GRAY..............END*/

.input-container input{
    border-color: #eeeeee;
}

.input-container input:disabled {
    background: #eeeeee;
}

.fa-question-circle{
    cursor: pointer;
}

.card-input .fa-question-circle{
    font-size: 1.1vw;
}

.long-button{
    min-width: 16vw;
}

.main-content h4 {
    font-size: 1.1vw;
    font-weight: 900;
    margin-top: 1vw;
    margin-bottom: 0;
}

.project-header{
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    border-bottom: 1px solid #8bbae8;
    padding-bottom: 0.6vw; 
    cursor: pointer;
}

.expand-details{
    position: relative;
    padding-left: 2vw;
    font-size: 1vw;
}

.expand-details:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    left: 0.5vw;
    top: 0.05vw;
    padding-right: 1.5vw;
    font-size: 1.1vw;
    pointer-events: none;
    color: #bdbdbd;
}

.active-project .expand-details:after {
    content: "\f0d8";
}

.project-total{
    font-size: 1vw;
    font-weight: 900;
}

.project-content-container{
    display: flex;
    justify-content: space-between;
}

.project-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
    /*border-bottom: 1px solid #e6e6e6;  */
}

.project-summary, .project-details-table{
    margin-top: 1vw;
    width: 46%;
}

.project-details-table table{
    width: 100%;
    font-size: 1vw;
    margin-top: 0.3vw;
    line-height: 1.5vw;    
    text-align: left;
}

.project-details-table table td {
    padding: 0;
    vertical-align: text-top;
}

.project-format-numbers{
    display: flex;
}

.format-label{
    color: white;
    font-size: 0.8vw;
    font-weight: 600;
    padding: 0.2vw 0.3vw;
    border-radius: 0.3vw;
    display: inline-block;    
}

.sd-label{
    background: #1976d3;
}

.hd-label{
    background: #f34761;
}

.uhd-label{
    background: #4bc232;
}

.project-time{
    font-size: 1vw;
    font-weight: 900;    
}

.project-units{
    font-size: 1vw;
}

.project-format-numbers span{
    margin-right: 0.5vw;    
}

.project-stats-line{
    display: flex;
    margin-top: 0.6vw;
}

.project-stats-line .sd-label{
    height: 3px;
}

.project-stats-line .hd-label{
    height: 3px;
}

.project-stats-line .uhd-label{
    height: 3px;
}


.preferences-container{
    display: flex;
}

.tabcontent p{
    font-size: 1vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;    
}

.preferences-container input[type=text]{
    width: 8vw;
}

.preferences-container form button{
    margin: 0.5vw 0;
    line-height: 3vw;
    padding-right: 2.3vw;
    padding-left: 2.3vw;
    margin-left: 0.8vw;    
}

.preferences-container .custom-checkbox{
    width: 5vw;
    height: 100%;
    margin-top: 1vw;    
}

.two-columns-content .preferences-container .custom-checkbox {
    width: 7vw;
    height: 100%;
    margin-top: 0.8vw;
}

.preferences-container form{
    margin-left: 3.3vw;    
}

.records-table-number{
    padding: 0.9vw 1.5vw;
    margin: 0.5vw 0;
    display: inline-block;
    border-radius: 0.5vw;
    box-sizing: border-box;
    outline: none;
    border: 0.2vw solid #eeeeee;
    color: #73767d;
    font-size: 1vw;    
    cursor: pointer;
}

.records-table-general{
    padding: 0.2vw 0.7vw;
    cursor: pointer;
}

.mastercard{
    padding-left: 3vw;
    background: url(../img/payment_mastercard.png);
    background-repeat: no-repeat;
    background-size: 2vw;   
}

.visa{
    padding-left: 3vw;
    background: url(../img/payment_visa.png);
    background-repeat: no-repeat;
    background-size: 2.5vw; 
}

.paypal{
    padding-left: 6vw;
    background: url(../img/payment_paypal.png);
    background-repeat: no-repeat;
    background-size: 5vw;
}

.action-text-link{
    float: left;
    line-height: 2vw;    
    font-weight: 600;
}

.action-buttons-with-text-link{
    float: right;
}

/*MODAL WINDOW - PAY INVOICE..........................START*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    z-index: 100000; /* Sit on top */
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */      
}

.modal-dialog {
    position: relative;
    width: 70%;
    margin: 30px auto;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    /*border: 1px solid #888;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.modal-open {
    overflow: hidden;  
}

.company-address p{
    text-align: right;
    margin: 0;
    padding: 0;
    line-height: 1.2vw;    
}

.title-details p{
    margin: 0;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-container{
    padding-left: 4%;
    padding-right: 4%;    
    padding-bottom: 2vw;
    padding-top: 2vw
}

.modal-container .title-and-buttons{
    margin-top: 0;
}

.title-info{
    font-size: 1.1vw;
}

.margin-left{
    margin-left: 0.8vw;
}

.modal-content table{
    text-align: left;
    font-size: 1.1vw;    
}

.modal-content table td, .modal-content table th{
    padding: 0.5vw 0.8vw;
}

.modal-content table tr td:first-of-type, .modal-content table tr th:first-of-type{
    padding-left: 0;
}

.modal-content input[type=text], .modal-content .card-input{
    margin: 0;
}

.card-input{
    padding: 0.9vw 1.5vw;
    display: inline-block;
    border-radius: 0.5vw;
    box-sizing: border-box;
    outline: none;
    border: 0.2vw solid #eeeeee;
    color: #73767d;
    font-size: 1vw;    

    margin: 0.5vw 0;

    text-align: right;
}

.card-input .fa-credit-card{
    font-size: 1.1vw;
    float: left;
}

.card-input input[type=text]{
    padding: 0;
    margin: 0;
    border: none;
    margin-left: 1vw;
}

.card-input input[type=text]:first-of-type{
    width: 11vw;
    float: left;
}

.card-input input[type=text]:nth-of-type(2){
    width: 4vw;
}

.card-input input[type=text]:nth-of-type(3){
    width: 2vw;
}

/*MODAL WINDOW - PAY INVOICE..........................END*/

.confirm-checkbox-and-text{
    display: flex;
    align-items: center;
    font-size: 1.1vw;    
    margin-top: 0.4vw;
    margin-bottom: 1.4vw;
}

/*.confirm-checkbox-and-text [type="checkbox"]{
    margin-right: 0.6vw;
    margin-left: 0.6vw;
    width: 1.4vw;
    height: 1.4vw;    
}*/

.no-width > div{
    width: initial;
}

.toggle-pass-visibility{
    margin-right: 0.5vw;
    cursor: pointer;
    display: flex;
}

.hidden{
    display: none;
}

.toggle-pass-visibility img{
    height: 1.2vw;
}

.toggle-pass-visibility i{
    font-size: 1.2vw;
}


.toggle-pass-visibility span{
    width: 3vw;
    display: inline-block;    
}

.main-content .no-text-transform{
    text-transform: initial;
}

.email-sent{
    margin-top: 1vw;
    width: 11vw;    
}

/*REGISTRATION STEPS PROGRESS............START*/
.steps-progress{
    display: flex;
}

.progress-circle{
    box-sizing: border-box;
    width: 1.6vw;
    height: 1.6vw;
    background: url("../img/circle_empty.png");
    background-repeat: no-repeat;
    background-size: 1.6vw;    
}

.progress-circle__current{
    background: url("../img/circle_dot.png");
    background-repeat: no-repeat;
    background-size: 1.6vw;      
}

.progress-circle__checked{
    background: url("../img/circle_check.png");
    background-repeat: no-repeat;
    background-size: 1.6vw;     
}

.progress-steps-delimeter{
    display: flex;
    align-items: center;
    margin-left: 0.4vw;
    margin-right: 0.4vw;  
}

.progress-steps-delimeter__dot{
    background: #d1d1d1;
    width: 0.3vw;
    height: 0.3vw;
    border-radius: 50%;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
}

/*REGISTRATION STEPS PROGRESS............END*/

/*UPDATES TO CSS TO MAIN STICKY FOOTER.....START*/
.sticky-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;    
}

.has-sticky-footer{
    margin-bottom: 7vw;
}
/*UPDATES TO CSS TO MAIN STICKY FOOTER.......END*/

.link-button:hover{
    text-decoration: underline;
}

.max-width{
    width: 100%;
}

/*override input phone number styles*/
.intl-tel-input {
    width: 100%;
    margin: 0.5vw 0;
}


.hr--transparent-delimeter {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.36);
    margin-top: 2vw;
    margin-bottom: 2vw;
}


.inbox-delimeter{
    display: inline-block;
    width: 5vw;
    height: 0.3vw;
    background: #c0daff;
    margin-top: 0.5vw;
    margin-bottom: 1vw;    
}

@media screen and (max-width: 960px) {
    .header--inner-pages{
        height: 8vw;
    }

    .has-submenu {
        padding-right: 3.5vw;
    }    

    .selected:after {
        bottom: 1vw;
        margin-right: 2.5vw;
        margin-left: 2.5vw;
    }    

    .hr--transparent-delimeter {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .inbox-delimeter {
        width: 8vw;
        margin-top: 0.7vw;
        margin-bottom: 1.5vw;
    }    

    .main-info-box span {
        line-height: 2.5vw;
        font-size: 2.1vw;
    }    

    /*green square checkbox and label..........start*/
    .radio-buttons label {
        font-size: 2.2vw;
        padding-left: 4.5vw;
    }    

    .radio-buttons input[type=radio] + label:before {
        width: 3vw;
        height: 3vw;
    }    

    .radio-buttons input[type=radio]:checked + label:before {
        width: 3vw;
        height: 3vw;;
    }  

    .radio-buttons input[type=radio]:checked + label:after {
        left: 1vw;
        top: 0vw;
        height: 2.1vw;
        width: 1vw;
    }    
    /*green square checkbox and label..........end*/

    /*table-related styles..........................start*/    
    .action-buttons-group a {
        margin-right: 0.5vw;
        width: 3.5vw;
        height: 3.5vw;
    }

    .rows-number-selector-box {
        width: 10.5vw;
        padding-bottom: 0.5vw;
        padding-top: 3.3vw;
    }

    .records-table-general {
        padding: 0.3vw 0.8vw;
    }    

    .rows-number-selector-box span {
        padding: 0.5vw 0.7vw;
    }    

    .rows-number-selector-box a {
        line-height: 2.3vw;
    }    


    .dataTables_wrapper .dataTables_info {
        font-size: 1.6vw;
    }    

    table.dataTable {
        font-size: 1.8vw;
    }    

    table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
        padding: 1.4vw 2.2vw;
    }

    table.dataTable tbody td {
        padding: 1.4vw 2.2vw;
    }    

    #transfer_table th, td {
        padding: 1.4vw 2.2vw;
    }    

    #demo_details_table th, td {
        padding: 1.4vw 2.2vw;
    }    

    #demo_details_url th, td {
        padding: 1.4vw 2.2vw;
    }

    .inner-pages-table td {
        padding: 1.4vw 2.2vw;
    }  

    .inner-pages-table {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 1.8vw;
    }        
    .video-preview-box-container {
        padding-bottom: 2vw;
        padding-top: 2vw;
    }    
    /*table-related styles..........................end*/    

    /*green checkbox......................................start*/
    .two-columns-content .preferences-container .custom-checkbox {
        width: 9vw;
        margin-top: 1vw;
    }

    .custom-checkbox input[type=checkbox]:checked + label:before {
        top: -0.5vw;
        width: 2.5vw;
        height: 2.5vw;
    }    

    .custom-checkbox input[type=checkbox] + label:before {
        top: -0.5vw;
        width: 2.5vw;
        height: 2.5vw;
    }

    .custom-checkbox input[type=checkbox]:checked + label:after {
        left: 0.9vw;
        top: -0.3vw;
        height: 1.55vw;
        width: 0.8vw;
    }    

    /*green checkbox......................................end*/

    .button-below-content {
        margin-top: 1.3vw;
    }    

    /*sign up steps progress...............start*/
    .progress-circle{
        width: 3vw;
        height: 3vw;
        background-size: 3vw;    
    }

    .progress-circle__current{
        background-size: 3vw;      
    }

    .progress-circle__checked{
        background-size: 3vw;     
    }    

    .progress-steps-delimeter {
        margin-left: 0.6vw;
        margin-right: 0.6vw;
    }           

    .progress-steps-delimeter__dot {
        width: 0.6vw;
        height: 0.6vw;
        margin-left: 0.3vw;
        margin-right: 0.3vw;
    }    
    /*sign up steps progress...............end*/

    .intl-tel-input .country-list .country {
        font-size: 1.6vw;
    }    

    .email-sent {
        margin-top: 2vw;
        width: 17vw;
    }    

    /*confirm and checkbox.........................start*/
    .confirm-checkbox-and-text {
        font-size: 1.4vw;
        margin-bottom: 2.4vw;
    }    

    .custom-checkbox--small-gray label {
        padding-left: 2vw;
        font-size: 1.7vw;
    }    

    .custom-checkbox--small-gray input[type=checkbox] + label:before {
        width: 2vw;
        height: 2vw;
    }

    .custom-checkbox--small-gray input[type=checkbox]:checked + label:before {
        width: 2vw;
        height: 2vw;
        border-color: #b4b4b4;
    }    

    .custom-checkbox--small-gray input[type=checkbox]:checked + label:after {
        left: 0.6vw;
        top: 0.1vw;
        height: 1.3vw;
        width: 0.7vw;
    }    
    /*confirm and checkbox.........................end*/

    .toggle-pass-visibility {
        margin-right: 1.5vw;
    }    

    .toggle-pass-visibility span {
        font-size: 1.4vw;
    }    

    .toggle-pass-visibility img {
        height: 1.5vw;
    }    

    .before-text {
        margin-right: 0.5vw;
    }    

    .accordion-button {
        font-size: 1.8vw;
        padding: 1.2vw 1.8vw;
        margin: 0.4vw 0;        
    }    

    .accordion-button:after {
        top: 0.6vw;
        font-size: 2.6vw;
    }    
    

    /*CONTACT FORM INPUTS*/
    .input-label{
        font-size: 1.5vw;
        font-weight: 600;
        align-items: baseline;
    }

    .after-text {
        margin-left: 0.4vw;
    }    

    .input-info-text {
        font-size: 1.3vw;
    }    

    input[type=text], input[type=password], input[type=tel], textarea {
        border-width:  0.3vw;
        padding: 1.2vw;
        padding-left: 2.1vw;
        border-radius: 1vw;
        font-size: 1.6vw;   
        margin: 1vw 0;    
    }
    /*CONTACT FORM INPUTS*/    

    /*DROP DOWN SELECT*/
    select{
        border-width:  0.3vw;
        padding: 1.2vw;
        padding-left: 2.1vw;
        border-radius: 1vw;
        font-size: 1.6vw;
        margin: 1vw 0 !important;
    }    

    .custom-select:after {
        top: 2.55vw;
        font-size: 1.7vw;
    }    
    /*DROP DOWN SELECT*/

    /*CARD INPUT*/
    .card-input {
        border-width:  0.3vw;
        padding: 1.2vw;
        padding-left: 2.1vw;
        border-radius: 1vw;
        font-size: 1.6vw;
        margin: 1vw 0;        
    }

    .card-input .fa-credit-card {
        font-size: 1.8vw;
    }

    .card-input input[type=text] {
        margin-left: 1.5vw;
    }    

    .card-input input[type=text]:first-of-type {
        width: 19vw;
    }    

    .card-input input[type=text]:nth-of-type(2) {
        width: 6.7vw;
    }    

    .card-input input[type=text]:nth-of-type(3) {
        width: 4vw;
    }    

    .card-input .fa-question-circle {
        font-size: 1.6vw;
    }    
    /*CARD INPUT*/

    .tablinks {
        font-size: 1.8vw;
        line-height: 3.5vw;
    }    

}

@media screen and (max-width: 767px){
    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0; 
    }
}

@media screen and (max-width: 780px) {
    .header--inner-pages {
        height: 9vw;
    }

    .inbox-delimeter {
        width: 12vw;
        margin-top: 0.7vw;
        margin-bottom: 2.5vw;
        height: 0.5vw;
    }    

    .hr--transparent-delimeter {
        margin-top: 6vw;
        margin-bottom: 6vw;
    }    

    .title-and-buttons {
        align-items: flex-start;
        flex-direction: column;
    }    

    .title-buttons{
        margin-top: 2vw;        
    }

    /*green square checkbox and label........start*/
    .format-choice {
        flex-direction: column;
        align-items: flex-start;
    }    
    .radio-buttons {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }    
    .radio-buttons label {
        font-size: 3vw;
        padding-left: 6vw;
        margin-right: 5vw;
    }    
    .radio-buttons input[type=radio] + label:before {
        width: 4vw;
        height: 4vw;
    }    
    .radio-buttons input[type=radio]:checked + label:before {
        width: 4vw;
        height: 4vw;
    }    
    .radio-buttons input[type=radio]:checked + label:after {
        left: 1.1vw;
        top: -0.3vw;
        height: 3vw;
        width: 1.7vw;
    }    
    /*green square checkbox and label..........end*/

    .long-button {
        min-width: initial;
    }

    .main-info-box span {
        line-height: 2.2vw;
    }    

    .video-preview-box {
        height: 46vw;
    }

    /*table-related styles..........................start*/
    .dataTables_wrapper .dataTables_info {
        font-size: 2vw;
    }
    table.dataTable {
        font-size: 2.3vw;
    }    
    table.dataTable tbody td {
        padding: 1.6vw 2.7vw;
    }    
    table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
        padding: 1.6vw 2.7vw;
    }    
    #transfer_table th, td {
        padding: 1.6vw 2.7vw;
    }    
    #demo_details_table th, td {
        padding: 1.6vw 2.7vw;
    }    
    #demo_details_url th, td {
        padding: 1.6vw 2.7vw;
    }    
    .action-buttons-group a {
        margin-right: 1vw;
        width: 4.5vw;
        height: 4.5vw;
    }    
    .records-table-general {
        padding: 0.6vw 1.2vw;
    }    
    .rows-number-selector-box span {
        padding: 0.6vw 1.2vw;
    }    
    .rows-number-selector-box a {
        line-height: 3vw;
    }    
    .rows-number-selector-box {
        width: 14vw;
        padding-bottom: 0.7vw;
        padding-top: 4vw;
    }    

    .inner-pages-table td {
        padding: 1.6vw 2.7vw;
    }
    .inner-pages-table {
        font-size: 2.3vw;
    }    
    /*table-related styles..........................end*/    

    /*green checkbox......................................start*/
    .two-columns-content .preferences-container .custom-checkbox {
        width: 9vw;
        margin-top: 1vw;
    }

    .custom-checkbox input[type=checkbox]:checked + label:before {
        top: -1.5vw;
        width: 3.5vw;
        height: 3.5vw;
    }    

    .custom-checkbox input[type=checkbox] + label:before {
        top: -1.5vw;
        width: 3.5vw;
        height: 3.5vw;
    }

    .custom-checkbox input[type=checkbox]:checked + label:after {
        left: 1.1vw;
        top: -1.3vw;
        height: 2.4vw;
        width: 1.2vw;
    }    

    /*green checkbox......................................end*/    

    .button-below-content {
        margin-top: 1.8vw;
    }    

    /*sign up steps progress...............start*/
    .progress-circle{
        width: 4vw;
        height: 4vw;
        background-size: 4vw;    
    }

    .progress-circle__current{
        background-size: 4vw;      
    }

    .progress-circle__checked{
        background-size: 4vw;     
    }    

    .progress-steps-delimeter {
        margin-left: 0.8vw;
        margin-right: 0.8vw;
    }        

    .progress-steps-delimeter__dot {
        width: 0.8vw;
        height: 0.8vw;
        margin-left: 0.4vw;
        margin-right: 0.4vw;
    }    
    /*sign up steps progress...............end*/    

    .intl-tel-input .country-list .country {
        font-size: 2vw;
    }       

    .email-sent {
        width: 25vw;
    }

    /*confirm and checkbox.........................start*/
    .confirm-checkbox-and-text {
        font-size: 1.8vw;
        margin-bottom: 2.4vw;
    }    

    .custom-checkbox--small-gray label {
        padding-left: 3vw;
        font-size: 2.1vw;
    }    

    .custom-checkbox--small-gray input[type=checkbox] + label:before {
        width: 2.5vw;
        height: 2.5vw;
    }

    .custom-checkbox--small-gray input[type=checkbox]:checked + label:before {
        width: 2.5vw;
        height: 2.5vw;
    }    

    .custom-checkbox--small-gray input[type=checkbox]:checked + label:after {
        left: 0.7vw;
        top: 0.1vw;
        height: 1.6vw;
        width: 0.9vw;
    }    
    /*confirm and checkbox.........................end*/    

    .two-columns-content__right{
        margin-top: 5.3vw;
    }

    .toggle-pass-visibility {
        justify-content: flex-end;
        margin-right: 2.5vw;
    }    

    .toggle-pass-visibility span {
        font-size: 1.7vw;
    }    

    .toggle-pass-visibility img {
        height: 1.8vw;
    }    

    .before-text {
        margin-right: 0.7vw;
    }        

    .accordion-button {
        font-size: 2.2vw;
        padding: 1.5vw 2vw;
        margin: 0.6vw 0;
        border-radius: 0.8vw;
    }    

    .accordion-button:after {
        top: 0.5vw;
        font-size: 3.6vw;
        padding-right: 2.5vw;
    }    

    .message-comment .input-container textarea {
        height: 21vw;
    }

    .two-columns-content {
        flex-direction: column;
    }    

    .two-columns-content > div {
        width: 100%;
    }    

    .two-columns-content .two-columns-content{
        flex-direction: row;
    }
    
    .tablinks {
        font-size: 2.3vw;
        line-height: 5.5vw;
    }    

    input[type=text], input[type=password], input[type=tel], textarea {
        padding: 1.9vw;
        padding-left: 3.1vw;
        border-radius: 1.5vw;
        font-size: 2vw;
        margin: 1.5vw 0;
    }

    .card-input {
        padding: 1.9vw;
        padding-left: 3.1vw;
        border-radius: 1.5vw;
        font-size: 2vw;
        margin: 1.5vw 0;
    }    

    .card-input input[type=text] {
        margin-left: 2.5vw;
    }    

    .card-input .fa-credit-card {
        font-size: 2.2vw;
    }    

    .card-input input[type=text]:first-of-type {
        width: 40vw;
    }    

    .card-input input[type=text]:nth-of-type(2) {
        width: 8.7vw;
    }    

    .card-input input[type=text]:nth-of-type(3) {
        width: 5vw;
    }    

    .card-input .fa-question-circle {
        font-size: 1.9vw;
    }    

    select {
        padding: 1.9vw;
        padding-left: 3.1vw;
        border-radius: 1.5vw;
        font-size: 2vw;
        margin: 1.5vw 0 !important; 
    }    

    .custom-select:after {
        top: 4vw;
        font-size: 2.2vw;
        padding-right: 2.5vw;
    }    

    .input-label {
        font-size: 1.8vw;
    }    

    .input-info-text {
        font-size: 1.6vw;
    }    

    .after-text {
        margin-left: 0.6vw;
    }    

}

@media screen and (max-width: 480px) {
    .header--inner-pages {
        height: 23vw;
    }

    .inbox-delimeter {
        width: 18vw;
        margin-top: 1vw;
        margin-bottom: 3.5vw;
        height: 0.8vw;
    }    

    .hr--transparent-delimeter {
        margin-top: 9vw;
        margin-bottom: 9vw;
    }    

    .input-fields {
        flex-direction: column;
    }    

    /*green square checkbox and label........start*/
    .radio-buttons label {
        font-size: 4.6vw;
        padding-left: 10vw;
        margin-right: 5vw;
    }    
    .radio-buttons {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }    
    .radio-buttons input[type=radio] + label:before {
        width: 6vw;
        height: 6vw;
    }    
    .radio-buttons input[type=radio]:checked + label:before {
        width: 6vw;
        height: 6vw;
    }    
    .radio-buttons input[type=radio]:checked + label:after {
        left: 1.6vw;
        top: -0.4vw;
        height: 4.6vw;
        width: 2.5vw;
    }    
    /*green square checkbox and label..........end*/

    .recreate-app-id form .input-fields > div {
        width: 100%;
    }    

    .main-info-box > div {
        flex-direction: column;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }    

    .main-info-box span {
        line-height: 5.2vw;
        font-size: 4vw;
        text-align: center;  
        margin-bottom: 2vw;      
    }    
    

    /*table-related styles..........................start*/
    .dataTables_wrapper .dataTables_info {
        font-size: 3.2vw;
        margin-right: 1.5vw;
    }
    .records-table-general {
        padding: 1vw 1.6vw;
    }    
    .rows-number-selector-box span {
        padding: 1vw 1.6vw;
    }    
    .rows-number-selector-box {
        width: 21vw;
        padding-bottom: 1vw;
        padding-top: 6vw;
        text-align: left;
    }    
    .rows-number-selector-box a {
        line-height: 5vw;
    }    
    table.dataTable {
        font-size: 3.3vw;
    }    
    .inner-pages-table {
        font-size: 3.3vw;
    }    
    .action-buttons-group a {
        margin-right: 1vw;
        width: 6vw;
        height: 6vw;
    }    
    #demo_details_table  {
        font-size: 2.3vw;
    }      
    #demo_details_url th:last-of-type {
        width: 20%;
    }    

    #video_settings_table .action-buttons-group {
        flex-direction: column;
    }    
    #video_settings_table .action-buttons-group a {
        margin-right: 0;
        margin-bottom: 1.5vw;
    }    
    #video_settings_table .action-buttons-group a:last-of-type {
        margin-bottom: 0;
    }    
    #video_settings_table th{
        font-size: 2.6vw;
    }    
    /*table-related styles..........................end*/        

    /*green checkbox......................................start*/
    .two-columns-content .preferences-container .custom-checkbox {
        width: 29vw;
    }

    .custom-checkbox input[type=checkbox]:checked + label:before {
        top: -2.5vw;
        width: 6vw;
        height: 6vw;
    }    

    .custom-checkbox input[type=checkbox] + label:before {
        top: -2.5vw;
        width: 6vw;
        height: 6vw;
    }

    .custom-checkbox input[type=checkbox]:checked + label:after {
        left: 1.8vw;
        top: -2.3vw;
        height: 4.4vw;
        width: 2.2vw;
    }    

    /*green checkbox......................................end*/       

    .button-below-content {
        margin-top: 2.8vw;
    }    

    /*sign up steps progress...............start*/
    .progress-circle{
        width: 7vw;
        height: 7vw;
        background-size: 7vw;    
    }

    .progress-circle__current{
        background-size: 7vw;      
    }

    .progress-circle__checked{
        background-size: 7vw;     
    }    

    .progress-steps-delimeter {
        margin-left: 1vw;
        margin-right: 1vw;
    }    

    .progress-steps-delimeter__dot {
        width: 1.4vw;
        height: 1.4vw;
        margin-left: 0.8vw;
        margin-right: 0.8vw;
    }    
    /*sign up steps progress...............end*/      

    .intl-tel-input .country-list .country {
        font-size: 5.4vw;
    }     

    .intl-tel-input .country-list {
        width: 87vw;
    }      
    

    .has-sticky-footer {
        margin-bottom: 29vw;
    }    

    .email-sent {
        margin-top: 3vw;
        width: 46vw;
    }    

    /*confirm and checkbox.........................start*/
    .confirm-checkbox-and-text {
        font-size: 3.4vw;
        margin-bottom: 3.4vw;
    }    

    .custom-checkbox--small-gray label {
        padding-left: 6vw;
        font-size: 3.2vw;
    }    

    .custom-checkbox--small-gray input[type=checkbox] + label:before {
        width: 4vw;
        height: 4vw;
    }

    .custom-checkbox--small-gray input[type=checkbox]:checked + label:before {
        width: 4vw;
        height: 4vw;
    }    

    .custom-checkbox--small-gray input[type=checkbox]:checked + label:after {
        left: 1.3vw;
        top: 0.1vw;
        height: 2.6vw;
        width: 1.4vw;
    }    
    /*confirm and checkbox.........................end*/       

    .two-columns-content__right{
        margin-top: 7.8vw;
    }

    .no-line-break{
        flex-direction: row !important;
    }

    .toggle-pass-visibility {
        margin-right: 11.5vw;
    }    

    .toggle-pass-visibility span {
        font-size: 4.3vw;
    }    

    .toggle-pass-visibility img {
        height: 4.9vw;
    }    

    .before-text {
        margin-right: 1.5vw;
    }        
    
    .selected:after {
        bottom: 2.6vw;
        margin-right: 6vw;
        margin-left: 6vw;
    }    

    .has-submenu {
        padding-right: 7.5vw;
    }    

    .has-submenu:after {
        padding-right: 3.5vw;
    }    

    .accordion-button {
        font-size: 5.4vw;
        padding: 2.3vw 3vw;
        border-radius: 1vw;
        margin: 0.9vw 0;
    }    

    .accordion-button:after {
        top: 0.5vw;
        font-size: 7.6vw;
        padding-right: 3.5vw;
    }    

    .tablinks {
        font-size: 3.3vw;
        line-height: 8.5vw;
    }

    .two-columns-content .two-columns-content{
        flex-direction: column;
    }

    .two-columns-content--not-equal > div:first-of-type {
        width: 100%;
    }    

    .two-columns-content--not-equal > div:last-of-type {
        width: 100%;
    }    

    .two-columns-content--not-equal-reversed > div:first-of-type {
        width: 100%;
    }    

    .two-columns-content--not-equal-reversed > div:last-of-type {
        width: 100%;
    }    

    .input-container {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .card-input {
        border: 0.5vw solid #EEEEED;
        padding: 3vw;
        padding-left: 4.4vw;
        border-radius: 4vw;
        font-size: 5.4vw;
        margin-bottom: 0vw;
    }    

    #mobile_card_data{
        display: flex;
        justify-content: space-between;
    }

    #mobile_card_data input[type=text]{
        margin: 0;
    }

    #mobile_card_data > div{
        width: 47%;
    }

    .card-input .fa-credit-card {
        font-size: 6.2vw;
    }

    .card-input input[type=text]:first-of-type {
        width: 54vw;
    }    

    .card-input input[type=text]:nth-of-type(2) {
        display: none;
    }    

    .card-input .fa-question-circle {
        font-size: 5.9vw;
    }    

    .card-input input[type=text] {
        margin-left: 3.5vw;
    }    

    .card-input input[type=text]:nth-of-type(3) {
        display: none;
    }    

    input[type=text], input[type=password], input[type=tel], textarea {
        border: 0.5vw solid #EEEEED;
        padding: 3vw;
        padding-left: 4.4vw;
        border-radius: 4vw;
        font-size: 5.4vw;
        margin-bottom: 2vw;
    }

    select {
        border: 0.5vw solid #EEEEED;
        padding: 3vw;
        padding-left: 4.4vw;
        border-radius: 4vw;
        font-size: 5.4vw;
        margin-bottom: 2vw !important;
    }    

    .custom-select:after {
        top: 6vw;
        font-size: 4.5vw;
        padding-right: 4.5vw;
    }    

    .message-comment .input-container textarea {
        height: 34vw;
    }    

    .input-label {
        font-size: 4vw;
    }

    .input-info-text {
        font-size: 3.3vw;
    }    

    .after-text {
        margin-left: 1.3vw;
    }    

}

@media screen and (max-width: 320px) {
    .header--inner-pages {
        height: 32vw;
    }

    .has-sticky-footer {
        margin-bottom: 62vw;
    }    

    .inbox-delimeter {
        width: 31vw;
        margin-top: 1.5vw;
        margin-bottom: 4.5vw;
        height: 1.2vw;
    }    

    .title-buttons a:last-of-type, .buttons-below a:nth-of-type(3) {
        margin-top: 3vw;
        margin-right: 0.7vw;
    }    

    /*table-related styles..........................start*/
    .dataTables_wrapper .dataTables_info {
        font-size: 4.2vw;
    }
    .records-table-general {
        padding: 1.3vw 1.9vw;
    }    
    .rows-number-selector-box {
        width: 26vw;
        padding-bottom: 1vw;
        padding-top: 8vw;
    }    
    .rows-number-selector-box a {
        line-height: 7vw;
    }    
    table.dataTable {
        font-size: 4.3vw;
    }    
    .action-buttons-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }     
    .action-buttons-group a {
        margin-right: 0;
        margin-bottom: 1.5vw;
        width: 8vw;
        height: 8vw;        
    }     
    .action-buttons-group a:last-of-type {
        margin-bottom: 0;     
    }      
    .inner-pages-table {
        font-size: 4.3vw;
    }    
    #demo_details_url th:last-of-type {
        width: 25%;
    }    
    #video_settings_table {
        font-size: 2.3vw;
    }    
    #video_settings_table .action-buttons-group {
        font-size: 4.3vw;
    }    
    #video_settings_table th {
        padding: 1vw 1vw;
        font-size: 3.1vw;
    }    
    #video_settings_table tbody td {
        padding: 1vw 1vw;
        font-size: 3.1vw;
    }
    /*table-related styles..........................end*/     

    .main-info-box > div {
        padding-top: 3vw;
        padding-bottom: 3vw;
    }
    .main-info-box span {
        line-height: 6.5vw;
        font-size: 5.5vw;
        margin-bottom: 4vw;
    }      

    /*green checkbox......................................start*/
    .two-columns-content .preferences-container .custom-checkbox {
        width: 38vw;
    }

    .custom-checkbox input[type=checkbox]:checked + label:before {
        top: -4.8vw;
        width: 8vw;
        height: 8vw;        
    }    

    .custom-checkbox input[type=checkbox] + label:before {
        top: -4.8vw;
        width: 8vw;
        height: 8vw;           
    } 

    .custom-checkbox input[type=checkbox]:checked + label:after {
        left: 2.2vw;
        top: -5.3vw;
        height: 6.4vw;
        width: 3.1vw;
    }    

    /*green checkbox......................................end*/     

    .button-below-content {
        margin-top: 5.8vw;
    }    

    .intl-tel-input .country-list {
        width: 86vw;
    }    

    .email-sent {
        margin-top: 4vw;
        width: 57vw;
    }


    .two-columns-content__right{
        margin-top: 9.8vw;
    }    

    .input-info-text {
        font-size: 4.3vw;
    }    

    .tablinks {
        font-size: 4.3vw;
        line-height: 11.5vw;
    }    
}