.container{
    padding-left: 15.7%;
    padding-right: 15.7%;    
}

.inside-container{
    padding-left: 8.7%;
    padding-right: 8.7%;    
}

.features-box-container{
    padding: 3vw;  
}

/*BACKGROUND COLORS..................*/

.blue-backgound{
    background: #1976d2;
}

.light-blue-background{
    background: #5e9fe1;
}

.sky-blue-background{
    background: #f2f5fa;
}

.white-background{
    background-color: white;
}

.green-background{
    background: rgba(73, 178, 161, 0.5);
}

.green-grass-background{
    background: #40ad2e;
}

.pink-background{
    background: rgba(255, 131, 193, 0.5);
}

/*BACKGROUND COLORS...............END*/

/*TEXT COLORS........................*/

.text-green{
    color: #40ad2e;
}

.text-blue{
    color: #1976d2;
} 

.text-white{
    color: white;
}

.text-gray{
    color: #73767d;
}

.text-dark-gray{
    color: #343434;
}

.underlined{
    border-bottom: 0.23vw solid #1976d2;
}
.text-orange{
    color: #ff9800;
}
/*TEXT COLORS.........................*/


body{
    font-family: 'Lato', sans-serif, sans-serif;
}


.menu-nav-buttons{
    display: none;
}

.menu-nav-items{
    display: flex;
}


nav{
    background: linear-gradient(to right, rgba(4, 42, 146, 0.01) 0%, rgba(56, 167, 192, 0.01) 100%);

    padding-top: 1.5vw;
    padding-bottom: 1.5vw;

    position: fixed;
    top:0;
    width: 100%;    

    box-sizing: border-box;
}

.header-menu{
    display: flex;
    justify-content:space-between;
    z-index: 99999;

}

.header-menu_logo{
    display: flex;
    align-items: center;    
}

.header-menu_logo a{
    font-size: 1.9vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}


.header-menu_logo a::first-letter{
    color: #ff9800;
}

.header-menu_items{
    display: flex;
    align-items: center;    
}

.menu-links{
    white-space: nowrap;

    border-radius: 2vw;

    padding-right: 1.5vw;
    padding-left: 1.5vw;

    margin-left: 0.2vw;
    margin-right: 0.2vw;

    font-size: 1.1vw;
    line-height: 3.3vw;

    color: white;
    text-decoration: none;  
    text-transform: capitalize;  

    transition: background .3s ease;

    cursor: pointer;
}

.menu-links > i{
    margin-right: 0.4vw;
}

.menu-links--bordered{
    white-space: nowrap;
    border-radius: 2vw;
    padding-left: 1.4vw;
    padding-right: 0.4vw;
    margin-right: 0.7vw;
    font-size: 1.1vw;
    line-height: 3.4vw;
    color: white;
    text-decoration: none;
    border: 0.2vw solid #5eb4cb;

    transition: background .3s ease;
}

.menu-links--bordered > span{
    margin-left: 0.8vw;
    padding: 0.6vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    background: #449cbf;
    border-radius: 2vw;
    font-variant: small-caps;
    font-weight: 900;
    font-size: 1.3vw;
}


.header-menu_items a:hover{
    background: #5eb4cb;
}

.active{
    background: rgba(94, 180, 203, 0.5);
}

 /* ----------   MENU FINISHED   ------------*/

 .header-card{
    font-weight: bold;

    width: 100%;

    box-sizing: border-box;

    padding-bottom: 4.5vw;
    padding-top: 6.1vw;
}

.header-blue-background{
    background: url("../img/el_1.png"), url("../img/el_2.png"), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    background-repeat: no-repeat;

    background-size: 27vw, 24vw, cover;
    background-position: 5% 78%, 31% 17%, 0% 0%;    
}

.header-main{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.header-main_logo {
    position: relative;
    height: 24.5vw;
    width: 47.5vw; 
}

.header-main_logo img {
    padding-top: 6vw;
    width: 18.5vw;
    position: absolute;
    left: 1vw;
}

.header-main_area{
    padding-left: 20.7%;
    padding-right: 7%;
    padding-top: 1%;
    color: white;
}

.header-main_area_text{
    font-size: 3.4vw;
    font-weight: 900;
}

.header-main_area_buttons{
    padding-top: 1vw;
}

/*                           */
/*                           */
/*   HEADER CARDS finished   */
/*                           */
/*                           */

main{
    padding-bottom:2.5vw;
}

main h1{
    text-align: center;
    font-size: 3.4vw;
    margin-bottom: 3vw;
    font-weight: 900;
    margin-top: 3vw;
}

.main-card{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 31.5vw;
}

.card-container{
    display: flex;
    width: 100%;
    padding-left: 19.6%;
    padding-right: 19.6%;

    align-items: center;
}
 
.reversed{
    flex-direction: row-reverse;
}


/*BLOCKS WITH COMPLEX BACKGROUNDS......................*/

.white-hand{
    background: url("../img/el_3.png"), url("../img/el_4.png");
    background-repeat: no-repeat;

    background-size: 25vw, 24vw;
    background-position: 88% 58%, 60% 22%;  

    background-attachment: fixed;
}

.green{
    background: url("../img/el_5.png"), url("../img/el_6.png"), url("../img/el_7.png"),linear-gradient(45deg, rgba(1,129,143,1) 0%, rgba(1,129,143,1) 25%, rgba(53,188,130,1) 81%, rgba(53,188,130,1) 100%);
    background-repeat: no-repeat;

    background-size: 33vw, 25vw, 28vw, cover;
    background-position: 3% 67%, 30% 27%, 99% 16%;

    background-attachment: fixed;
}

.white-api{
    background: url("../img/el_8.png");
    background-repeat: no-repeat;

    background-size: 25vw;
    background-position: 87% 63%;

    background-attachment: fixed;
}

.pink{
    background: url("../img/el_9.png"), url("../img/el_10.png"),linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
    background-repeat: no-repeat;

    background-size: 24vw, 26vw, cover;
    background-position: 12% 47%, 97% 70%;

    background-attachment: fixed;
}

/*BLOCKS WITH COMPLEX BACKGROUNDS...................END*/


.card-container > div {
    width: 50%;
    padding-right: 2.4vw;
}

/*.........................................................................*/
    .card-container > div:nth-child(2) {
        position: relative;
        height: 50vw;
        width: 50%;
        height: 31.5vw;
    }    

    .card-container img {
        width: 24vw;
        top: 6vw;
        left: 0vw;
        position: absolute;
    }    

    .reversed > div:nth-child(2) img{
        left: 0vw;
    }
/*.........................................................................*/

.card-container h2{
    font-size: 2.1vw;
    text-transform: capitalize;
    font-weight: 900;
    margin-top: 0;  
    margin-bottom: 1vw; 
}

.card-container p{
    line-height: 1.8vw;
    font-size: 1vw;
    margin-bottom: 1vw;
    margin-top: 1vw;   
    padding-right: 4vw;
}

.main-button{
    display: inline-block;
    white-space: nowrap;
    border-radius: 2vw;
    padding-right: 1.3vw;
    padding-left: 1.3vw;
    font-size: 1.1vw;
    line-height: 3.3vw;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    margin-top: 1.3vw;
}

.main-button > i{
    margin-left: 0.5vw;
}

/*BUTTON AT THE END OF THE MAIN............START*/

.main-button-container {
    display: flex;
    justify-content: center;
}

.main-button--bordered{
    white-space: nowrap;
    border-radius: 4vw;
    padding-left: 2vw;
    padding-right: 0.7vw;
    font-size: 1.1vw;
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;    
}

.main-button--bordered > span{
    margin-left: 1.4vw;
    padding: 0.8vw;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    border-radius: 2vw;
    font-variant: small-caps;
    font-size: 1.6vw;
    font-weight: 900;
}

/*BUTTON AT THE END OF THE MAIN..........EDN*/

/*                         */
/*                         */
/*   MAIN CARDS finished   */
/*                         */
/*                         */

.vertical-delimeter-container{
    text-align: center;
}

.vertical-delimeter{
    height: 5vw;
    width: 0.2vw;
    background: #efefef;
    display: inline-block;
    margin-top: 1vw;
    margin-bottom: 1vw;    
}

/*============CONTACT=============*/

.contact-container{
    display: flex;
    margin-left: 16%;
    margin-right: 16%;    
}

form fieldset{
    border: none;
}

form button{
    display: inline-block;
    white-space: nowrap;
    border-radius: 2vw;
    padding-right: 3.3vw;
    padding-left: 3.3vw;
    font-size: 1.1vw;
    line-height: 3.3vw;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;

    cursor: pointer;

    border: none;
    outline:none;      
}

.form-group{
    display: flex;
    margin-bottom: 3%;
}

.two-fields{
    width:50%;
}

.one-field{
    width:100%;
}

.form-group .two-fields:nth-child(2){
    margin-left: 3%;
}

.contact-form{
    display: flex;
    width: 100%;    
    align-items: flex-start;
    box-sizing: border-box;
}

.align-center{
    text-align: center;
}

.contact-title{
    margin-top: 4.5vw;
    margin-bottom: 1vw;    
}

.contact-text-block{
    width: 48%;
}

.contact-form-block{
    width: 52%;
}

.contact-text-block p{
    padding-right: 27%;
    margin-bottom: 1vw;
    margin-top: 1vw;
    line-height: 1.8vw;
    font-size: 1vw;    
}

form{
    margin-top: 0.7vw;
}

form textarea {
    border: 0.2vw solid #eeeeee;

    box-sizing: border-box;
    width: 100%;
    height: 10vw;

    padding: 0.9vw;
    padding-left: 1.3vw;
    color: #73767d;
    font-size: 1vw;

    resize: none;
    border-radius: 1.4vw;
    outline:none;
}

form input{
    box-sizing: border-box;
    border: 0.2vw solid #eeeeee;
    flex: 1;
    padding: 0.9vw;
    padding-left: 1.3vw;
    color: #73767d;
    font-size: 1vw;
    border-radius: 2vw;
    outline: none;
}


/*============ FOOTER =====================*/

footer{
    background: linear-gradient(to right, rgba(4, 42, 146, 1.0) 0%, rgba(56, 167, 192, 1.0) 100%);
}


.in-footer{
    position: inherit;
    padding-top: 1.1vw;
    padding-bottom: 0;     
}

.footer-copyright-block{
    display: flex;
    padding-bottom: 1vw; 
    font-size: 0.9vw;
    font-weight: 700;
}

.footer-copyright{
    margin-right: 1.1vw;
    color: white;
}

.footer-links-block{
    display: flex;
}

.footer-links{
    text-decoration: none;  
    text-transform: capitalize;  
    color: white;
    padding-right: 0.5vw;
    padding-left: 0.5vw;

    border-right: 0.1vw solid white;
}

.footer-links:last-of-type{
    border-right: none;
}



@media screen and (max-width: 960px) {

    .container{
        padding-left: 3%;
        padding-right: 3%;        
    }

    .features-box-container{
        padding-left: 3%;
        padding-right: 3%;  
    }    

    .inside-container{
        padding-left: 0;
        padding-right: 0;    
    }     

    .header-menu_logo a {
        font-size: 3.2vw;
    }    

    .menu-links {
        border-radius: 5vw;
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        font-size: 1.8vw;
        line-height: 5.3vw;
    }    

    /*HEADER*/

    .header-card {
        padding-bottom: 14.5vw;
        padding-top: 20.1vw;

        background-size: 46vw, 42vw, cover;
        background-position: -37% 85%, 7% 27%, 0% 0%;        
    }

    .header-main {
        padding-top: 0;
        padding-left: 0;
    }    

    .header-main_logo img {
        padding-top: 0; 
        width: 29.5vw;
        left: -9vw;
    }    

    .header-main_area {
        padding-right: 4%;
        padding-top: 0%;
        padding-left: 27.7%;
    }    

    .header-main_area_text {
        font-size: 5vw;
    }    

    .menu-links--bordered{
        border-radius: 5vw;
        padding-right: 0.5vw;
        padding-left: 2.5vw;
        margin-left: 0; 
        margin-right: 1vw;
        font-size: 1.8vw;
        padding-top: 1.1vw;
        padding-bottom: 1.1vw;
    }

    .menu-links--bordered > span {
        margin-left: 1.8vw;
        padding: 1vw;
        padding-left: 1.2vw;
        padding-right: 1.2vw;
        font-size: 2.3vw;
    }    

    .header-main_area_buttons {
        padding-top: 2vw;
    }    

    /*MAIN*/

    main h1 {
        font-size: 4.9vw;
        margin-bottom: 6vw;;
        margin-top: 6vw;
    }

    .card-container {
        padding-left: 5.7%;
        padding-right: 5.7%;
    }   

    .main-card {
        height: 56.5vw;
    }     

    .card-container h2 {
        font-size: 3.6vw;
    }    

    .card-container p {
        line-height: 3.4vw;
        font-size: 1.8vw;
        margin-bottom: 2vw;
        margin-top: 1vw;
        padding-right: 1vw;
    }    

    .main-button{
        border-radius: 5vw;
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        padding-top: 1.1vw;
        padding-bottom: 1.1vw;        
        margin-left: 0; 
        margin-right: 0; 
        font-size: 1.8vw;
        margin-top: 2vw;        
    }

    .main-button > i {
        margin-left: 1.5vw;
    }    

    .card-container img {
        width: 45vw;
        top: -4vw;
        left: -2vw;
        position: absolute;
    }    

    .reversed > div:nth-child(2) img {
        left: -10vw;
    }    

    .card-container > div {
        padding-right: 0;
        padding-left: 1vw;
    }    

    .white-hand {
        background-size: 42vw, 43vw;
        background-position: 139% 42%, 75% 10%;
    }    

    .green {
        background-size: 57vw, 46vw, 45vw, cover;
        background-position: -78% 68%, 1% 27%, 167% 20%;
    }    

    .white-api {
        background-size: 47vw;
        background-position: 148% 131%;
    }    

    .pink {
        background-size: 46vw, 46vw, cover;
        background-position: -48% 49%, 166% 74%;
    }    

    .vertical-delimeter {
        height: 9vw;
        width: 0.3vw;
    }    

    .main-button--bordered {
        border-radius: 5vw;
        padding-left: 3vw;
        padding-right: 1vw;
        font-size: 2.1vw; 
        padding-top: 2vw;
        padding-bottom: 2vw;            
    }    

    .main-button--bordered > span {
        margin-left: 1.8vw;
        padding: 1.5vw;
        padding-left: 2.2vw;
        padding-right: 2.2vw;
        border-radius: 5vw;
        font-variant: small-caps;
        font-size: 3vw;
    }    

    .contact-title {
        margin-top: 8.7vw;
        margin-bottom: 3vw;
    }    

    .contact-text-block {
        padding-left: 1vw;
    }    

    .contact-text-block p {
        line-height: 3.4vw;
        font-size: 1.8vw;
        margin-bottom: 2vw;
        margin-top: 1vw;
        padding-right: 1.8vw;
    }    

    .contact-text-block {
        width: 43%;
    }    

    .contact-form-block {
        width: 57%;
    }    

    form input {
        box-sizing: border-box;
        border: 0.3vw solid #eeeeee;
        flex: 1;
        padding: 1.2vw;
        padding-left: 2.4vw;
        color: #73767d;
        font-size: 1vw;
        border-radius: 5vw;
        outline: none;
        font-size: 1.8vw;
    }    

    form textarea{
        box-sizing: border-box;
        border: 0.3vw solid #eeeeee;
        flex: 1;
        padding: 1.2vw;
        padding-left: 2.4vw;
        color: #73767d;
        font-size: 1vw;
        border-radius: 3vw;
        outline: none;
        font-size: 1.8vw;
        height: 16vw;        
    }

    .form-group {
        margin-bottom: 1.8vw;
    }    

    form button{
        border-radius: 5vw;
        padding-right: 5.5vw;
        padding-left: 5.5vw;
        padding-top: 1.1vw;
        padding-bottom: 1.1vw;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.8vw;        
    }

    main {
        padding-bottom: 5.5vw;
    }    

    .footer-copyright-block{
        font-size: 1.8vw;
        font-weight: normal;      
        padding-top: 0.8vw;
        padding-bottom: 2vw;        
    }

}


@media screen and (max-width: 780px) {

    .container{
        padding-left: 4%;
        padding-right: 4%;      
    }    

    .features-box-container{
        padding-left: 4%;
        padding-right: 4%;      
    }        

    .header-menu_logo a {
        font-size: 4vw;
        padding-bottom: 0.7vw;
    }       

    .menu-links {
        font-size: 2.2vw;

        border-radius: 5vw;
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        padding-top: 1.4vw;
        padding-bottom: 1.4vw;
        margin-left: 0.4vw;
        margin-right: 0.4vw;     

        line-height: 3.3vw;   
    }     

    .header-card {
        padding-bottom: 18.5vw;
        padding-top: 23.1vw;        

        background: linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);  
    }  

    .header-main {    
        padding-left: 0;         
    }

    .header-main_logo{
        position: relative;
        width: 48.5vw;        
    }

    .header-main_logo img {
        width: 36.5vw;
        position: absolute;
        left: -7vw;
        top: -3vw;
    }

    .header-main_area {
        width: 83.5%;
        padding-left: 0; 
        padding-right: 0; 
        padding-top: 3vw;
    }    

    .header-main_area_text {
        font-size: 6.5vw;
    }    

    .header-main_area_buttons {
        padding-top: 2vw;
    }  

    .menu-links--bordered {
        font-size: 2.2vw;
        border-radius: 5vw;
        padding-right: 0.5vw;
        padding-left: 2.5vw;
        padding-top: 1.4vw;
        padding-bottom: 1.4vw;
        margin-right: 2.8vw;        
    }      

    .menu-links--bordered > span {
        margin-left: 1.8vw;
        padding: 1.1vw;
        padding-right: 1.5vw;
        padding-left: 1.5vw;
        border-radius: 5vw;
        font-size: 2.9vw;
    }    

/*HEADER.......................END*/

    main h1 {
        font-size: 5.9vw;
        margin-top: 8vw;
    }    

    .main-card {
        height: 66.5vw;
    }    

    .card-container {
        padding-left: 4%;
        padding-right: 4%;
    }    

    .card-container h2 {
        font-size: 4.5vw;
    }    

    .card-container > div {
        padding-right: 0;
    }    

    .card-container p {
        line-height: 3.8vw;
        font-size: 2.2vw;
        margin-bottom: 1vw;
        margin-top: 1vw;
        padding-right: 0;
    }

    .main-button {
        font-size: 2.2vw;
        border-radius: 5vw;
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        padding-top: 1.4vw;
        padding-bottom: 1.4vw;     
    }    

    .main-button > i {
        margin-left: 1.5vw;
    }    

    .green {
        background: linear-gradient(45deg, rgba(1,129,143,1) 0%, rgba(1,129,143,1) 25%, rgba(53,188,130,1) 81%, rgba(53,188,130,1) 100%);
    }   

    .white-hand {
        background: white;
    }     

    .white-api {
        background: white;
    }    

    .pink {
        background: linear-gradient(45deg, rgba(126,47,182,1) 0%, rgba(126,47,182,1) 25%, rgba(249,71,157,1) 80%, rgba(249,71,157,1) 100%);
    }   


    .card-container > div:nth-child(2) {
        height: 66.5vw;
    }    

    .card-container img {
        width: 50vw;
        top: 10vw;
        left: -3vw;
    }    

    .reversed > div:nth-child(2) img{
        left: -11vw;
    }


    /*MAIN BLOCKS...........................ENDED*/

    .vertical-delimeter {
        height: 11vw;
        width: 0.4vw;
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
    }    

    .main-button--bordered {
        font-size: 2.6vw;
        border-radius: 5vw;
        padding-right: 1vw;
        padding-left: 5.5vw;
        padding-top: 2.2vw;
        padding-bottom: 2.0vw;      
    }

    .main-button--bordered > span{
        margin-left: 1.8vw;
        padding: 1.8vw;
        padding-right: 2vw;
        padding-left: 2vw;
        border-radius: 5vw;
        font-size: 3.5vw;   
    }


    .contact-title {
        margin-top: 9.5vw;
        margin-bottom: 3vw;
    }

    .contact-form {
        padding-left: 4%;
        padding-right: 4%;
        flex-direction: column;
        margin-bottom: 6vw;
    }    

    .contact-text-block {
        width: 100%;
    }    

    .contact-text-block p {
        line-height: 3.8vw;
        font-size: 2.2vw;
        margin-bottom: 1vw;
        margin-top: 1vw;
        padding-right: 0;
    }    

    .contact-form-block {
        width: 100%;
    }    

    form {
        margin-top: 3.7vw;
    }    

    fieldset{
        padding: 0;
        padding-left: 4vw;
        padding-right: 4vw;
        margin: 0;        
    }

    form input {
        padding: 1.9vw;
        padding-left: 3.3vw;
        border-radius: 5vw;
        font-size: 2.2vw;
    }    

    form textarea {
        padding: 1.9vw;
        padding-left: 3.3vw;
        border-radius: 4vw;
        font-size: 2.2vw;  
        height: 21vw;      
    }

    form button {
        font-size: 2.2vw;
        border-radius: 5vw;
        padding-right: 7.5vw;
        padding-left: 7.5vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        margin-top: 2vw;        
    }

    .footer-copyright-block {
        font-size: 2vw;
        font-weight: normal;
        padding-bottom: 2.6vw;
        padding-top: 1vw;        
    }    


}

@media screen and (max-width: 480px) {

    .container {
        padding-left: 5%;
        padding-right: 5%;
    }    

    .features-box-container{
        padding-left: 5%;
        padding-right: 5%;  
    }       

    .solid-color{
        background: linear-gradient(to right, rgba(4, 42, 146, 1) 0%, rgba(56, 167, 192, 1) 100%);
    }    

    .align-right{
        align-items: flex-end;
    }

    .header-menu_logo {
        align-items: flex-start;
        padding-top: 1.5vw;
    }    


    nav .header-menu_items {
        flex-direction: column;
    }

    .menu-nav-buttons{
        display: flex;
    }    

    .menu-nav-items{
        flex-direction: column;
    }

    .show-menu{
        display: flex;
        flex-direction: column;  
    }

    .menu-links{
        text-align: center;
        border-radius: 7vw;
        font-size: 4vw;
        padding: 4vw;
        padding-left: 6vw;
        padding-right: 6vw;
        box-sizing: border-box;       

        margin-left: 0;
        margin-right: 0;     
        margin-bottom: 1vw;   

        line-height: 4.3vw;  
    }    

    .hide-button{
        display: none;
    }

    .hide-menu{
        display: none;      
    }    

    .show-button{
        display: inline-block;
    }

    #menu-button{
        display: inline-block;
    }


    #сlose-button {
        padding-left: 4.5vw;
        padding-right: 4.5vw;    
    }    

    #сlose-button > i {
        margin-right: 0;
    }    


    .header-menu_items {
        justify-content: space-between;
    }    

    .menu-links > i {
        margin-right: 2vw;
    }

    .header-main_area {
        padding-left: 0; 
        padding-right: 0;
        width: 100%;
    }    

    .header-main {
        padding-left: 0;
    }    


    .header-main_logo{
        display: none;
    }

    .header-card {
        padding-bottom: 7vw;
        padding-top: 12vw;
    }

    .header-main_area_text {
        margin-top: 15.2vw;
        padding-bottom: 4.2vw;
        font-size: 9.4vw;
    }

    .menu-links--bordered {
        border-radius: 7vw; 
        border-width: 0.6vw;
        font-size: 4vw;
        padding: 4vw;
        padding-left: 6vw;
        padding-right: 0;
        margin-right: 0;
    }    

    .menu-links--bordered > span {
        font-size: 5vw;
        padding-left: 3vw;
        padding-top: 1.8vw;
        padding-bottom: 1.8vw;
        padding-right: 3vw;
        border-radius: 7vw;
        margin-left: 2vw;
        margin-right: 1vw;
    }

    #sign-up{
        display: inline-block;
        margin-left: 0;
        text-align: center;
        border-radius: 7vw;
        font-size: 4vw;
        padding: 4vw;
        padding-left: 6vw;
        padding-right: 6vw; 
        margin-bottom: 0;
    }      

    .header-menu {
        padding-bottom: 5vw;
        padding-top: 5vw;
    }    

    .header-menu_logo a {
        font-size: 7vw;
    }    


    /*TOP ENDED..................*/

    main h1 {
        margin: 0;
        font-size: 6vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 8vw;
    } 

    .card-container {
        flex-direction: column-reverse;
    }    

    .main-card {
        height: inherit;
        padding-top: 5vw;
        padding-bottom: 7vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .card-container {
        padding-left: 0;
        padding-right: 0; 
        position: relative;
    }    

    .card-container > div {
        width: 100%;
        padding-right: 0;
    }  

    .card-container > div:nth-child(2) {
        padding-left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .card-container img {
        width: 80%;
        margin-top: 0;
        left: 0;
        top: 0;
    }

    .reversed > div:nth-child(2) img {
        left: 0;
    }    

    .card-container h2 {
        font-size: 7vw;
        padding-top: 59vw;
        text-align: left;
    }

    .card-container p {
        font-size: 5.4vw;
        line-height: 8vw;

        text-align: left;
        padding-bottom: 2vw;
        padding-top: 2vw;
    }

    .main-button {
        border-radius: 7vw;
        font-size: 4vw;
        padding: 4vw;
        padding-left: 6vw;
        padding-right: 6vw;
        box-sizing: border-box;
        margin-top: 5vw;
    }

    .main-button > i {
        margin-left: 3vw;
    }    

 

    /*MAIN BLOCKS........................ENDED*/

    .vertical-delimeter {
        height: 13vw;
        width: 0.4vw;
    }    

    .main-button--bordered {
        border-radius: 7vw;
        border-width: 0.6vw;
        font-size: 4vw;
        padding: 4vw;
        padding-left: 6vw;
        padding-right: 0;
    }    

    .main-button--bordered > span {
        font-size: 5vw;
        padding-left: 3vw;
        padding-top: 1.8vw;
        padding-bottom: 1.8vw;
        padding-right: 3vw;
        border-radius: 7vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }   

/*CONTACT FORM................................START*/

    .contact-form {
        padding-left: 5vw;
        padding-right: 5vw;
        display: flex;
        width: 100%;
        align-items: flex-start;
        box-sizing: border-box;
        flex-direction: column;
        margin-bottom: 4vw;
    }

    .contact-text-block {
        width: 100%;
    }

    .contact-text-block p {
        font-size: 5.4vw;
        line-height: 8vw;

        text-align: left;
        padding-bottom: 2vw;
        padding-top: 2vw;
        padding-right: 0;
    }    

    .contact-form-block {
        width: 100%; 
        margin-top: 3vw;
    }

    fieldset {
        padding: 0;
        margin: 0;
    }    

    form input {
        border: 0.5vw solid #EEEEED;
        padding: 3vw;
        padding-left: 4.4vw;
        border-radius: 7vw;
        font-size: 5.4vw;
        margin-bottom: 2vw;
    }    

    .form-group {
        display: flex;
        margin-bottom: 0; 
        flex-direction: column;
    }    

    .form-group .two-fields:nth-child(2) {
        margin-left: 0;
    }    

    .two-fields {
        width: 100%;
    }    

    form textarea {
        border: 0.5vw solid #EEEEED;
        padding: 3vw;
        padding-left: 4.4vw;
        border-radius: 6vw;
        font-size: 5.4vw;
        margin-bottom: 2vw;        
        height: 34vw;
    }    

    form button {
        border: none;
        outline: none;

        box-sizing: border-box;

        text-align: center;
        border-radius: 7vw;
        font-size: 4vw;
        padding: 4vw;
        padding-left: 9vw;
        padding-right: 9vw;  

        margin-top: 3vw;
        margin-bottom: 3vw;              
    }    


    /*FOOTER..................START*/

    .footer-copyright-block {
        font-size: 3.4vw;
        font-weight: normal;
        padding-bottom: 5vw;
        flex-direction: column;
    }    

    .footer-copyright {
        margin-right: 0;
        margin-bottom: 2vw;
        margin-top: 4vw;
    }    

    .footer-links {
        border-right: none; 
        padding-left: 0;
        margin-right: 4vw;
    }    

    footer .menu-links {
        display: block;
        font-size: 3.4vw;
        line-height: 7vw;
        padding: 0;
        margin: 0;
    }    

    footer .header-menu {
        flex-direction: column; 
    }    

    footer .header-menu_items {
        align-items: flex-start;
        flex-direction: column;
        margin-top: 2vw;
    }    

    footer .header-menu {
        padding-bottom: 0px;
    }    

    footer .header-menu_items a:hover{
        background:0;
    }

}

@media screen and (max-width: 320px) {

    #сlose-button {
        padding-left: 5.6vw;
        padding-right: 5.6vw;
    }    

    .menu-links {
        font-size: 5vw;
        padding: 5vw;     
        margin-bottom: 3vw; 
        line-height: 5.3vw;  
    }

    .menu-nav-items {
        height: 86vw;
    }

    .header-menu_logo {
        padding-top: 1.3vw;
    }    

    .header-menu_items {
        flex-direction: column;
    }

    .header-menu {
        padding-bottom: 7vw;
        padding-top: 7vw;
    }    

    .header-menu_logo a {
        font-size: 9vw;
    }    

    #menu-button {
        font-size: 5vw;
        padding: 5vw;
    }    

    .header-main_area_text {
        font-size: 10.4vw;
    }

    .header-card {
        padding-top: 13vw;
    }    

    .menu-links--bordered {
        font-size: 5vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
        margin-top: 3vw;
    }    

    .menu-links--bordered > span {
        font-size: 6vw;
    }    

    #sign-up {
        margin-top: 4vw;
        font-size: 5vw;
        padding: 5vw;
        margin-left: 0;
    }    

    /*TOP ENDED..................*/

    main h1 {
        font-size: 9vw;
        padding-left: 10vw;
        padding-right: 10vw;        
    }    

    .main-card {
        padding-top: 8vw;
        padding-bottom: 10vw;
    }    

    .card-container > div {
        text-align: center;
    }    

    .card-container > div:nth-child(2) {
        left: -34px;
    }    

    .card-container img {
        width: 100%;
    }    

    .card-container h2 {
        font-size: 9vw;
        padding-top: 73vw;
    }    

    .card-container p {
        font-size: 6.4vw;
        line-height: 9vw;        
    }    

    .main-button {
        font-size: 5vw;
    }    


    /*MAIN BLOCKS........................ENDED*/

    .vertical-delimeter {
        height: 10vw;
        width: 0.4vw;
    }    

    .main-button--bordered {
        font-size: 5vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
        margin-top: 3vw;
    }    

    .main-button--bordered > span {
        font-size: 6vw;
        padding-left: 3vw;
        padding-top: 1.8vw;
        padding-bottom: 1.8vw;
        padding-right: 3vw;
        border-radius: 7vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }    

/*CONTACT FORM................................START*/

    .contact-text-block p {
        font-size: 6.4vw;
        line-height: 9vw;            
    }    


    form input {
        font-size: 6.4vw;          
    }    


    form textarea {
        font-size: 6.4vw;  
    }    

    form button {
        padding-top: 5vw;
        padding-bottom: 5vw;
        font-size: 5vw;
    }    

    /*FOOTER..................START*/    

    .footer-copyright-block {
        font-size: 4.4vw;
    }    

    .footer-links-block {
        flex-direction: column;
    }    

    .footer-copyright {
        margin-bottom: 4vw;
    }    


    footer .menu-links {
        font-size: 4.4vw;
    }    

    footer .header-menu {
        flex-direction: column; 
    }    

    .footer-links {
        margin-bottom: 1vw;
    }    


}




/*GLOBAL*/

.fixed-background{
    background-attachment: fixed;
}

/*GLOBAL.................END*/

/*.........................................*/
/*.........................................*/
/*.........................................*/
/*MOVE THIS TO GLOBAL OURTER PAGES*/

.header-card--outer-pages {
    padding-bottom: 7vw;
    padding-top: 10.1vw;    
}

.header-main_area--outer-pages {
    padding-left: 8.7%;
    padding-top: 0;
}

.main-list h3 {
    margin: 0;
    font-size: 1.77vw;
    margin-bottom: 0.7vw;
}

.main-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2.1vw;
    font-size: 1.1vw;
}


.main-list li {
    position: relative;
    padding-left: 1.6vw;
}

.main-list li::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    border-color: #c1d0e5;
    border-style: solid;
    border-width: 0.3vw;
    background: #1b74d0;
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 5vw;
    left: 0;
    top: 0.57vw;
}

.features-box-header li::before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: -1.8vw;
    top: 0.16vw;

    border-style: solid;
    border-width: 0 0.2vw 0.2vw 0;
    height: 1.1vw;
    transform: rotate(45deg);
    width: 0.65vw;   
}

.features-box-header li::after{
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: -2.4vw;
    top: 0.3vw;

    border-style: solid;
    border-width: 0 0.2vw 0.2vw 0.2vw;
    border-radius: 5vw;
    height: 1.5vw;
    width: 1.5vw;
    transform: rotate(60deg);
}

/*MOVE THIS TO GLOBAL OURTER PAGES.............END*/
/*.........................................*/
/*.........................................*/
/*.........................................*/


/*.........................................*/
/*.........................................*/
/*.........................................*/
/*THIS PART IS SAME FOR FORMATS..............START*/

.main-message{
    padding-top: 3vw;
    padding-bottom: 2.5vw;
    display: block;
    font-size: 1.2vw;
    line-height: 1.7vw; 
}

.features-box{
    /*padding: 3vw;*/
    box-sizing: border-box;
    border-radius: 3vw;
    position: relative;
    overflow: hidden;
}

.features-box-header{
    display: flex;
    /*justify-content: space-between;*/
}

.features-box-header div:nth-of-type(2){
    padding-right: 2vw;
}

.features-box-header div:first-of-type{
    /*width: 31.5%;*/
    /*width: 30.5%;*/
    width: 28%;
}


.features-box-main{
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
}

.features-box-main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2.1vw;
    font-size: 1.1vw;
}

.features-box-main li{
    text-align: left;
}


.features-title{
    font-size: 2.8vw;
    font-weight: 900; 
    padding-left: 3.4vw;
    margin: 0;   
}

.features-box-header ul{
    margin: 0;
    list-style-type: none;
    font-size: 1.13vw;
    line-height: 2.1vw;
}

.features-box-header li{
    position: relative;
}

.features-box-main > div{
    background-color: white;
    width: 30.5%;
    border-radius: 3vw;
    padding: 1.4vw 3vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;  
    /*height: 20vw;  */
    box-shadow: 0px 57px 101px -37px rgba(43, 8, 61, 0.93);

    box-sizing: border-box;
    border: 0.2vw solid white;
    text-align: center;
}

.features-box-main > div:hover{
    border-color: #71beec;
}


.features-box-main h3{
    margin: 0;
    font-size: 1.6vw;  
    margin-bottom: 0.7vw;
}

.get-quote{
    padding-left: 6vw;

    background: url("../img/discount.png");
    background-repeat: no-repeat;

    background-size: 4vw;
    background-position: 1% 0%;

    margin-top: 3vw;
    margin-left: 3vw;

    display: flex;    
    align-items: center;
}

.get-quote h3{
    font-size: 2.1vw;
    margin: 0;
    padding: 0;    
}

.get-quote p{
    font-size: 1.1vw;
    margin: 0;
    margin-bottom: 1.5vw;
}

.get-quote-button{
    padding-top: 1vw;
    padding-bottom: 0.8vw;
    white-space: nowrap;
    border-radius: 5vw;
    padding-left: 2.2vw;
    padding-right: 0.4vw;
    font-size: 1vw;
    line-height: 3.4vw;
    color: white;
    text-decoration: none;
    border: 0.2vw solid;
    transition: background .3s ease;
    font-weight: 900;  

    margin-left: 2vw;
}

.get-quote-button i{
    padding-right: 1.2vw;
    margin-left: 1vw;
}


/*THIS PART IS SAME FOR FORMATS......................END*/
/*.........................................*/
/*.........................................*/
/*.........................................*/




/*MOVE THIS TO GLOBAL OURTER PAGES.............END*/
@media screen and (max-width: 960px) {
    .header-main_area--outer-pages {
        padding-left: 0;      
    }

    .header-main_area_text--outer-pages {
        font-size: 6.62vw;
    }

    .header-card--outer-pages {
        padding-bottom: 14vw;
        padding-top: 17.1vw;
    }

    .main-message {
        padding-top: 4.2vw;
        padding-bottom: 3.7vw;
        font-size: 2.2vw;
        line-height: 3.7vw;
    }    

    .main-list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 3.8vw;
        font-size: 1.8vw;
    }    

    .main-list li {
        padding-left: 5.5vw;
    }    

    .main-list li::before {
        width: 1.6vw;
        height: 1.6vw;
        top: 0.9vw;
        left: 2vw;
        border-width: 0.5vw;
    }       

    .get-quote p {
        font-size: 2vw;
        margin-top: 0.6vw;
    }    

    .get-quote-button {
        padding-top: 1.8vw;
        padding-bottom: 1.6vw;
        padding-left: 2.6vw;
        padding-right: 0.8vw;
        font-size: 1.7vw;
        border: 0.3vw solid;
    }    

    .features-box {
        width: 100%;
        border-radius: 0;
        padding-top: 6vw;
        padding-bottom: 6vw;
    }

    .features-title {
        font-size: 4.9vw;
        padding-left: 0;
    }    


    .features-box-header ul {
        font-size: 2vw;
        line-height: 4vw;
    }    


    .features-box-header li::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: -3.4vw;
        top: 0.6vw;
        border-style: solid;
        border-width: 0 0.3vw 0.3vw 0;
        height: 1.8vw;
        transform: rotate(45deg);
        width: 0.8vw;
    }    

    .features-box-header li::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: -4.4vw;
        top: 0.8vw;
        border-style: solid;
        border-width: 0 0.3vw 0.3vw 0.3vw;
        border-radius: 5vw;
        height: 2.3vw;
        width: 2.3vw;
        transform: rotate(60deg);
    }   

    .features-box-main > div {
        border-radius: 5vw;
        width: 31.7%;
        padding: 2.8vw 0;
    }

    .features-box-main h3 {
        font-size: 3.1vw;
        font-weight: 900;
        margin-bottom: 1.2vw;
    }       


}

@media screen and (max-width: 780px) {
    .header-main_area_text--outer-pages {
        font-size: 8vw;
        white-space: nowrap;
    }    

    .header-card--outer-pages {
        padding-bottom: 17vw;
        padding-top: 22.1vw;
    }

    .main-message {
        padding-top: 4vw;
        padding-bottom: 4vw;
        font-size: 2.8vw;
        line-height: 4.4vw;
    }   

    .main-list ul {
        line-height: 4.7vw;
        font-size: 2.3vw;
    }    

    .main-list li {
        padding-left: 6.1vw;
    }    

    .main-list li::before {
        width: 1.6vw;
        height: 1.6vw;
        top: 1.9vw;
        left: 2vw;
        border-width: 0.5vw;
    }    

    .main-list li::before {
        width: 2vw;
        height: 2vw;
        top: 1.3vw;
        left: 1.8vw;
        border-width: 0.6vw;
    }   

    .get-quote {
        background: none;
        padding-left: 0;
    }     

    .get-quote p {
        font-size: 2.3vw;
        margin-top: 1vw;
    }     

    .get-quote-button {
        padding-top: 2.2vw;
        padding-bottom: 2vw;
        padding-left: 2.9vw;
        padding-right: 1.5vw;
        font-size: 2.2vw;
        border: 0.4vw solid;
    }           

    .features-box-main h3 {
        font-size: 5vw;
        margin-bottom: 1.6vw;
    }    

    .features-box-main > div {
        width: 47%;
        margin-bottom: 5vw;
        padding: 3.8vw 0;
    }       

    .features-box-header {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }   

    .features-box-header div:first-of-type {
        width: 100%;
        margin-bottom: 1vw;
    }        

    .features-title {
        font-size: 6.1vw;
    }    

    .features-box-header ul {
        font-size: 2.3vw;
        line-height: 4.6vw;
    }    

    .features-box-header li::after {
        height: 3.1vw;
        width: 3.1vw;
    }

    .features-box-header li::before {
        left: -2.8vw;
        top: 0.6vw;
        height: 2.2vw;
        width: 0.9vw;
    }

    .features-box-header li {
        padding-left: 1.5vw;
    }           

}

@media screen and (max-width: 480px){

    .header-main_area_text--outer-pages {
        font-size: 9vw;
        white-space: normal;
    }

    .header-card--outer-pages {
        padding-bottom: 8vw;
        padding-top: 13.1vw;
    }

    .main-message {
        padding-top: 8vw;
        padding-bottom: 8vw;
        font-size: 4.5vw;
        line-height: 7vw;
    } 

    .features-box-main > div {
        border-radius: 11vw;
        margin-bottom: 7vw;
    }    

    .main-list ul {
        line-height: 7.7vw;
        font-size: 4.5vw;
    }  

    .main-list li {
        padding-left: 11.1vw;
    }   

    .main-list li::before {
        width: 3.5vw;
        height: 3.5vw;
        top: 2.1vw;
        left: 4vw;
        border-width: 1vw;
    }    

    .get-quote {
        flex-direction: column;
        text-align: center;
    }    

    .get-quote p {
        font-size: 4vw;
        margin-top: 2vw;
        margin-bottom: 5vw;
    }    

    .get-quote-button {
        padding-top: 4vw;
        padding-bottom: 3vw;
        padding-left: 4.9vw;
        padding-right: 4.5vw;
        font-size: 3.5vw;
        border: 0.6vw solid;
        margin-left: 0;
        line-height: 9vw;
        border-radius: 6vw;
    }

    .get-quote-button i {
        padding-right: 0;
        margin-left: 2vw;
    }               

    .features-title {
        font-size: 9.9vw;
    }   

    .features-box-header {
        flex-direction: column;
    }             

    .features-box-header ul {
        font-size: 4.4vw;
        line-height: 7.5vw;
    }    

    .features-box-header li::after {
        height: 5vw;
        width: 5vw;
        left: -6.7vw;
        top: 1.1vw;
        border-width: 0 0.5vw 0.5vw 0.5vw;      
    }    

    .features-box-header li::before {
        left: -4.5vw;
        top: 1.1vw;
        height: 3.2vw;
        width: 1.5vw;
        border-width: 0 0.5vw 0.5vw 0;
    }        

}

@media screen and (max-width: 320px){
    .header-main_area_text--outer-pages {
        font-size: 11.2vw;
        margin-top: 26.2vw;
        padding-bottom: 14.2vw;
    }

    .main-message {
        font-size: 6.5vw;
        line-height: 9.3vw;
        padding-bottom: 11vw;
    }    

    .main-list ul {
        line-height: 11.7vw;
        font-size: 6.5vw;
    }    

    .main-list li {
        padding-left: 14vw;
    }    

    .main-list li::before {
        width: 5vw;
        height: 5vw;
        top: 3.4vw;
        left: 5.4vw;
        border-width: 1.3vw;
    }  

    .get-quote p {
        font-size: 6vw;
        margin-top: 2vw;
        margin-bottom: 8vw;
    }    

    .get-quote-button {
        padding-top: 6vw;
        padding-bottom: 5vw;
        padding-left: 6.9vw;
        padding-right: 6.5vw;
        font-size: 5.2vw;
        border: 0.7vw solid;
        line-height: 17vw;
        border-radius: 10vw;
    }                

    .features-box {
        padding-top: 11vw;
    }        

    .features-title {
        font-size: 9vw;
    }    

    .features-box-header ul {
        line-height: 11.5vw;
        font-size: 6vw;
    }

    .features-box-header div:first-of-type {
        margin-bottom: 5vw;
    }    

    .features-box-header li {
        padding-left: 0;
    }    

    .features-box-header li::after {
        height: 6vw;
        width: 6vw;
        left: -9.7vw;
        top: 2.3vw;
        border-width: 0 0.7vw 0.7vw 0.7vw;
    }    

    .features-box-header li::before {
        left: -7.2vw;
        top: 2.2vw;
        height: 3.8vw;
        width: 1.9vw;
        border-width: 0 0.7vw 0.7vw 0;
    }            

}

/*MOVE THIS TO GLOBAL OURTER PAGES.............END*/