

/*MOVE THIS TO GLOBAL OURTER PAGES.............END*/
@media screen and (max-width: 960px) {
    .header-main_area--outer-pages {
        padding-left: 0;      
    }

    .header-main_area_text--outer-pages {
        font-size: 6.62vw;
    }

    .header-card--outer-pages {
        padding-bottom: 14vw;
        padding-top: 17.1vw;
    }

    .main-message {
        padding-top: 4.2vw;
        padding-bottom: 3.7vw;
        font-size: 2.2vw;
        line-height: 3.7vw;
    }    

    .main-list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 3.8vw;
        font-size: 1.8vw;
    }    

    .main-list li {
        padding-left: 5.5vw;
    }    

    .main-list li::before {
        width: 1.6vw;
        height: 1.6vw;
        top: 0.9vw;
        left: 2vw;
        border-width: 0.5vw;
    }       

    .get-quote p {
        font-size: 2vw;
        margin-top: 0.6vw;
    }    

    .get-quote-button {
        padding-top: 1.8vw;
        padding-bottom: 1.6vw;
        padding-left: 2.6vw;
        padding-right: 0.8vw;
        font-size: 1.7vw;
        border: 0.3vw solid;
    }    

    .features-box {
        width: 100%;
        border-radius: 0;
        padding-top: 6vw;
        padding-bottom: 4vw;
    }

    .features-title {
        font-size: 4.9vw;
        padding-left: 0;
    }    


    .features-box-header ul {
        font-size: 2vw;
        line-height: 4vw;
    }    


    .features-box-header li::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: -3.4vw;
        top: 0.6vw;
        border-style: solid;
        border-width: 0 0.3vw 0.3vw 0;
        height: 1.8vw;
        transform: rotate(45deg);
        width: 0.8vw;
    }    

    .features-box-header li::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: -4.4vw;
        top: 0.8vw;
        border-style: solid;
        border-width: 0 0.3vw 0.3vw 0.3vw;
        border-radius: 5vw;
        height: 2.3vw;
        width: 2.3vw;
        transform: rotate(60deg);
    }   

    .features-box-main > div {
        border-radius: 6vw;
        width: 31.7%;
        padding: 2.8vw 0;
    }

    .features-box-main h3 {
        font-size: 3.1vw;
        font-weight: 900;
        margin-bottom: 1.2vw;
    }       


}

@media screen and (max-width: 780px) {
    .header-main_area_text--outer-pages {
        font-size: 8vw;
        white-space: nowrap;
    }    

    .header-card--outer-pages {
        padding-bottom: 17vw;
        padding-top: 22.1vw;
    }

    .main-message {
        padding-top: 4vw;
        padding-bottom: 4vw;
        font-size: 2.8vw;
        line-height: 4.4vw;
    }   

    .main-list ul {
        line-height: 4.7vw;
        font-size: 2.3vw;
    }    

    .main-list li {
        padding-left: 6.1vw;
    }    

    .main-list li::before {
        width: 1.6vw;
        height: 1.6vw;
        top: 1.9vw;
        left: 2vw;
        border-width: 0.5vw;
    }    

    .main-list li::before {
        width: 2vw;
        height: 2vw;
        top: 1.3vw;
        left: 1.8vw;
        border-width: 0.6vw;
    }   

    .get-quote {
        background: none;
        padding-left: 0;
    }     

    .get-quote p {
        font-size: 2.3vw;
        margin-top: 1vw;
    }     

    .get-quote-button {
        padding-top: 2.2vw;
        padding-bottom: 2vw;
        padding-left: 2.9vw;
        padding-right: 1.5vw;
        font-size: 2.2vw;
        border: 0.4vw solid;
    }           

    .features-box-main h3 {
        font-size: 5vw;
        margin-bottom: 1.6vw;
    }    

}

@media screen and (max-width: 480px){

    .header-main_area_text--outer-pages {
        font-size: 9vw;
        white-space: normal;
    }

    .header-card--outer-pages {
        padding-bottom: 8vw;
        padding-top: 13.1vw;
    }

    .main-message {
        padding-top: 8vw;
        padding-bottom: 8vw;
        font-size: 4.5vw;
        line-height: 7vw;
    } 

    .main-list ul {
        line-height: 7.7vw;
        font-size: 4.5vw;
    }  

    .main-list li {
        padding-left: 11.1vw;
    }   

    .main-list li::before {
        width: 3.5vw;
        height: 3.5vw;
        top: 2.1vw;
        left: 4vw;
        border-width: 1vw;
    }    

    .get-quote {
        flex-direction: column;
        text-align: center;
    }    

    .get-quote p {
        font-size: 4vw;
        margin-top: 2vw;
        margin-bottom: 5vw;
    }    

    .get-quote-button {
        padding-top: 4vw;
        padding-bottom: 3vw;
        padding-left: 4.9vw;
        padding-right: 4.5vw;
        font-size: 3.5vw;
        border: 0.6vw solid;
        margin-left: 0;
        line-height: 9vw;
        border-radius: 6vw;
    }

    .get-quote-button i {
        padding-right: 0;
        margin-left: 2vw;
    }                    

}

@media screen and (max-width: 320px){
    .header-main_area_text--outer-pages {
        font-size: 11.2vw;
        margin-top: 26.2vw;
        padding-bottom: 14.2vw;
    }

    .main-message {
        font-size: 6.5vw;
        line-height: 9.3vw;
        padding-bottom: 11vw;
    }    

    .main-list ul {
        line-height: 11.7vw;
        font-size: 6.5vw;
    }    

    .main-list li {
        padding-left: 14vw;
    }    

    .main-list li::before {
        width: 5vw;
        height: 5vw;
        top: 3.4vw;
        left: 5.4vw;
        border-width: 1.3vw;
    }  

    .get-quote p {
        font-size: 6vw;
        margin-top: 2vw;
        margin-bottom: 8vw;
    }    

    .get-quote-button {
        padding-top: 6vw;
        padding-bottom: 5vw;
        padding-left: 6.9vw;
        padding-right: 6.5vw;
        font-size: 5.2vw;
        border: 0.7vw solid;
        line-height: 17vw;
        border-radius: 10vw;
    }                

}

/*MOVE THIS TO GLOBAL OURTER PAGES.............END*/