/*MODIFICATORS or LOCALS*/

.header-blue-background--pricing{
    background: url("../img/pricing/el_1.png"), url("../img/pricing/el_2.png"), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    background-repeat: no-repeat;

    background-size: 26vw, 24vw, cover;
    background-position: -1% 55%, 62% 103%, 0% 0%; 
}

.blue-background--pricing{
    background: url("../img/pricing/el_3.png"), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    background-repeat: no-repeat;

    background-size: 27vw, cover;
    background-position: 22% 39%, 0% 0%;

    background-attachment: fixed;
}

.features-box-header--pricing li::before{
    border-color: #8abaeb;
}

.features-box-header--pricing li::after{
    border-color: #8abaeb;
}

.features-box-main--pricing h3{
    font-size: 2.1vw;
    margin-bottom: 1.2vw;
}

.features-box-main--pricing > div{
    padding: 1.4vw;
}

.pricing-subtitle{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1vw;
}

.pricing-bonus{
    margin: 0;
    font-size: 3.5vw;
    font-weight: 900;
}

.pricing-bonus > span{
    font-size: 2vw;
    padding-right: 0.5vw;
}

.pricing-text-block{
    margin-top: 1vw;
}

.pricing-text{
    font-size: 1.1vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;    
}



/*MODIFICATORS.....................END*/

@media screen and (max-width: 780px) {
    .header-blue-background--pricing{
        background: linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    }    
}
