/*We just load this CSS after main.css and overide styles*/

/*GLOBAL*/

.fixed-background{
    background-attachment: fixed;
}

.text-green{
    color: #40ad2e;
}

/*GLOBAL.................END*/

/*THIS PART IS SAME FOR FORMATS..............START*/

.main-message{
    padding-left: 21.3%;
    padding-right: 21.3%;
    padding-top: 3vw;
    padding-bottom: 2.5vw;
    display: block;
    font-size: 1.2vw;
    line-height: 1.7vw; 
}

.features-box{
    width: 70.5%;
    margin: auto;
    padding: 3vw;
    box-sizing: border-box;
    border-radius: 3vw;
    overflow: hidden;
}

.features-box-header{
    display: flex;
    justify-content: space-between;
}

.features-box-header div{
    width: 30.5%;
}

.features-box-main{
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
}

.features-title{
    font-size: 2.8vw;
    font-weight: 900; 
    padding-left: 3.4vw;
    margin: 0;   
}

.features-box-header ul{
    margin: 0;
    list-style-type: none;
    font-size: 1.13vw;
    line-height: 2.1vw;
}

.features-box-header li{
    position: relative;
}

.features-box-main > div{
    background-color: white;
    width: 30.5%;
    border-radius: 3vw;
    padding: 1.4vw 3vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;  
    /*height: 20vw;  */
    box-shadow: 0px 57px 101px -37px rgba(43, 8, 61, 0.93);

    box-sizing: border-box;
    border: 0.2vw solid white;
    text-align: center;
}

.features-box-main > div:hover{
    border-color: #71beec;
}

.features-box-main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2.1vw;
    font-size: 1.1vw;
}

.features-box-main h3{
    margin: 0;
    font-size: 1.77vw;    
    margin-bottom: 0.7vw;
}

.get-quote{
    padding-left: 6vw;

    background: url("../img/discount.png");
    background-repeat: no-repeat;

    background-size: 4vw;
    background-position: 1% 0%;

    margin-top: 3vw;
    margin-left: 3vw;

    display: flex;    
    align-items: center;
}

.get-quote h3{
    font-size: 2.1vw;
    margin: 0;
    padding: 0;    
}

.get-quote p{
    font-size: 1.1vw;
    margin: 0;
    margin-bottom: 1.5vw;
}

.get-quote-button{
    padding-top: 1vw;
    padding-bottom: 0.8vw;
    white-space: nowrap;
    border-radius: 5vw;
    padding-left: 2.2vw;
    padding-right: 0.4vw;
    font-size: 1vw;
    line-height: 3.4vw;
    color: white;
    text-decoration: none;
    border: 0.2vw solid;
    transition: background .3s ease;
    font-weight: 900;  

    margin-left: 2vw;
}

.get-quote-button--pricing{
    border-color: #61a5ca;
}

.get-quote-button i{
    padding-right: 1.2vw;
    margin-left: 1vw;
}

.get-quote-button--pricing:hover{
    background: #61a5ca;
}

/*THIS PART IS SAME FOR FORMATS......................END*/

/*MODIFICATORS or LOCALS*/

.header-card--outer-pages {
    padding-bottom: 7vw;
    padding-top: 10.1vw;    
}

.header-main_area--outer-pages {
    padding-left: 8.7%;
    padding-top: 0;
}

.header-blue-background--pricing{
    background-size: 22vw, 21vw, cover;
    background-position: 1% 82%, 61% 117%, 0% 0%;
}

.features-box-header--pricing li::before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: -1.8vw;
    top: 0.16vw;
    border-color: #8abaeb;
    border-style: solid;
    border-width: 0 0.2vw 0.2vw 0;
    height: 1.1vw;
    transform: rotate(45deg);
    width: 0.65vw;   
}

.features-box-header--pricing li::after{
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: -2.4vw;
    top: 0.3vw;
    border-color: #8abaeb;
    border-style: solid;
    border-width: 0 0.2vw 0.2vw 0.2vw;
    border-radius: 5vw;
    height: 1.5vw;
    width: 1.5vw;
    transform: rotate(60deg);
}

.features-box-main--pricing h3{
    font-size: 2.1vw;
    margin-bottom: 1.2vw;
}

.features-box-main--pricing > div{
    padding: 1.4vw;
}

.pricing-subtitle{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1vw;
}

.pricing-bonus{
    margin: 0;
    font-size: 3.5vw;
    font-weight: 900;
}

.pricing-bonus > span{
    font-size: 2vw;
    padding-right: 0.5vw;
}

.pricing-text-block{
    margin-top: 1vw;
}

.pricing-text{
    font-size: 1.1vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;    
}



/*MODIFICATORS.....................END*/

@media screen and (max-width: 960px) {
    .header-main_area--outer-pages {
        padding-left: 0;
    }
}

@media screen and (max-width: 780px) {
    .header-blue-background--pricing{
        background: linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    }    
}
