/*MODIFICATORS or LOCALS*/

.header-card--pricing{
    background: url("../img/pricing/el_1.png"), url("../img/pricing/el_2.png"), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    background-repeat: no-repeat;

    background-size: 26vw, 24vw, cover;
    background-position: -1% 55%, 62% 103%, 0% 0%; 
}

.blue-background--pricing{
    background: url("../img/pricing/el_3.png"), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    background-repeat: no-repeat;

    background-size: 27vw, cover;
    background-position: 22% 39%, 0% 0%;

    background-attachment: fixed;
}

.features-box-header--pricing li::before{
    border-color: #8abaeb;
}

.features-box-header--pricing li::after{
    border-color: #8abaeb;
}

.features-box-main--pricing h3{
    font-size: 2.1vw;
    margin-bottom: 1.2vw;
}

.features-box-main--pricing > div{
    padding: 1.4vw;
}

.pricing-subtitle{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1vw;
}

.pricing-bonus{
    margin: 0;
    font-size: 3.5vw;
    font-weight: 900;
}

.pricing-bonus > span{
    font-size: 2vw;
    padding-right: 0.5vw;
}

.pricing-text-block{
    margin-top: 1vw;
}

.pricing-text{
    font-size: 1.1vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;    
}

.get-quote-button--pricing{
    border-color: #61a5ca;
}

.get-quote-button--pricing:hover{
    background: #61a5ca;
}


/*MODIFICATORS.....................END*/

@media screen and (max-width: 960px) {
    .header-card--pricing {
        background: url(../img/pricing/el_1.png), url(../img/pricing/el_2.png), linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
        background-repeat: no-repeat;
        background-size: 48vw, 43vw, cover;
        background-position: 7% 56%, 98% 101%, 0% 0%;
    }

    .features-box {
        width: 100%;
        border-radius: 0;
        padding-top: 6vw;
        padding-bottom: 4vw;
    }

    .features-title {
        font-size: 4.9vw;
        padding-left: 0;
    }    

    .features-box-header ul {
        font-size: 2vw;
        line-height: 4vw;
    }    

    .features-box-header li::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: -3.4vw;
        top: 0.6vw;
        border-style: solid;
        border-width: 0 0.3vw 0.3vw 0;
        height: 1.8vw;
        transform: rotate(45deg);
        width: 0.8vw;
    }    

    .features-box-header li::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: -4.4vw;
        top: 0.8vw;
        border-style: solid;
        border-width: 0 0.3vw 0.3vw 0.3vw;
        border-radius: 5vw;
        height: 2.3vw;
        width: 2.3vw;
        transform: rotate(60deg);
    }    

    .blue-background--pricing {
        background: linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    }    

    .features-box-main > div {
        border-radius: 6vw;  
        width: 31.7%;
        padding: 2.8vw 0;
    }  

    .features-box-main--pricing h3 {
        font-size: 3.1vw;
        font-weight: 900;
        margin-bottom: 1.2vw;
    }    

    .pricing-subtitle {
        font-weight: 900;
        font-size: 1.7vw;
    }    

    .pricing-bonus {
        font-size: 6.5vw;
    }    

    .pricing-bonus > span {
        font-size: 3.8vw;
        padding-right: 0.8vw;
    }    

    .pricing-text-block {
        margin-top: 2vw;
    }    

    .pricing-text {
        font-size: 1.9vw;
        margin-top: 1.2vw;
        margin-bottom: 1.2vw;
    }    


    .get-quote--pricing {
        margin-top: 7.5vw;
        margin-left: 0;
        margin-left: 3vw;
        padding-left: 11.3vw;
        background-size: 8vw;
    }    

    .get-quote--pricing h3 {
        font-size: 3.1vw;
        margin-top: 1vw;
    }    

    .get-quote--pricing .get-quote-button {
        margin-left: 4vw;
    }

}

@media screen and (max-width: 780px) {
    .header-blue-background--pricing{
        background: linear-gradient(to right, rgba(4,42,146,1) 0%, rgba(56,167,192,1) 100%);
    }    
}
