/*We just load this CSS after main.css and overide styles*/

/*GLOBAL*/

.fixed-background{
    background-attachment: fixed;
}

.text-green{
    color: #40ad2e;
}

/*GLOBAL.................END*/

/*THIS PART IS SAME FOR FORMATS..............START*/

.main-message{
    padding-left: 21.3%;
    padding-right: 21.3%;
    padding-top: 3vw;
    padding-bottom: 2.5vw;
    display: block;
    font-size: 1.2vw;
    line-height: 1.7vw; 
}

.features-box{
    width: 70.5%;
    margin: auto;
    padding: 3vw;
    box-sizing: border-box;
    border-radius: 3vw;
    overflow: hidden;
}

.features-box-header{
    display: flex;
    justify-content: space-between;
}

.features-box-header div{
    width: 30.5%;
}

.features-box-main{
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
}

.features-title{
    font-size: 2.8vw;
    font-weight: 900; 
    padding-left: 3.4vw;
    margin: 0;   
}

.features-box-header ul{
    margin: 0;
    list-style-type: none;
    font-size: 1.13vw;
    line-height: 2.1vw;
}

.features-box-header li{
    position: relative;
}

.features-box-main > div{
    background-color: white;
    width: 30.5%;
    border-radius: 3vw;
    padding: 1.4vw 3vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;  
    /*height: 20vw;  */
    box-shadow: 0px 57px 101px -37px rgba(43, 8, 61, 0.93);

    box-sizing: border-box;
    border: 0.2vw solid white;
    text-align: center;
}

.features-box-main > div:hover{
    border-color: #71beec;
}


.features-box-main h3{
    margin: 0;
    font-size: 1.77vw;    
    margin-bottom: 0.7vw;
}

.get-quote{
    padding-left: 6vw;

    background: url("../img/discount.png");
    background-repeat: no-repeat;

    background-size: 4vw;
    background-position: 1% 0%;

    margin-top: 3vw;
    margin-left: 3vw;

    display: flex;    
    align-items: center;
}

.get-quote h3{
    font-size: 2.1vw;
    margin: 0;
    padding: 0;    
}

.get-quote p{
    font-size: 1.1vw;
    margin: 0;
    margin-bottom: 1.5vw;
}

.get-quote-button{
    padding-top: 1vw;
    padding-bottom: 0.8vw;
    white-space: nowrap;
    border-radius: 5vw;
    padding-left: 2.2vw;
    padding-right: 0.4vw;
    font-size: 1vw;
    line-height: 3.4vw;
    color: white;
    text-decoration: none;
    border: 0.2vw solid;
    transition: background .3s ease;
    font-weight: 900;  

    margin-left: 2vw;
}

.get-quote-button--pricing{
    border-color: #61a5ca;
}

.get-quote-button i{
    padding-right: 1.2vw;
    margin-left: 1vw;
}

.get-quote-button--pricing:hover{
    background: #61a5ca;
}

/*THIS PART IS SAME FOR FORMATS......................END*/

/*MODIFICATORS or LOCALS*/

.header-card--outer-pages {
    padding-bottom: 7vw;
    padding-top: 10.1vw;    
}

.header-main_area--outer-pages {
    padding-left: 8.7%;
    padding-top: 0;
}

.header-card--speed{
    background: url("../img/el_5.png"), url("../img/el_6.png"), url("../img/el_7.png"), linear-gradient(45deg, rgba(1,129,143,1) 0%, rgba(1,129,143,1) 25%, rgba(53,188,130,1) 81%, rgba(53,188,130,1) 100%);
    background-repeat: no-repeat;

    background-size: 33vw, 25vw, 28vw, cover;
    background-position: 3% 67%, 30% 27%, 99% 16%, 0% 0%;   
}

.header-menu--speed{
    background: linear-gradient(45deg, rgba(1,129,143,0) 0%, rgba(1,129,143,0) 25%, rgba(53,188,130,0) 81%, rgba(53,188,130,0) 100%);
}

.footer--speed{
    background: linear-gradient(45deg, rgba(1,129,143,1) 0%, rgba(1,129,143,1) 25%, rgba(53,188,130,1) 81%, rgba(53,188,130,1) 100%);
}

.active--speed {
    background: rgba(43, 201, 169, 0.63);
}

.header-menu--speed .menu-links:hover {
    background: rgba(43, 201, 169, 1);
}

.footer--speed .menu-links:hover {
    background: rgba(43, 201, 169, 1);
}

.speed-features{
    width: 70.5%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}

.speed-features > div{
    width: 30%;
    text-align: center;
}

.speed-features > div:last-of-type{
    width: 36%;
    margin: auto;
    margin-top: 2vw;
}

.speed-features > div:last-of-type h3{
    padding: 0;
}

.speed-features > div:last-of-type p{
    padding-left: 1.1vw;
    padding-right: 1.1vw;
}


.speed-features h3{
    font-size: 2.08vw;
    font-weight: 900;
    padding-left: 4vw;
    padding-right: 4vw;   
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}

.speed-features p{
    line-height: 1.8vw;
    font-size: 1vw; 
    margin-top: 0;   
}


.speed-locations{
    width: 57%;
    margin: auto;
    display: flex;
    margin-top: 2vw;    
    margin-bottom: 4vw;
}

.features-box--speed{
    width: 68.8%;
    padding-top: 1.3vw;
    padding-left: 3.4vw;
    padding-bottom: 1.3vw;
    padding-right: 4vw;
}

.get-quote--speed .get-quote-button{
    border-color: #53c498;
}

.get-quote--speed .get-quote-button:hover{
    background: rgba(43, 201, 169, 1);
}

.get-quote--speed{
    margin: 0;
    background-size: 5vw;
    padding-left: 8vw;
    justify-content: space-between;
}

.get-quote--speed h3 {
    font-size: 1.77vw;
    padding-top: 0.7vw;
}

/*MOVE THIS TO GLOBAL OURTER PAGES*/

.main-list h3 {
    margin: 0;
    font-size: 1.77vw;
    margin-bottom: 0.7vw;
}

.main-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2.1vw;
    font-size: 1.1vw;
}


.main-list li {
    position: relative;
    padding-left: 1.6vw;
}

.main-list li::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    border-color: #c1d0e5;
    border-style: solid;
    border-width: 0.3vw;
    background: #1b74d0;
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 5vw;
    left: 0;
    top: 0.57vw;
}

/*MOVE THIS TO GLOBAL OURTER PAGES.............END*/

.main-list--speed ul{
    padding-left: 1vw;    
}

.main-list--speed h3{
    font-size: 1.35vw;
    margin-bottom: 0.7vw;   
}

.speed-locations img{
    width: 33.4vw;
    padding-left: 6.4vw;
    padding-top: 1.7vw;    
}


.features-box-main--pricing h3{
    font-size: 2.1vw;
    margin-bottom: 1.2vw;
}

.features-box-main--pricing > div{
    padding: 1.4vw;
}

.pricing-subtitle{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1vw;
}

.pricing-bonus{
    margin: 0;
    font-size: 3.5vw;
    font-weight: 900;
}

.pricing-bonus > span{
    font-size: 2vw;
    padding-right: 0.5vw;
}

.pricing-text-block{
    margin-top: 1vw;
}

.pricing-text{
    font-size: 1.1vw;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;    
}



/*MODIFICATORS.....................END*/

@media screen and (max-width: 960px) {
    .header-main_area--outer-pages {
        padding-left: 0;
    }
}

@media screen and (max-width: 780px) {
    .header-card--speed{
        background: linear-gradient(45deg, rgba(1,129,143,1) 0%, rgba(1,129,143,1) 25%, rgba(53,188,130,1) 81%, rgba(53,188,130,1) 100%); 
    }
}
