/*MODIFICATORS or LOCALS*/

.header-card--speed{
    background: url("../img/el_5.png"), url("../img/el_6.png"), url("../img/el_7.png"), linear-gradient(45deg, rgba(1,129,143,1) 0%, rgba(1,129,143,1) 25%, rgba(53,188,130,1) 81%, rgba(53,188,130,1) 100%);
    background-repeat: no-repeat;

    background-size: 33vw, 25vw, 28vw, cover;
    background-position: 3% 67%, 30% 27%, 99% 16%, 0% 0%;   
}

.header-menu--speed{
    background: linear-gradient(45deg, rgba(1,129,143,0) 0%, rgba(1,129,143,0) 25%, rgba(53,188,130,0) 81%, rgba(53,188,130,0) 100%);
}

.footer--speed{
    background: linear-gradient(45deg, rgba(1,129,143,1) 0%, rgba(1,129,143,1) 25%, rgba(53,188,130,1) 81%, rgba(53,188,130,1) 100%);
}

.active--speed {
    background: rgba(43, 201, 169, 0.63);
}

.header-menu--speed .menu-links:hover {
    background: rgba(43, 201, 169, 1);
}

.footer--speed .menu-links:hover {
    background: rgba(43, 201, 169, 1);
}

.speed-features{
    width: 70.5%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}

.speed-features > div{
    width: 30%;
    text-align: center;
}

.speed-features > div:last-of-type{
    width: 36%;
    margin: auto;
    margin-top: 2vw;
}

.speed-features > div:last-of-type h3{
    padding: 0;
}

.speed-features > div:last-of-type p{
    padding-left: 1.1vw;
    padding-right: 1.1vw;
}


.speed-features h3{
    font-size: 2.08vw;
    font-weight: 900;
    padding-left: 4vw;
    padding-right: 4vw;   
    margin-top: 1vw;
    margin-bottom: 0.4vw;
}

.speed-features p{
    line-height: 1.8vw;
    font-size: 1vw; 
    margin-top: 0;   
}


.speed-locations{
    width: 57%;
    margin: auto;
    display: flex;
    margin-top: 2vw;    
    margin-bottom: 4vw;
}

.features-box--speed{
    width: 68.8%;
    padding-top: 1.3vw;
    padding-left: 3.4vw;
    padding-bottom: 1.3vw;
    padding-right: 4vw;
}

.get-quote--speed .get-quote-button{
    border-color: #53c498;
}

.get-quote--speed .get-quote-button:hover{
    background: rgba(43, 201, 169, 1);
}

.get-quote--speed{
    margin: 0;
    background-size: 5vw;
    padding-left: 8vw;
    justify-content: space-between;
}

.get-quote--speed h3 {
    font-size: 1.77vw;
    padding-top: 0.7vw;
}



.main-list--speed ul{
    padding-left: 1vw;    
}

.main-list--speed h3{
    font-size: 1.35vw;
    margin-bottom: 0.7vw;   
}

.speed-locations img{
    width: 33.4vw;
    padding-left: 6.4vw;
    padding-top: 1.7vw;    
}

/*MODIFICATORS.....................END*/

@media screen and (max-width: 780px) {
    .header-card--speed{
        background: linear-gradient(45deg, rgba(1,129,143,1) 0%, rgba(1,129,143,1) 25%, rgba(53,188,130,1) 81%, rgba(53,188,130,1) 100%); 
    }
}
