body{
    font-family:sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a {
    text-decoration:none;
}

.tabs__text{
    display:none;
}

.wrapper{
    padding-left:3%;
    padding-right:3%;
}

h1{
    font-size:25px;
    margin:0;
    padding:0;
}

header{

}

main{

}

footer{

}



@media screen and (max-width: 960px){

    h1{
        font-size:22px;
    }
}

@media screen and (max-width: 768px) {

    h1{
        font-size:19px;
    }
}


@media screen and (max-width: 480px){

    h1{
        font-size:16px;
    }
}

