body{
    font-family:sans-serif;
}

p{
    margin:0;
    padding-top:5px;
    padding-bottom:5px;
    word-spacing: 5px;
}


.tabs{
    background-color:#e5e4e4;
}

.tabs__navigation{
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float:left;
    margin-right: 5px;
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0,0.27);
}

.tabs__link--default{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    min-width:50px;
    text-decoration: none;
    background-color: #d89407;
    color:white;
}

.tabs__link--hovered{
    background-color: #dca025;
}

.tabs__link--selected{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    min-width:50px;
    text-decoration: none;
    background-color:#e5e4e4;
    color: black;
}

.tabs__text{
    display:none;
    padding-left:10px;
    padding-right:5px;
    padding-bottom:5px;
    padding-top:15px;
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0,0.27);
}

.wrapper{
    padding-left:3%;
    padding-right:3%;
}

h1{
    font-size:25px;
    margin:0;
    padding:0;
}

header{
    padding-top:20px;
}

main{
    padding-top:20px;
}


footer{
    padding-top:20px;
    padding-bottom:20px;
    text-align:right;
}

.footer-link{
    font-size:20px;
    width:auto;
    color:inherit;
}

.footer-text{
    font-size:20px;
    width:auto;
    padding-right:3px;
}



@media screen and (max-width: 960px){

    h1{
        font-size:22px;
    }
}

@media screen and (max-width: 768px) {

    h1{
        font-size:19px;
    }
}


@media screen and (max-width: 480px){

    h1{
        font-size:16px;
    }
}
