body{
    font-family:sans-serif;
}

.tabs{
    background-color:#e5e4e4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float:left;
}

.tabs__link--default{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #d89407;
    color:white;
}

.tabs__link--hovered{
    background-color: #a47004;
}

.tabs__link--selected{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    color: black;
}

.tabs__text{
    display:none;
}

.wrapper{
    padding-left:3%;
    padding-right:3%;
}

h1{
    font-size:25px;
    margin:0;
    padding:0;
}

header{

}

main{

}

footer{

}



@media screen and (max-width: 960px){

    h1{
        font-size:22px;
    }
}

@media screen and (max-width: 768px) {

    h1{
        font-size:19px;
    }
}


@media screen and (max-width: 480px){

    h1{
        font-size:16px;
    }
}
