$topMenuColor: #2a2d32;

$menuLinkDefaultColor: white;
$menuLinkHoverColor: #f2b40b;

$contentWidth: 1160px;

$copyrightBackgroundColor:#35383d;

$newsBackgroundColor:#f7f7f7;

$servicesBackgroundColor: white;