.posts{
    display:flex;
    margin-top:70px;
    margin-bottom:70px;
}

.posts__content{

    display:flex;
    margin-right:40px;

    h3{
        color:#292929;
    }    
}

.posts__content:last-of-type{
    margin-right:0px;
}

.number{
    font-size:64px;
    color:#eaeaec;
    margin-right:38px;
}

.article{
    margin-top:10px;

    p{
        color:#888888;
        line-height: 23px;
    }    

    a{
        margin-right:10px;
        color:#2a2a2c;
    }    

    i{
        color:#268df4;
    }    

    span{
        font-size:14px;
        cursor:pointer;
        font-weight:bold;
    }
    
}

.article__icon{
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;    
    background-image: url(../images/posts_icons.jpg);
}

.article__icon--1{
    @extend .article__icon;
    background-position: 0px 0px;
}

.article__icon--2{
    @extend .article__icon;
    background-position: -32px 0px;
}

.article__icon--3{
    @extend .article__icon;
    background-position: -64px 0px;
}