.news{
    padding-top:35px;
    padding-bottom:70px;
    display:flex;
    justify-content:space-between;
}

.news__latests, .news__banners{
    width:50%;
}

.news-article{
    display:flex;
    padding-bottom:30px;
}

.news-article__picture {
    position:relative;
}

.news-article__post{
    margin-right:35px;
    margin-left:35px;
}

.date{
    position:absolute;
    top:15px;
    left:-20px;
    width:40px;
    line-height:40px;
    text-align:center;
}

.date__month{
    background-color:#248ced;
    color:white;
}

.date__day{
    background-color:#f1b505;
}

.news-article__post{

    h3{
        margin-top:10px;
        margin-bottom:3px;
        color:#2e2f33;
        font-size:16px;
    }

    h3:hover{
        cursor:pointer;
        color:#2f94e4;
    }    

    a, i, p{
        font-size:14px;
        font-style:normal;
        color: #888888;
        line-height: 20px;
    }    

    a{
        padding-right:10px;
    }    

    i{
        color:#2f94e4;
        cursor:pointer;
    }    

}

.panel{
    padding-bottom:5px;
}

.panel-text p{
    font-size:14px;
    font-style:normal;
    color: #888888;
    line-height: 20px;
}   

.panel-navigation{
    display:flex;
    line-height:38px;
    background-color:#f4b60d;
    color:white;
    text-transform:uppercase;
    font-size:14px;

    box-sizing: border-box;
    cursor:pointer;
}

.panel-navigation--default{
    display:flex;
    line-height:38px;
    background-color:white;
    color:black;
    text-transform:uppercase;
    font-size:14px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    cursor:pointer;
}

.panel-navigation__plus{
    width:38px;
    text-align:center;
    border-right: 2px solid #f5c63c;
    font-size:20px;
}

.panel-navigation__plus--default{
    width:38px;
    text-align:center;
    border-right: 2px solid #e8e8e8;
    font-size:20px;
}

.panel-navigation__tittle{
    padding-left:13px;
}

.panel-text{
    padding-left:38px;
    display:none;
}