@import 'variables__global';

.services-container, .footer-nav-container{
    background-color:$topMenuColor;
    min-width: $contentWidth;
}

.news-banners-container{
    background-color: $newsBackgroundColor;
    min-width: $contentWidth;
}

.copyright-container{
    background-color: $copyrightBackgroundColor;
    min-width: $contentWidth;
}

header, .services, .news,.partners, footer nav, .copyright{
    margin: 0 auto;
    width:$contentWidth;
}

.partners {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

header{
    margin-top: 20px;
}