html{
    background-color: #241235;;    
}

h1{
    text-align: center;
    color: #bad64e;
    text-shadow: 3px 3px black;
}

p{
    width: 530px;
    margin: auto;
    color: white;    
    margin-top: 25px;
}

a{
    color: white;
}


.xylophone-container{
    width: 530px;
    display: flex;
    align-items: center;
    height: 300px;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 36px;
}

.xylophone-key{
    cursor: pointer;

    width: 50px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 7px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);

    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-items: center;    



    transition: all 0.07s;
}


.playing{
    /*border: 1px solid yellow;*/
    font-size: 21px;

    transform:scale(1.05);

    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}


.xylophone-key span{
    color: white;
    display: block;
    width: 100%;
    text-align: center;
}

.xylophone-key:nth-child(1) {
    background: #cd216b;
    height: 100%;
}

.xylophone-key:nth-child(2) {
    background: #5f52a2;
    height: 90%;
}

.xylophone-key:nth-child(3) {
    background: #6390cb;
    height: 80%;
}

.xylophone-key:nth-child(4) {
    background: #46c1c6;
    height: 70%;
}

.xylophone-key:nth-child(5) {
    background: #bad64e;
    height: 60%;
}

.xylophone-key:nth-child(6) {
    background: #ffce4e;
    height: 50%;
}

.xylophone-key:nth-child(7) {
    background: #f26d22;
    height: 40%;
}

.xylophone-key:nth-child(8) {
    background: #cc2127;
    height: 30%;
}