.md-images--single {
    height: 100%;  
    cursor: pointer;
}


.md-images--doulbe{
    display: flex;
}

.md-images--doulbe > div{
    height: 100%;
    flex: 1;
    background: rgb(223, 165, 77);   
    cursor: pointer;
}

.md-images--doulbe > div + div{
    margin-left: 5px;
}



.md-images--triple{
    display: flex;
}

.md-images--triple > div{
    height: 100%;
    flex: 1;
    cursor: pointer;
}

.md-images--triple > div:first-of-type{
    max-width: 400px;
}

.md-images--triple > div:last-of-type{
    max-width: 200px;
    display: flex;
    flex-direction: column;    
}

.md-images--triple > div + div{
    margin-left: 5px;
}

.md-images--triple > div > div{
    flex: 1;
    cursor: pointer;
}

.md-images--triple > div > div + div{
    margin-top: 5px;
}