.wrapper{

}

.header{
  height: 100px;
  background-color: green;
}

.box{
  float: left;
  width: 29%;
  margin: 20px 2%;
  
  background-color: pink;
  border: 20px solid red;
  box-sizing: border-box;
}



@media (max-width: 1024px){
  .box{
    width: 46%;
  }
}

@media (max-width: 768px){
  .box{
    width: 96%;
  }
}

.footer{
  height: 100px;
  background-color: blue;
}

.container{
  position: relative;
  overflow: hidden;
}
