:root{
    --base: #6390cb;
}

/*.h1{
    color: var(--base);
}*/


html{
    background-color: #241235;;    
}

h1{
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
}

h3{
    font-size: 25px;
}

p{
    text-align: center;
    /*width: 530px;*/
    margin: auto;
    color: white;    
    margin-top: 15px;
    margin-bottom: 15px;
}

a{
    color: white;
}


.container {
    width: 650px;
    height: 450px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    /* color: white; */
    padding: 20px;
    box-sizing: border-box;
    background-color: #5f52a2;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    /* border: 1px solid white; */
    /* position: relative; */
}

.h1{
    background-color: yellow;
    color:black;
}

.viewer{
    width: 100%;
}

.progress{
    flex:10;
    position: relative;
    display: flex;
    height: 20px;
    transition: height 0.3s;
    background: rgba(0, 0, 139, 0.29);
    cursor: ew-resize;
}

.progress__filled{
    width:50%;
    background: yellow;
    flex: 0;
    flex-basis: 0%;
}

video::-webkit-media-controls {
  display:none !important;
}


@media screen and (max-width: 960px){

}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px){

}

@media screen and (max-width: 320px){
    .container{
        width: 320px;
        height: 320px;
    }

    .row > *{
        font-size: 5em;
    }    

    .win-message span {
        font-size: 5em;
    }    

    .start-game p {
        font-size: 1.7em;
    }    
}




